Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2020-11, with the labels that each got.

#826 添加古代咒法，修正奥术精要还有animania，小改植魔
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/en_us.lang
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/zh_cn.lang
  projects/1.12.2/assets/animania/animania/lang/zh_cn.lang
  projects/1.12.2/assets/arcane-essentials/arcane_essentials/lang/zh_cn.lang
  projects/1.12.2/assets/bewitchment/bewitchment/lang/zh_cn.lang
  projects/1.12.2/assets/botania/botania/lang/zh_cn.lang
  projects/1.12.2/assets/pewter/pewter/lang/zh_cn.lang
  projects/1.12.2/assets/so-many-enchantments/somanyenchantments/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-additions/thaumadditions/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-wands/thaumicwands/lang/zh_cn.lang
Labels: need review

#837 levitated遗漏mod的汉化，由普拉斯群友提供
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/lang/en_us.lang
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/lang/zh_cn.lang
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/0_introduction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/1_machines.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/2_trials.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/3_system_malfunction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/4_bm.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/categories/5_funk.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/0_introduction/0_introduction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/0_introduction/1_data.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/0_introduction/2_data_models.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/1_machines/0_simulation_chamber.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/1_machines/1_matter.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/1_machines/2_loot_fabricator.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/1_machines/3_energy.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/2_trials/0_trial_key.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/2_trials/1_trials.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/2_trials/2_affixes.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/3_system_malfunction/0_system_glitches.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/3_system_malfunction/1_glitch_fragments.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/3_system_malfunction/2_glitch_metal.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/3_system_malfunction/3_equipment.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/4_bm/0_digital_agonizer.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/4_bm/1_altar_linker.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/5_funk/0_author.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/5_funk/1_official_mod_spotlights.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/entries/5_funk/2_credits.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/en_us/templates/fluid_infusion.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/0_introduction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/1_machines.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/2_trials.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/3_system_malfunction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/4_bm.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/categories/5_funk.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/0_introduction/0_introduction.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/0_introduction/1_data.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/0_introduction/2_data_models.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/1_machines/0_simulation_chamber.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/1_machines/1_matter.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/1_machines/2_loot_fabricator.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/1_machines/3_energy.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/2_trials/0_trial_key.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/2_trials/1_trials.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/2_trials/2_affixes.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/3_system_malfunction/0_system_glitches.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/3_system_malfunction/1_glitch_fragments.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/3_system_malfunction/2_glitch_metal.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/3_system_malfunction/3_equipment.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/4_bm/0_digital_agonizer.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/4_bm/1_altar_linker.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/5_funk/0_author.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/5_funk/1_official_mod_spotlights.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/entries/5_funk/2_credits.json
  projects/1.12.2/assets/deep-mob-learning/deepmoblearning/patchouli_books/book/zh_cn/templates/fluid_infusion.json
  projects/1.12.2/assets/orechidendium/orechidendium/lang/en_us.lang
  projects/1.12.2/assets/orechidendium/orechidendium/lang/zh_cn.lang
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.lang
  projects/1.12.2/assets/spice-of-life-carrot-edition/solcarrot/lang/zh_cn.lang
Labels: need change

#852 添加巫术学新附属
  projects/1.12.2/assets/the-aurorian/theaurorian/lang/zh_cn.lang
  projects/1.12.2/assets/zettai-grimoires/zettaigrimoires/lang/en_us.lang
  projects/1.12.2/assets/zettai-grimoires/zettaigrimoires/lang/zh_cn.lang
Labels: need-review

#842 更新rpghud模组的zh_cn.lang
  projects/1.12.2/assets/rpg-hud/rpghud/lang/en_us.lang
  projects/1.12.2/assets/rpg-hud/rpghud/lang/zh_cn.lang
Labels: need-change, need-review

#844 thaumic additions 12.6.5 汉化翻译
  projects/1.12.2/assets/thaumic-additions/thaumadditions/lang/en_us.lang
  projects/1.12.2/assets/thaumic-additions/thaumadditions/lang/zh_cn.lang
Labels: needchange, needreview

#877 QMD 跟进
  projects/1.12.2/assets/qmd/qmd/lang/en_us.lang
  projects/1.12.2/assets/qmd/qmd/lang/zh_cn.lang
Labels: needmerge, professional

#876 [P][NR]原始核心翻译更新
  projects/1.12.2/assets/primalcore/primal/lang/zh_cn.lang
Labels: needmerge, warn

#881 [NM]迁移3T的汉化
  projects/1.12.2/assets/1UNKNOWN/alchemicalwizardryBooks/lang/en_us.lang
  projects/1.12.2/assets/1UNKNOWN/alchemicalwizardryBooks/lang/zh_cn.lang
Labels: needmerge

#882 [NM]添加群内文件
  projects/1.12.2/assets/atop/atop/lang/en_us.lang
  projects/1.12.2/assets/atop/atop/lang/zh_cn.lang
  projects/1.12.2/assets/glassential/glassential/lang/en_us.lang
  projects/1.12.2/assets/glassential/glassential/lang/zh_cn.lang
  projects/1.12.2/assets/just-poop-mod/poop/lang/en_us.lang
  projects/1.12.2/assets/just-poop-mod/poop/lang/zh_cn.lang
Labels: needmerge

#884 [NM]巫术学小改
  projects/1.12.2/assets/electroblobs-wizardry/ebwizardry/texts/handbook_zh_cn.json
Labels: needmerge
