Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-03, with the labels that each got.

#992 [M]更新Enhanced Mushrooms
  projects/1.16.1/assets/enhanced-mushrooms/enhanced_mushrooms/lang/zh_cn.json
Labels: merge

#988 [M]服务器反馈
  projects/1.12.2/assets/animania/animania/lang/zh_cn.lang
  projects/1.12.2/assets/applied-energistics-2/appliedenergistics2/lang/zh_cn.lang
Labels: merge

#1000 [M][1.12.2] QMD 0.13.0 跟进
  projects/1.12.2/assets/qmd/qmd/lang/en_us.lang
  projects/1.12.2/assets/qmd/qmd/lang/zh_cn.lang
Labels: 1.12.x, merge

#1003 [M][1.16] 深暗之园最新内容
  projects/1.16.1/assets/the-undergarden/undergarden/lang/zh_cn.json
Labels: 1.16.x, merge

#954 [R]新增 Sophisticated Backpacks
  projects/1.16.1/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/en_us.json
  projects/1.16.1/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: overlay

#952 [R] 英文版的 README 以及一些提醒
  README-en.md
  README.md
Labels: re-review

#1070 [R]最后的巧工魔艺
  projects/1.16.1/assets/mana-and-artifice/mana-and-artifice/guide/en_us.json
  projects/1.16.1/assets/mana-and-artifice/mana-and-artifice/guide/zh_cn.json
  projects/1.16.1/assets/mana-and-artifice/mana-and-artifice/lang/en_us.json
  projects/1.16.1/assets/mana-and-artifice/mana-and-artifice/lang/zh_cn.json
Labels: re-review
