Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-12, with the labels that each got.

#1469 [R] Create 小改
  projects/1.16/assets/create/create/lang/zh_cn.json
Labels: 1.16.x, XL, need review

#1468 [M]minecolonies 1.0.193-ALPHA更新
  projects/1.16/assets/minecolonies/minecolonies/lang/en_us.json
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.16.x, L, main

#1471 [R] signpost 路标
  projects/1.16/assets/signpost/signpost/lang/en_us.json
  projects/1.16/assets/signpost/signpost/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1470 [R] feat(1.16/locks): 初次翻译
  projects/1.16/assets/locks/locks/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1467 [R] 神秘学1.21.0 妖精使魔
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_bat.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_beholder.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_cthulhu.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_deer.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_dragon.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_fairy.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_headless_ratman.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/templates/ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_bat.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_beholder.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_cthulhu.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_deer.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_dragon.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_fairy.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_headless_ratman.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/templates/ritual.json
Labels: 1.16.x, L, need review, main

#1476 [R]structurize汉化重制
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
  projects/1.16/assets/structurize/structurize/lang/en_us.json
  projects/1.16/assets/structurize/structurize/lang/zh_cn.json
Labels: 1.16.x, need review, XXXL, main

#1478 [R] 汉化密室 Secret Rooms mod
  projects/1.16/assets/secretroomsmod/secretroomsmod/lang/en_us.json
  projects/1.16/assets/secretroomsmod/secretroomsmod/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1479 [R] Environmental Tech 翻译更新
  projects/1.16/assets/environmental-tech/envirotech/lang/en_us.json
  projects/1.16/assets/environmental-tech/envirotech/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1484 [R] Ender IO 错误修正
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, XS, need review, main

#1483 [R] PackagedAuto 翻译添加
  projects/1.16/assets/packagedauto/packagedauto/lang/zh_cn.json
Labels: 1.16.x, S, need review

#1486 [R] Ender IO / Ender Core 统一性和纠错
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
  projects/1.12.2/assets/endercore/endercore/lang/zh_cn.lang
Labels: 1.12.x, S, need review, main
