Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-08, with the labels that each got.

#1219 [R] Emendatus Enigmatica 翻译更新
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/en_us.json
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/zh_cn.json
Labels: language file change: 1.16.x

#1225 [M] Emendatus Enigmatica 翻译更新｜v1.2.9
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/en_us.json
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/zh_cn.json
Labels: language file change: 1.16.x

#1224 [R] Project: Vibrant Journeys 翻译更新｜v3.2.0
  projects/1.16/assets/project-vibrant-journeys/projectvibrantjourneys/lang/en_us.json
  projects/1.16/assets/project-vibrant-journeys/projectvibrantjourneys/lang/zh_cn.json
Labels: language file change: 1.16.x

#1223 [R] EmbellishCraft 及其 BOP 附属翻译添加
  projects/1.16/assets/embellishcraft-biomes-oplenty-addon/embellishcraft-bop/lang/en_us.json
  projects/1.16/assets/embellishcraft-biomes-oplenty-addon/embellishcraft-bop/lang/zh_cn.json
  projects/1.16/assets/embellishcraft/embellishcraft/lang/zh_cn.json
Labels: language file change: 1.16.x

#1222 [R] Mapper Base 翻译更新
  projects/1.16/assets/mapper-base/mapperbase/lang/zh_cn.json
Labels: language file change: 1.16.x

#1226 [M] FTB Ultimine 翻译更新
  projects/1.16/assets/ftb-ultimine-forge/ftbultimine/lang/en_us.json
  projects/1.16/assets/ftb-ultimine-forge/ftbultimine/lang/zh_cn.json
  projects/1.16/assets/ftb-ultimine/ftbultimine/lang/en_us.json
  projects/1.16/assets/ftb-ultimine/ftbultimine/lang/zh_cn.json
Labels: language file change: 1.16.x

#1228 [R]邪恶工艺汉化提交
  projects/1.16/assets/evilcraft/evilcraft/lang/en_us.json
  projects/1.16/assets/evilcraft/evilcraft/lang/zh_cn.json
Labels: language file change: 1.16.x

#1232 [R] 修复升入高版本时未猪灵化的僵尸猪人
  projects/1.16/assets/enchantment-descriptions/enchdesc/lang/zh_cn.json
  projects/1.16/assets/enigmatic-legacy/enigmaticlegacy/lang/zh_cn.json
  projects/1.16/assets/mana-and-artifice/mana-and-artifice/guide/zh_cn.json
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.16/assets/reliquary-v1-3/xreliquary/lang/zh_cn.json
  projects/1.16/assets/statues/statues/lang/zh_cn.json
Labels: language file change: 1.16.x

#1230 [R,P] 汉化红石控制2及其前置
  projects/1.16/assets/cd4017be-library/cd4017be_lib/lang/en_us.json
  projects/1.16/assets/cd4017be-library/cd4017be_lib/lang/zh_cn.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/en_us.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/zh_cn.json
Labels: language file change: 1.16.x, await merge

#1233 [R] Add translation for Into the Maelstrom 1.12.2
  projects/1.12.2/assets/into-the-maelstrom/intothemaelstrom/lang/en_us.lang
  projects/1.12.2/assets/into-the-maelstrom/intothemaelstrom/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1238 [M] The Endergetic Expansion 微改
  projects/1.16/assets/endergetic/endergetic/lang/zh_cn.json
Labels: language file change: 1.16.x

#1236 [M] Upgrade Aquatic 翻译小改｜v3.1.0
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/en_us.json
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
Labels: language file change: 1.16.x

#1235 [M] Bamboo Blocks 翻译修改｜v3.0.0
  projects/1.16/assets/bamboo-blocks/bamboo_blocks/lang/en_us.json
  projects/1.16/assets/bamboo-blocks/bamboo_blocks/lang/zh_cn.json
Labels: language file change: 1.16.x

#1237 [M] Autumnity 翻译小改｜v2.1.1
  projects/1.16/assets/autumnity/autumnity/lang/en_us.json
  projects/1.16/assets/autumnity/autumnity/lang/zh_cn.json
Labels: language file change: 1.16.x

#1240 [R] Allurement 翻译添加｜v1.2.0
  projects/1.16/assets/allurement/allurement/lang/en_us.json
  projects/1.16/assets/allurement/allurement/lang/zh_cn.json
Labels: language file change: 1.16.x

#1252 [M] Enhanced Mushrooms 翻译更新｜3.0.9
  projects/1.16/assets/enhanced-mushrooms/enhanced_mushrooms/lang/zh_cn.json
Labels: language file change: 1.16.x

#1248 [R] Environmental 翻译更新｜v1.1.0
  projects/1.16/assets/environmental/environmental/lang/en_us.json
  projects/1.16/assets/environmental/environmental/lang/zh_cn.json
Labels: language file change: 1.16.x

#1249 [M] Bamboo Blocks 翻译微改
  projects/1.16/assets/bamboo-blocks/bamboo_blocks/lang/zh_cn.json
Labels: language file change: 1.16.x

#1251 [M] Bayou Blues 翻译微改
  projects/1.16/assets/bayou-blues/bayou_blues/lang/zh_cn.json
Labels: language file change: 1.16.x

#1250 [M] Extra Boats 翻译更新｜v2.1.0
  projects/1.16/assets/extra-boats/extraboats/lang/zh_cn.json
Labels: language file change: 1.16.x

#1244 [M] MrCrayfish's Furniture Mod 翻译更新
  projects/1.16/assets/mrcrayfish-furniture-mod/cfm/lang/zh_cn.json
Labels: language file change: 1.16.x

#1229 [R][WIP][P] Materialis汉化提交以及更新匠魂英文原文
  projects/1.16/assets/materialis/materialis/lang/en_us.json
  projects/1.16/assets/materialis/materialis/lang/zh_cn.json
  projects/1.16/assets/tinkers-construct/tconstruct/lang/en_us.json
Labels: language file change: 1.16.x, medium

#1245 [M] Configured、Catalogue 翻译更新
  projects/1.16/assets/catalogue/catalogue/lang/en_us.json
  projects/1.16/assets/catalogue/catalogue/lang/zh_cn.json
  projects/1.16/assets/configured/configured/lang/en_us.json
  projects/1.16/assets/configured/configured/lang/zh_cn.json
Labels: language file change: 1.16.x

#1243 [M] Sound Device Options 翻译添加
  projects/1.16/assets/more-sound-config/moresoundconfig/lang/zh_cn.json
Labels: language file change: 1.16.x

#1246 [R] Biomes O' Plenty、EmbellishCraft-BOP 翻译修改
  projects/1.16/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
  projects/1.16/assets/embellishcraft-biomes-oplenty-addon/embellishcraft-bop/lang/zh_cn.json
Labels: language file change: 1.16.x

#1241 [R] The Outer End 官中搬运及小改｜v0.2.14
  projects/1.16/assets/the-outer-end/outer_end/lang/zh_cn.json
Labels: language file change: 1.16.x

#1247 [R] MrCrayfish's More Furniture Mod 翻译添加
  projects/1.16/assets/mrcrayfish-more-furniture-mod/morecfm/lang/en_us.json
  projects/1.16/assets/mrcrayfish-more-furniture-mod/morecfm/lang/zh_cn.json
Labels: language file change: 1.16.x

#1254 [R] Atmospheric 翻译更新｜v3.1.0
  projects/1.16/assets/atmospheric/atmospheric/lang/zh_cn.json
Labels: language file change: 1.16.x

#1255 [R] Fruitful 原文及翻译添加｜v2.1.0
  projects/1.16/assets/fruitful/fruitful/lang/en_us.json
  projects/1.16/assets/fruitful/fruitful/lang/zh_cn.json
Labels: language file change: 1.16.x

#1256 [R] Neapolitan 基于 v2.1.0 版本翻译更新
  projects/1.16/assets/neapolitan/neapolitan/lang/zh_cn.json
Labels: language file change: 1.16.x

#1261 [R] 1.16/修复升版本时未与标准译名同步修改的文本
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/getting_started/learning_spells.json
  projects/1.16/assets/astral-sorcery/astralsorcery/lang/zh_cn.json
  projects/1.16/assets/block-layers/blocklayering/lang/zh_cn.json
  projects/1.16/assets/botania/botania/lang/zh_cn.json
  projects/1.16/assets/ceramic-shears/ceramicshears/lang/zh_cn.json
  projects/1.16/assets/ceramics/ceramics/lang/zh_cn.json
  projects/1.16/assets/chisels-bits/chiselsandbits/lang/zh_cn.json
  projects/1.16/assets/create/create/lang/zh_cn.json
  projects/1.16/assets/cyclic/cyclic/lang/zh_cn.json
  projects/1.16/assets/edible-bugs/ediblebugs/lang/zh_cn.json
  projects/1.16/assets/evilcraft/evilcraft/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/industrial-foregoing/industrialforegoing/lang/zh_cn.json
  projects/1.16/assets/integrated-dynamics/integrateddynamics/lang/zh_cn.json
  projects/1.16/assets/melon-slabs/melonslabs/lang/zh_cn.json
  projects/1.16/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/effects/nether_grass.json
  projects/1.16/assets/no-tree-punching/notreepunching/lang/zh_cn.json
  projects/1.16/assets/pedestals/pedestals/lang/zh_cn.json
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.16/assets/psi/psi/lang/zh_cn.json
  projects/1.16/assets/rats/rats/lang/zh_cn.json
  projects/1.16/assets/silent-gear/silentgear/lang/zh_cn.json
  projects/1.16/assets/silents-gems/silentgems/lang/zh_cn.json
  projects/1.16/assets/sonicraft/lang/zh_cn.json
  projects/1.16/assets/spartan-weaponry/spartanweaponry/lang/zh_cn.json
  projects/1.16/assets/statues/statues/lang/zh_cn.json
  projects/1.16/assets/the-abyss-chapter-ii/theabyss/lang/zh_cn.json
  projects/1.16/assets/tofucraftreload/tofucraft/lang/zh_cn.json
  projects/1.16/assets/tweakeroo/tweakeroo/lang/zh_cn.json
  projects/1.16/assets/ultimate-skyblock-resource-generator/usrg/lang/zh_cn.json
  projects/1.16/assets/ultra-amplified-dimension/ultra_amplified_dimension/lang/zh_cn.json
  projects/1.16/assets/vanilla-hammers-forge/vanillahammers/lang/zh_cn.json
  projects/1.16/assets/vanillafoodpantry-mod/vanillafoodpantry/lang/zh_cn.json
  projects/1.16/assets/wallpapercraft-a-fresh-roll/wallpapercraft/lang/zh_cn.json
  projects/1.16/assets/wetstone/wetstone/lang/zh_cn.json
Labels: language file change: 1.16.x

#1260 [R]沉浸原油 1.16.5 更新
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/asphalt.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/automaticlubricator.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/cokerunit.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/distillationtower.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/hydrotreater.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/napalm.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/portablegenerator.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/projector.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/pumpjack.txt
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/speedboat.txt
Labels: language file change: 1.16.x

#1265 [R] 更新神化
  projects/1.12.2/assets/apotheosis/apotheosis/lang/en_us.lang
  projects/1.12.2/assets/apotheosis/apotheosis/lang/zh_cn.lang
  projects/1.16/assets/apotheosis/apotheosis/lang/en_us.json
  projects/1.16/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1208 [R] 将 pams-harvestcraft-2 更新到最新版本（1.16.3-1.0.2）
  projects/1.16/assets/pams-harvestcraft-2-food-core/pamhc2foodcore/lang/zh_cn.json
  projects/1.16/assets/pams-harvestcraft-2-food-extended/pamhc2foodextended/lang/en_us.json
  projects/1.16/assets/pams-harvestcraft-2-food-extended/pamhc2foodextended/lang/zh_cn.json
Labels: language file change: 1.16.x

#1266 [R]把biomancy汉化同步到这边
  projects/1.16/assets/biomancy/biomancy/lang/en_us.json
  projects/1.16/assets/biomancy/biomancy/lang/zh_cn.json
Labels: language file change: 1.16.x

#1257 [R,WIP]DG
  projects/1.16/assets/dungeons-gear/dungeons_gear/lang/en_us.json
  projects/1.16/assets/dungeons-gear/dungeons_gear/lang/zh_cn.json
Labels: language file change: 1.16.x

#1269 [M] More Create Stuffs 翻译修改
  projects/1.16/assets/more-create-stuffs/morecreatestuffs/lang/zh_cn.json
Labels: language file change: 1.16.x

#1270 [R] Create 小改
  projects/1.16/assets/create/create/lang/zh_cn.json
Labels: language file change: 1.16.x

#1272 [R] 地质探秘|化学汉化修正
  projects/1.12.2/assets/rockhounding-mod-chemistry/rockhounding_chemistry/lang/zh_cn.lang
  projects/1.12.2/assets/rockhounding-mod-chemistry/rockhounding_chemistry/xml/chembook.zh_cn.xml
Labels: language file change: 1.12.x

#1274 [R] “标点”符号之温度记号 (-1/6)
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/germplasm/lang/zh_cn.lang
  projects/1.12.2/assets/better-diving/better_diving/lang/zh_cn.lang
  projects/1.12.2/assets/crossroads-mc/crossroads/lang/zh_cn.lang
  projects/1.12.2/assets/draconic-evolution/draconicevolution/lang/zh_cn.lang
  projects/1.12.2/assets/gregtechce/gregtech/lang/zh_cn.lang
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.lang
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/base_concepts/heat_sources.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/machines/heat_sink.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/manufacturing/plastic_mixer.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/manufacturing/refinery.json
  projects/1.12.2/assets/prodigy-tech/prodigytech/lang/zh_cn.lang
  projects/1.12.2/assets/tfcraft/tfc/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-complement/tcomplement/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-construct/tconstruct/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-forging/tinkersforging/lang/zh_cn.lang
  projects/1.12.2/assets/ultimate-car-mod/car/lang/zh_cn.lang
  projects/1.16/assets/crossroads-mc/crossroads/lang/zh_cn.json
  projects/1.16/assets/modern-industrialization/modern_industrialization/lang/zh_cn.json
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.16/assets/tinkers-construct/tconstruct/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1273 [R] 更新新生魔艺至1.22
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/categories/familiars.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/apparatus/whelp_charm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/bookwyrm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/carbuncle.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/drygmy.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/familiar_howto.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/sylph.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/familiars/wixie.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/items/enchanters_mirror.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_22.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_22_3.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/rituals/binding.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/categories/familiars.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/apparatus/whelp_charm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/bookwyrm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/carbuncle.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/drygmy.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/familiar_howto.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/sylph.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/familiars/wixie.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/getting_started/automation.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/items/enchanters_mirror.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/rituals/binding.json
Labels: language file change: 1.16.x

#1278 [R]对 Botania 做一些微小的工作
  projects/1.16/assets/botania/botania/lang/zh_cn.json
Labels: language file change: 1.16.x

#1281 [R]The Bumblezone翻译更新
  projects/1.16/assets/the-bumblezone-forge/the_bumblezone/lang/zh_cn.json
Labels: language file change: 1.16.x

#1282 [R] 更新神秘学至1.10.0
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/getting_started/next_steps.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/craft_foliot.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_cthulhu.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/getting_started/next_steps.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/craft_foliot.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_cthulhu.json
Labels: language file change: 1.16.x
