Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-10, with the labels that each got.

#1363 [R] Item Filters 翻译修改
  projects/1.16/assets/item-filters-forge/itemfilters/lang/zh_cn.json
  projects/1.16/assets/item-filters/itemfilters/lang/en_us.json
  projects/1.16/assets/item-filters/itemfilters/lang/zh_cn.json
Labels: language file change: 1.16.x

#1366 [R] Shovel 锹｜Clay 黏土
  projects/1.16/assets/arcanum/arcanum/lang/zh_cn.json
  projects/1.16/assets/blue-skies/blue_skies/lang/zh_cn.json
  projects/1.16/assets/create-stuff-additions/create_stuff_additions/lang/zh_cn.json
  projects/1.16/assets/cyclic/cyclic/lang/zh_cn.json
  projects/1.16/assets/draconic-evolution/draconicevolution/lang/zh_cn.json
  projects/1.16/assets/killmods/killmods/killmods/lang/zh_cn.json
  projects/1.16/assets/miniutilities/miniutilities/lang/zh_cn.json
  projects/1.16/assets/natures-aura/naturesaura/lang/zh_cn.json
  projects/1.16/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/items/infused_iron_tools.json
  projects/1.16/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/items/sky_tools.json
  projects/1.16/assets/project-rankine/rankine/lang/zh_cn.json
Labels: language file change: 1.16.x

#1279 [R] 星辉、神秘、打粉机革新
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/voidcraft/lang/zh_cn.lang
  projects/1.12.2/assets/actually-additions/actuallyadditions/lang/zh_cn.lang
  projects/1.12.2/assets/astral-sorcery/astralsorcery/lang/zh_cn.lang
  projects/1.12.2/assets/ic2-classic/ic2/lang/zh_cn.lang
  projects/1.12.2/assets/ic2-classic/ic2/lang_ic2/zh_cn.properties
  projects/1.12.2/assets/thaumcraft/thaumcraft/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-additions/thaumadditions/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-bases-unofficial/thaumicbases/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-wonders/thaumicwonders/lang/zh_cn.lang
  projects/1.16/assets/simple-grinder/simplegrinder/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1370 [R] thecech12 作品翻译
  projects/1.16/assets/brick-furnace/brickfurnace/lang/en_us.json
  projects/1.16/assets/brick-furnace/brickfurnace/lang/zh_cn.json
  projects/1.16/assets/brick-hopper/brickhopper/lang/zh_cn.json
  projects/1.16/assets/ceramic-bucket/ceramicbucket/lang/zh_cn.json
  projects/1.16/assets/wooden-hopper/woodenhopper/lang/en_us.json
  projects/1.16/assets/wooden-hopper/woodenhopper/lang/zh_cn.json
Labels: 1.16.x, S, need review

#1375 [M] FTB 翻译小改
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/zh_cn.json
  projects/1.16/assets/ftb-library-forge/ftblibrary/lang/zh_cn.json
Labels: 1.16.x, XS

#1376 [M]三个模组的翻译更新
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/pams-harvestcraft-2-trees/pamhc2trees/lang/zh_cn.json
  projects/1.16/assets/the-bumblezone-fabric/the_bumblezone/lang/zh_cn.json
  projects/1.16/assets/the-bumblezone-forge/the_bumblezone/lang/en_us.json
  projects/1.16/assets/the-bumblezone-forge/the_bumblezone/lang/zh_cn.json
Labels: 1.16.x, M

#1402 [M] Botany Pots Tiers 小改
  projects/1.16/assets/botany-pots-tiers/botanypotstiers/lang/zh_cn.json
Labels: 1.16.x, S

#1400 [R] Cut And Colored 更新中文
  projects/1.16/assets/cut-and-colored/cutandcolored/lang/zh_cn.json
Labels: 1.16.x, XL, Rejected, need review

#1398 [R] CC&A 升级。
  projects/1.16/assets/createaddition/createaddition/lang/en_us.json
  projects/1.16/assets/createaddition/createaddition/lang/zh_cn.json
Labels: 1.16.x, XL, need review
