Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-09, with the labels that each got.

#1289 [R] Voyage 原文及翻译添加
  projects/1.16/assets/voyage/voyage/lang/en_us.json
  projects/1.16/assets/voyage/voyage/lang/zh_cn.json
Labels: language file change: 1.16.x

#1288 [M]Bumblezone hotfix
  projects/1.16/assets/the-bumblezone-forge/the_bumblezone/lang/zh_cn.json
Labels: language file change: 1.16.x

#1286 [M] 修正神秘学附身仪式显示
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_enderman.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_endermite.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_skeleton.json
Labels: language file change: 1.16.x

#1285 [R] Explorer's Compass 翻译添加｜Nature’s Compass 翻译修改
  projects/1.16/assets/explorers-compass/explorerscompass/lang/en_us.json
  projects/1.16/assets/explorers-compass/explorerscompass/lang/zh_cn.json
  projects/1.16/assets/natures-compass/naturescompass/lang/en_us.json
  projects/1.16/assets/natures-compass/naturescompass/lang/zh_cn.json
Labels: language file change: 1.16.x

#1284 [R] Lepton 翻译添加
  projects/1.16/assets/lepton/lepton/lang/en_us.json
  projects/1.16/assets/lepton/lepton/lang/zh_cn.json
  projects/1.16/assets/project-rankine/rankine/lang/zh_cn.json
Labels: language file change: 1.16.x

#1283 [R] Abnormals Delight 翻译更新｜Farmer's Delight 翻译小改
  projects/1.16/assets/abnormals-delight/abnormals_delight/lang/en_us.json
  projects/1.16/assets/abnormals-delight/abnormals_delight/lang/zh_cn.json
  projects/1.16/assets/farmers-delight/farmersdelight/lang/en_us.json
  projects/1.16/assets/farmers-delight/farmersdelight/lang/zh_cn.json
Labels: language file change: 1.16.x

#1290 [M] 红石控制2 1.0.6.5
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/en_us.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/zh_cn.json
Labels: language file change: 1.16.x

#1294 [R] Diet 翻译补充与修改
  projects/1.16/assets/diet/diet/lang/zh_cn.json
Labels: language file change: 1.16.x

#1293 [M] Chipped 翻译添加
  projects/1.16/assets/chipped/chipped/lang/en_us.json
  projects/1.16/assets/chipped/chipped/lang/zh_cn.json
Labels: language file change: 1.16.x

#1291 [R] Quark 翻译修改｜其他修改
  projects/1.16/assets/abundance/abundance/lang/zh_cn.json
  projects/1.16/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.16/assets/autumnity/autumnity/lang/zh_cn.json
  projects/1.16/assets/bayou-blues/bayou_blues/lang/zh_cn.json
  projects/1.16/assets/createaddition/createaddition/lang/zh_cn.json
  projects/1.16/assets/enhanced-mushrooms/enhanced_mushrooms/lang/zh_cn.json
  projects/1.16/assets/environmental/environmental/lang/zh_cn.json
  projects/1.16/assets/mapper-base/mapperbase/lang/zh_cn.json
  projects/1.16/assets/modern-industrialization/modern_industrialization/lang/zh_cn.json
  projects/1.16/assets/project-rankine/rankine/lang/zh_cn.json
  projects/1.16/assets/quark/quark/lang/zh_cn.json
  projects/1.16/assets/tinkers-construct/tconstruct/lang/zh_cn.json
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
  projects/1.16/assets/valhelsia-structures/valhelsia_structures/lang/zh_cn.json
  projects/1.16/assets/zots-only-silver/onlysilver/lang/zh_cn.json
Labels: language file change: 1.16.x

#1292 [R] Charcoal Pit 翻译修改
  projects/1.16/assets/charcoal-pit/charcoal_pit/lang/zh_cn.json
Labels: language file change: 1.16.x

#1297 [M] Post：柱 -> 杆（Quark 联动）
  projects/1.16/assets/abundance/abundance/lang/zh_cn.json
  projects/1.16/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.16/assets/autumnity/autumnity/lang/zh_cn.json
  projects/1.16/assets/bayou-blues/bayou_blues/lang/zh_cn.json
  projects/1.16/assets/enhanced-mushrooms/enhanced_mushrooms/lang/zh_cn.json
  projects/1.16/assets/environmental/environmental/lang/zh_cn.json
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
  projects/1.16/assets/valhelsia-structures/valhelsia_structures/lang/zh_cn.json
Labels: language file change: 1.16.x

#1296 [R] Survival Overhaul 小改
  projects/1.16/assets/survival-overhaul/survivaloverhaul/lang/zh_cn.json
Labels: language file change: 1.16.x

#1299 [R] 神秘学1.11
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_devil.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/summoning/summon_otherstone_trader.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_devil.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/summoning/summon_otherstone_trader.json
Labels: language file change: 1.16.x

#1298 [R] 新生魔艺1.23.4
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/apparatus/carbuncle_charm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_23.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/spells/evaporate.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/spells/sensitive.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/spells/wind_shear.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/apparatus/carbuncle_charm.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/evaporate.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/sensitive.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/wind_shear.json
Labels: language file change: 1.16.x

#1295 [R]1.16沉浸工程翻译更新
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/alloykiln.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/arc_furnace.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/assembler.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/balloon.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/barrel.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/bottling_machine.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/bullets.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/buzzsaw.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/chemthrower.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/cokeoven.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/conveyors.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/crate.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/crusher.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/current_transformer.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/diesel_generator.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/excavator.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/fermenter.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/fluid_transport.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/generator.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/graphite.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/hemp.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/item_batcher.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/item_router.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/jerrycan.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/lighting.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/lightning_rod.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/logic_circuits.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/maintenance_kit.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/metal_barrel.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/metal_press.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/metalconstruction.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/minerals.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/mining_drill.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/mixer.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/multiblocks.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/ores.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/plates.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/powerpack.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/railgun.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/razor_wire.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/redstone_wire.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/refinery.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/revolver.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/sawmill.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/shader.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/shield.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/silo.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/skyhook.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/squeezer.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/tank.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/tesla_coil.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/thermoelectric.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/toolbox.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/treated_wood.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/turntable.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/turrets.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/wiring.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/workbench.txt
Labels: language file change: 1.16.x

#1300 [M]修复潘马斯农场2食物核心的翻译问题
  projects/1.16/assets/pams-harvestcraft-2-food-core/pamhc2foodcore/lang/zh_cn.json
Labels: language file change: 1.16.x

#1275 [R] 更新Tetra和Rankine
  projects/1.16/assets/project-rankine/rankine/lang/zh_cn.json
  projects/1.16/assets/tetra/tetra/lang/zh_cn.json
Labels: language file change: 1.16.x

#1301 [M] Small Ships 木头名称统一
  projects/1.16/assets/small-ships/smallships/lang/en_us.json
  projects/1.16/assets/small-ships/smallships/lang/zh_cn.json
Labels: language file change: 1.16.x

#1311 [M]沉浸原油新版本更新
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
Labels: language file change: 1.16.x

#1310 [M] Abnormals Core 原文与翻译补充
  projects/1.16/assets/abnormals-core/abnormals_core/lang/en_us.json
  projects/1.16/assets/abnormals-core/abnormals_core/lang/zh_cn.json
Labels: language file change: 1.16.x

#1306 [M] Fish In Planks 原文及翻译添加
  projects/1.16/assets/fish-in-planks/fish_in_planks/lang/en_us.json
  projects/1.16/assets/fish-in-planks/fish_in_planks/lang/zh_cn.json
Labels: language file change: 1.16.x

#1308 [M] Chimes 原文及翻译添加
  projects/1.16/assets/chimes/chimes/lang/en_us.json
  projects/1.16/assets/chimes/chimes/lang/zh_cn.json
Labels: language file change: 1.16.x

#1305 [R] Neapolitan 及其附属翻译小改｜Copper Pot 翻译小改
  projects/1.16/assets/cookielicious/cookielicious/lang/en_us.json
  projects/1.16/assets/cookielicious/cookielicious/lang/zh_cn.json
  projects/1.16/assets/copper-pot/copperpot/lang/zh_cn.json
  projects/1.16/assets/neapolitan/neapolitan/lang/zh_cn.json
  projects/1.16/assets/peculiars/peculiars/lang/zh_cn.json
  projects/1.16/assets/seasonals/seasonals/lang/zh_cn.json
Labels: language file change: 1.16.x

#1304 [R] Botany Pots 翻译小改｜Botany Pots Tiers 翻译添加
  projects/1.16/assets/botany-pots-tiers/botanypotstiers/lang/en_us.json
  projects/1.16/assets/botany-pots-tiers/botanypotstiers/lang/zh_cn.json
  projects/1.16/assets/botany-pots/botanypots/lang/zh_cn.json
Labels: language file change: 1.16.x

#1303 [R] Refined Storage 全家桶
  projects/1.16/assets/cable-tiers/cabletiers/lang/en_us.json
  projects/1.16/assets/cable-tiers/cabletiers/lang/zh_cn.json
  projects/1.16/assets/creative-crafter/creativecrafter/lang/en_us.json
  projects/1.16/assets/creative-crafter/creativecrafter/lang/zh_cn.json
  projects/1.16/assets/creative-wireless-transmitter/creativewirelesstransmitter/lang/zh_cn.json
  projects/1.16/assets/extra-disks/extradisks/lang/zh_cn.json
  projects/1.16/assets/extrastorage/extrastorage/lang/en_us.json
  projects/1.16/assets/extrastorage/extrastorage/lang/zh_cn.json
  projects/1.16/assets/refined-storage/refinedstorage/lang/zh_cn.json
  projects/1.16/assets/rslargepatterns/rslargepatterns/lang/en_us.json
  projects/1.16/assets/rslargepatterns/rslargepatterns/lang/zh_cn.json
  projects/1.16/assets/storage-tech/storagetech/lang/zh_cn.json
Labels: language file change: 1.16.x

#1309 [M] Cloth Config Forge 翻译小改
  projects/1.16/assets/cloth-config-forge/cloth-config2/lang/zh_cn.json
  projects/1.16/assets/refined-storage/refinedstorage/lang/zh_cn.json
Labels: language file change: 1.16.x

#1312 [M] Refined Storage 微改
  projects/1.16/assets/refined-storage/refinedstorage/lang/zh_cn.json
Labels: language file change: 1.16.x

#1307 [R] 神化更新
  projects/1.12.2/assets/apotheosis/apotheosis/lang/zh_cn.lang
  projects/1.16/assets/apotheosis/apotheosis/lang/en_us.json
  projects/1.16/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1317 [M] Fix geolosys error text in zh_cn.lang
  projects/1.12.2/assets/geolosys/geolosys/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1318 [M] Corail Tombstone 添加占位符索引
  projects/1.16/assets/corail-tombstone/tombstone/lang/zh_cn.json
Labels: language file change: 1.16.x

#1316 [M] Snow Pig 原文及翻译更新
  projects/1.16/assets/snow-pig/snowpig/lang/en_us.json
  projects/1.16/assets/snow-pig/snowpig/lang/zh_cn.json
Labels: language file change: 1.16.x

#1314 [M]修复沉浸原油手册无法打开问题
  projects/1.16/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
Labels: language file change: 1.16.x

#1313 [R] 新生魔艺1.23.9
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/automation/spell_prism.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/automation/spell_prism.json
Labels: language file change: 1.16.x

#1315 [M] Caves & Cliffs Backport 原文及翻译更新
  projects/1.16/assets/caves-and-cliffs-backport/cavesandcliffs/lang/en_us.json
  projects/1.16/assets/caves-and-cliffs-backport/cavesandcliffs/lang/zh_cn.json
Labels: language file change: 1.16.x

#1322 [M]修复沉浸工程奇怪的传送带名字+物品分配器GUI的翻译键错误
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: language file change: 1.16.x

#1328 [R]queen bee汉化上传
  projects/1.16/assets/queen-bee/queen_bee/lang/en_us.json
  projects/1.16/assets/queen-bee/queen_bee/lang/zh_cn.json
Labels: language file change: 1.16.x, mini

#1327 [M] Emendatus Enigmatica 原文、翻译更新
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/en_us.json
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/zh_cn.json
Labels: language file change: 1.16.x, mini

#1324 [R] No Tree Punching 翻译更新
  projects/1.16/assets/no-tree-punching/notreepunching/lang/zh_cn.json
Labels: language file change: 1.16.x, mini

#1323 [R] Jellyfishing 翻译小改
  projects/1.16/assets/jellyfishing/jellyfishing/lang/en_us.json
  projects/1.16/assets/jellyfishing/jellyfishing/lang/zh_cn.json
Labels: language file change: 1.16.x, mini

#1326 [R] 神秘学1.13.0
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/crafting/craft_otherworld_goggles.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_dragon.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/possession/possess_enderman.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/possession/possess_endermite.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/possession/possess_skeleton.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/summoning/time_magic.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/crafting/craft_otherworld_goggles.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_dragon.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_enderman.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_endermite.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_skeleton.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/summoning/time_magic.json
Labels: language file change: 1.16.x, large

#1325 [R] Patchouli 翻译更新
  projects/1.16/assets/patchouli/patchouli/lang/zh_cn.json
Labels: language file change: 1.16.x, medium

#1320 [W,R]做一下侏罗纪世界重生的汉化
  projects/1.12.2/assets/jurassic-world-reborn-mod/rebornmod/lang/en_us.lang
  projects/1.12.2/assets/jurassic-world-reborn-mod/rebornmod/lang/zh_cn.lang
Labels: language file change: 1.12.x, large

#1330 [M]紧急修复一下侏罗纪重生文本格式的问题
  projects/1.12.2/assets/jurassic-world-reborn-mod/rebornmod/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1332 [M] Abnormals 统一 tile
  projects/1.16/assets/autumnity/autumnity/lang/zh_cn.json
  projects/1.16/assets/cookielicious/cookielicious/lang/zh_cn.json
  projects/1.16/assets/savage-and-ravage/savageandravage/lang/zh_cn.json
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
Labels: language file change: 1.16.x

#1352 [R,W] 重新翻译 macaws-fences-and-walls 模组
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
Labels: language file change: 1.16.x

#1350 [R] 为 buildersaddition 模组原译文补充部分未翻译文本；删除游戏内显示为乱码的译文。
  projects/1.16/assets/buildersaddition/buildersaddition/lang/en_us.json
  projects/1.16/assets/buildersaddition/buildersaddition/lang/zh_cn.json
Labels: language file change: 1.16.x

#1351 [R] 提交 aiot-botania 模组译文
  projects/1.16/assets/aiot-botania/aiotbotania/lang/en_us.json
  projects/1.16/assets/aiot-botania/aiotbotania/lang/zh_cn.json
Labels: language file change: 1.16.x

#1349 [R] 为 create-stuff-addition 模组添加未翻译物品的译文；删除未实装物品的译文
  projects/1.16/assets/create-stuff-additions/create_stuff_additions/lang/en_us.json
  projects/1.16/assets/create-stuff-additions/create_stuff_additions/lang/zh_cn.json
Labels: language file change: 1.16.x

#1340 [R] 补充 macaws-trapdoors 模组未翻译文本
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: language file change: 1.16.x

#1342 [R] 提交 macaws-lights-and-lamps 模组译文
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
Labels: language file change: 1.16.x

#1335 [R] 添加 nethers-delight 模组未翻译部分译文
  projects/1.16/assets/nethers-delight/nethers_delight/lang/en_us.json
  projects/1.16/assets/nethers-delight/nethers_delight/lang/zh_cn.json
Labels: language file change: 1.16.x

#1344 [R] 提交 instrumental-mobs 模组译文
  projects/1.16/assets/instrumental-mobs/instrumentalmobs/lang/en_us.json
  projects/1.16/assets/instrumental-mobs/instrumentalmobs/lang/zh_cn.json
Labels: language file change: 1.16.x

#1353 [M] Refined Storage 翻译小改
  projects/1.16/assets/refined-storage/refinedstorage/lang/zh_cn.json
Labels: language file change: 1.16.x

#1339 [R] 补充 macaws-windows 未翻译部分译文
  projects/1.16/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.16/assets/macaws-windows/mcwwindows/lang/zh_cn.json
Labels: language file change: 1.16.x

#1338 [R] 提交 more-jellyfish 模组译文
  projects/1.16/assets/more-jellyfish/more_jellyfish/lang/en_us.json
  projects/1.16/assets/more-jellyfish/more_jellyfish/lang/zh_cn.json
Labels: language file change: 1.16.x

#1337 [R] 提交 moving-elevators 模组译文
  projects/1.16/assets/moving-elevators/movingelevators/lang/zh_cn.json
Labels: language file change: 1.16.x

#1336 [R] 提交 neoelfeos-medieval-pub-decoration 模组译文
  projects/1.16/assets/neoelfeos-medieval-pub-decoration/nefdecomod/lang/en_us.json
  projects/1.16/assets/neoelfeos-medieval-pub-decoration/nefdecomod/lang/zh_cn.json
Labels: language file change: 1.16.x

#1345 [R] 提交 horse-tack 模组译文
  projects/1.16/assets/horse-tack/horse_tack/lang/en_us.json
  projects/1.16/assets/horse-tack/horse_tack/lang/zh_cn.json
Labels: language file change: 1.16.x

#1334 [R,P] 提交 realistic-horse-genetics 模组译文
  projects/1.16/assets/realistic-horse-genetics/horse_colors/lang/en_us.json
  projects/1.16/assets/realistic-horse-genetics/horse_colors/lang/zh_cn.json
Labels: language file change: 1.16.x

#1347 [R,P,W] 提交 exotic-birds 模组译文
  projects/1.16/assets/exotic-birds/exoticbirds/lang/en_us.json
  projects/1.16/assets/exotic-birds/exoticbirds/lang/zh_cn.json
Labels: language file change: 1.16.x

#1343 [R] 提交 macaws-doors 模组译文
  projects/1.16/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.16/assets/macaws-doors/mcwdoors/lang/zh_cn.json
Labels: language file change: 1.16.x

#1346 [R,P] 提交 fins-and-tails 模组译文
  projects/1.16/assets/fins-and-tails/fins/lang/en_us.json
  projects/1.16/assets/fins-and-tails/fins/lang/zh_cn.json
Labels: language file change: 1.16.x

#1348 [R] 提交 earth-reworked 模组译文
  projects/1.16/assets/earth-reworked/earthworks/lang/en_us.json
  projects/1.16/assets/earth-reworked/earthworks/lang/zh_cn.json
Labels: language file change: 1.16.x

#1341 [R,W] 提交 macaws-roofs 模组译文
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
Labels: language file change: 1.16.x

#1357 [R,W] Macaw 系列错误自查
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.16/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.16/assets/macaws-windows/mcwwindows/lang/zh_cn.json
Labels: language file change: 1.16.x

#1356 [R] fins-and-tails 模组 key 值修正
  projects/1.16/assets/fins-and-tails/fins/lang/zh_cn.json
Labels: language file change: 1.16.x

#1358 [R,W]Cyclic+IE 更新
  projects/1.16/assets/cyclic/cyclic/lang/en_us.json
  projects/1.16/assets/cyclic/cyclic/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/bullets.txt
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/conveyors.txt
Labels: language file change: 1.16.x

#1355 [R] Mekanism 翻译小改
  projects/1.16/assets/mekanism-generators/mekanismgenerators/lang/zh_cn.json
  projects/1.16/assets/mekanism-tools/mekanismtools/lang/zh_cn.json
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
Labels: language file change: 1.16.x

#1359 [R] 纠正 neoelfeos-medieval-pub-decoration 模组 Clay 译名：粘土 -> 黏土；修正 earth-reworked 模组部分译名
  projects/1.16/assets/earth-reworked/earthworks/lang/zh_cn.json
  projects/1.16/assets/neoelfeos-medieval-pub-decoration/nefdecomod/lang/zh_cn.json
Labels: language file change: 1.16.x

#1360 [R] FTB 全家桶
  projects/1.16/assets/ftb-backups-forge/ftbbackups/lang/zh_cn.json
  projects/1.16/assets/ftb-backups/ftbbackups/lang/en_us.json
  projects/1.16/assets/ftb-backups/ftbbackups/lang/zh_cn.json
  projects/1.16/assets/ftb-banners-forge/ftbbanners/lang/en_us.json
  projects/1.16/assets/ftb-banners-forge/ftbbanners/lang/zh_cn.json
  projects/1.16/assets/ftb-chunks-forge/ftbchunks/lang/en_us.json
  projects/1.16/assets/ftb-chunks-forge/ftbchunks/lang/zh_cn.json
  projects/1.16/assets/ftb-chunks/ftbchunks/lang/en_us.json
  projects/1.16/assets/ftb-chunks/ftbchunks/lang/zh_cn.json
  projects/1.16/assets/ftb-dripper-forge/ftbdripper/lang/en_us.json
  projects/1.16/assets/ftb-dripper-forge/ftbdripper/lang/zh_cn.json
  projects/1.16/assets/ftb-gui-library/ftbguilibrary/lang/en_us.json
  projects/1.16/assets/ftb-gui-library/ftbguilibrary/lang/zh_cn.json
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/en_us.json
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/zh_cn.json
  projects/1.16/assets/ftb-library-forge/ftbguilibrary/lang/en_us.json
  projects/1.16/assets/ftb-library-forge/ftbguilibrary/lang/zh_cn.json
  projects/1.16/assets/ftb-library-forge/ftblibrary/lang/zh_cn.json
  projects/1.16/assets/ftb-quests-forge/ftbquests/lang/en_us.json
  projects/1.16/assets/ftb-quests-forge/ftbquests/lang/zh_cn.json
  projects/1.16/assets/ftb-quests/ftbquests/lang/en_us.json
  projects/1.16/assets/ftb-quests/ftbquests/lang/zh_cn.json
  projects/1.16/assets/ftb-structures-forge/ftbstructures/lang/en_us.json
  projects/1.16/assets/ftb-structures-forge/ftbstructures/lang/zh_cn.json
  projects/1.16/assets/ftb-teams-forge/ftbteams/lang/en_us.json
  projects/1.16/assets/ftb-teams-forge/ftbteams/lang/zh_cn.json
  projects/1.16/assets/ftb-teams/ftbteams/lang/en_us.json
  projects/1.16/assets/ftb-teams/ftbteams/lang/zh_cn.json
Labels: language file change: 1.16.x

#1362 [M] FTB Quests 翻译小改
  projects/1.16/assets/ftb-quests-forge/ftbquests/lang/zh_cn.json
Labels: language file change: 1.16.x
