Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-11, with the labels that each got.

#1410 [M] CobbleGenRandomizer 翻译添加
  projects/1.16/assets/cobblegenrandomizer/cobblegenrandomizer/lang/zh_cn.json
Labels: 1.16.x, XS

#1413 [M] Emendatus Enigmatica 原文更新、翻译更新
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/en_us.json
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/zh_cn.json
Labels: 1.16.x, L

#1404 [R]更新翻译与修正
  projects/1.16/assets/mrcrayfishs-vehicle-mod/vehicle/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1419 [M] Emendatus Enigmatica 小错误修改
  projects/1.16/assets/emendatus-enigmatica/emendatusenigmatica/lang/zh_cn.json
Labels: 1.16.x

#1416 [R] Cinderscapes Reforged 基于官中翻译修改
  projects/1.16/assets/cinderscapes-reforged/cinderscapes/lang/en_us.json
  projects/1.16/assets/cinderscapes-reforged/cinderscapes/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1422 [R] Hunger Saturation 用语统一
  projects/1.16/assets/cursery/cursery/lang/zh_cn.json
  projects/1.16/assets/more-tooltips/more_tooltips/lang/zh_cn.json
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.16/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: 1.16.x, S, need review

#1412 [R]披萨工艺原文和翻译提交
  projects/1.16/assets/pizzacraft/pizzacraft/lang/en_us.json
  projects/1.16/assets/pizzacraft/pizzacraft/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1425 [M] Terrestria Reforged 原文添加、翻译添加
  projects/1.16/assets/terrestria-reforged/terrestria/lang/en_us.json
  projects/1.16/assets/terrestria-reforged/terrestria/lang/zh_cn.json
Labels: 1.16.x, XL

#1426 [M] Caves & Cliffs Backport 原文更新、翻译更新
  projects/1.16/assets/cavebiomeapi/cavebiomeapi/lang/en_us.json
  projects/1.16/assets/cavebiomeapi/cavebiomeapi/lang/zh_cn.json
  projects/1.16/assets/caves-and-cliffs-backport/cavesandcliffs/lang/en_us.json
  projects/1.16/assets/caves-and-cliffs-backport/cavesandcliffs/lang/zh_cn.json
Labels: 1.16.x, XL

#1424 [R] Exotic Birds: 改善鸟类百科翻译，统一名词。
  projects/1.12.2/assets/aquaculture/aquaculture/lang/zh_cn.lang
  projects/1.12.2/assets/exotic-birds/exoticbirds/lang/en_us.lang
  projects/1.12.2/assets/exotic-birds/exoticbirds/lang/zh_cn.lang
Labels: 1.12.x, XL, need review

#1420 [R] 神秘学1.18.0
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/getting_started/first_ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/chalks.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_guardian.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/possession/possess_ghast.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/getting_started/first_ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/chalks.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_guardian.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_ghast.json
Labels: 1.16.x, L, Rejected, need review

#1418 [R]模拟殖民地zh_cn.json大规模更新
  projects/1.16/assets/minecolonies/minecolonies/lang/en_us.json
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.16.x, Rejected, need review, XXXXL

#1429 [R]下界扩展（infernal expansion）原文更新至2.3.2版本
  projects/1.16/assets/infernal-expansion/infernalexp/lang/en_us.json
Labels: 1.16.x, L, need review

#1417 [WIP] 仓库文档更新
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/ISSUE_TEMPLATE/translation_feedback.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: L, in progress

#1430 [R] 神秘学1.19.x 莎布·尼古拉丝版
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_guardian.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_shub_niggurath.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_chimera.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_guardian.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_shub_niggurath.json
Labels: 1.16.x, L, need review, main

#1433 [R]scape-and-run-parasites1.19.1原文更新和汉化
  projects/1.12.2/assets/scape-and-run-parasites/srparasites/lang/en_us.lang
  projects/1.12.2/assets/scape-and-run-parasites/srparasites/lang/zh_cn.lang
Labels: 1.12.x, L, need review, main

#1431 [R] Infernal Expansion 2.3.2 翻译
  projects/1.16/assets/infernal-expansion/infernalexp/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1434 [M] Immersive Engineering 更新
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 1.16.x, L

#1436 [M]minecolonies翻译提交
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.16.x, L, main

#1440 [R] 新生魔艺1.24 林地行者
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_24.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/resources/weald_walker.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/rituals/awakening.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/resources/weald_walker.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/rituals/awakening.json
Labels: 1.16.x, need review, XXXL, main

#1438 [R] 更新 comfortable nether 原文及翻译至4.9版本
  projects/1.16/assets/comfortable-nether/comfortable_nether/lang/en_us.json
  projects/1.16/assets/comfortable-nether/comfortable_nether/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1428 [R]VanillaCookbook中文与原文更新
  projects/1.16/assets/vanilla-cookbook/vanillacookbook/lang/en_us.json
  projects/1.16/assets/vanilla-cookbook/vanillacookbook/lang/zh_cn.json
Labels: 1.16.x, L, need review, main

#1453 [R] pupil 0.1 翻译添加
  projects/1.16/assets/pupil/iris/lang/en_us.json
  projects/1.16/assets/pupil/iris/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1443 [R] simple gens 简易发电机 3.0.9.2 翻译添加
  projects/1.16/assets/simple-gens/simplegens/lang/en_us.json
  projects/1.16/assets/simple-gens/simplegens/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1448 [R] observable 翻译提交
  projects/1.16/assets/observable/observable/lang/en_us.json
  projects/1.16/assets/observable/observable/lang/zh_cn.json
Labels: 1.16.x, M, need review, main

#1447 [R] 神秘学 occultism 1.20 眼魔
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_beholder.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/getting_started/first_ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_djinni.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_beholder.json
Labels: 1.16.x, L, need review, main

#1451 [R] Tetra 3.19.0 汉化补充
  projects/1.16/assets/tetra/tetra/lang/en_us.json
  projects/1.16/assets/tetra/tetra/lang/zh_cn.json
Labels: 1.16.x, need review, XXXXL, main

#1452 [M]冶金4小修正
  projects/1.12.2/assets/metallurgy/metallurgy/lang/en_us.lang
  projects/1.12.2/assets/metallurgy/metallurgy/lang/zh_cn.lang
Labels: 1.12.x, XXL

#1456 [M]minecolonies翻译更新+Castle in the Sky翻译新增
  projects/1.16/assets/castle-in-the-sky-the-fairytale-of-laputa/castle_in_the_sky/lang/en_us.json
  projects/1.16/assets/castle-in-the-sky-the-fairytale-of-laputa/castle_in_the_sky/lang/zh_cn.json
  projects/1.16/assets/minecolonies/minecolonies/lang/en_us.json
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.16.x, L, main

#1460 [R] QDC - Quantum Dis-Assembly Craft 翻译更新
  projects/1.16/assets/qdc-quantum-dis-assembly-craft/qdc_mod/lang/en_us.json
  projects/1.16/assets/qdc-quantum-dis-assembly-craft/qdc_mod/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1449 [R] woot 1.0.8.0添加版本更新文本
  projects/1.16/assets/woot/woot/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1455 [R]新增模组scape-and-run-parasites-addon-by-nocube及翻译
  projects/1.12.2/assets/scape-and-run-parasites-addon-by-nocube/nocubessrpaddon/lang/en_us.lang
  projects/1.12.2/assets/scape-and-run-parasites-addon-by-nocube/nocubessrpaddon/lang/zh_cn.lang
Labels: 1.12.x, L, need review, main

#1461 [R] Quantum Quarry Plus 翻译添加
  projects/1.16/assets/quantum-querry-plus/quantumquarryplus/lang/en_us.json
  projects/1.16/assets/quantum-querry-plus/quantumquarryplus/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1459 [R] Mining Master (挖矿大师）英文原文及翻译
  projects/1.16/assets/mining-master/miningmaster/lang/en_us.json
  projects/1.16/assets/mining-master/miningmaster/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1439 [R] Twist模组 1.4.1 英文原文及中文翻译
  projects/1.16/assets/twist/twist/lang/en_us.json
  projects/1.16/assets/twist/twist/lang/zh_cn.json
Labels: 1.16.x, XL, need review

#1457 [R] More Mekanism Processing 翻译提交
  projects/1.16/assets/more-mekanism-processing/moremekanismprocessing/lang/en_us.json
  projects/1.16/assets/more-mekanism-processing/moremekanismprocessing/lang/zh_cn.json
Labels: 1.16.x, L, need review, main

#1463 [R] Unnamed animal mod 1.0.2 版本原文及翻译
  projects/1.16/assets/unnamed-animal-mod/unnamedanimalmod/lang/en_us.json
  projects/1.16/assets/unnamed-animal-mod/unnamedanimalmod/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1462 [R] Projectex 1605.2.0-build.3翻译添加
  projects/1.16/assets/projectex-forge/projectex/lang/en_us.json
  projects/1.16/assets/projectex-forge/projectex/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1466 [R]精妙背包改
  projects/1.16/assets/sophisticated-backpacks/sophisticatedbackpacks/lang/en_us.json
  projects/1.16/assets/sophisticated-backpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: 1.16.x, XL, need review, main

#1464 [R] More Minecarts 翻译提交
  projects/1.16/assets/more-minecarts/moreminecarts/lang/en_us.json
  projects/1.16/assets/more-minecarts/moreminecarts/lang/zh_cn.json
Labels: 1.16.x, L, need review
