Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2021-06, with the labels that each got.

#1165 [R] 更新新生魔艺至模组版本1.18｜1.16
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/items/armor.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/items/enchanters_shield.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/items/enchanters_sword.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/machines/ritual.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_16_1.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_17.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/release_notes/new_in_1_18.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/resources/archwood.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/resources/mana_berry.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/rituals/scrying.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/items/armor.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/items/enchanters_shield.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/items/enchanters_sword.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/machines/ritual.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/resources/archwood.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/resources/mana_berry.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/rituals/scrying.json
Labels: 1.16.x

#1169 [R] EnderIO 追随更新｜1.12
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/en_us.lang
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x

#1171 [M] 手册部分章节漏了空格，导致显示<br>
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
Labels: language file change: 1.16.x

#1111 [R]统一 Wafer 的翻译
  projects/1.12.2/assets/advanced-rocketry/advancedrocketry/lang/zh_cn.lang
  projects/1.12.2/assets/blue-power/bluepower/lang/zh_cn.lang
  projects/1.12.2/assets/galaxy-space-addon-for-galacticraft/galaxyspace/lang/zh_cn.lang
  projects/1.12.2/assets/gregtechce/gregtech/lang/zh_cn.lang
  projects/1.12.2/assets/qmd/qmd/lang/zh_cn.lang
  projects/1.12.2/assets/quacklib/quacklib/lang/zh_cn.lang
  projects/1.16/assets/environmental-core/envirocore/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1178 [R] Add translation for Primal Winter
  projects/1.16/assets/primalwinter/lang/en_us.json
  projects/1.16/assets/primalwinter/lang/zh_cn.json
Labels: language file change: 1.16.x

#1176 [R] 添加genetic animals翻译
  projects/1.16/assets/genetic-animals/geneticanimals/lang/en_us.json
  projects/1.16/assets/genetic-animals/geneticanimals/lang/zh_cn.json
Labels: language file change: 1.16.x

#1175 [R] 添加Pirates And Looters Mod译文
  projects/1.16/assets/pirates-and-looters-mod/piratesandlootersreborn/lang/en_us.json
  projects/1.16/assets/pirates-and-looters-mod/piratesandlootersreborn/lang/zh_cn.json
Labels: language file change: 1.16.x

#1177 [M]冷铁改为寒铁
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
Labels: language file change: 1.16.x

#1173 [R] 军团要塞2模组汉化
  projects/1.12.2/assets/tf2-stuff-mod/rafradek_tf2_weapons/lang/en_us.lang
  projects/1.12.2/assets/tf2-stuff-mod/rafradek_tf2_weapons/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1181 [M] Ludicrite译名修正
  projects/1.12.2/assets/extreme-reactors/bigreactors/lang/zh_cn.lang
  projects/1.16/assets/extreme-reactors/bigreactors/lang/zh_cn.json
Labels: language file change: 1.12.x, language file change: 1.16.x

#1180 [R] 更新新生魔艺至1.18.6
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/getting_started/beginning_spells.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/delay.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/glide.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/orbit.json
  projects/1.16/assets/ars-nouveau/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spells/summon_steed.json
Labels: language file change: 1.16.x

#1182 [R] 1.16/修正气动工艺的部分翻译错误
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
Labels: language file change: 1.16.x

#1185 [R]All The Ores: 添加翻译
  projects/1.16/assets/ato/alltheores/lang/zh_cn.json
Labels: language file change: 1.16.x

#1184 [R][M]Decocraft 翻译更新
  projects/1.12.2/assets/decocraft/props/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1183 [R] [W] 修改 Bountiful 的本地化
  projects/1.12.2/assets/bountiful/bountiful/lang/zh_cn.lang
  projects/1.12.2/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1187 [R]authme: 同步上游翻译
  projects/1.16/assets/auth-me/authme/lang/en_us.json
  projects/1.16/assets/auth-me/authme/lang/zh_cn.json
Labels: language file change: 1.16.x

#1174 [WIP]ELe翻译修缮
  projects/1.16/assets/enigmatic-legacy/enigmaticlegacy/lang/en_us.json
  projects/1.16/assets/enigmatic-legacy/enigmaticlegacy/lang/zh_cn.json
Labels: language file change: 1.16.x

#1190 [M]Decocraft 更新（hotfix）
  projects/1.12.2/assets/decocraft/props/lang/zh_cn.lang
Labels: language file change: 1.12.x

#1192 [R] factory tech 语言文件
  projects/1.12.2/assets/factory-tech/factorytech/lang/zh_cn.lang
Labels: language file change: 1.12.x
