Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-04, with the labels that each got.

#1725 [R] Brewevolution 翻译添加
  projects/1.16/assets/brewevolution/brewevolution/lang/en_us.json
  projects/1.16/assets/brewevolution/brewevolution/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1768 [R] Duckymod 翻译提交
  projects/1.16/assets/ducky-mod/duckymod/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review

#1781 Delete projects/1.18/assets/exp-bottling directory
  projects/1.18/assets/exp-bottling/exp_bottling/lang/en_us.json
  projects/1.18/assets/exp-bottling/exp_bottling/lang/zh_cn.json
Labels: 1.18.x, S

#1776 [R] Create Cafe 翻译提交
  projects/1.16/assets/create-cafe/createcafe/lang/en_us.json
  projects/1.16/assets/create-cafe/createcafe/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1775 [R] Tipsy 翻译提交 #CFPA-0637
  projects/1.16/assets/tipsy/tipsy/lang/en_us.json
  projects/1.16/assets/tipsy/tipsy/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1773 [R] TofuCraftReload 翻译更新 #CFPA-0618
  projects/1.18/assets/tofucraftreload/tofucraft/lang/en_us.json
  projects/1.18/assets/tofucraftreload/tofucraft/lang/zh_cn.json
Labels: ready to merge, XL, need review, 1.18.x

#1772 [R] FTB Sluice 翻译提交 #CFPA-0636
  projects/1.16/assets/ftb-sluice/ftbsluice/lang/en_us.json
  projects/1.16/assets/ftb-sluice/ftbsluice/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1777 [R] Apotheosis 翻译更新
  projects/1.18/assets/apotheosis/apotheosis/lang/en_us.json
  projects/1.18/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: ready to merge, XXL, need review, 1.18.x

#1778 [R] Fancy Fluid Storage 翻译提交
  projects/1.16/assets/ffs-fancy-fluid-storage/ffs/lang/en_us.json
  projects/1.16/assets/ffs-fancy-fluid-storage/ffs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1782 [R] Furnish 翻译提交
  projects/1.16/assets/furnish/furnish/lang/en_us.json
  projects/1.16/assets/furnish/furnish/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review

#1774 [R] Forestry丨林业 从 1.12 转换翻译 #CFPA-0621
  projects/1.16/assets/forestry/forestry/lang/en_us.json
  projects/1.16/assets/forestry/forestry/lang/zh_cn.json
Labels: 1.16.x, ready to merge, laborious, need review, XXXL

#1796 [R] Ensorcelled 翻译提交
  projects/1.16/assets/ensorcelled/ensorcelled/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, Forge

#1788 [R] Cultural Delights 翻译更新
  projects/1.16/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.16/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, Forge

#1800 [R] Glassential 翻译削除
  projects/1.16/assets/glassential/glassential/lang/en_us.json
  projects/1.16/assets/glassential/glassential/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 10+, Forge

#1803 [R] On a Stick 翻译提交
  projects/1.18-fabric/assets/onastick/onastick/lang/en_us.json
  projects/1.18-fabric/assets/onastick/onastick/lang/zh_cn.json
  projects/1.18/assets/onastick-forge/onastick/lang/en_us.json
  projects/1.18/assets/onastick-forge/onastick/lang/zh_cn.json
Labels: ready to merge, 40+, need review, 1.18.x, Fabric, Forge

#1787 [R] Create: Alloyed 翻译提交
  projects/1.18/assets/create-alloyed/alloyed/lang/en_us.json
  projects/1.18/assets/create-alloyed/alloyed/lang/zh_cn.json
Labels: ready to merge, 40+, need review, 1.18.x, Forge

#1794 [R] Editsign 翻译提交
  projects/1.16/assets/edit-sign/editsign/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 10+, Forge

#1801 [R] Extraarmor 翻译提交
  projects/1.16/assets/extra-armor/extraarmor/lang/en_us.json
  projects/1.16/assets/extra-armor/extraarmor/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1795 [R] Endertendril 翻译提交
  projects/1.16/assets/ender-tendril/endertendril/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, Forge

#1807 [R] Tinker‘s Construct 1.16 部分翻译修改
  projects/1.16/assets/tinkers-construct/tconstruct/lang/zh_cn.json
Labels: 1.16.x, 100+, need review, Forge

#1816 [R]mcjtylib翻译提交
  projects/1.16/assets/mcjtylib/mcjtylib/lang/zh_cn.json
Labels: 1.16.x, 1+, need review, Forge

#1814 [M]去除一处多余空格
  projects/1.16/assets/tinkers-construct/tconstruct/book/encyclopedia/zh_cn/upgrades/armor/feather_falling.json
Labels: 1.16.x, 1+, Forge

#1811 [R] 更新 README.md 新增翻译资源库
  README.md
Labels: 40+, need review

#1790 [R] Woot 翻译修改
  projects/1.16/assets/woot/woot/lang/zh_cn.json
Labels: 1.16.x, 100+, need review, Forge

#1802 [R] Eyesinthedarkness 翻译提交
  projects/1.16/assets/eyes-in-the-darkness/eyesinthedarkness/lang/en_us.json
  projects/1.16/assets/eyes-in-the-darkness/eyesinthedarkness/lang/zh_cn.json
Labels: 1.16.x, need review, 10+, Forge

#1806 [R] FTB Ultimine (Fabric) 翻译提交
  projects/1.16-fabric/assets/ftb-ultimine-fabric/ftbultimine/lang/en_us.json
  projects/1.16-fabric/assets/ftb-ultimine-fabric/ftbultimine/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-ultimine-fabric/ftbultimine/lang/en_us.json
  projects/1.18-fabric/assets/ftb-ultimine-fabric/ftbultimine/lang/zh_cn.json
Labels: 1.16.x, 40+, need review, 1.18.x, Fabric

#1798 [R] Absent By Design 翻译更新
  projects/1.16/assets/absent-by-design/absentbydesign/lang/en_us.json
  projects/1.16/assets/absent-by-design/absentbydesign/lang/zh_cn.json
  projects/1.18/assets/absent-by-design/absentbydesign/lang/en_us.json
  projects/1.18/assets/absent-by-design/absentbydesign/lang/zh_cn.json
Labels: 1.16.x, need review, 2000+, 1.18.x, Forge

#1819 [R] OldGuns 更新 / 路径修复
  projects/1.16/assets/oldguns/oldguns/en_us.json
  projects/1.16/assets/oldguns/oldguns/lang/en_us.json
  projects/1.16/assets/oldguns/oldguns/lang/zh_cn.json
  projects/1.16/assets/oldguns/oldguns/zh_cn.json
Labels: 1.16.x, 100+, need review, Forge

#1789 [R]SRParasites1.9.3原文及翻译更新
  projects/1.12.2/assets/scape-and-run-parasites/srparasites/lang/en_us.lang
  projects/1.12.2/assets/scape-and-run-parasites/srparasites/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#1821 [M] 翻译修正
  projects/1.16/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#1817 [R] FTB Mods (Forge) 剩余模组翻译提交
  projects/1.16/assets/ftb-dripper-forge/ftbdripper/lang/en_us.json
  projects/1.16/assets/ftb-dripper-forge/ftbdripper/lang/zh_cn.json
  projects/1.16/assets/ftb-essentials-forge/ftbessentials/lang/en_us.json
  projects/1.16/assets/ftb-essentials-forge/ftbessentials/lang/zh_cn.json
  projects/1.16/assets/ftb-industrial-contraptions-forge/ftbic/lang/en_us.json
  projects/1.16/assets/ftb-industrial-contraptions-forge/ftbic/lang/zh_cn.json
  projects/1.16/assets/ftb-industrial-contraptions/ftbic/lang/en_us.json
  projects/1.16/assets/ftb-industrial-contraptions/ftbic/lang/zh_cn.json
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/en_us.json
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/zh_cn.json
  projects/1.16/assets/ftb-sluice/ftbsluice/lang/en_us.json
  projects/1.16/assets/ftb-structures-forge/ftbstructures/lang/en_us.json
  projects/1.16/assets/ftb-structures-forge/ftbstructures/lang/zh_cn.json
  projects/1.18/assets/ftb-dripper-forge/ftbdripper/lang/en_us.json
  projects/1.18/assets/ftb-dripper-forge/ftbdripper/lang/zh_cn.json
  projects/1.18/assets/ftb-essentials-forge/ftbessentials/lang/en_us.json
  projects/1.18/assets/ftb-essentials-forge/ftbessentials/lang/zh_cn.json
  projects/1.18/assets/ftb-industrial-contraptions/ftbic/lang/en_us.json
  projects/1.18/assets/ftb-industrial-contraptions/ftbic/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, need review, 1.18.x, Forge

#1812 [R] FTB Mods（Fabric）翻译提交
  projects/1.16-fabric/assets/ftb-chunks-fabric/ftbchunks/lang/en_us.json
  projects/1.16-fabric/assets/ftb-chunks-fabric/ftbchunks/lang/zh_cn.json
  projects/1.16-fabric/assets/ftb-library-fabric/ftblibrary/lang/en_us.json
  projects/1.16-fabric/assets/ftb-library-fabric/ftblibrary/lang/zh_cn.json
  projects/1.16-fabric/assets/ftb-quests-fabric/ftbquests/lang/en_us.json
  projects/1.16-fabric/assets/ftb-quests-fabric/ftbquests/lang/zh_cn.json
  projects/1.16-fabric/assets/ftb-teams-fabric/ftbteams/lang/en_us.json
  projects/1.16-fabric/assets/ftb-teams-fabric/ftbteams/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-chunks-fabric/ftbchunks/lang/en_us.json
  projects/1.18-fabric/assets/ftb-chunks-fabric/ftbchunks/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-library-fabric/ftblibrary/lang/en_us.json
  projects/1.18-fabric/assets/ftb-library-fabric/ftblibrary/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-quests-fabric/ftbquests/lang/en_us.json
  projects/1.18-fabric/assets/ftb-quests-fabric/ftbquests/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-teams-fabric/ftbteams/lang/en_us.json
  projects/1.18-fabric/assets/ftb-teams-fabric/ftbteams/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 2000+, 1.18.x, Fabric

#1828 [R] Chococraft 翻译恢复
  projects/1.16/assets/chococraft/chococraft/lang/en_us.json
  projects/1.16/assets/chococraft/chococraft/lang/zh_cn.json
Labels: 1.16.x, 100+, need review, Forge

#1804 [R] Mekanism 翻译更新
  projects/1.16/assets/mekanism/mekanism/lang/en_us.json
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 2000+, Forge

#1808 [R] Zollern galaxy 修正和重新审查
  projects/1.12.2/assets/zollern-galaxy/zollerngalaxy/lang/zh_cn.lang
Labels: re-review, 1.12.x, 1+, need review, Forge

#1823 [R] decorative blocks/decorative blocks abnormals/refined-cooking 汉化及补充
  projects/1.16/assets/decorative-blocks-modded-compat/decorative_blocks_abnormals/lang/zh_cn.json
  projects/1.16/assets/decorative-blocks/decorative_blocks/lang/zh_cn.json
  projects/1.16/assets/refined-cooking/refinedcooking/lang/en_us.json
  projects/1.16/assets/refined-cooking/refinedcooking/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1841 [R]【译名修改提议】【Security Craft】Retinal Scanner 虹膜扫描仪→视网膜扫描仪
  projects/1.12.2/assets/security-craft/securitycraft/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, need review, Forge

#1851 [R] Tiny Redstone 翻译提交
  projects/1.16/assets/tiny-redstone/tinyredstone/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, Forge

#1854 [R] 栓(绳) -> 拴(绳)
  projects/1.12.2/assets/1UNKNOWN/astikoor/lang/zh_cn.lang
  projects/1.12.2/assets/animania/animania/lang/zh_cn.lang
  projects/1.12.2/assets/apotheosis/apotheosis/lang/zh_cn.lang
  projects/1.12.2/assets/croparia/croparia/lang/zh_cn.lang
  projects/1.12.2/assets/dark-utilities/darkutils/lang/zh_cn.lang
  projects/1.12.2/assets/dungeon-tactics/dungeontactics/lang/zh_cn.lang
  projects/1.12.2/assets/horse-power/horsepower/lang/zh_cn.lang
  projects/1.16/assets/alexs-mobs/alexsmobs/book/animal_dictionary/zh_cn/spectre.txt
  projects/1.16/assets/astikorcarts/astikorcarts/lang/zh_cn.json
  projects/1.16/assets/colds-block-bank-forge/coldsblockbank/lang/zh_cn.json
  projects/1.16/assets/inventory-pets/inventorypets/lang/zh_cn.json
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.16/assets/waystones/waystones/lang/zh_cn.json
  projects/1.18/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.18/assets/waystones/waystones/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 40+, need review, 1.18.x, Forge

#1849 [R] Simply Light 翻译更新
  projects/1.16/assets/simply-light/simplylight/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1862 [R] 增加 1.12 1.18 McJtyLib 模组翻译 修复
  projects/1.12.2/assets/mcjtylib/mcjtylib/lang/en_us.json
  projects/1.12.2/assets/mcjtylib/mcjtylib/lang/zh_cn.json
  projects/1.18/assets/mcjtylib/mcjtylib/lang/zh_cn.json
Labels: 1.12.x, 1.18.x, Forge

#1853 [M] 两个模组的汉化更新
  projects/1.18/assets/apotheosis/apotheosis/lang/zh_cn.json
  projects/1.18/assets/castle-in-the-sky-the-fairytale-of-laputa/castle_in_the_sky/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#1857 [R] Fabrictools 等8个模组 翻译提交
  projects/1.16/assets/giselbaers-durability-viewer/fabrictools/lang/zh_cn.json
  projects/1.16/assets/glass-cutter/glasscutter/lang/zh_cn.json
  projects/1.16/assets/global-xp/globalxp/lang/zh_cn.json
  projects/1.16/assets/golden-steak/goldensteak/lang/zh_cn.json
  projects/1.16/assets/goprone/goprone/lang/zh_cn.json
  projects/1.16/assets/guidebook/gbook/lang/zh_cn.json
  projects/1.16/assets/harder-branch-mining/hbm/lang/zh_cn.json
  projects/1.16/assets/iap-mekanism/iapmekanism/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, Forge

#1847 [R] Funores等共5个模组（一个双版本）翻译提交
  projects/1.16-fabric/assets/gildedarmor/gildedarmor/lang/zh_cn.json
  projects/1.16/assets/fans-mod/fansmod/lang/zh_cn.json
  projects/1.16/assets/fish-traps/fishtraps/lang/zh_cn.json
  projects/1.16/assets/flopper/flopper/lang/zh_cn.json
  projects/1.16/assets/fun-ores/funores/lang/zh_cn.json
  projects/1.16/assets/gildedarmor/gildedarmor/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, Fabric, Forge

#1791 [R] Corail's Tombstone 翻译更新
  projects/1.16/assets/corail-tombstone/tombstone/lang/zh_cn.json
  projects/1.18/assets/corail-tombstone/tombstone/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 2000+, 1.18.x, Forge

#1825 [R] Suppergerrie2's Drone Mod 翻译提交
  projects/1.12.2/assets/suppergerrie2s-drone-mod/sdrones/lang/en_us.lang
  projects/1.12.2/assets/suppergerrie2s-drone-mod/sdrones/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, need review, Forge

#1818 [R] Malum 翻译提交
  projects/1.18/assets/malum/malum/lang/en_us.json
  projects/1.18/assets/malum/malum/lang/zh_cn.json
Labels: ready to merge, 1000+, need review, 1.18.x, Forge

#1827 [R] Thermal Foundation 翻译更新
  projects/1.16/assets/thermal-foundation/thermal/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, need review, Forge

#1792 [R] Biomes O' Plenty 翻译更新
  projects/1.16/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
  projects/1.18/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, need review, 1.18.x, Forge

#1834 [R] 提交Odd Water Mobs 模组翻译
  projects/1.16/assets/odd-water-mobs/oddwatermobs/lang/en_us.json
  projects/1.16/assets/odd-water-mobs/oddwatermobs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1842 [R] 提交并修改 Ars Arsenal 模组翻译
  projects/1.16/assets/ars-arsenal/arsarsenal/lang/zh_cn.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/categories/arsenal.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/aethermancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/aquamancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/disclaimer.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/geomancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/pyromancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/robes.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/sourcesteel.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/en_us/entries/arsenal/tools.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/categories/arsenal.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/aethermancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/aquamancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/disclaimer.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/geomancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/pyromancy.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/robes.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/sourcesteel.json
  projects/1.16/assets/ars-arsenal/arsarsenal/patchouli_books/tornnotes/zh_cn/entries/arsenal/tools.json
Labels: 1.16.x, 100+, need review, Forge

#1850 [R] Create 翻译更新（与官方仓库版同步）
  projects/1.18/assets/create/create/lang/en_us.json
  projects/1.18/assets/create/create/lang/zh_cn.json
Labels: ready to merge, need review, 2000+, 1.18.x, Forge

#1848 [R] Rftools 翻译更新
  projects/1.16/assets/rftools-base/rftoolsbase/lang/zh_cn.json
  projects/1.16/assets/rftools-builder/rftoolsbuilder/lang/zh_cn.json
  projects/1.16/assets/rftools-control/rftoolscontrol/lang/zh_cn.json
  projects/1.16/assets/rftools-dimensions/rftoolsdim/lang/zh_cn.json
  projects/1.16/assets/rftools-power/rftoolspower/lang/zh_cn.json
  projects/1.16/assets/rftools-storage/rftoolsstorage/lang/zh_cn.json
  projects/1.16/assets/rftools-utility/rftoolsutility/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1840 [R]修正 somanyenchantments 模组部分翻译
  projects/1.12.2/assets/so-many-enchantments/somanyenchantments/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, need review, 10+, Forge

#1844 [R] Forbidden and Arcanus 翻译恢复并补全
  projects/1.16/assets/forbidden-arcanus/forbidden_arcanus/lang/en_us.json
  projects/1.16/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, need review, Forge

#1845 [R] potion descriptions 翻译
  projects/1.16/assets/potion-descriptions/potiondescriptions/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1866 [R] 修改Scape and Run: Parasites的模组译名
  projects/1.12.2/assets/scape-and-run-parasites/srparasites/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, need review, Forge

#1865 [R] Avaritiaddons 翻译提交 来自工单#CFPA-0642
  projects/1.12.2/assets/avaritiaddons/avaritiaddons/lang/en_us.lang
  projects/1.12.2/assets/avaritiaddons/avaritiaddons/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, need review, Forge

#1864 [R] Caged Mobs 翻译提交
  projects/1.16/assets/caged-mobs/cagedmobs/lang/en_us.json
  projects/1.16/assets/caged-mobs/cagedmobs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1826 [R]提交Dimensional Pockets II模组的翻译
  projects/1.12.2/assets/dimensional-pockets-ii/dimensionalpocketsii/lang/en_us.lang
  projects/1.12.2/assets/dimensional-pockets-ii/dimensionalpocketsii/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#1860 [R] 8个模组翻译
  projects/1.16/assets/avaritia-lite/avaritia/lang/en_us.json
  projects/1.16/assets/avaritia-lite/avaritia/lang/zh_cn.json
  projects/1.16/assets/corail-woodcutter/corail_woodcutter/lang/en_us.json
  projects/1.16/assets/corail-woodcutter/corail_woodcutter/lang/zh_cn.json
  projects/1.16/assets/entangled/entangled/lang/zh_cn.json
  projects/1.16/assets/more-charcoal/morecharcoal/lang/zh_cn.json
  projects/1.16/assets/mystical-agriculture-tiered-crystals/matc/lang/zh_cn.json
  projects/1.16/assets/packagedexcrafting/packagedexcrafting/lang/zh_cn.json
  projects/1.16/assets/potion-bundles/potionbundles/lang/en_us.json
  projects/1.16/assets/potion-bundles/potionbundles/lang/zh_cn.json
  projects/1.16/assets/projectextended/assets/projectextended/lang/en_us.json
  projects/1.16/assets/projectextended/assets/projectextended/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1867 [R] Upgrade Aquatic “煮熟的” 统一为 “煮过的”
  projects/1.16/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, Forge

#1872 [M] 修正 Apotheosis 一处错字
  projects/1.12.2/assets/apotheosis/apotheosis/lang/zh_cn.lang
  projects/1.16/assets/apotheosis/apotheosis/lang/zh_cn.json
  projects/1.18/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 1+, 1.18.x, Forge

#1876 [R] Ender Bags 翻译提交
  projects/1.16/assets/ignition-enderbags/ender_bags/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 10+, Forge

#1888 [R] Forestcraft 译名修改 Alpha型狂犬→狂犬头领
  projects/1.16/assets/astemirs-forest-craft/forestcraft/lang/zh_cn.json
  projects/1.18/assets/astemirs-forest-craft/forestcraft/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 1.18.x, 10+, Forge

#1861 [R] 星辉附加等3个模组汉化
  projects/1.12.2/assets/astral-additions/astraladditions/lang/en_us.lang
  projects/1.12.2/assets/astral-additions/astraladditions/lang/zh_cn.lang
  projects/1.12.2/assets/filing-cabinets-refurbished/filcabref/lang/en_us.lang
  projects/1.12.2/assets/filing-cabinets-refurbished/filcabref/lang/zh_cn.lang
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/en_us.lang
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#1830 [R] ProjectEX 1.16 翻译提交
  projects/1.16/assets/projectex-forge/projectex/lang/en_us.json
  projects/1.16/assets/projectex-forge/projectex/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1887 [R] Creeper Dollars翻译提交
  projects/1.12.2/assets/creeper-dollars/creeperdollars/lang/en_us.lang
  projects/1.12.2/assets/creeper-dollars/creeperdollars/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, in progress, need review, Forge

#1892 [M] Delete Farming For Blockheads
  projects/1.16/assets/farming-for-blockheads/farmingforblockheads/lang/en_us.json
  projects/1.16/assets/farming-for-blockheads/farmingforblockheads/lang/zh_cn.json
Labels: 1.16.x, 40+, Forge

#1859 [R] 增加 Rings of Ascension 翻译
  projects/1.16-fabric/assets/fabric-rings-of-ascension/ringsofascension/lang/zh_cn.json
  projects/1.16-fabric/assets/respawnable-pets/respawnablepets/lang/en_us.json
  projects/1.16-fabric/assets/respawnable-pets/respawnablepets/lang/zh_cn.json
  projects/1.16/assets/rings-of-ascension/ringsofascension/lang/zh_cn.json
  projects/1.18-fabric/assets/fabric-rings-of-ascension/ringsofascension/lang/zh_cn.json
  projects/1.18-fabric/assets/respawnable-pets/respawnablepets/lang/en_us.json
  projects/1.18-fabric/assets/respawnable-pets/respawnablepets/lang/zh_cn.json
  projects/1.18/assets/respawnable-pets/respawnablepets/lang/zh_cn.json
  projects/1.18/assets/rings-of-ascension/ringsofascension/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Fabric, Forge

#1870 [R] Sushimod 与 Automated crafting 模组翻译
  projects/1.18-fabric/assets/automated-crafting/automated_crafting/lang/zh_cn.json
  projects/1.18-fabric/assets/exlines-sushi-mod/sushimod/lang/zh_cn.json
Labels: ready to merge, 40+, need review, 1.18.x, Fabric

#1875 [M] mekanism matter 修正及更新
  projects/1.16/assets/mekanism-matter/mekanismmatter/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#1878 [R] BYG 1.18 翻译提交
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: ready to merge, need review, 2000+, 1.18.x, Forge

#1880 [R] Create Stuff Additions 更新 来自工单#CFPA-0649
  projects/1.18/assets/create-stuff-additions/create_stuff_additions/lang/zh_cn.json
Labels: ready to merge, need review, 1.18.x, 10+, Forge

#1879 [R] Embellished Enchanting 翻译提交 来自工单#CFPA-0651
  projects/1.18/assets/embellished-enchanting/embellishedenchanting/lang/en_us.json
  projects/1.18/assets/embellished-enchanting/embellishedenchanting/lang/zh_cn.json
Labels: ready to merge, 40+, need review, 1.18.x, Forge

#1881 [R] Manaita Plus 翻译提交 来自工单#CFPA-0643
  projects/1.12.2/assets/manaita-plus/manaita_plus/lang/en_us.lang
  projects/1.12.2/assets/manaita-plus/manaita_plus/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#1890 [M] 1.18.2 模拟殖民地及其四个前置的翻译更新
  projects/1.18/assets/blockui/blockui/lang/en_us.json
  projects/1.18/assets/blockui/blockui/lang/zh_cn.json
  projects/1.18/assets/domum-ornamentum/domum_ornamentum/lang/en_us.json
  projects/1.18/assets/domum-ornamentum/domum_ornamentum/lang/zh_cn.json
  projects/1.18/assets/minecolonies/minecolonies/lang/en_us.json
  projects/1.18/assets/minecolonies/minecolonies/lang/zh_cn.json
  projects/1.18/assets/multi-piston/multipiston/lang/en_us.json
  projects/1.18/assets/multi-piston/multipiston/lang/zh_cn.json
  projects/1.18/assets/structurize/structurize/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#1874 [R] Productive Bees 1.16 翻译提交
  projects/1.16/assets/productivebees/productivebees/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, need review, Forge

#1831 [R] BYG 1.16 翻译提交
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 2000+, Forge

#1883 [R] Tinker Toolcasts 翻译提交 来自工单#CFPA-0646
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/en_us.lang
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, need review, Forge

#1895 [R] Embellished Enchanting 翻译修正
  projects/1.18/assets/embellished-enchanting/embellishedenchanting/lang/zh_cn.json
Labels: ready to merge, 1+, need review, 1.18.x, Forge

#1900 [R] fix #1898 lycanitesmobs 导致原版条件下显示错误
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/zh_cn.lang
Labels: 1.12.x, 1+, need review, Forge

#1877 [R] 提交 EnderIO Alloys 翻译
  projects/1.16/assets/enderio-alloys/enderioalloys/lang/en_us.json
  projects/1.16/assets/enderio-alloys/enderioalloys/lang/zh_cn.json
Labels: 1.16.x, 100+, in progress, need review, Forge

#1893 [R] 雾金->乌鲁
  projects/1.12.2/assets/mekanismores/mekores/lang/zh_cn.lang
  projects/1.12.2/assets/taiga-tinkers-alloying-addon/taiga/lang/zh_cn.lang
  projects/1.16/assets/taiga2/taiga/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, need review, 10+, Forge

#1907 [R]Upgraded Netherite Series翻译修正
  projects/1.16/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/zh_cn.json
  projects/1.16/assets/upgraded-netherite/upgradednetherite/lang/zh_cn.json
  projects/1.18/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/zh_cn.json
  projects/1.18/assets/upgraded-netherite-items/upgradednetherite_items/lang/zh_cn.json
  projects/1.18/assets/upgraded-netherite/upgradednetherite/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Forge

#1906 [R] Titles 翻译提交
  projects/1.16/assets/titles/titles/lang/en_us.json
  projects/1.16/assets/titles/titles/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge
