Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-01, with the labels that each got.

#1482 [R] 更新红石控制2至1.1.0.0
  projects/1.16/assets/cd4017be-library/cd4017be_lib/lang/zh_cn.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/en_us.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/lang/zh_cn.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/book.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/categories/automation.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/categories/basics.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/categories/theory.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/autocrafting.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/blockbreaker.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/blockinteraction.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/circuit_debug.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/connecting.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/energy.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/io.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/itemuser.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/placement.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/signals.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/timing.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/entries/transport.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/templates/item.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/templates/spotlight0.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/templates/spotlight2.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/templates/spotlight3.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/en_us/templates/spotlight4.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/categories/automation.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/categories/basics.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/categories/theory.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/autocrafting.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/blockbreaker.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/blockinteraction.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/circuit_debug.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/connecting.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/energy.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/io.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/itemuser.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/placement.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/signals.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/timing.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/entries/transport.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/templates/item.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/templates/spotlight0.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/templates/spotlight2.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/templates/spotlight3.json
  projects/1.16/assets/redstone-control-2/rs_ctr2/patchouli_books/manual/zh_cn/templates/spotlight4.json
Labels: 1.16.x, XXL, need review, main

#1487 [R] Alex 的生物
  projects/1.16/assets/alexs-mobs/alexsmobs/lang/en_us.json
  projects/1.16/assets/alexs-mobs/alexsmobs/lang/zh_cn.json
Labels: 1.16.x, XL, need review

#1472 [R] fluid system 翻译添加
  projects/1.16/assets/fluid-system/fluidsystem/lang/en_us.json
  projects/1.16/assets/fluid-system/fluidsystem/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1481 [R] xaeros world map 翻译更新
  projects/1.16/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.16/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1480 [R] Envirotech 英语lang文件key值错误修正
  projects/1.16/assets/environmental-tech/envirotech/lang/en_us.json
  projects/1.16/assets/environmental-tech/envirotech/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1492 [R] JAOPCA 模组物品汉化补充
  projects/1.16/assets/jaopca/jaopca/lang/zh_cn.json
Labels: 1.16.x, S, need review

#1495 [R] Space boss tools 翻译更新
  projects/1.16/assets/space-bosstools/boss_tools/lang/en_us.json
  projects/1.16/assets/space-bosstools/boss_tools/lang/zh_cn.json
Labels: 1.16.x, XL, need review

#1498 [M] Lycanitesmobs 英文更新 1.12.2 v2.0.8.4
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/en_us.lang
Labels: 1.12.x, XXL

#1497 [M][R] Forgottenitems 翻译提交
  projects/1.12.2/assets/forgotten-items/forgottenitems/lang/zh_cn.lang
Labels: 1.12.x, S, need review

#1489 [R] Xaeros minimap 翻译更新
  projects/1.16/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.json
  projects/1.16/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.json
Labels: 1.16.x, XXL, need review

#1496 [R] Space BossTools Giselle Addon 翻译添加
  projects/1.16/assets/Space-BossTools-Giselle-Addon/boss_tools_giselle_addon/lang/en_us.json
  projects/1.16/assets/Space-BossTools-Giselle-Addon/boss_tools_giselle_addon/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1491 [R] Mystical agradditions 翻译更新
  projects/1.16/assets/mystical-agradditions/mysticalagradditions/lang/en_us.json
  projects/1.16/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1490 [R] Mystical Agriculture 翻译更新
  projects/1.16/assets/mystical-agriculture/mysticalagriculture/lang/en_us.json
  projects/1.16/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: 1.16.x, XXL, need review

#1493 [R] Solar flux reborn 16.3.9 翻译添加
  projects/1.16/assets/solar-flux-reborn/solarflux/lang/en_us.json
  projects/1.16/assets/solar-flux-reborn/solarflux/lang/zh_cn.json
  projects/1.16/assets/solar-flux-reborn/solarflux/langs/en_us.hl
  projects/1.16/assets/solar-flux-reborn/solarflux/langs/zh_cn.hl
Labels: 1.16.x, L, need review

#1494 [R] Projecte 翻译更新
  projects/1.16/assets/projecte/projecte/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1505 [R] Fishing made better 翻译提交
  projects/1.12.2/assets/fishing-made-better/fishingmadebetter/lang/en_us.lang
  projects/1.12.2/assets/fishing-made-better/fishingmadebetter/lang/zh_cn.lang
Labels: 1.12.x, M, need review

#1509 [R] Simple Difficulty 修改
  projects/1.12.2/assets/simpledifficulty/simpledifficulty/lang/en_us.lang
  projects/1.12.2/assets/simpledifficulty/simpledifficulty/lang/zh_cn.lang
Labels: 1.12.x, L, need review

#1508 [R] 更新工业线缆 Industrial Wires ReEngineered
  projects/1.12.2/assets/industrial-wires-reengineered/industrialwires/lang/en_us.lang
  projects/1.12.2/assets/industrial-wires-reengineered/industrialwires/lang/zh_cn.lang
  projects/1.12.2/assets/industrial-wires/industrialwires/lang/zh_cn.lang
Labels: 1.12.x, L, need review, main

#1502 [R] Locks 翻译提交
  projects/1.12.2/assets/locks/locks/lang/en_us.lang
  projects/1.12.2/assets/locks/locks/lang/zh_cn.lang
Labels: 1.12.x, L, need review, main

#1511 [R] 更新工程师的装饰 Engineer's Decor
  projects/1.12.2/assets/engineers-decor/engineersdecor/lang/zh_cn.lang
Labels: 1.12.x, L, need review, main

#1506 [R] Spartan weaponry 翻译更新
  projects/1.12.2/assets/spartan-weaponry/spartanweaponry/lang/en_us.lang
  projects/1.12.2/assets/spartan-weaponry/spartanweaponry/lang/zh_cn.lang
Labels: 1.12.x, XL, need review

#1512 [R] callablehorses 英文上传 中文新增
  projects/1.12.2/assets/Callable Horses/callablehorses/lang/en_us.lang
  projects/1.12.2/assets/Callable Horses/callablehorses/lang/zh_cn.lang
Labels: 1.12.x, M, need review

#1515 [R] 神化更新
  projects/1.16/assets/apotheosis/apotheosis/lang/en_us.json
  projects/1.16/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: 1.16.x, M, need review, main

#1507 [R][P] lycanitesmobs 中文汉化补全 1.12.2_v2.0.8.4
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/zh_cn.lang
Labels: 1.12.x, hard, need review, XXXL

#1518 [R]meet your fight
  projects/1.16/assets/meet-your-fight/meetyourfight/lang/zh_cn.json
Labels: 1.16.x, M, need review, main

#1510 [M] HOP 石墨 -> 高定向热解石墨
  projects/1.12.2/assets/immersive-engineering/immersiveengineering/lang/zh_cn.lang
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
  projects/1.16/assets/croparia/croparia/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/manual/zh_cn/graphite.txt
  projects/1.16/assets/jaopca/jaopca/lang/zh_cn.json
  projects/1.16/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, S
