Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-10, with the labels that each got.

#2352 Verdure 1.18翻译提交
  projects/1.18/assets/verdure/verdure/lang/en_us.json
  projects/1.18/assets/verdure/verdure/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2454 Ex Nihilo: Sequentia翻译更新
  projects/1.18/assets/ex-nihilo-sequentia/exnihilosequentia/lang/en_us.json
  projects/1.18/assets/ex-nihilo-sequentia/exnihilosequentia/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2133 [R] Weeping Angels 翻译提交
  projects/1.18/assets/weeping-angels-mod/weeping_angels/lang/en_us.json
  projects/1.18/assets/weeping-angels-mod/weeping_angels/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#1975 [R] forgotten treasures 翻译提交
  projects/1.16/assets/forgotten-treasures/forgotten_treasures/lang/en_us.json
  projects/1.16/assets/forgotten-treasures/forgotten_treasures/lang/zh_cn.json
Labels: 1.16.x, 40+, need review, Forge

#2296 AgriCraft 官中拉取
  projects/1.12.2/assets/agricraft/agricraft/lang/en_us.lang
  projects/1.12.2/assets/agricraft/agricraft/lang/zh_cn.lang
Labels: 1.12.x, 100+, Forge

#2231 ATM 全家桶官库同步
  projects/1.18/assets/all-the-tweaks/allthetweaks/lang/en_us.json
  projects/1.18/assets/allthecompressed/allthecompressed/lang/en_us.json
  projects/1.18/assets/allthecompressed/allthecompressed/lang/zh_cn.json
  projects/1.18/assets/allthemodium/allthemodium/lang/en_us.json
  projects/1.18/assets/allthemodium/allthemodium/lang/zh_cn.json
  projects/1.18/assets/ato/alltheores/lang/en_us.json
  projects/1.18/assets/ato/alltheores/lang/zh_cn.json
Labels: 2000+, 1.18.x, Forge

#2313 Utility worlds 翻译提交
  projects/1.18/assets/utility-worlds/utilityworlds/lang/en_us.json
  projects/1.18/assets/utility-worlds/utilityworlds/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2408 Stalwart Dungeons 翻译更新
  projects/1.18/assets/stalwart-dungeons/stalwart_dungeons/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2405 iron-furnaces 翻译更新
  projects/1.18/assets/iron-furnaces/ironfurnaces/lang/en_us.json
  projects/1.18/assets/iron-furnaces/ironfurnaces/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2475 Tinkers Bounce Pad 翻译更新/提交
  projects/1.16/assets/tbouncepad/tbouncepad/lang/zh_cn.json
  projects/1.16/assets/tinkers-bounce-pad/tbouncepad/lang/en_us.json
  projects/1.16/assets/tinkers-bounce-pad/tbouncepad/lang/zh_cn.json
  projects/1.18/assets/tinkers-bounce-pad/tbouncepad/lang/en_us.json
  projects/1.18/assets/tinkers-bounce-pad/tbouncepad/lang/zh_cn.json
Labels: 1.16.x, 1.18.x, 10+, Forge

#2476 Slab Machines 翻译提交
  projects/1.16/assets/slab-machines/slabmachines/lang/en_us.json
  projects/1.16/assets/slab-machines/slabmachines/lang/zh_cn.json
  projects/1.18/assets/slab-machines/slabmachines/lang/en_us.json
  projects/1.18/assets/slab-machines/slabmachines/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#2360 oneblock 核心部分翻译
  projects/1.16/assets/one-block-forge/oneblock/lang/en_us.json
  projects/1.16/assets/one-block-forge/oneblock/lang/zh_cn.json
Labels: 1.16.x, 40+, Forge

#2413 Unearthed翻译提交
  projects/1.18/assets/unearthed/unearthed/lang/en_us.json
  projects/1.18/assets/unearthed/unearthed/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2430 Blood Smeltery 和 Blue Skies Tinkers Compat 翻译提交
  projects/1.18/assets/blood-smeltery/bloodsmeltery/lang/en_us.json
  projects/1.18/assets/blood-smeltery/bloodsmeltery/lang/zh_cn.json
  projects/1.18/assets/blue_skies_tcon/blue_skies_tcon/lang/en_us.json
  projects/1.18/assets/blue_skies_tcon/blue_skies_tcon/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2477 Tinkers' Integrations and Tweaks 翻译提交
  projects/1.18/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2443 提交 create-experienced 模组翻译和原文件
  projects/1.18/assets/create-experienced/create_experienced/lang/en_us.json
  projects/1.18/assets/create-experienced/create_experienced/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2442 提交 create-deco 模组翻译和源文件
  projects/1.18/assets/create-deco/createdeco/lang/en_us.json
  projects/1.18/assets/create-deco/createdeco/lang/zh_cn.json
Labels: 1000+, 1.18.x, Forge

#2480 删除 CONTRIBUTING.md 中有关 osTicket 的部分
  CONTRIBUTING.md
Labels: 10+

#2330 Ender crop 翻译新增
  projects/1.18/assets/ender-crop/endercrop/lang/en_us.json
  projects/1.18/assets/ender-crop/endercrop/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2312 Paperdoll 翻译提交
  projects/1.18/assets/paperdoll/paperdoll/lang/en_us.json
  projects/1.18/assets/paperdoll/paperdoll/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2316 More overlays updated 翻译提交
  projects/1.18/assets/more-overlays-updated/moreoverlays/lang/en_us.json
  projects/1.18/assets/more-overlays-updated/moreoverlays/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2314 Simple hearts 翻译提交
  projects/1.18/assets/simple-hearts/simple_hearts/lang/en_us.json
  projects/1.18/assets/simple-hearts/simple_hearts/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2485 Ores Above Diamonds 翻译新增
  projects/1.18/assets/ores-above-diamonds/oresabovediamonds/lang/en_us.json
  projects/1.18/assets/ores-above-diamonds/oresabovediamonds/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2487 Fantasy's Dice 翻译新增
  projects/1.18/assets/fantasys-dice/fantasydice/lang/en_us.json
  projects/1.18/assets/fantasys-dice/fantasydice/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2423 Nethers Exoticism 翻译提交
  projects/1.18/assets/nethers-exoticism/nethers_exoticism/lang/en_us.json
  projects/1.18/assets/nethers-exoticism/nethers_exoticism/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2416 Extended Mushrooms 翻译更新
  projects/1.18/assets/extended-mushrooms/extendedmushrooms/lang/en_us.json
  projects/1.18/assets/extended-mushrooms/extendedmushrooms/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2493 Smooth Swapping 翻译提交
  projects/1.18-fabric/assets/smooth-swapping/smoothswapping/lang/en_us.json
  projects/1.18-fabric/assets/smooth-swapping/smoothswapping/lang/zh_cn.json
Labels: 1.18.x, 10+, Fabric

#2494 Sodium 1.18 翻译更新
  projects/1.18-fabric/assets/sodium/sodium/lang/zh_cn.json
Labels: 1+, 1.18.x, Fabric

#2489 Large Meals 翻译更新
  projects/1.18/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2497 Cultural Delights 翻译更新
  projects/1.18/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.18/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2192 Create Confectionery 翻译更新
  projects/1.18/assets/create-confectionery/create_confectionery/lang/en_us.json
  projects/1.18/assets/create-confectionery/create_confectionery/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2174 Mini utilties 1.18 翻译提交
  projects/1.18/assets/miniutilities/miniutilities/lang/en_us.json
  projects/1.18/assets/miniutilities/miniutilities/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2501 Additional Lights 翻译更新
  projects/1.18/assets/additional-lights/additional_lights/lang/en_us.json
  projects/1.18/assets/additional-lights/additional_lights/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2229 Team Abnormals 与 Team Aurora 系列模组翻译更新
  projects/1.18/assets/berry-good/berry_good/lang/en_us.json
  projects/1.18/assets/berry-good/berry_good/lang/zh_cn.json
  projects/1.18/assets/enhanced-mushrooms/enhanced_mushrooms/lang/en_us.json
  projects/1.18/assets/enhanced-mushrooms/enhanced_mushrooms/lang/zh_cn.json
  projects/1.18/assets/incubation/incubation/lang/en_us.json
  projects/1.18/assets/incubation/incubation/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#1992 [R] Croptopia 和 Croptopia's Chocolaterie 翻译提交与更新
  projects/1.18/assets/croptopia-fabric/croptopia/lang/zh_cn.json
  projects/1.18/assets/croptopia/croptopia/lang/en_us.json
  projects/1.18/assets/croptopia/croptopia/lang/zh_cn.json
  projects/1.18/assets/croptopias-chocolaterie-forge/cacao/lang/en_us.json
  projects/1.18/assets/croptopias-chocolaterie-forge/cacao/lang/zh_cn.json
Labels: 1000+, need review, 1.18.x, Forge

#2502 Additional Lights 1.16.5翻译更新
  projects/1.16/assets/additional-lights/additional_lights/lang/en_us.json
  projects/1.16/assets/additional-lights/additional_lights/lang/zh_cn.json
Labels: 1.16.x, 500+, Forge

#2505 Immersive Engineering 沉浸工程 [修复手册翻译导致的崩溃] 翻译更新
  projects/1.18/assets/immersive-engineering/immersiveengineering/manual/zh_cn/bottling_machine.txt
  projects/1.18/assets/immersive-engineering/immersiveengineering/manual/zh_cn/bullets.txt
  projects/1.18/assets/immersive-engineering/immersiveengineering/manual/zh_cn/crude_blast_furnace.txt
  projects/1.18/assets/immersive-engineering/immersiveengineering/manual/zh_cn/improved_blast_furnace.txt
  projects/1.18/assets/immersive-engineering/immersiveengineering/manual/zh_cn/plastic.txt
Labels: 40+, 1.18.x, Forge

#2506 Nightlights 翻译提交
  projects/1.18/assets/nightlights/nightlights/lang/en_us.json
  projects/1.18/assets/nightlights/nightlights/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2255 When Dungeons Arise 翻译提交
  projects/1.16/assets/when-dungeons-arise/dungeons_arise/lang/en_us.json
  projects/1.16/assets/when-dungeons-arise/dungeons_arise/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#2508 Compat O' Plenty 官中拉取
  projects/1.18/assets/compat-o-plenty/compatoplenty/lang/en_us.json
  projects/1.18/assets/compat-o-plenty/compatoplenty/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2488 Brewin' And Chewin' 翻译新增
  projects/1.18/assets/brewin-and-chewin/brewinandchewin/lang/en_us.json
  projects/1.18/assets/brewin-and-chewin/brewinandchewin/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2185 Creatures and Beasts 翻译提交
  projects/1.16/assets/creatures-and-beasts/cnb/lang/en_us.json
  projects/1.16/assets/creatures-and-beasts/cnb/lang/zh_cn.json
  projects/1.18/assets/creatures-and-beasts/cnb/lang/en_us.json
  projects/1.18/assets/creatures-and-beasts/cnb/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#2426 Compact Void Miners 翻译新增
  projects/1.18/assets/compact-void-miners/compactvoidminers/lang/en_us.json
  projects/1.18/assets/compact-void-miners/compactvoidminers/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2510 Alloy Forgery 翻译更新，根据作者建议
  projects/1.18-fabric/assets/alloy-forgery/alloy_forgery/lang/zh_cn.json
Labels: 1.18.x, 10+, Fabric

#2465 EverlastingAbilities 翻译更新
  projects/1.18/assets/everlastingabilities/everlastingabilities/lang/en_us.json
  projects/1.18/assets/everlastingabilities/everlastingabilities/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2503 Jobs+ 翻译新增
  projects/1.18/assets/jobsplus/jobsplus/lang/en_us.json
  projects/1.18/assets/jobsplus/jobsplus/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2490 The Undergarden 翻译更新
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
  projects/1.18/assets/the-undergarden/undergarden/lang/en_us.json
  projects/1.18/assets/the-undergarden/undergarden/lang/zh_cn.json
Labels: 1000+, 1.18.x, Forge

#2514 MEGA Cells 翻译更新
  projects/1.18/assets/mega-cells/megacells/lang/en_us.json
  projects/1.18/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2511 Large Meals 翻译更新
  projects/1.18/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/en_us.json
  projects/1.18/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2491 The Twilight Forest 翻译拉取与更新
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
  projects/1.18/assets/the-twilight-forest/twilightforest/lang/en_us.json
  projects/1.18/assets/the-twilight-forest/twilightforest/lang/zh_cn.json
Labels: 2000+, 1.18.x, Forge

#2525 Chococraft 翻译提交
  projects/1.18/assets/chococraft/chococraft/lang/en_us.json
  projects/1.18/assets/chococraft/chococraft/lang/zh_cn.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/book.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/categories/info.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/categories/legacy.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/chicobo.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/chocobo.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/chocodisguise.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/feather.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/gold_gysahl.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/gysahl_cake.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/gysahl_green.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/loverly_gysahl.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/pickled_gysahl.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/pink_gysahl.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/raw_drumstick.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/red_gysahl.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/saddle.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/info/straw.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/en_us/entries/legacy/info.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/zh_cn/entries/info/chicobo.json
  projects/1.18/assets/chococraft/chococraft/patchouli_books/chocopedia/zh_cn/entries/info/chocobo.json
Labels: 500+, 1.18.x, Forge, Patchouli

#2521 Hardcore Torches 翻译新增
  projects/1.18-fabric/assets/hardcore-torches/hardcore_torches/lang/en_us.json
  projects/1.18-fabric/assets/hardcore-torches/hardcore_torches/lang/zh_cn.json
  projects/1.18/assets/hardcore-torches-forge/hardcore_torches/lang/en_us.json
  projects/1.18/assets/hardcore-torches-forge/hardcore_torches/lang/zh_cn.json
Labels: 40+, 1.18.x, Fabric, Forge

#2529 growthcraft-trapper 翻译提交
  projects/1.16/assets/growthcraft-trapper/growthcraft_trapper/lang/en_us.json
  projects/1.16/assets/growthcraft-trapper/growthcraft_trapper/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#2530 growthcraft-decorations 汉化提交
  projects/1.16/assets/growthcraft-decorations/growthcraft_deco/lang/en_us.json
  projects/1.16/assets/growthcraft-decorations/growthcraft_deco/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2513 Applied Botanics 翻译更新
  projects/1.18/assets/applied-botanics-addon/appbot/lang/en_us.json
  projects/1.18/assets/applied-botanics-addon/appbot/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2516 Critters and Companions 翻译提交
  projects/1.18/assets/critters-and-companions/crittersandcompanions/lang/en_us.json
  projects/1.18/assets/critters-and-companions/crittersandcompanions/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2482 Rubidium 1.18.2 翻译提交
  projects/1.18/assets/rubidium/sodium/lang/en_us.json
  projects/1.18/assets/rubidium/sodium/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2527 growthcraft-community-edition 翻译提交
  projects/1.16/assets/growthcraft-community-edition/growthcraft/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_apiary/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_apiary/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_apples/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_apples/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_bamboo/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_bamboo/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_cellar/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_cellar/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_milk/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_milk/lang/zh_cn.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_rice/lang/en_us.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft_rice/lang/zh_cn.json
Labels: 1.16.x, 500+, Forge

#2532 Rubidium(forge)和Sodium(fabric) 翻译更新
  projects/1.18-fabric/assets/sodium/sodium/lang/zh_cn.json
  projects/1.18/assets/rubidium/sodium/lang/en_us.json
  projects/1.18/assets/rubidium/sodium/lang/zh_cn.json
Labels: 100+, 1.18.x, Fabric, Forge

#2533 Compressed Creativity 翻译提交
  projects/1.18/assets/compressedcreativity/compressedcreativity/lang/en_us.json
  projects/1.18/assets/compressedcreativity/compressedcreativity/lang/zh_cn.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/categories/compressed_creativity.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/air_blower.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/brackets.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/compressed_air_engine.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/intro.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/mechanical_visor_upgrade.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/rotational_compressor.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/categories/compressed_creativity.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/air_blower.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/brackets.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/compressed_air_engine.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/intro.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/mechanical_visor_upgrade.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/rotational_compressor.json
Labels: 100+, 1.18.x, Forge, Patchouli

#2383 提交enhanced-mob-spawners翻译
  projects/1.18-fabric/assets/enhanced-mob-spawners/spawnermod/lang/zh_cn.json
Labels: 1.18.x, 10+, Fabric

#2535 更新 Enhanced Mob Spawners 中文
  projects/1.18-fabric/assets/enhanced-mob-spawners/spawnermod/lang/zh_cn.json
Labels: 40+, 1.18.x, Fabric

#2536 growthcraft-community-edition帕秋莉手册翻译
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/book.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/apiary.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/apples.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/bamboo.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/cellar.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/milk.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/categories/rice.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/apiary/apiary_candles.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/apiary/apiary_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/apiary/apiary_mead.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/apples/apples_crafting.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/apples/apples_growing.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/bamboo/bamboo_crafting.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/cellar/ales_and_lagers.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/cellar/brew_kettle.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/cellar/cellar_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/cellar/ferment_barrel.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/cellar/yeast.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/milk/milk_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/en_us/entries/rice/rice_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/apiary.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/apples.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/bamboo.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/cellar.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/milk.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/categories/rice.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/apiary/apiary_candles.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/apiary/apiary_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/apiary/apiary_mead.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/apples/apples_crafting.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/apples/apples_growing.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/bamboo/bamboo_crafting.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/cellar/ales_and_lagers.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/cellar/brew_kettle.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/cellar/cellar_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/cellar/ferment_barrel.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/cellar/yeast.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/milk/milk_intro.json
  projects/1.16/assets/growthcraft-community-edition/growthcraft/patchouli_books/manual/zh_cn/entries/rice/rice_intro.json
Labels: 1.16.x, 500+, Forge, Patchouli

#1927 [R] Xaero's World Map
  projects/1.12.2/assets/xaeros-world-map/xaeroworldmap/lang/en_us.lang
  projects/1.12.2/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#2543 提交 Italian's Delight 模组翻译
  projects/1.18/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/en_us.json
  projects/1.18/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2524 Chalk 翻译更新
  projects/1.18/assets/chalk/chalk/lang/en_us.json
  projects/1.18/assets/chalk/chalk/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2550 修正上一次 Xaero's Minimap 的翻译更新
  projects/1.12.2/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.lang
  projects/1.12.2/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.lang
  projects/1.12.2/assets/xaeros-minimap/xaerominimap/lang/en_us.lang
  projects/1.12.2/assets/xaeros-minimap/xaerominimap/lang/zh_cn.lang
Labels: 1.12.x, 2000+, Forge

#2551 Avaritia 翻译提交
  projects/1.18/assets/avaritia-1-10/avaritia/lang/en_us.json
  projects/1.18/assets/avaritia-1-10/avaritia/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2554 Create: Crystal Clear 翻译提交
  projects/1.18/assets/create-crystal-clear/create_crystal_clear/lang/en_us.json
  projects/1.18/assets/create-crystal-clear/create_crystal_clear/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2552 Another Furniture 翻译更新
  projects/1.18/assets/another-furniture/another_furniture/lang/en_us.json
  projects/1.18/assets/another-furniture/another_furniture/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2553 The Wild Backport 翻译提交
  projects/1.18/assets/the-wild-backport/wildbackport/lang/en_us.json
  projects/1.18/assets/the-wild-backport/wildbackport/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2561 Every Compat 翻译更新
  projects/1.18/assets/every-compat/everycomp/lang/en_us.json
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
Labels: ready to merge, 1+, 1.18.x, Forge

#2558 Simply Tea 翻译更新
  projects/1.16/assets/simply-tea/simplytea/lang/en_us.json
  projects/1.16/assets/simply-tea/simplytea/lang/zh_cn.json
  projects/1.18/assets/simply-tea/simplytea/lang/en_us.json
  projects/1.18/assets/simply-tea/simplytea/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2557 Smeltery IO汉化提交
  projects/1.12.2/assets/mct-smeltery-io/mctsmelteryio/lang/en_us.lang
  projects/1.12.2/assets/mct-smeltery-io/mctsmelteryio/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2568 Infused Foods 翻译新增
  projects/1.18/assets/infused-foods/infusedfoods/lang/en_us.json
  projects/1.18/assets/infused-foods/infusedfoods/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge
