Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-02, with the labels that each got.

#1524 [R] Tweakeroo 统一性修改
  projects/1.16/assets/tweakeroo/tweakeroo/lang/zh_cn.json
Labels: 1.16.x, XS, need review, main

#1525 [R] Ender IO 错误更正与改进
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, M, need review, main

#1523 [R]精妙背包跟进
  projects/1.16/assets/sophisticated-backpacks/sophisticatedbackpacks/lang/en_us.json
  projects/1.16/assets/sophisticated-backpacks/sophisticatedbackpacks/lang/zh_cn.json
  projects/1.16/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/en_us.json
  projects/1.16/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: 1.16.x, XL, need review, main

#1522 [R] Etched 翻译提交
  projects/1.16/assets/etched/etched/en_us.json
  projects/1.16/assets/etched/etched/zh_cn.json
Labels: 1.16.x, M, need review, main

#1519 [R] Farmer's Respite 翻译提交
  projects/1.16/assets/farmers-respite/farmersrespite/lang/en_us.json
  projects/1.16/assets/farmers-respite/farmersrespite/lang/zh_cn.json
Labels: 1.16.x, M, need review, main

#1528 [R] Ender IO 回退
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, XS, need review, main

#1531 [R] 神秘学 occultism 1.26.x 河狸使魔
  projects/1.16/assets/occultism/occultism/lang/en_us.json
  projects/1.16/assets/occultism/occultism/lang/zh_cn.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/getting_started/first_ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_foliot.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_bat.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_beaver.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/getting_started/first_ritual.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_foliot.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_bat.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_beaver.json
  projects/1.18/assets/occultism/occultism/lang/en_us.json
  projects/1.18/assets/occultism/occultism/lang/zh_cn.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/getting_started/first_ritual.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/pentacles/possess_foliot.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_bat.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_beaver.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/getting_started/first_ritual.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/pentacles/possess_foliot.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_bat.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_beaver.json
Labels: 1.16.x, L, need review, main, 1.18.x

#1529 [R] Tetranomicon 翻译提交
  projects/1.16/assets/tetranomicon/tetranomicon/lang/zh_cn.json
Labels: 1.16.x, L, need review, main

#1533 [M] 修正神秘学帕秋莉报错
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/categories/rituals/crafting.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/categories/rituals/familiars.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/categories/rituals/possession.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/categories/rituals/summoning.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_bat.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/entries/rituals/familiars/familiar_blacksmith.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/en_us/templates/ritual.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/categories/rituals/crafting.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/categories/rituals/familiars.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/categories/rituals/possession.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/categories/rituals/summoning.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/familiars/familiar_bat.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/templates/ritual.json
Labels: L, in progress, main, 1.18.x

#1536 [讨论] 纳夸达
  projects/1.12.2/assets/1UNKNOWN/0x_trans_fix/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/gregtech-gregic-additions/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/gregtech-gregs-construct/lang/zh_cn.lang
  projects/1.12.2/assets/gregicality/gtadditions/lang/zh_cn.lang
  projects/1.12.2/assets/gregtechce/gregtech/lang/zh_cn.lang
  projects/1.12.2/assets/gtce-bees/gtcebees/lang/zh_cn.lang
  projects/1.12.2/assets/shadows-of-greg/gtadditions/lang/zh_cn.lang
  projects/1.12.2/assets/stargate-network/sgcraft/lang/zh_cn.lang
  projects/1.16/assets/mekanism-matter/mekanismmatter/lang/zh_cn.json
  projects/1.18/assets/mekanism-matter/mekanismmatter/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, L, 1.18.x

#1537 [R] Essentials和交错道途 1.18
  projects/1.18/assets/crossroads-mc/crossroads/lang/en_us.json
  projects/1.18/assets/crossroads-mc/crossroads/lang/zh_cn.json
  projects/1.18/assets/essentials/essentials/lang/en_us.json
  projects/1.18/assets/essentials/essentials/lang/zh_cn.json
Labels: need review, XXXL, main, 1.18.x

#1571 [R] GregTechCE
  projects/1.12.2/assets/gregtechce/gregtech/lang/zh_cn.lang
Labels: 1.12.x, XL, need review, main

#1563 [R] Nuclear Science
  projects/1.18/assets/nuclearscience/nuclearscience/lang/en_us.json
  projects/1.18/assets/nuclearscience/nuclearscience/lang/zh_cn.json
Labels: L, need review, 1.18.x

#1578 [R] Chococraft 翻译提交
  projects/1.16/assets/chococraft/chococraft/lang/en_us.json
  projects/1.16/assets/chococraft/chococraft/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, main

#1559 [R] 1.12mod：Guide-API/神秘复辟Thaumic-Restoration/神秘酿造学Thaumic-Brewing/神秘外饰ThaumicPeriphery/自然誓约NaturalPledge
  projects/1.12.2/assets/guide-api/guideapi/lang/zh_cn.lang
  projects/1.12.2/assets/natural-pledge/naturalpledge/lang/en_us.lang
  projects/1.12.2/assets/natural-pledge/naturalpledge/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-brewing/thaumicbrewing/lang/en_us.lang
  projects/1.12.2/assets/thaumic-brewing/thaumicbrewing/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-periphery/thaumicperiphery/lang/en_us.lang
  projects/1.12.2/assets/thaumic-periphery/thaumicperiphery/lang/zh_cn.lang
  projects/1.12.2/assets/thaumic-restoration/thaumicrestoration/lang/en_us.lang
  projects/1.12.2/assets/thaumic-restoration/thaumicrestoration/lang/zh_cn.lang
Labels: 1.12.x, need review, XXXL, main

#1579 [R] Floral Flair 翻译提交
  projects/1.16/assets/floral-flair/floral_flair/lang/en_us.json
  projects/1.16/assets/floral-flair/floral_flair/lang/zh_cn.json
  projects/1.18/assets/floral-flair/floral_flair/lang/en_us.json
  projects/1.18/assets/floral-flair/floral_flair/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review, main, 1.18.x

#1582 [R] Music Maker Mod / XercaMusic 翻译提交
  projects/1.16/assets/music-maker-mod/xercamusic/lang/en_us.json
  projects/1.16/assets/music-maker-mod/xercamusic/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, main

#1583 [R] Darker Depths 翻译更新
  projects/1.16/assets/darker-depths/darkerdepths/lang/en_us.json
  projects/1.16/assets/darker-depths/darkerdepths/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, main

#1586 [R] Chipped 翻译补充
  projects/1.16/assets/chipped/chipped/lang/en_us.json
  projects/1.16/assets/chipped/chipped/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review, main

#1562 [R] Electrodynamics
  projects/1.18/assets/electrodynamics/electrodynamics/lang/en_us.json
  projects/1.18/assets/electrodynamics/electrodynamics/lang/zh_cn.json
Labels: ready to merge, XXL, need review, 1.18.x

#1584 [R] Fairy Lights 翻译提交
  projects/1.16/assets/fairy-lights/fairylights/lang/en_us.json
  projects/1.16/assets/fairy-lights/fairylights/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, main

#1587 [R] Glasscutter 新增翻译
  projects/1.16/assets/glass-cutter/glasscutter/lang/en_us.json
  projects/1.16/assets/glass-cutter/glasscutter/lang/zh_cn.json
  projects/1.18/assets/glass-cutter/glasscutter/lang/en_us.json
  projects/1.18/assets/glass-cutter/glasscutter/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review, main, 1.18.x

#1588 [R] Trading Post 翻译提交
  projects/1.16/assets/trading-post/tradingpost/lang/en_us.json
  projects/1.16/assets/trading-post/tradingpost/lang/zh_cn.json
  projects/1.18/assets/trading-post/tradingpost/lang/en_us.json
  projects/1.18/assets/trading-post/tradingpost/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, main, 1.18.x, S

#1585 [R] Pane In The Glass 翻译提交
  projects/1.16/assets/pane-in-the-glass/pitg/lang/en_us.json
  projects/1.16/assets/pane-in-the-glass/pitg/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review, main

#1589 [R] Macaw's Bridges 和 Macaw's Roofs 翻译更新
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, XXXXL, main, 1.18.x
