Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-07, with the labels that each got.

#2121 [R] Simple Delights 翻译提交 Simple Farming 翻译修正
  projects/1.16/assets/simple-delights/simpledelights/lang/en_us.json
  projects/1.16/assets/simple-delights/simpledelights/lang/zh_cn.json
  projects/1.16/assets/simple-farming/simplefarming/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2127 [R] Pretty Pipes 翻译增加、更新，附属翻译提交
  projects/1.16/assets/pretty-pipes-fluids/ppfluids/lang/en_us.json
  projects/1.16/assets/pretty-pipes-fluids/ppfluids/lang/zh_cn.json
  projects/1.16/assets/pretty-pipes/prettypipes/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2021 [R] Item Scroller 翻译更新
  projects/1.12.2/assets/item-scroller/itemscroller/lang/en_us.lang
  projects/1.12.2/assets/item-scroller/itemscroller/lang/zh_cn.lang
  projects/1.16-fabric/assets/item-scroller/itemscroller/lang/en_us.json
  projects/1.16-fabric/assets/item-scroller/itemscroller/lang/zh_cn.json
  projects/1.18-fabric/assets/item-scroller/itemscroller/lang/en_us.json
  projects/1.18-fabric/assets/item-scroller/itemscroller/lang/zh_cn.json
Labels: help wanted, 1.12.x, 1.16.x, 100+, 1.18.x, Fabric, Forge

#2119 [R] 新生魔艺附属模组翻译提交、增加、更新
  projects/1.16/assets/ars-elemental-elemental-spell-foci/ars_elemental/lang/zh_cn.json
  projects/1.16/assets/ars-enderstorage/ars_enderstorage/lang/en_us.json
  projects/1.16/assets/ars-enderstorage/ars_enderstorage/lang/zh_cn.json
  projects/1.16/assets/tome-of-blood/tomeofblood/lang/en_us.json
  projects/1.16/assets/tome-of-blood/tomeofblood/lang/zh_cn.json
  projects/1.16/assets/too-many-glyphs/toomanyglyphs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2107 [R] Architect's Palette 翻译更新
  projects/1.18/assets/architects-palette/architects_palette/lang/en_us.json
  projects/1.18/assets/architects-palette/architects_palette/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2054 Iron Chest 模组名译名删除、修缮、更新及 Fabric 迁移 来自工单#CFPA-????
  projects/1.12.2/assets/iron-chests/ironchest/lang/zh_cn.lang
  projects/1.16-fabric/assets/iron-chests-fabric/ironchest/lang/zh_cn.json
  projects/1.16/assets/iron-chests/ironchest/lang/zh_cn.json
  projects/1.18-fabric/assets/iron-chests-for-fabric/ironchests/lang/en_us.json
  projects/1.18-fabric/assets/iron-chests-for-fabric/ironchests/lang/zh_cn.json
  projects/1.18-fabric/assets/ironchests/ironchests/lang/en_us.json
  projects/1.18-fabric/assets/ironchests/ironchests/lang/zh_cn.json
  projects/1.18/assets/iron-chests-fabric/ironchest/lang/en_us.json
  projects/1.18/assets/iron-chests-fabric/ironchest/lang/zh_cn.json
  projects/1.18/assets/iron-chests/ironchest/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 100+, 1.18.x, Fabric, Forge

#2131 [R] Prehistoric Fauna、Cataclysm、Blue Skies 1.16 翻译调整
  projects/1.16/assets/blue-skies/blue_skies/lang/zh_cn.json
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/allosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ankylosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ankylosaurus_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/basilemys_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/camarasaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ceratosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/chromogisaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/dakotaraptor_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/didelphodon_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/dryosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/eilenodon_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/exaeretodon_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_2.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/herrerasaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hesperornithoides_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hyperodapedon_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/introduction_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualastia_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_2.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_3.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/morrison_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/morrison_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/morrison_2.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/saurosuchus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/sillosuchus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/stegosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/thescelosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/triceratops_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/triceratops_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/tyrannosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, Forge

#2150 [R] Clockout 翻译提交
  projects/1.16/assets/clockout/clockout/lang/en_us.json
  projects/1.16/assets/clockout/clockout/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#2115 [R] enderthing 翻译提交
  projects/1.18/assets/enderthing/enderthing/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2147 Mining Gadgets 1.18翻译同步至1.16
  projects/1.16/assets/mining-gadgets/mininggadgets/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2142 [R] Chimes 翻译更新
  projects/1.16/assets/chimes/chimes/lang/zh_cn.json
  projects/1.18/assets/chimes/chimes/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2167 Time in a bottle 1.18版本翻译提交
  projects/1.18/assets/time-in-a-bottle-standalone/tiab/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge

#2154 Camp Chair 翻译提交
  projects/1.16/assets/camp-chair/campchair/lang/en_us.json
  projects/1.16/assets/camp-chair/campchair/lang/zh_cn.json
  projects/1.18/assets/camp-chair/campchair/lang/en_us.json
  projects/1.18/assets/camp-chair/campchair/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2161 MEGA Cells 翻译更新
  projects/1.18/assets/mega-cells/megacells/lang/en_us.json
  projects/1.18/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#1965 [M] 修复 README 图标
  README.md
Labels: 1.12.x, 1.16.x, 1+, 1.18.x, Fabric, Forge

#1923 [R] Create Animania Cats & Dogs
  projects/1.12.2/assets/animania-cats-dogs/catsdogs/lang/en_us.lang
  projects/1.12.2/assets/animania-cats-dogs/catsdogs/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, need review, Forge

#2183 Alloy Forgery 翻译新增
  projects/1.18-fabric/assets/alloy-forgery/alloy_forgery/lang/en_us.json
  projects/1.18-fabric/assets/alloy-forgery/alloy_forgery/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric

#2184 Beyond Earth 旧版翻译删除，Beyond Earth: Giselle Addon 多余翻译删除
  projects/1.18/assets/space-bosstools-giselle-addon/boss_tools_giselle_addon/lang/en_us.json
  projects/1.18/assets/space-bosstools-giselle-addon/boss_tools_giselle_addon/lang/zh_cn.json
  projects/1.18/assets/space-bosstools/boss_tools/lang/en_us.json
  projects/1.18/assets/space-bosstools/boss_tools/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2195 Tool Stats 翻译修正
  projects/1.16/assets/tool-stats/toolstats/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#2200 Grappling Hook Mod 翻译1.16应用到1.18
  projects/1.18/assets/grappling-hook-mod/grapplemod/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2187 Snowy Spirit 翻译更新
  projects/1.18/assets/snowy-spirit/snowyspirit/lang/en_us.json
  projects/1.18/assets/snowy-spirit/snowyspirit/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2191 提交ore-farm的翻译文件
  projects/1.12.2/assets/ore-farm/orefarm/lang/en_us.lang
  projects/1.12.2/assets/ore-farm/orefarm/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, Forge

#2171 myrtrees 翻译提交
  projects/1.18/assets/myrtrees/myrtrees/lang/en_us.json
  projects/1.18/assets/myrtrees/myrtrees/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2164 Trash Cans 翻译增加
  projects/1.16/assets/trash-cans/trashcans/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2216 Endless Ocean: Aquatic Adventures 翻译提交
  projects/1.16/assets/endless-ocean-aquatic-adventures/endlessocean/lang/en_us.json
  projects/1.16/assets/endless-ocean-aquatic-adventures/endlessocean/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2238 Immersive Cooking 翻译更新
  projects/1.16/assets/immersive-cooking/immersivecooking/lang/en_us.json
  projects/1.16/assets/immersive-cooking/immersivecooking/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#2250 提交 More Buckets 模组翻译
  projects/1.18/assets/more-buckets/morebuckets/lang/en_us.json
  projects/1.18/assets/more-buckets/morebuckets/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2261 Healing Soup 翻译添加
  projects/1.16-fabric/assets/healing-soup-fabric/healingsoup/lang/en_us.json
  projects/1.16-fabric/assets/healing-soup-fabric/healingsoup/lang/zh_cn.json
  projects/1.16/assets/healing-soup/healingsoup/lang/en_us.json
  projects/1.16/assets/healing-soup/healingsoup/lang/zh_cn.json
  projects/1.18-fabric/assets/healing-soup-fabric/healingsoup/lang/en_us.json
  projects/1.18-fabric/assets/healing-soup-fabric/healingsoup/lang/zh_cn.json
  projects/1.18/assets/healing-soup/healingsoup/lang/en_us.json
  projects/1.18/assets/healing-soup/healingsoup/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Fabric, Forge

#2181 Construct's Armory 翻译提交
  projects/1.16/assets/constructs-armory/constructsarmory/lang/en_us.json
  projects/1.16/assets/constructs-armory/constructsarmory/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2236 Sophisticated Backpacks 翻译删除
  projects/1.18/assets/sophisticatedbackpacks/sophisticatedbackpacks/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2136 [R] Aetherium Ashen Armor 等四个模组 翻译提交
  projects/1.12.2/assets/aetherium-ashen-armor/aetheriumashenarmor/lang/en_us.lang
  projects/1.12.2/assets/aetherium-ashen-armor/aetheriumashenarmor/lang/zh_cn.lang
  projects/1.12.2/assets/industrial-foregoing-building-blocks/ifbuildingblocks/lang/en_us.lang
  projects/1.12.2/assets/industrial-foregoing-building-blocks/ifbuildingblocks/lang/zh_cn.lang
  projects/1.12.2/assets/openscreens/openscreens/lang/en_us.lang
  projects/1.12.2/assets/openscreens/openscreens/lang/zh_cn.lang
  projects/1.12.2/assets/regex-filters/regexfilters/lang/en_us.lang
  projects/1.12.2/assets/regex-filters/regexfilters/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2248 FTB Team Islands 翻译提交
  projects/1.16/assets/ftb-team-islands-forge/ftbteamislands/lang/en_us.json
  projects/1.16/assets/ftb-team-islands-forge/ftbteamislands/lang/zh_cn.json
  projects/1.18/assets/ftb-team-islands-forge/ftbteamislands/lang/en_us.json
  projects/1.18/assets/ftb-team-islands-forge/ftbteamislands/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2278 Mekanism 翻译修正
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#2264 提交 Dense Ores Reborn 模组翻译
  projects/1.18/assets/dense-ores-reborn/denseoresreborn/lang/en_us.json
  projects/1.18/assets/dense-ores-reborn/denseoresreborn/lang/zh_cn.json
Labels: ready to merge, 40+, in progress, 1.18.x, Forge

#2268 Miner's Lung 翻译新增
  projects/1.18/assets/miners-lung/minerslung/lang/en_us.json
  projects/1.18/assets/miners-lung/minerslung/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2262 Enderite-lieonlion 翻译提交
  projects/1.18/assets/enderite-lieonlion/lolenderite/lang/en_us.json
  projects/1.18/assets/enderite-lieonlion/lolenderite/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2291 Powah! 翻译修正
  projects/1.16/assets/powah/powah/lang/en_us.json
  projects/1.16/assets/powah/powah/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2283 Gardening Tools 翻译添加
  projects/1.18/assets/gardening-tools/gardentools/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2295 Materialis 翻译修正
  projects/1.16/assets/materialis/materialis/lang/zh_cn.json
Labels: 1.16.x, 40+, Forge

#2284 DiceMC Tiered Armors 翻译添加
  projects/1.18/assets/dicemc-tiered-armors/dicemcta/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2241 Lycanites Mobs 翻译修补
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/en_us.lang
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/zh_cn.lang
Labels: 1.12.x, 100+, Forge

#2235 Forbidden Arcanus 官库同步
  projects/1.18/assets/forbidden-arcanus/forbidden_arcanus/lang/en_us.json
  projects/1.18/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge
