Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-06, with the labels that each got.

#2031 [R] Natures Starlight patchouli 手册
  projects/1.16/assets/natures-starlight/naturesstarlight/patchouli_books/book.json
  projects/1.16/assets/natures-starlight/naturesstarlight/patchouli_books/en_us/entries/creating/crystal_generator.json
  projects/1.16/assets/natures-starlight/naturesstarlight/patchouli_books/en_us/entries/effects/starlight_increase.json
  projects/1.16/assets/natures-starlight/naturesstarlight/patchouli_books/zh_cn/entries/creating/crystal_generator.json
  projects/1.16/assets/natures-starlight/naturesstarlight/patchouli_books/zh_cn/entries/effects/starlight_increase.json
Labels: 1.16.x, 40+, Forge

#2035 [R] Magic Feather 翻译提交
  projects/1.16/assets/magic-feather/magicfeather/lang/zh_cn.json
  projects/1.18/assets/magic-feather/magicfeather/lang/en_us.json
  projects/1.18/assets/magic-feather/magicfeather/lang/zh_cn.json
Labels: 1.16.x, 1.18.x, 10+, Forge

#2036 [R] Small Ships 翻译增加
  projects/1.16/assets/small-ships/smallships/lang/en_us.json
  projects/1.16/assets/small-ships/smallships/lang/zh_cn.json
Labels: 1.16.x, 500+, Forge

#2038 [R] Macaw's Roofs 翻译增加
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2009 [R]drunken_mug mod汉化提交
  projects/1.18/assets/drunken-mug/drunken_mug/lang/en_us.json
  projects/1.18/assets/drunken-mug/drunken_mug/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2037 [R] Enigmatic Graves 翻译提交
  projects/1.16/assets/enigmatic-graves/enigmaticgraves/lang/en_us.json
  projects/1.16/assets/enigmatic-graves/enigmaticgraves/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#2045 [R] Ore Reeds 翻译提交
  projects/1.16/assets/ore-reeds/ore_reeds/lang/en_us.json
  projects/1.16/assets/ore-reeds/ore_reeds/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#1994 [R] MrCrayfish's Gun Mod 修改翻译
  projects/1.16/assets/mrcrayfishs-gun-mod/cgm/lang/zh_cn.json
  projects/1.18/assets/mrcrayfishs-gun-mod/cgm/lang/zh_cn.json
Labels: 1.16.x, need review, 1.18.x, 10+, Forge

#2024 [R] Pyromancer 错译修改
  projects/1.16/assets/pyromancer/pyromancer/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#1999 [R] 一些多维度模组翻译更新及提交（Advanced Mining Dimension, JAMD, Just Another Void Dimension）
  projects/1.16/assets/advanced-mining-dimension/mining_dimension/lang/zh_cn.json
  projects/1.16/assets/jamd/jamd/lang/en_us.json
  projects/1.16/assets/jamd/jamd/lang/zh_cn.json
  projects/1.16/assets/just-another-void-dimension/javd/lang/en_us.json
  projects/1.16/assets/just-another-void-dimension/javd/lang/zh_cn.json
  projects/1.18/assets/advanced-mining-dimension/mining_dimension/lang/en_us.json
  projects/1.18/assets/advanced-mining-dimension/mining_dimension/lang/zh_cn.json
  projects/1.18/assets/jamd/jamd/lang/en_us.json
  projects/1.18/assets/jamd/jamd/lang/zh_cn.json
  projects/1.18/assets/just-another-void-dimension/javd/lang/en_us.json
  projects/1.18/assets/just-another-void-dimension/javd/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#1984 [R] BYG 翻译修正与更新
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Forge

#1910 [R] Intotheomega等共5个模组翻译提交
  projects/1.16/assets/industrial-expansion-te-addon/industrialexpansion/lang/zh_cn.json
  projects/1.16/assets/into-the-omega/intotheomega/lang/en_us.json
  projects/1.16/assets/into-the-omega/intotheomega/lang/zh_cn.json
  projects/1.16/assets/into-the-w/intotheomega/lang/en_us.json
  projects/1.16/assets/into-the-w/intotheomega/lang/zh_cn.json
  projects/1.16/assets/journeymap-integration/jmi/lang/zh_cn.json
  projects/1.16/assets/lantern-colors/lanterncolors/lang/zh_cn.json
  projects/1.16/assets/long-fall-boots/longfallboots/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, Forge

#1986 [R] 提交 Dustrial Decor 模组翻译
  projects/1.18/assets/dustrial-decor/dustrial_decor/lang/en_us.json
  projects/1.18/assets/dustrial-decor/dustrial_decor/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#1945 [R]添加Dynamic Trees - Oh The Biomes You'll Go的汉化
  projects/1.16/assets/dynamic-trees-byg/dtbyg/lang/en_us.json
  projects/1.16/assets/dynamic-trees-byg/dtbyg/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#2040 [R] Macaw's Fences and Walls 更新文本&增加翻译
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
Labels: 1.16.x, 40+, Forge

#2023 [R] thermal-conversion 提交翻译
  projects/1.16/assets/thermal-conversion/thermalconversion/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#1997 [R] Avaritia Lite 汉化更新
  projects/1.16/assets/avaritia-lite/avaritia/lang/en_us.json
  projects/1.16/assets/avaritia-lite/avaritia/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#2055 [R] Inventory pet 修缮 来自工单#CFPA-0680
  projects/1.12.2/assets/inventory-pets/inventorypets/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#2003 [R] Applied Botanics 和 Applied Mekanistics 翻译提交
  projects/1.18/assets/applied-botanics-addon/applied-botanics/appbot/lang/en_us.json
  projects/1.18/assets/applied-botanics-addon/applied-botanics/appbot/lang/zh_cn.json
  projects/1.18/assets/applied-mekanistics/appmek/lang/en_us.json
  projects/1.18/assets/applied-mekanistics/appmek/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2044 [R] Zen Summoning 翻译提交
  projects/1.16/assets/zen-summoning/zensummoning/lang/en_us.json
  projects/1.16/assets/zen-summoning/zensummoning/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2028 [R] Furnish mod 汉化提交
  projects/1.18/assets/furnish/furnish/lang/en_us.json
  projects/1.18/assets/furnish/furnish/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2060 [R] Drugm 翻译提交
  projects/1.16/assets/lots-of-drugs/drugm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2065 [R] Applied Botanics 修路径
  projects/1.18/assets/applied-botanics-addon/appbot/lang/en_us.json
  projects/1.18/assets/applied-botanics-addon/appbot/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge

#2048 [R] 地质探秘管道分包翻译提交
  projects/1.12.2/assets/rockhounding-fluid-pipeline/rockhounding_pipeline/lang/en_us.lang
  projects/1.12.2/assets/rockhounding-fluid-pipeline/rockhounding_pipeline/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, Forge

#2061 [R] Compact Void Miners 翻译修正 反馈来自兔小巢
  projects/1.12.2/assets/compact-void-miners/compactvoidminers/lang/en_us.lang
  projects/1.12.2/assets/compact-void-miners/compactvoidminers/lang/zh_cn.lang
  projects/1.16/assets/compact-void-miners/compactvoidminers/lang/zh_cn.json
  projects/1.18/assets/compact-void-miners/compactvoidminers/lang/en_us.json
  projects/1.18/assets/compact-void-miners/compactvoidminers/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 100+, Forge

#1968 [R] Botania Additions 官中拉取及改进
  projects/1.16/assets/botania-additions/botaniaadditions/lang/en_us.json
  projects/1.16/assets/botania-additions/botaniaadditions/lang/zh_cn.json
  projects/1.18/assets/botania-additions/botaniaadditions/lang/en_us.json
  projects/1.18/assets/botania-additions/botaniaadditions/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, 1.18.x, Forge

#2046 [R] Immersive Cooking 翻译更新
  projects/1.16/assets/immersive-cooking/immersivecooking/lang/en_us.json
  projects/1.16/assets/immersive-cooking/immersivecooking/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2047 [R] Energy Meter 等多个模组翻译提交&更新
  projects/1.12.2/assets/portality/portality/lang/zh_cn.lang
  projects/1.16/assets/compact-crafting/compactcrafting/lang/zh_cn.json
  projects/1.16/assets/energymeter/energymeter/lang/en_us.json
  projects/1.16/assets/energymeter/energymeter/lang/zh_cn.json
  projects/1.16/assets/immersiveposts/immersiveposts/lang/zh_cn.json
  projects/1.16/assets/iron-jetpacks/ironjetpacks/lang/en_us.json
  projects/1.16/assets/iron-jetpacks/ironjetpacks/lang/zh_cn.json
  projects/1.16/assets/mining-gadgets/mininggadgets/lang/en_us.json
  projects/1.16/assets/mining-gadgets/mininggadgets/lang/zh_cn.json
  projects/1.16/assets/portality/portality/lang/zh_cn.json
  projects/1.16/assets/rftools-storage/rftoolsstorage/lang/zh_cn.json
  projects/1.16/assets/shrink_/shrink/lang/zh_cn.json
  projects/1.16/assets/trofers/trofers/lang/en_us.json
  projects/1.16/assets/trofers/trofers/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 100+, Forge

#2082 [R] Forestry 林业乙醇修复
  projects/1.12.2/assets/forestry/forestry/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#2080 [R] ExtremeSoundMuffler 翻译提交
  projects/1.18-fabric/assets/extreme-sound-muffler-fabric-official/extremesoundmuffler/lang/en_us.json
  projects/1.18-fabric/assets/extreme-sound-muffler-fabric-official/extremesoundmuffler/lang/zh_cn.json
  projects/1.18/assets/extreme-sound-muffler/extremesoundmuffler/lang/en_us.json
  projects/1.18/assets/extreme-sound-muffler/extremesoundmuffler/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge

#2063 [R]多个模组的汉化及更新
  projects/1.12.2/assets/thaumic-energistics/thaumicenergistics/lang/zh_cn.lang
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/en_us.lang
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/zh_cn.lang
  projects/1.12.2/assets/zen-summoning/zensummoning/lang/zh_cn.lang
  projects/1.12.2/assets/zenscroll/zenscroll/lang/en_us.lang
  projects/1.12.2/assets/zenscroll/zenscroll/lang/zh_cn.lang
  projects/1.16/assets/zen-summoning/zensummoning/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 40+, Forge

#2085 [R] 更新 Panorama Creator 翻译
  projects/1.16/assets/panorama-creator/spanorama/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#2062 [R] 添加Dynamic Trees - Quark的汉化 并修正Dynamic Trees - Oh The Biomes You'll Go的汉化
  projects/1.16/assets/chemlib/chemlib/lang/en_us.json
  projects/1.16/assets/dynamic-trees-byg/dtbyg/lang/zh_cn.json
  projects/1.16/assets/dynamic-trees-quark/dtquark/lang/en_us.json
  projects/1.16/assets/dynamic-trees-quark/dtquark/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#1996 [R] Chem Lib 汉化更新
  projects/1.16/assets/chemlib/chemlib/lang/en_us.json
  projects/1.16/assets/chemlib/chemlib/lang/zh_cn.json
  projects/1.18/assets/chemlib/chemlib/lang/en_us.json
  projects/1.18/assets/chemlib/chemlib/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2087 [R] Raven Coffee 更新与修正
  projects/1.16/assets/raven-coffee/ravencoffee/lang/zh_cn.json
  projects/1.18/assets/raven-coffee/ravencoffee/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1.18.x, 10+, Forge

#2108 [R] Decorative Blocks 和 Decorative Winter 翻译更新与提交
  projects/1.18/assets/decorative-blocks/decorative_blocks/lang/zh_cn.json
  projects/1.18/assets/decorative-winter/decorative_winter/lang/en_us.json
  projects/1.18/assets/decorative-winter/decorative_winter/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2099 [R] Macaw's Roofs 翻译更新与搬运
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
Labels: 1000+, 1.18.x, Forge

#2110 [R]solar-flux-reborn 1.18.2版本更新翻译，删除旧版翻译
  projects/1.18/assets/solar-flux-reborn/solarflux/lang/zh_cn.json
  projects/1.18/assets/solar-flux-reborn/solarflux/langs/en_us.hl
  projects/1.18/assets/solar-flux-reborn/solarflux/langs/zh_cn.hl
Labels: 100+, 1.18.x, Forge

#2095 [R] Macaws Paths and Pavings 翻译提交
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#2101 [R] Macaw's Trapdoors 翻译更新
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: 1.16.x, 1+, 1.18.x, Forge

#2088 [R] Sully's Mod 翻译提交
  projects/1.18/assets/sullys-mod/sullysmod/lang/en_us.json
  projects/1.18/assets/sullys-mod/sullysmod/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2097 [R] Macaw's Bridges 翻译更新
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2083 [R] Ecologics 翻译提交与更新
  projects/1.18/assets/ecologics/ecologics/lang/en_us.json
  projects/1.18/assets/ecologics/ecologics/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2084 [R] MEGA Cells 翻译提交
  projects/1.18/assets/mega-cells/megacells/lang/en_us.json
  projects/1.18/assets/mega-cells/megacells/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2093 [R] Galosphere 翻译提交
  projects/1.18/assets/galosphere/galosphere/lang/en_us.json
  projects/1.18/assets/galosphere/galosphere/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2111 [R] Redstone Pen 翻译增加
  projects/1.16/assets/redstone-pen/redstonepen/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2098 [R] Macaw's Fences & Walls 翻译更新
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2102 [R] Macaw's Windows 翻译更新
  projects/1.16/assets/macaws-windows/mcwwindows/lang/zh_cn.json
  projects/1.18/assets/macaws-windows/mcwwindows/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2027 [R] Create 翻译更新
  projects/1.16/assets/create/create/lang/zh_cn.json
Labels: 1.16.x, 1+, 1.18.x, Forge

#2100 [R] Macaw's Lights and Lamps 翻译更新
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2104 [R] Another Furniture 翻译提交
  projects/1.18/assets/another-furniture/another_furniture/lang/en_us.json
  projects/1.18/assets/another-furniture/another_furniture/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2105 [R] Twigs 翻译提交
  projects/1.18/assets/twigs/twigs/lang/en_us.json
  projects/1.18/assets/twigs/twigs/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2103 [R] Macaw's Doors 翻译更新
  projects/1.16/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2106 [R] Every Compat 翻译提交
  projects/1.18/assets/every-compat/everycomp/lang/en_us.json
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2122 [R]rebornstorage 1.18.2 翻译提交
  projects/1.18/assets/rebornstorage/rebornstorage/lang/en_us.json
  projects/1.18/assets/rebornstorage/rebornstorage/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2117 [R]添加血魔法两个附属汉化
  projects/1.12.2/assets/blood-smeltery/bloodsmeltery/lang/en_us.lang
  projects/1.12.2/assets/blood-smeltery/bloodsmeltery/lang/zh_cn.lang
  projects/1.12.2/assets/tinkering-with-blood-magic/bloodtinker/lang/en_us.lang
  projects/1.12.2/assets/tinkering-with-blood-magic/bloodtinker/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, Forge

#2129 [R]Ae additions 1.18版本翻译提交
  projects/1.18/assets/ae-additions-extra-cells-2-fork/ae2additions/lang/en_us.json
  projects/1.18/assets/ae-additions-extra-cells-2-fork/ae2additions/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2049 [R] 拔刀剑2翻译补充
  projects/1.16/assets/slashblade/slashblade/lang/en_us.json
  projects/1.16/assets/slashblade/slashblade/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2128 [R] Useful Railroads 翻译提交
  projects/1.16/assets/useful-railroads/usefulrailroads/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2112 [R] mining-gadgets 1.18.2 翻译更新
  projects/1.18/assets/mining-gadgets/mininggadgets/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2120 [R] 提交 Overweight Farming 模组翻译
  projects/1.18/assets/overweight-farming/overweight_farming/lang/en_us.json
  projects/1.18/assets/overweight-farming/overweight_farming/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2132 [R] Sully's Mod 翻译更新
  projects/1.18/assets/sullys-mod/sullysmod/lang/en_us.json
  projects/1.18/assets/sullys-mod/sullysmod/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2135 [R] Overweight Farming 模组翻译更新
  projects/1.18/assets/overweight-farming/overweight_farming/lang/en_us.json
  projects/1.18/assets/overweight-farming/overweight_farming/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#1995 [R]Dustrial Decor 翻译提交(1.16)
  projects/1.16/assets/dustrial-decor/dustrial_decor/lang/en_us.json
  projects/1.16/assets/dustrial-decor/dustrial_decor/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge
