Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-11, with the labels that each got.

#2567 Extra Armor 翻译新增
  projects/1.18/assets/extra-armor/extraarmor/lang/en_us.json
  projects/1.18/assets/extra-armor/extraarmor/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2484 Prehistoric Fauna 错译修正
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/allosaurus_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/basilemys_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/didelphodon_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_2.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/introduction_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_2.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/triceratops_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2583 提交create：industry原文及翻译
  projects/1.18/assets/create-industry/createindustry/lang/en_us.json
  projects/1.18/assets/create-industry/createindustry/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2562 twilight tweaks汉化提交
  projects/1.12.2/assets/twilight-tweaks/twilighttweaks/lang/en_us.lang
  projects/1.12.2/assets/twilight-tweaks/twilighttweaks/lang/zh_cn.lang
  projects/1.16/assets/twilight-tweaks/twilighttweaks/lang/en_us.json
  projects/1.16/assets/twilight-tweaks/twilighttweaks/lang/zh_cn.json
  projects/1.18/assets/twilight-tweaks/twilighttweaks/lang/en_us.json
  projects/1.18/assets/twilight-tweaks/twilighttweaks/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 1.18.x, 10+, Forge

#2226 Connected Glass 翻译增加
  projects/1.16/assets/connected-glass/connectedglass/lang/zh_cn.json
  projects/1.18/assets/connected-glass/connectedglass/lang/zh_cn.json
Labels: 1.16.x, 40+, 1.18.x, Forge

#2580 Ex-nihilo-sequentia 模组翻译更新
  projects/1.18/assets/ex-nihilo-sequentia/exnihilosequentia/lang/en_us.json
  projects/1.18/assets/ex-nihilo-sequentia/exnihilosequentia/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2560 Galosphere Delight 翻译更新
  projects/1.18/assets/galosphere-delight-a-farmers-delight-add-on/galosphere_delight/lang/en_us.json
  projects/1.18/assets/galosphere-delight-a-farmers-delight-add-on/galosphere_delight/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2571 Alli's One Way Glass 翻译新增
  projects/1.18-fabric/assets/allis-one-way-glass/onewayglass/lang/en_us.json
  projects/1.18-fabric/assets/allis-one-way-glass/onewayglass/lang/zh_cn.json
Labels: 500+, 1.18.x, Fabric

#2586 删除Tinker Construct 3翻译
  projects/1.18/assets/tinkers-construct/tconstruct/lang/en_us.json
  projects/1.18/assets/tinkers-construct/tconstruct/lang/zh_cn.json
Labels: ready to merge, 2000+, 1.18.x, Forge

#2425 Armor Underwear Mod 2.0.b11 翻译提交
  projects/1.18/assets/armor-underwear-mod/armorunder/lang/en_us.json
  projects/1.18/assets/armor-underwear-mod/armorunder/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2592 提交 illage-and-spillage 模组翻译
  projects/1.16/assets/illage-and-spillage/illageandspillage/lang/en_us.json
  projects/1.16/assets/illage-and-spillage/illageandspillage/lang/zh_cn.json
Labels: 1.16.x, 40+, Forge

#2339 调整`离魂`译名
  projects/1.12.2/assets/moreplates/moreplates/lang/zh_cn.lang
  projects/1.12.2/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.lang
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
  projects/1.16/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.json
  projects/1.16/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
  projects/1.16/assets/productivebees/productivebees/lang/zh_cn.json
  projects/1.18/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.json
  projects/1.18/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 100+, 1.18.x, Forge

#2421 Project Brazier 翻译提交
  projects/1.18/assets/project-brazier/projectbrazier/lang/en_us.json
  projects/1.18/assets/project-brazier/projectbrazier/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#1987 [R] Pam's HarvestCraft 翻译更新
  projects/1.16/assets/pams-harvestcraft-2-crops/pamhc2crops/lang/zh_cn.json
  projects/1.16/assets/pams-harvestcraft-2-food-core/pamhc2foodcore/lang/zh_cn.json
  projects/1.16/assets/pams-harvestcraft-2-food-extended/pamhc2foodextended/lang/en_us.json
  projects/1.16/assets/pams-harvestcraft-2-food-extended/pamhc2foodextended/lang/zh_cn.json
  projects/1.16/assets/pams-harvestcraft-2-trees/pamhc2trees/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, Forge

#2155 Missing Wilds 翻译提交
  projects/1.18/assets/missing-wilds-forge/missingwilds/lang/en_us.json
  projects/1.18/assets/missing-wilds-forge/missingwilds/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2559 Macaw 全家桶翻译更新
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.16/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.16/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: 1.16.x, 500+, 1.18.x, Forge

#2601 Bettas 翻译提交
  projects/1.18/assets/bettas/bettas/lang/en_us.json
  projects/1.18/assets/bettas/bettas/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2598 Rotten Leather 翻译提交
  projects/1.18/assets/rotten-leather/rottenleather/lang/en_us.json
  projects/1.18/assets/rotten-leather/rottenleather/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2576 More vanilla armor 翻译提交
  projects/1.18/assets/morevanillaarmor/morevanillaarmor/lang/en_us.json
  projects/1.18/assets/morevanillaarmor/morevanillaarmor/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2228 Artifacts 官中拉取并修改
  projects/1.16/assets/a-rtifacts/a-rtifacts/lang/zh_cn.json
  projects/1.18/assets/a-rtifacts/a-rtifacts/lang/en_us.json
  projects/1.18/assets/a-rtifacts/a-rtifacts/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2596 Farm Life汉化
  projects/1.18/assets/dracovita-farm-life/farmlife/lang/en_us.json
  projects/1.18/assets/dracovita-farm-life/farmlife/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2597 dracovita-delight汉化
  projects/1.18/assets/dracovita-delight-a-farmers-delight-add-on/dracovitadelight/lang/en_us.json
  projects/1.18/assets/dracovita-delight-a-farmers-delight-add-on/dracovitadelight/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2520 iron generator翻译
  projects/1.18/assets/iron-generators/irongenerators/lang/en_us.json
  projects/1.18/assets/iron-generators/irongenerators/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2333 Assorted core 翻译提交
  projects/1.18/assets/assorted-core/assortedcore/lang/en_us.json
  projects/1.18/assets/assorted-core/assortedcore/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2254 Deep Resonance 翻译提交
  projects/1.16/assets/deep-resonance/deepresonance/lang/en_us.json
  projects/1.16/assets/deep-resonance/deepresonance/lang/zh_cn.json
  projects/1.18/assets/deep-resonance/deepresonance/lang/en_us.json
  projects/1.18/assets/deep-resonance/deepresonance/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2252 Nock Enough Arrows 翻译提交
  projects/1.18/assets/nock-enough-arrows/nock_enough_arrows/lang/en_us.json
  projects/1.18/assets/nock-enough-arrows/nock_enough_arrows/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2605 Hex Casting 翻译更新
  projects/1.18/assets/hexcasting/hexcasting/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2404 Useless Sword 翻译新增
  projects/1.18/assets/useless-sword/useless_sword/lang/en_us.json
  projects/1.18/assets/useless-sword/useless_sword/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2230 Create Cafe 翻译提交
  projects/1.18/assets/create-cafe/createcafe/lang/en_us.json
  projects/1.18/assets/create-cafe/createcafe/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2608 Gobber翻译修正
  projects/1.18/assets/gobber/gobber2/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2607 Nears翻译
  projects/1.18-fabric/assets/nears/nears/lang/en_us.json
  projects/1.18-fabric/assets/nears/nears/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Fabric

#2549 Pams HarvestCraft 2 Crops 翻译更新
  projects/1.18/assets/pams-harvestcraft-2-crops/pamhc2crops/lang/en_us.json
  projects/1.18/assets/pams-harvestcraft-2-crops/pamhc2crops/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2609 gobber-delight翻译
  projects/1.18/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/en_us.json
  projects/1.18/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2606 bodacious berries翻译
  projects/1.18-fabric/assets/bodacious-berries/bodacious_berries/lang/en_us.json
  projects/1.18-fabric/assets/bodacious-berries/bodacious_berries/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2599 Delightful 翻译提交
  projects/1.18/assets/delightful/delightful/lang/en_us.json
  projects/1.18/assets/delightful/delightful/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2614 MEGA Cells 翻译更新
  projects/1.18/assets/mega-cells/megacells/lang/zh_cn.json
Labels: ready to merge, 1+, 1.18.x, Forge

#2613 Tinkers Integration and Tweaks 翻译更新
  projects/1.18/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2492 Textile Backup 翻译提交
  projects/1.18-fabric/assets/textile-backup/textile_backup/lang/en_us.json
  projects/1.18-fabric/assets/textile-backup/textile_backup/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2279 Tom's Simple Storage 翻译新增
  projects/1.18-fabric/assets/toms-storage-fabric/toms_storage/lang/en_us.json
  projects/1.18-fabric/assets/toms-storage-fabric/toms_storage/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2096 [R] Macaw's Furniture 翻译更新
  projects/1.16/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
  projects/1.18/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2615 potato- food翻译
  projects/1.16/assets/potato-food/potatofood/lang/en_us.json
  projects/1.16/assets/potato-food/potatofood/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2618 Xaero's BetterPVP/Minimap 翻译全家桶
  projects/1.12.2/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/en_us.lang
  projects/1.12.2/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/zh_cn.lang
  projects/1.12.2/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/en_us.lang
  projects/1.12.2/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.lang
  projects/1.16-fabric/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/en_us.json
  projects/1.16-fabric/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/zh_cn.json
  projects/1.16-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/en_us.json
  projects/1.16-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.16-fabric/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.json
  projects/1.16-fabric/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.json
  projects/1.16-fabric/assets/xaeros-minimap/xaerominimap/lang/en_us.json
  projects/1.16-fabric/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/en_us.json
  projects/1.16/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/en_us.json
  projects/1.16/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.json
  projects/1.16/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap/xaerominimap/lang/en_us.json
  projects/1.16/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/en_us.json
  projects/1.18-fabric/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/en_us.json
  projects/1.18-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.json
  projects/1.18-fabric/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap/xaerominimap/lang/en_us.json
  projects/1.18-fabric/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/en_us.json
  projects/1.18/assets/xaeros-minimap-fair-play-edition/xaerobetterpvp/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/en_us.json
  projects/1.18/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap/xaerobetterpvp/lang/en_us.json
  projects/1.18/assets/xaeros-minimap/xaerobetterpvp/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap/xaerominimap/lang/en_us.json
  projects/1.18/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 5000+, 1.18.x, Fabric, Forge

#2600 Galosphere 翻译更新
  projects/1.18/assets/galosphere/galosphere/lang/en_us.json
  projects/1.18/assets/galosphere/galosphere/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2616 variant-sticks-stuff翻译
  projects/1.18-fabric/assets/variant-sticks-stuff/vsas/lang/en_us.json
  projects/1.18-fabric/assets/variant-sticks-stuff/vsas/lang/zh_cn.json
Labels: 1000+, 1.18.x, Fabric

#2584 Wanion Lib汉化更新和Bigger Crafting Tables汉化提交
  projects/1.12.2/assets/bigger-crafting-tables/biggercraftingtables/lang/en_US.lang
  projects/1.12.2/assets/bigger-crafting-tables/biggercraftingtables/lang/zh_CN.lang
  projects/1.12.2/assets/wanionlib/wanionlib/lang/en_us.lang
  projects/1.12.2/assets/wanionlib/wanionlib/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2578 Create Factory翻译提交
  projects/1.18/assets/create-factory/create_factory/lang/en_us.json
  projects/1.18/assets/create-factory/create_factory/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2629 提交 Slabgen-addon-bop 模组汉化
  projects/1.16/assets/slabgen-addon-bop/slabgenbop/lang/en_us.json
  projects/1.16/assets/slabgen-addon-bop/slabgenbop/lang/zh_cn.json
  projects/1.16/assets/slabgen/slabgen/lang/en_us.json
  projects/1.16/assets/slabgen/slabgen/lang/zh_cn.json
  projects/1.18/assets/slabgen-addon-bop/slabgenbop/lang/en_us.json
  projects/1.18/assets/slabgen-addon-bop/slabgenbop/lang/zh_cn.json
  projects/1.18/assets/slabgen/slabgen/lang/en_us.json
  projects/1.18/assets/slabgen/slabgen/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2620 Chickens 翻译提交
  projects/1.18/assets/chickens/chickens/lang/en_us.json
  projects/1.18/assets/chickens/chickens/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2637 Xaero's Minimap 翻译修正
  projects/1.12.2/assets/xaeros-minimap/xaerominimap/lang/zh_cn.lang
  projects/1.16-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.16-fabric/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.16/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap-fair-play-edition/xaerominimap/lang/zh_cn.json
  projects/1.18/assets/xaeros-minimap/xaerominimap/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 100+, 1.18.x, Fabric, Forge

#2636 farmers-bundle-of-joy翻译
  projects/1.18/assets/farmers-bundle-of-joy/farmers_bundle/lang/en_us.json
  projects/1.18/assets/farmers-bundle-of-joy/farmers_bundle/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2531 Plus the end 1.18 翻译提交
  projects/1.18/assets/plus-the-end/plus_the_end/lang/en_us.json
  projects/1.18/assets/plus-the-end/plus_the_end/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2630 更新create：industry（机械动力：工业）的翻译
  projects/1.18/assets/create-industry/createindustry/lang/en_us.json
  projects/1.18/assets/create-industry/createindustry/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2617 athelas翻译
  projects/1.18/assets/athelas/athelas/lang/en_us.json
  projects/1.18/assets/athelas/athelas/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2621 applied-cooking翻译
  projects/1.18/assets/applied-cooking/appliedcooking/lang/en_us.json
  projects/1.18/assets/applied-cooking/appliedcooking/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2622 miners-delight-plus翻译
  projects/1.18/assets/miners-delight-plus/miners_delight/lang/en_us.json
  projects/1.18/assets/miners-delight-plus/miners_delight/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2582 Just Enough Effect Descriptions (JEED) 翻译新增
  projects/1.16/assets/just-enough-effect-descriptions-jeed/jeed/lang/en_us.json
  projects/1.16/assets/just-enough-effect-descriptions-jeed/jeed/lang/zh_cn.json
  projects/1.18/assets/just-enough-effect-descriptions-jeed/jeed/lang/en_us.json
  projects/1.18/assets/just-enough-effect-descriptions-jeed/jeed/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2198 Rockhounding:chemistry 翻译更新至1.12.2-3.65.4，校对了新的汉化文件
  projects/1.12.2/assets/rockhounding-mod-chemistry/rockhounding_chemistry/lang/en_us.lang
  projects/1.12.2/assets/rockhounding-mod-chemistry/rockhounding_chemistry/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2370 提交wiles-collection模组翻译
  projects/1.16/assets/wiles-collection/wilescollection/lang/en_us.json
  projects/1.16/assets/wiles-collection/wilescollection/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2566 Cataclysm-0.40-1.16.5 翻译更新
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2519 Tempad翻译
  projects/1.18/assets/tempad/tempad/lang/en_us.json
  projects/1.18/assets/tempad/tempad/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2610 Variant Bookshelves 翻译提交
  projects/1.18-fabric/assets/variant-bookshelves-fabric/variant_bookshelves/lang/en_us.json
  projects/1.18-fabric/assets/variant-bookshelves-fabric/variant_bookshelves/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2619 revolution翻译
  projects/1.12.2/assets/revolution/revolution/lang/en_us.lang
  projects/1.12.2/assets/revolution/revolution/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2639 Twilight Forest 翻译更新
  projects/1.18/assets/the-twilight-forest/twilightforest/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2638 Floor Mats 翻译更新
  projects/1.18/assets/floor-mats/floormats/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2643 large-meals-an-add-on-for-farmers-delight翻译
  projects/1.16/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/en_us.json
  projects/1.16/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2640 the-irregular-chef文件修正
  projects/1.16/assets/the-irregular-chef/irregularchef/lang/zh_cn.json
  projects/1.16/assets/the-irregular-chef/irruglurchef/lang/en_us.json
  projects/1.16/assets/the-irregular-chef/irruglurchef/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2462 Domestication Innovation 翻译新增
  projects/1.18/assets/domestication-innovation/domesticationinnovation/lang/en_us.json
  projects/1.18/assets/domestication-innovation/domesticationinnovation/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2646 Festive Delight 翻译提交
  projects/1.18/assets/festive-delight/festive_delight/lang/en_us.json
  projects/1.18/assets/festive-delight/festive_delight/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2648 Simply light 翻译更新
  projects/1.18/assets/simply-light/simplylight/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2644 提交 simple-copper-pipes 模组翻译
  projects/1.18-fabric/assets/simple-copper-pipes/lunade/lang/en_us.json
  projects/1.18-fabric/assets/simple-copper-pipes/lunade/lang/zh_cn.json
Labels: 100+, 1.18.x, Fabric
