Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-05, with the labels that each got.

#1928 [R]Tinker Toolcasts
  projects/1.12.2/assets/tinker-toolcasts/tinkertoolcasts/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, need review, 10+, Forge

#1924 [R] CompactStorage 翻译提交
  projects/1.16/assets/compactstorage/compactstorage/lang/en_us.json
  projects/1.16/assets/compactstorage/compactstorage/lang/zh_cn.json
  projects/1.18/assets/compactstorage/compact-storage/lang/en_us.json
Labels: 1.16.x, 100+, need review, 1.18.x, Forge

#1912 [R] Mekanism matters翻译更新
  projects/1.16/assets/mekanism-matter/mekanismmatter/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, Forge

#1926 [R]Lush Caves
  projects/1.12.2/assets/glymworld-lush-caves/gwlushcaves/lang/en_us.lang
  projects/1.12.2/assets/glymworld-lush-caves/gwlushcaves/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, need review, 10+, Forge

#1917 [R] AE2Things Fabric&Forge 翻译提交
  projects/1.18-fabric/assets/ae2things/ae2things/lang/en_us.json
  projects/1.18-fabric/assets/ae2things/ae2things/lang/zh_cn.json
  projects/1.18/assets/ae2-things-forge/ae2things/lang/en_us.json
  projects/1.18/assets/ae2-things-forge/ae2things/lang/zh_cn.json
Labels: ready to merge, 100+, need review, 1.18.x, Fabric, Forge

#1918 [R] Anvil Fix 与 AntiGhost 翻译提交
  projects/1.18-fabric/assets/antighost/antighost/lang/zh_cn.json
  projects/1.18-fabric/assets/anvil-fix/anvil_fix/lang/zh_cn.json
Labels: ready to merge, need review, 1.18.x, 10+, Fabric

#1932 [R] Inventory Pets 翻译更正
  projects/1.16/assets/inventory-pets/inventorypets/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, Forge

#1947 [M] fix typo of 诡异森林 in allthemodium
  projects/1.16/assets/allthemodium/allthemodium/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#1948 [M] Apotheosis 错误修正
  projects/1.18/assets/apotheosis/apotheosis/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge

#1921 [R] Lazier AE2 en_us 与汉化更新
  projects/1.16/assets/lazierae2/lazierae2/lang/en_us.json
  projects/1.16/assets/lazierae2/lazierae2/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#1950 [M] update envirotech translation
  projects/1.16/assets/environmental-tech/envirotech/lang/en_us.json
  projects/1.16/assets/environmental-tech/envirotech/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#1916 [R] Tips 翻译提交
  projects/1.16/assets/tips/tips/lang/zh_cn.json
  projects/1.18/assets/tips/tips/lang/en_us.json
  projects/1.18/assets/tips/tips/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Forge

#1952 [R] Portable Stonecutter 和 Bone Torch 汉化新增
  projects/1.16/assets/better-muffling/bettermuffling/lang/zh_cn.json
  projects/1.16/assets/portable-stonecutter/portable_stonecutter/lang/zh_cn.json
  projects/1.16/assets/sbm-bone-torch/bonetorch/lang/zh_cn.json
Labels: 1.16.x, need review, 10+, Forge

#1962 [R] Tips 改进
  projects/1.16/assets/tips/tips/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 10+, Forge

#1961 [R] Simply Backpacks 翻译补充
  projects/1.16/assets/simply-backpacks/simplybackpacks/lang/en_us.json
  projects/1.16/assets/simply-backpacks/simplybackpacks/lang/zh_cn.json
  projects/1.18/assets/simply-backpacks/simplybackpacks/lang/en_us.json
  projects/1.18/assets/simply-backpacks/simplybackpacks/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Forge

#1931 [R] Applied Energistics 2 Wireless Terminals Forge 翻译提交
  projects/1.16/assets/applied-energistics-2-wireless-terminals-forge/ae2wtlib/lang/en_us.json
  projects/1.16/assets/applied-energistics-2-wireless-terminals-forge/ae2wtlib/lang/zh_cn.json
Labels: 1.16.x, 40+, need review, Forge

#1913 [R] BYG 翻译更新
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: 1.16.x, need review, 1.18.x, 10+, Forge

#1963 [R] Baubley Heart Canisters 汉化更新
  projects/1.16/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
  projects/1.18/assets/baubley-heart-canisters/bhc/lang/en_us.json
  projects/1.18/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, need review, 1.18.x, Forge

#1959 [R] Cultural Delights 翻译修正与搬运
  projects/1.16/assets/cultural-delights/culturaldelights/lang/zh_cn.json
  projects/1.18/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.18/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, 1.18.x, Forge

#1960 [R] Map Atlases 翻译提交
  projects/1.16/assets/map-atlases-forge/mapatlases/lang/en_us.json
  projects/1.16/assets/map-atlases-forge/mapatlases/lang/zh_cn.json
  projects/1.18/assets/map-atlases-forge/map_atlases/lang/en_us.json
  projects/1.18/assets/map-atlases-forge/map_atlases/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, 1.18.x, Forge

#1929 [R] Pattysmorestuff 翻译更新
  projects/1.16/assets/pattysmorestuff/pattysmorestuff/lang/en_us.json
  projects/1.16/assets/pattysmorestuff/pattysmorestuff/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 2000+, Forge

#1951 [R] Sea Dwellers 翻译提交
  projects/1.16/assets/nocubes-sea-dwellers/seadwellers/lang/en_us.json
  projects/1.16/assets/nocubes-sea-dwellers/seadwellers/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge, MCreator

#1955 [R] /tank/null 翻译提交及维护
  projects/1.16/assets/tank-null/tanknull/lang/en_us.json
  projects/1.16/assets/tank-null/tanknull/lang/zh_cn.json
  projects/1.18/assets/tank-null/tanknull/lang/en_us.json
  projects/1.18/assets/tank-null/tanknull/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, need review, 1.18.x, Forge

#1958 [R] VanillaTweaks 官中拉取及改进
  projects/1.16/assets/vanillatweaks/vanillatweaks/lang/en_us.json
  projects/1.16/assets/vanillatweaks/vanillatweaks/lang/zh_cn.json
  projects/1.18-fabric/assets/vanillatweaks/vanillatweaks/lang/en_us.json
  projects/1.18-fabric/assets/vanillatweaks/vanillatweaks/lang/zh_cn.json
  projects/1.18/assets/vanillatweaks/vanillatweaks/lang/en_us.json
  projects/1.18/assets/vanillatweaks/vanillatweaks/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, need review, 1.18.x, Fabric, Forge

#1957 [R] Zerocore 翻译更新
  projects/1.16/assets/zerocore/zerocore/lang/en_us.json
  projects/1.16/assets/zerocore/zerocore/lang/zh_cn.json
  projects/1.18/assets/zerocore/zerocore/lang/en_us.json
  projects/1.18/assets/zerocore/zerocore/lang/zh_cn.json
Labels: 1.16.x, 100+, need review, 1.18.x, Forge

#1956 [R] Iron Furnaces 翻译更新
  projects/1.16/assets/iron-furnaces/ironfurnaces/lang/en_us.json
  projects/1.16/assets/iron-furnaces/ironfurnaces/lang/zh_cn.json
  projects/1.18/assets/iron-furnaces/ironfurnaces/lang/en_us.json
  projects/1.18/assets/iron-furnaces/ironfurnaces/lang/zh_cn.json
Labels: 1.16.x, 1000+, need review, 1.18.x, Forge

#1974 [R] 末路之地 -> 末地
  projects/1.12.2/assets/end-reborn/endreborn/patchouli_books/book/zh_cn/categories/being.json
  projects/1.12.2/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/creating/end_flower.json
  projects/1.12.2/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/practices/aura_bottle.json
  projects/1.12.2/assets/sync/sync/lang/zh_cn.lang
  projects/1.16/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/creating/chorus_generator.json
  projects/1.16/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/practices/aura_bottle.json
  projects/1.16/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_endermite.json
  projects/1.16/assets/project-mmo/pmmo/lang/zh_cn.json
  projects/1.18/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/creating/chorus_generator.json
  projects/1.18/assets/natures-aura/naturesaura/patchouli_books/book/zh_cn/entries/practices/aura_bottle.json
  projects/1.18/assets/occultism/occultism/patchouli_books/dictionary_of_spirits/zh_cn/entries/rituals/possession/possess_endermite.json
  projects/1.18/assets/project-mmo/pmmo/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, need review, 1.18.x, 10+, Forge

#1981 [R] 盔甲值 -> 护甲值
  projects/1.18-fabric/assets/wolves-with-armor/wolveswitharmor/lang/zh_cn.json
  projects/1.18/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
  projects/1.18/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: ready to merge, 1+, need review, 1.18.x, Fabric, Forge

#1991 [M]添加模组Just Enough Description的原文
  projects/1.18/assets/just-enough-descriptions-jed/jed/jed/en_us.json
  projects/1.18/assets/just-enough-descriptions-jed/jed/jed/zh_cn.json
  projects/1.18/assets/just-enough-descriptions-jed/jed/lang/en_us.json
  projects/1.18/assets/just-enough-descriptions-jed/jed/lang/zh_cn.json
Labels: 1000+, 1.18.x, Forge

#1989 [R] AE Infinity Booster 翻译提交
  projects/1.16/assets/aeinfinitybooster/aeinfinitybooster/lang/en_us.json
  projects/1.16/assets/aeinfinitybooster/aeinfinitybooster/lang/zh_cn.json
  projects/1.18/assets/aeinfinitybooster/aeinfinitybooster/lang/en_us.json
  projects/1.18/assets/aeinfinitybooster/aeinfinitybooster/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 1.18.x, 10+, Forge

#1990 [R] Cultural Delights 翻译更新
  projects/1.18/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.18/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: ready to merge, 100+, need review, 1.18.x, Forge

#1993 [M] 移除 need review 标签
  .github/config.json
Labels: 1+

#1998 [M] remove betterf3 due to completely offical chinese（虽然官方翻译不咋样）
  projects/1.16/assets/betterf3/betterf3/lang/en_us.json
  projects/1.16/assets/betterf3/betterf3/lang/zh_cn.json
  projects/1.18/assets/betterf3/betterf3/lang/en_us.json
  projects/1.18/assets/betterf3/betterf3/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#2000 [R] Angel Block 翻译提交
  projects/1.16/assets/angel-block/angelblock/lang/en_us.json
  projects/1.16/assets/angel-block/angelblock/lang/zh_cn.json
Labels: 1.16.x, 1+, Forge

#2005 [R] Croparia1.12 错译改正
  projects/1.12.2/assets/croparia/croparia/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#2002 [R] Corail's Tombstone 翻译更新
  projects/1.16/assets/corail-tombstone/tombstone/lang/en_us.json
  projects/1.16/assets/corail-tombstone/tombstone/lang/zh_cn.json
  projects/1.18/assets/corail-tombstone/tombstone/lang/en_us.json
  projects/1.18/assets/corail-tombstone/tombstone/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, 1.18.x, Forge

#2022 [R] MaLiLib 翻译更新
  projects/1.16-fabric/assets/malilib/malilib/lang/en_us.json
  projects/1.16-fabric/assets/malilib/malilib/lang/zh_cn.json
  projects/1.18-fabric/assets/malilib/malilib/lang/en_us.json
  projects/1.18-fabric/assets/malilib/malilib/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Fabric
