Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-03, with the labels that each got.

#1594 [R] Simple Magnets update
  projects/1.18/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.18/assets/simple-magnets/simplemagnets/lang/zh_cn.json
Labels: ready to merge, M, need review, 1.18.x

#1605 [R] update Click Machine
  projects/1.12.2/assets/click-machine/clickmachine/lang/zh_cn.lang
  projects/1.16/assets/click-machine/clickmachine/lang/en_us.json
  projects/1.16/assets/click-machine/clickmachine/lang/zh_cn.json
  projects/1.18/assets/click-machine/clickmachine/lang/en_us.json
  projects/1.18/assets/click-machine/clickmachine/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, L, need review, 1.18.x

#1606 [R] Snowy Spirit 翻译提交
  projects/1.18/assets/snowy-spirit/snowyspirit/lang/en_us.json
  projects/1.18/assets/snowy-spirit/snowyspirit/lang/zh_cn.json
Labels: ready to merge, L, need review, main, 1.18.x

#1603 [R] Supplementaries 翻译更新
  projects/1.16/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.16/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.18/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.18/assets/supplementaries/supplementaries/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, XXXL, main, 1.18.x

#1610 [R] Backpacked 翻译提交
  projects/1.16/assets/backpacked/backpacked/lang/en_us.json
  projects/1.16/assets/backpacked/backpacked/lang/zh_cn.json
  projects/1.18/assets/backpacked/backpacked/lang/en_us.json
  projects/1.18/assets/backpacked/backpacked/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, main, 1.18.x

#1614 [R] Iron Food 新增 #CFPA-486095113040800
  projects/1.16/assets/iron-food/ironfood/lang/en_us.json
  projects/1.16/assets/iron-food/ironfood/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, main

#1601 [R] add SimpleTomb
  projects/1.16/assets/simple-tomb/simpletomb/lang/zh_cn.json
  projects/1.18/assets/simple-tomb/simpletomb/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x

#1599 [R] 工单提交翻译更新（2022年3月3日12:57:35）
  projects/1.16/assets/hostile-mobs-and-girls/hmag/lang/en_us.json
  projects/1.16/assets/hostile-mobs-and-girls/hmag/lang/zh_cn.json
  projects/1.16/assets/new-xp-ore/new_xp_ore/lang/en_us.json
  projects/1.16/assets/new-xp-ore/new_xp_ore/lang/zh_cn.json
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.16/assets/quartz-chests/quartzchests/lang/en_us.json
  projects/1.16/assets/quartz-chests/quartzchests/lang/zh_cn.json
  projects/1.16/assets/questsadditions/questsadditions/lang/en_us.json
  projects/1.16/assets/questsadditions/questsadditions/lang/zh_cn.json
  projects/1.16/assets/simply-jetpacks-2/simplyjetpacks/lang/en_us.json
  projects/1.16/assets/simply-jetpacks-2/simplyjetpacks/lang/zh_cn.json
  projects/1.16/assets/sulfurpotassiummod/sulfurpotassiummod/lang/en_us.json
  projects/1.16/assets/sulfurpotassiummod/sulfurpotassiummod/lang/zh_cn.json
  projects/1.16/assets/taiga2/taiga/lang/zh_cn.json
  projects/1.16/assets/tbouncepad/tbouncepad/lang/en_us.json
  projects/1.16/assets/tbouncepad/tbouncepad/lang/zh_cn.json
  projects/1.16/assets/the-better-flint-mod/flint_tools/lang/en_us.json
  projects/1.16/assets/the-better-flint-mod/flint_tools/lang/zh_cn.json
  projects/1.16/assets/thermal-foundation/thermal/lang/en_us.json
  projects/1.16/assets/thermal-foundation/thermal/lang/zh_cn.json
  projects/1.16/assets/tinkersarchery/tinkersarchery/lang/en_us.json
  projects/1.16/assets/tinkersarchery/tinkersarchery/lang/zh_cn.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.18/assets/toughasnails/toughasnails/lang/en_us.json
  projects/1.18/assets/toughasnails/toughasnails/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, XXXXL, 1.18.x

#1617 [R] Mystical Adaptations 新增 #CFPA-919429542130164
  projects/1.12.2/assets/mystical-adaptations/mysticaladaptations/lang/en_us.lang
  projects/1.12.2/assets/mystical-adaptations/mysticaladaptations/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, L, need review

#1623 [R] 关闭 Spider
  .github/workflows/spider.yml
Labels: XS, need review

#1625 [R] Storage Drawers 储物抽屉 更新
  projects/1.16/assets/storage-drawers/storagedrawers/lang/en_us.json
  projects/1.16/assets/storage-drawers/storagedrawers/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1615 [R] miniutilities 更新 #CFPA-777754404419985
  projects/1.16/assets/miniutilities/miniutilities/lang/en_us.json
  projects/1.16/assets/miniutilities/miniutilities/lang/zh_cn.json
Labels: 1.16.x, ready to merge, S

#1618 [R] Hals Exploration Mod 新增 #CFPA-486095113040800
  projects/1.16/assets/hals-exploration-mod/hem/lang/en_us.json
  projects/1.16/assets/hals-exploration-mod/hem/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L

#1612 [R] Gobber 戈伯2未汉化物品的汉化 The Wild Update 翻译提交
  projects/1.18/assets/gobber/gobber2/lang/en_us.json
  projects/1.18/assets/gobber/gobber2/lang/zh_cn.json
  projects/1.18/assets/the-wild-update/the_wild_update/lang/en_us.json
  projects/1.18/assets/the-wild-update/the_wild_update/lang/zh_cn.json
Labels: ready to merge, XL, need review, main, 1.18.x

#1628 [R] Floral Flair 翻译更新
  projects/1.18/assets/floral-flair/floral_flair/lang/en_us.json
  projects/1.18/assets/floral-flair/floral_flair/lang/zh_cn.json
Labels: ready to merge, L, main, 1.18.x

#1624 [R]redstonearsenal翻译提交
  projects/1.16/assets/redstone-arsenal/redstonearsenal/lang/en_us.json
  projects/1.16/assets/redstone-arsenal/redstonearsenal/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1619 [R] Epic Fight 史诗战斗更新 #CFPA-990556711043227
  projects/1.16/assets/epic-fight-mod/epicfight/lang/en_us.json
  projects/1.16/assets/epic-fight-mod/epicfight/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1633 [R] More Crafting Tables for Forge! 新增 #CFPA-0603
  projects/1.16/assets/more-crafting-tables-for-forge/mctb/lang/en_us.json
  projects/1.16/assets/more-crafting-tables-for-forge/mctb/lang/zh_cn.json
  projects/1.18/assets/more-crafting-tables-for-forge/mctb/lang/en_us.json
  projects/1.18/assets/more-crafting-tables-for-forge/mctb/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x

#1636 [R] ring of blink #CFPA-0605
  projects/1.16/assets/ring-of-blink-forge/ring_of_blink/lang/en_us.json
  projects/1.16/assets/ring-of-blink-forge/ring_of_blink/lang/zh_cn.json
  projects/1.18/assets/ring-of-blink-forge/ring_of_blink/lang/en_us.json
  projects/1.18/assets/ring-of-blink-forge/ring_of_blink/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review, 1.18.x

#1639 [R]修改Pyromancer中Firelink的译名
  projects/1.16/assets/pyromancer/pyromancer/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review

#1640 [R] The Forbidden 新增 #CFPA-0609
  projects/1.16/assets/the-forbidden/theforbbiden/lang/en_us.json
  projects/1.16/assets/the-forbidden/theforbbiden/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1632 [R] Guns Without Roses 新增 #CFPA-733848830752436
  projects/1.16/assets/guns-without-roses/gunswithoutroses/lang/en_us.json
  projects/1.16/assets/guns-without-roses/gunswithoutroses/lang/zh_cn.json
  projects/1.18/assets/guns-without-roses/gunswithoutroses/lang/en_us.json
  projects/1.18/assets/guns-without-roses/gunswithoutroses/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x

#1630 [R] Ancient Beasts #CFPA-597973352142162
  projects/1.12.2/assets/ancient-beasts/ancientbeasts/lang/en_us.lang
  projects/1.12.2/assets/ancient-beasts/ancientbeasts/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, L, need review

#1634 [R] Greater Eye of Ender 新增 #CFPA-0604
  projects/1.16/assets/greater-eye-of-ender-forge/greater_eye/lang/en_us.json
  projects/1.16/assets/greater-eye-of-ender-forge/greater_eye/lang/zh_cn.json
  projects/1.18/assets/greater-eye-of-ender-forge/greater_eye/lang/en_us.json
  projects/1.18/assets/greater-eye-of-ender-forge/greater_eye/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review, 1.18.x

#1616 [R]Moar Heat Sinks(NCO扩展) 翻译提交
  projects/1.12.2/assets/nuclearcraft-overhauled/nuclearcraft/lang/en_us.lang
  projects/1.12.2/assets/nuclearcraft-overhauled/nuclearcraft/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, XXL, need review, main

#1629 [R]Epic Knights: Shields, Armor and Weapons 史诗骑士：盾牌，盔甲和武器 #CFPA-312491488332814
  projects/1.12.2/assets/epic-knights-armor-and-weapons/magistuarmory/lang/en_us.lang
  projects/1.12.2/assets/epic-knights-armor-and-weapons/magistuarmory/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, XL, need review

#1635 [R] Cyclic 循环，反重力环->反重力戒指
  projects/1.16/assets/cyclic/cyclic/lang/zh_cn.json
  projects/1.18/assets/cyclic/cyclic/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review, 1.18.x

#1638 [R] Mob Battle Mod（怪物大乱斗） 更新en原文与翻译 #CFPA-0602
  projects/1.12.2/assets/mob-battle-mod/mobbattle/lang/en_US.lang
  projects/1.12.2/assets/mob-battle-mod/mobbattle/lang/zh_CN.lang
  projects/1.16/assets/mob-battle-mod/mobbattle/lang/en_us.json
  projects/1.16/assets/mob-battle-mod/mobbattle/lang/zh_cn.json
  projects/1.18/assets/mob-battle-mod/mobbattle/lang/en_us.json
  projects/1.18/assets/mob-battle-mod/mobbattle/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, L, need review, main, 1.18.x

#1642 [R] Epic Knights Shields, Armor and Weapons 新增 #CFPA-0608
  projects/1.16/assets/epic-knights-armor-and-weapons/magistuarmory/lang/en_us.json
  projects/1.16/assets/epic-knights-armor-and-weapons/magistuarmory/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review

#1644 [R] Cultural Delights 翻译提交
  projects/1.16/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.16/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, main

#1647 [R] 修正部分翻译
  projects/1.12.2/assets/aquaculture/aquaculture/lang/zh_cn.lang
  projects/1.16/assets/aquaculture/aquaculture/lang/zh_cn.json
  projects/1.16/assets/stardew-armory/stardewarmory/lang/zh_cn.json
  projects/1.18/assets/aquaculture/aquaculture/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, need review, 1.18.x, S

#1627 [R] Subterranean Wilderness 新增 #CFPA-0601
  projects/1.16/assets/subterranean-wilderness/subwild/lang/en_us.json
  projects/1.16/assets/subterranean-wilderness/subwild/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review

#1657 [R] Masonry 翻译提交
  projects/1.16/assets/masonry/masonry/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1660 [R]Easy Emerald Tools & More的翻译提交
  projects/1.18/assets/easy-emerald-tools/easy_emerald/lang/en_us.json
  projects/1.18/assets/easy-emerald-tools/easy_emerald/lang/zh_cn.json
Labels: ready to merge, L, need review, 1.18.x

#1661 [R]Skewers Updated的翻译提交
  projects/1.18/assets/skewers-updated/skewers/lang/en_us.json
  projects/1.18/assets/skewers-updated/skewers/lang/zh_cn.json
Labels: ready to merge, M, need review, 1.18.x

#1662 [R]Upgraded Netherite : Ultimerite的翻译提交
  projects/1.18/assets/upgraded-netherite-ultimerite/upgradednetherite_ultimate/lang/en_us.json
  projects/1.18/assets/upgraded-netherite-ultimerite/upgradednetherite_ultimate/lang/zh_cn.json
Labels: ready to merge, M, need review, 1.18.x

#1645 [R] Industrial Magic - Crossover IC2 #CFPA-0611
  projects/1.12.2/assets/im-crossover-ic2/emt/lang/en_us.lang
  projects/1.12.2/assets/im-crossover-ic2/emt/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, L, need review

#1671 [R] Gamestages 翻译提交
  projects/1.16/assets/game-stages/gamestages/lang/zh_cn.json
Labels: 1.16.x, ready to merge, S

#1663 [M] Mekanism 同步官中，改正翻译错误
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS

#1664 [R]Upgraded Netherite : Creativerite的翻译提交
  projects/1.18/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/en_us.json
  projects/1.18/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/zh_cn.json
Labels: ready to merge, L, need review, 1.18.x

#1665 [R]Upgraded Netherite : Items的翻译提交
  projects/1.18/assets/upgraded-netherite-items/upgradednetherite_items/lang/en_us.json
  projects/1.18/assets/upgraded-netherite-items/upgradednetherite_items/lang/zh_cn.json
Labels: ready to merge, L, need review, 1.18.x

#1666 [R] L_Ender 's Cataclysm 翻译更新 #CFPA-0615
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1675 [R] Not Enough Variations 翻译提交 #CFPA-0613
  projects/1.12.2/assets/not-enough-variations/missingblocks/lang/en_us.lang
  projects/1.12.2/assets/not-enough-variations/missingblocks/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, M, need review

#1680 [M] Gamestages 翻译更改：统一空格
  projects/1.16/assets/game-stages/gamestages/lang/zh_cn.json
  projects/1.18/assets/game-stages/gamestages/lang/en_us.json
  projects/1.18/assets/game-stages/gamestages/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, 1.18.x

#1679 [R] Totemmod 翻译提交
  projects/1.16/assets/wither-totem/totemmod/lang/zh_cn.json
  projects/1.18/assets/wither-totem/totemmod/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 1.18.x, S

#1681 [R] Advanced-XRay 翻译提交
  projects/1.16/assets/advanced-xray/xray/lang/zh_cn.json
  projects/1.18/assets/advanced-xray/xray/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x

#1669 [R] Addendum 翻译提交
  projects/1.16/assets/addendum-fabric/addendum/lang/zh_cn.json
  projects/1.18/assets/addendum-fabric/addendum/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x, Fabric

#1674 [R] Simply Cats 翻译提交 #CFPA-0616
  projects/1.12.2/assets/simply-cats/simplycats/lang/en_us.lang
  projects/1.12.2/assets/simply-cats/simplycats/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, L, need review

#1682 [R] Yung's better mineshafts 翻译提交
  projects/1.16/assets/yungs-better-mineshafts-fabric/bettermineshafts/lang/zh_cn.json
  projects/1.18/assets/yungs-better-mineshafts-fabric/bettermineshafts/lang/en_us.json
  projects/1.18/assets/yungs-better-mineshafts-fabric/bettermineshafts/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x, Fabric

#1685 [R] Silent Gear 翻译更新 填一下Silent先生的远古巨坑
  projects/1.18/assets/silent-gear/silentgear/lang/en_us.json
  projects/1.18/assets/silent-gear/silentgear/lang/zh_cn.json
Labels: ready to merge, XS, need review, main, 1.18.x

#1686 [R] 提交 Cartographer 模组翻译 #CFPA-0619
  projects/1.16/assets/cartographer/cartographer/lang/en_us.json
  projects/1.16/assets/cartographer/cartographer/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1688 [R] More Chickens 因瓦合金鸡 -> 殷钢鸡 #CFPA-0625
  projects/1.12.2/assets/more-chickens/morechickens/lang/zh_cn.lang
Labels: 1.12.x, XS, need review

#1696 [R] Compressium 文本更正
  projects/1.16/assets/compressium/compressium/lang/zh_cn.json
Labels: 1.16.x, need review, S

#1683 [R] 新增 Pet Revival 模组翻译 #CFPA-0620
  projects/1.16/assets/pet-revival/petrevive/lang/en_us.json
  projects/1.16/assets/pet-revival/petrevive/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1684 [R] 更新 Tool Leveling+ 模组翻译 #CFPA-0612
  projects/1.18/assets/tool-leveling-plus/toolleveling/lang/en_us.json
  projects/1.18/assets/tool-leveling-plus/toolleveling/lang/zh_cn.json
Labels: ready to merge, need review, 1.18.x, S

#1689 [R] 鳄梨 -> 牛油果
  projects/1.12.2/assets/1UNKNOWN/pmp/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/realworld/lang/zh_cn.lang
  projects/1.12.2/assets/binnies-mods/extratrees/lang/zh_cn.lang
  projects/1.12.2/assets/dtphc/dynamictreesphc/lang/zh_cn.lang
  projects/1.12.2/assets/jaffa-foods-a-harvestcraft-addon/jaffa/lang/zh_cn.lang
  projects/1.16/assets/croptopia-fabric/croptopia/lang/zh_cn.json
  projects/1.18/assets/croptopia-fabric/croptopia/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, need review, 1.18.x, S

#1690 [R] Additional Banners 翻译提交
  projects/1.16/assets/additional-banners/additionalbanners/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review

#1687 [R] Advanced Hook Launchers 翻译更新 #CFPA-0623
  projects/1.16/assets/advanced-hook-launchers/adhooks/lang/en_us.json
  projects/1.16/assets/advanced-hook-launchers/adhooks/lang/zh_cn.json
  projects/1.18/assets/advanced-hook-launchers/adhooks/lang/en_us.json
  projects/1.18/assets/advanced-hook-launchers/adhooks/lang/zh_cn.json
Labels: 1.16.x, ready to merge, L, need review, 1.18.x

#1693 [R] All The Compressed 翻译提交
  projects/1.16/assets/allthecompressed/allthecompressed/lang/en_us.json
  projects/1.16/assets/allthecompressed/allthecompressed/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, XXXL

#1695 [R] All The Mods: Additions 翻译提交
  projects/1.16/assets/atm-additions/atmadditions/lang/en_us.json
  projects/1.16/assets/atm-additions/atmadditions/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1703 [M] 训练人偶更新到1.18
  projects/1.18/assets/mmmmmmmmmmmm/dummmmmmy/lang/en_us.json
  projects/1.18/assets/mmmmmmmmmmmm/dummmmmmy/lang/zh_cn.json
Labels: ready to merge, main, 1.18.x, S

#1692 [R] Advancement Plus 翻译提交
  projects/1.16/assets/advancement-plus-vanilla/advancementplus/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review

#1704 [R] All the tweaks 翻译提交
  projects/1.16/assets/all-the-tweaks/allthetweaks/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review

#1698 [R] Alchemistry 翻译提交
  projects/1.16/assets/alchemistry/alchemistry/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review

#1705 [R] Animal Crops 翻译提交
  projects/1.16/assets/animal-crops/animalcrops/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1701 [R] 对照 tr 修正 advanced-fishing 模组的部分译名
  projects/1.12.2/assets/advanced-fishing/advanced-fishing/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, need review, S

#1711 [R] Anvil Fix 翻译提交
  projects/1.16/assets/anvil-fix/anvil_fix/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review, Fabric

#1714 [R] Auto Smelt Enchant 翻译修正及补充
  projects/1.16/assets/auto-smelt-enchantment/autosmeltenchant/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review, Fabric

#1720 [R] Backpacker 翻译提交
  projects/1.16/assets/backpacker/backpacker/lang/zh_cn.json
  projects/1.18/assets/backpacker/backpacker/lang/en_us.json
  projects/1.18/assets/backpacker/backpacker/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, 1.18.x, S

#1710 [R] Antighost 翻译提交
  projects/1.16/assets/antighost/antighost/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review

#1715 [R] Ma Enchants 翻译及原文提交
  projects/1.18/assets/ma-enchants/maenchants/lang/en_us.json
  projects/1.18/assets/ma-enchants/maenchants/lang/zh_cn.json
Labels: ready to merge, L, need review, main, 1.18.x

#1719 [R] Relics 翻译更新
  projects/1.16/assets/relics-mod/relics/lang/en_us.json
  projects/1.16/assets/relics-mod/relics/lang/zh_cn.json
Labels: 1.16.x, XL, need review, main

#1721 [R] Backslot 翻译提交
  projects/1.16/assets/backslot/backslot/lang/en_us.json
  projects/1.16/assets/backslot/backslot/lang/zh_cn.json
Labels: 1.16.x, ready to merge, S, Fabric

#1706 [R] 提交 better-diving 模组翻译
  projects/1.16/assets/better-diving/better_diving/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, need review

#1744 [R] Checklist 翻译提交
  projects/1.16/assets/checklist/checklist/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1743 [R] Carrier 翻译提交
  projects/1.16/assets/carrier/carrier/lang/zh_cn.json
Labels: 1.16.x, XS, need review, Fabric

#1742 [R] Camels 翻译提交
  projects/1.16/assets/camels/camels/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1700 [R] Darkutils 翻译修正
  projects/1.16/assets/dark-utilities/darkutils/lang/en_us.json
  projects/1.16/assets/dark-utilities/darkutils/lang/zh_cn.json
  projects/1.18/assets/dark-utilities/darkutils/lang/en_us.json
  projects/1.18/assets/dark-utilities/darkutils/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XL, need review, 1.18.x

#1708 [R] Animalium 翻译提交
  projects/1.16/assets/animalium/animalium/lang/zh_cn.json
Labels: 1.16.x, ready to merge, need review, S

#1713 [R] Audio Output 翻译提交
  projects/1.16/assets/audio-output/audiooutput/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review, Fabric

#1717 [R] Glassential 翻译提交
  projects/1.16/assets/glassential/glassential/lang/en_us.json
  projects/1.16/assets/glassential/glassential/lang/zh_cn.json
Labels: 1.16.x, ready to merge, M, main

#1733 [R] Bio Technik 翻译提交
  projects/1.16/assets/bio-technik/biotechnik/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS

#1734 [R] Birdneststres 翻译提交
  projects/1.16/assets/birds-nests-and-treasures/birdsneststres/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS

#1735 [R] Blockarmor 翻译提交
  projects/1.16/assets/block-armor/blockarmor/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS

#1736 [R] Blockshifter 翻译提交
  projects/1.16/assets/blockshifter/blockshifter/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, Fabric

#1745 [R] Coffee Mod 翻译提交
  projects/1.16/assets/coffee-mod/coffeemod/lang/zh_cn.json
Labels: 1.16.x, ready to merge, XS, need review

#1731 [R] Beenfo 翻译提交与英文更正
  projects/1.16/assets/beenfo/beenfo/lang/en_us.json
  projects/1.16/assets/beenfo/beenfo/lang/zh_cn.json
Labels: 1.16.x, need review, S

#1732 [R] Better Hurt Timer 翻译提交
  projects/1.16/assets/better-hurt-timer/betterhurttimer/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1740 [R] Bundles Mod 翻译提交
  projects/1.16/assets/bundles-mod/bundles/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1741 [R] Cactus Juice 翻译提交
  projects/1.16/assets/cactus-juice/cactusjuice/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1739 [R] Building Wands 翻译提交
  projects/1.16/assets/building-wands/wands/lang/en_us.json
  projects/1.16/assets/building-wands/wands/lang/zh_cn.json
  projects/1.18/assets/building-wands/wands/lang/en_us.json
Labels: 1.16.x, L, need review, 1.18.x, Fabric

#1747 [R] Skiing 翻译新增 #CFPA-0628
  projects/1.16/assets/skiing/skiing/lang/en_us.json
  projects/1.16/assets/skiing/skiing/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1750 [R] Compressed Blocks 翻译提交
  projects/1.16/assets/compressed-blocks-for-fabric/compressedblocks/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1751 [R] Consoleexperience 翻译提交
  projects/1.16/assets/console-experience/consoleexperience/lang/en_us.json
  projects/1.16/assets/console-experience/consoleexperience/lang/zh_cn.json
  projects/1.16/assets/console-hud/consoleexperience/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1752 [R] Fabric Controlling 翻译提交
  projects/1.16/assets/controlling-for-fabric/fabriccontrolling/lang/zh_cn.json
Labels: 1.16.x, need review, S, Fabric

#1753 [R] Corpsecomplex 翻译提交
  projects/1.16/assets/corpse-complex/corpsecomplex/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1755 [R] Craftable Utilities 翻译提交
  projects/1.16/assets/craftable-utilities/craftable_utilities/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1756 [R] Crafting Automat 翻译提交
  projects/1.16/assets/crafting-automat/craftingautomat/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1757 [R] Craftingpad 翻译提交
  projects/1.16/assets/craftingpad-fabric/craftingpad/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1759 [R] Custom Crosshair Mod 翻译提交
  projects/1.16/assets/custom-crosshair-mod/custom-crosshair-mod/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1760 [M] Locks 同步1.12翻译
  projects/1.16/assets/locks/locks/lang/zh_cn.json
Labels: 1.16.x, M

#1758 [R] Crawl 翻译提交
  projects/1.16/assets/crawl/crawl/lang/en_us.json
  projects/1.16/assets/crawl/crawl/lang/zh_cn.json
Labels: 1.16.x, need review, S

#1764 [R] Telepastries 翻译提交
  projects/1.16/assets/telepastries/telepastries/lang/en_us.json
  projects/1.16/assets/telepastries/telepastries/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1763 [R] Sweet Concrete 翻译提交
  projects/1.16/assets/sweet-concrete/sweetconcrete/lang/en_us.json
  projects/1.16/assets/sweet-concrete/sweetconcrete/lang/zh_cn.json
Labels: 1.16.x, L, need review

#1765 [R] Customizable Elytra 翻译提交与英文更正
  projects/1.16/assets/customizable-elytra/customizableelytra/lang/en_us.json
  projects/1.16/assets/customizable-elytra/customizableelytra/lang/zh_cn.json
Labels: 1.16.x, M, need review

#1766 [R] Kiwibirds 翻译提交
  projects/1.16/assets/cute-kiwi-birds-new-animal/kiwibirds/lang/zh_cn.json
Labels: 1.16.x, XS, need review

#1769 [R] Durability Notifier 翻译提交
  projects/1.16/assets/durability-notifier/durabilitynotifier/lang/en_us.json
  projects/1.16/assets/durability-notifier/durabilitynotifier/lang/zh_cn.json
Labels: 1.16.x, need review, S
