Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-12, with the labels that each got.

#2603 提交 Croparia 模组翻译
  projects/1.18-fabric/assets/croparia/croparia/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2297 Xaeros world map 翻译更新
  projects/1.18/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.18/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2642 daves-potioneering翻译
  projects/1.16-fabric/assets/daves-potioneering/davespotioneering/lang/en_us.json
  projects/1.16-fabric/assets/daves-potioneering/davespotioneering/lang/zh_cn.json
  projects/1.16/assets/daves-potioneering/davespotioneering/lang/en_us.json
  projects/1.16/assets/daves-potioneering/davespotioneering/lang/zh_cn.json
  projects/1.18-fabric/assets/daves-potioneering/davespotioneering/lang/en_us.json
  projects/1.18-fabric/assets/daves-potioneering/davespotioneering/lang/zh_cn.json
  projects/1.18/assets/daves-potioneering/davespotioneering/lang/en_us.json
  projects/1.18/assets/daves-potioneering/davespotioneering/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Fabric, Forge

#2631 Fairy Lights 翻译更新
  projects/1.18/assets/fairy-lights/fairylights/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2651 更新 Xaero's WorldMap 翻译
  projects/1.16-fabric/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.16-fabric/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
  projects/1.16/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.16/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
  projects/1.18-fabric/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.18-fabric/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
  projects/1.18/assets/xaeros-world-map/xaeroworldmap/lang/en_us.json
  projects/1.18/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.json
Labels: 1.16.x, 1000+, 1.18.x, Fabric, Forge

#2653 Macaw's Paths & Paving 翻译更新
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2483 K-Turrets 1.18.2 翻译提交
  projects/1.18/assets/k-turrets/k-turrets/lang/en_us.json
  projects/1.18/assets/k-turrets/k-turrets/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2662 extractinator 翻译新增
  projects/1.18-fabric/assets/extractinator/extractinator/lang/en_us.json
  projects/1.18-fabric/assets/extractinator/extractinator/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Fabric

#2645 Epic Fight 更新至 1.18.2
  projects/1.18/assets/epic-fight-mod/epicfight/lang/en_us.json
  projects/1.18/assets/epic-fight-mod/epicfight/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2178 Integrated Dynamics 及其附属翻译提交、增加、修改，部分官中拉取
  projects/1.16/assets/integrated-additions/integratedadditions/lang/en_us.json
  projects/1.16/assets/integrated-additions/integratedadditions/lang/zh_cn.json
  projects/1.16/assets/integrated-crafting/integratedcrafting/lang/zh_cn.json
  projects/1.16/assets/integrated-dynamics/integrateddynamics/lang/en_us.json
  projects/1.16/assets/integrated-dynamics/integrateddynamics/lang/zh_cn.json
  projects/1.16/assets/integrated-proxy/integrated_proxy/lang/en_us.json
  projects/1.16/assets/integrated-proxy/integrated_proxy/lang/zh_cn.json
  projects/1.16/assets/integrated-terminals/integratedterminals/lang/zh_cn.json
  projects/1.16/assets/integrated-terminals/integratedterminalscompat/lang/zh_cn.json
  projects/1.16/assets/integrated-tunnels/integratedtunnels/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, Forge

#1979 [R] Timeless and classic guns 汉化词条补充提交
  projects/1.16/assets/timeless-and-classic-guns/tac/lang/en_us.json
  projects/1.16/assets/timeless-and-classic-guns/tac/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, need review, Forge

#2249 Farlanders 原翻译修补
  projects/1.16/assets/farlanders/farlanders/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2647 Naturalist 翻译提交与更新
  projects/1.18/assets/naturalist/naturalist/lang/en_us.json
  projects/1.18/assets/naturalist/naturalist/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2213 Biome Makeover 翻译提交
  projects/1.18/assets/biome-makeover-forge/biomemakeover/lang/en_us.json
  projects/1.18/assets/biome-makeover-forge/biomemakeover/lang/zh_cn.json
Labels: ready to merge, 1000+, 1.18.x, Forge

#2650 Advanced NBT Tooltips 翻译提交
  projects/1.18-fabric/assets/advanced-nbt-tooltips/advancednbttooltip/lang/en_us.json
  projects/1.18-fabric/assets/advanced-nbt-tooltips/advancednbttooltip/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2626 Macaw's Windows 和 Macaw's Roofs 翻译更新
  projects/1.16/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.16/assets/macaws-windows/mcwwindows/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.18/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.18/assets/macaws-windows/mcwwindows/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2661 packages 翻译新增
  projects/1.18-fabric/assets/packages/packages/lang/en_us.json
  projects/1.18-fabric/assets/packages/packages/lang/zh_cn.json
Labels: 100+, 1.18.x, Fabric

#2654 SoL: Sweet Potato Edition 翻译提交
  projects/1.18/assets/spice-of-life-sweet-potato-edition/solsweetpotato/lang/en_us.json
  projects/1.18/assets/spice-of-life-sweet-potato-edition/solsweetpotato/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2667 Create Stuff Additions 1.16 翻译补充
  projects/1.16/assets/create-stuff-additions/create_stuff_additions/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2659 Immersive Petroleum 翻译更新
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/en_us.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/asphalt.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/automaticlubricator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/cokerunit.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/derrick.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/distillationtower.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/oiltank.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/plastics.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/portablegenerator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/projector.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/pumpjack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/speedboat.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/asphalt.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/automaticlubricator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/cokerunit.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/derrick.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/distillationtower.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/napalm.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/oiltank.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/plastics.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/portablegenerator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/projector.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/pumpjack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/speedboat.txt
Labels: 1000+, 1.18.x, Forge

#2681 betterendforge 错译修正
  projects/1.16/assets/betterend-re-forked/betterendforge/lang/en_us.json
  projects/1.16/assets/betterend-re-forked/betterendforge/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2680 NewWorld 翻译提交
  projects/1.18/assets/newworld/newworld/lang/en_us.json
  projects/1.18/assets/newworld/newworld/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2528 Tiny Pipes 翻译新增
  projects/1.18/assets/tiny-pipes/tinypipes/lang/en_us.json
  projects/1.18/assets/tiny-pipes/tinypipes/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2666 Mosaic Carpentry 翻译提交
  projects/1.18/assets/mosaic-carpentry/mosaic_carpentry/lang/en_us.json
  projects/1.18/assets/mosaic-carpentry/mosaic_carpentry/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2699 提交 Macaw 附属全家桶汉化
  projects/1.18/assets/macaws-bridges-biome-o-plenty/macawsbridgesbop/lang/en_us.json
  projects/1.18/assets/macaws-bridges-biome-o-plenty/macawsbridgesbop/lang/zh_cn.json
  projects/1.18/assets/macaws-bridges-oh-the-biomes-youll-go/macawsbridgesbyg/lang/en_us.json
  projects/1.18/assets/macaws-bridges-oh-the-biomes-youll-go/macawsbridgesbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/lang/en_us.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/en_us.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/en_us.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/zh_cn.json
Labels: ready to merge, 2000+, 1.18.x, Forge

#2281 Grimoire of Tetra 1.18 和 Tetranomicon 1.16 翻译提交与更新
  projects/1.16/assets/tetranomicon/tetranomicon/lang/zh_cn.json
  projects/1.18/assets/grimoire-of-tetra/grimoire_of_tetra/lang/en_us.json
  projects/1.18/assets/grimoire-of-tetra/grimoire_of_tetra/lang/zh_cn.json
Labels: 1.16.x, 500+, 1.18.x, Forge

#2700 提交 beautify-decorate 模组汉化
  projects/1.18/assets/beautify-decorate/beautify/lang/en_us.json
  projects/1.18/assets/beautify-decorate/beautify/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2280 Art of Forging 翻译提交
  projects/1.18/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/en_us.json
  projects/1.18/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2649 Productive Bees 1.18翻译更新
  projects/1.18/assets/productivebees/productivebees/lang/en_us.json
  projects/1.18/assets/productivebees/productivebees/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2272 Many Ideas Doors 翻译新增
  projects/1.18/assets/many-ideas-doors/manyideas_doors/lang/en_us.json
  projects/1.18/assets/many-ideas-doors/manyideas_doors/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Fabric, Forge

#2678 Prefab 更新至 1.18.2
  projects/1.18/assets/prefab/prefab/lang/en_us.json
  projects/1.18/assets/prefab/prefab/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2683 Dark Utilities 1.18 翻译提交
  projects/1.18-fabric/assets/dark-utilities/darkutils/lang/zh_cn.json
  projects/1.18/assets/dark-utilities/darkutils/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge

#2708 Modern Dynamics 翻译提交
  projects/1.18-fabric/assets/modern-dynamics/moderndynamics/lang/en_us.json
  projects/1.18-fabric/assets/modern-dynamics/moderndynamics/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2713 Macaw's Fences and Walls 翻译更新
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2714 Macaw's Trapdoors 翻译更新
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2712 Simple Uncrafting Table 翻译提交
  projects/1.16-fabric/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/en_us.json
  projects/1.16-fabric/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/zh_cn.json
  projects/1.16/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/en_us.json
  projects/1.16/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/zh_cn.json
  projects/1.18-fabric/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/en_us.json
  projects/1.18-fabric/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/zh_cn.json
  projects/1.18/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/en_us.json
  projects/1.18/assets/simple-uncrafting-table-fabric/uncraftingtable76/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Fabric, Forge

#2710 Little Logistics 1.18翻译移植到1.16
  projects/1.16/assets/little-logistics/littlelogistics/lang/en_us.json
  projects/1.16/assets/little-logistics/littlelogistics/lang/zh_cn.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/book.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/categories/blocks.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/categories/items.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/categories/vessels.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/chest_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/chunk_loader_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/docks.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/energy_tug.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/fishing_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/fluid_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/fluid_hopper.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/seater_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/spring.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/steam_tug.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/tug_guide_rail.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/tug_route.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/vessel_charger.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/vessel_corner_rail.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/en_us/entries/vessel_detector.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/categories/blocks.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/categories/items.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/categories/vessels.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/chest_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/chunk_loader_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/docks.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/energy_tug.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/fishing_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/fluid_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/fluid_hopper.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/seater_barge.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/spring.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/steam_tug.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/tug_guide_rail.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/tug_route.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/vessel_charger.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/vessel_corner_rail.json
  projects/1.16/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/vessel_detector.json
Labels: 1.16.x, ready to merge, 500+, Forge, Patchouli

#2723 Blue skies 错译修正
  projects/1.16/assets/blue-skies/blue_skies/lang/zh_cn.json
  projects/1.18/assets/blue-skies/blue_skies/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, 1.18.x, Forge

#2720 Bamboo Everything 翻译更新
  projects/1.16/assets/bamboo-everything/bambooeverything/lang/en_us.json
  projects/1.16/assets/bamboo-everything/bambooeverything/lang/zh_cn.json
  projects/1.18/assets/bamboo-everything-forge/bambooeverything/lang/en_us.json
  projects/1.18/assets/bamboo-everything-forge/bambooeverything/lang/zh_cn.json
  projects/1.18/assets/bamboo-everything/bambooeverything/lang/en_us.json
  projects/1.18/assets/bamboo-everything/bambooeverything/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2734 endmagic 错译修正
  projects/1.12.2/assets/enders-magic/endmagic/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2711 提交模组 Fuze's Relics 翻译
  projects/1.18/assets/fuzes-relics/fuze_relics/lang/en_us.json
  projects/1.18/assets/fuzes-relics/fuze_relics/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2738 Calculator 运算工艺 全角修改 蓝水晶->坦桑石 和 Demagnetize错译修复
  projects/1.12.2/assets/calculator/calculator/lang/zh_cn.lang
  projects/1.12.2/assets/demagnetize/demagnetize/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#2431 Additional Guns 翻译更新
  projects/1.18/assets/additional-guns/additionalguns/lang/en_us.json
  projects/1.18/assets/additional-guns/additionalguns/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2737 Player Hopper 翻译提交
  projects/1.12.2/assets/player-hopper/playerhopper/lang/en_us.lang
  projects/1.12.2/assets/player-hopper/playerhopper/lang/zh_cn.lang
  projects/1.16/assets/player-hopper/playerhopper/lang/en_us.json
  projects/1.16/assets/player-hopper/playerhopper/lang/zh_cn.json
  projects/1.18/assets/player-hopper/playerhopper/lang/en_us.json
  projects/1.18/assets/player-hopper/playerhopper/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 40+, 1.18.x, Forge

#2741 提交 creatures from the snow fabric 模组翻译
  projects/1.18-fabric/assets/creatures-from-the-snow-fabric/creatures_of_the_snow/lang/en_us.json
  projects/1.18-fabric/assets/creatures-from-the-snow-fabric/creatures_of_the_snow/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric

#2751 Entangled 翻译提交
  projects/1.18/assets/entangled/entangled/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2282 Tetra Pak 翻译提交
  projects/1.16/assets/tetra-pak/tetrapak/lang/en_us.json
  projects/1.16/assets/tetra-pak/tetrapak/lang/zh_cn.json
  projects/1.18/assets/tetra-pak/tetrapak/lang/en_us.json
  projects/1.18/assets/tetra-pak/tetrapak/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2704 Terrestria\Traverse 翻译更新，同步提交fabric
  projects/1.18-fabric/assets/terrestria/terrestria/lang/en_us.json
  projects/1.18-fabric/assets/terrestria/terrestria/lang/zh_cn.json
  projects/1.18-fabric/assets/traverse/traverse/lang/en_us.json
  projects/1.18-fabric/assets/traverse/traverse/lang/zh_cn.json
  projects/1.18/assets/terrestria-reforged/terrestria/lang/en_us.json
  projects/1.18/assets/terrestria-reforged/terrestria/lang/zh_cn.json
  projects/1.18/assets/terrestria/terrestria/lang/zh_cn.json
  projects/1.18/assets/traverse-reforged/traverse/lang/en_us.json
  projects/1.18/assets/traverse-reforged/traverse/lang/zh_cn.json
  projects/1.18/assets/traverse/traverse/lang/zh_cn.json
Labels: ready to merge, 1000+, 1.18.x, Fabric, Forge
