Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-09, with the labels that each got.

#2412 提交模组create misc & things的翻译以及英文文件
  projects/1.18/assets/create-misc-and-things/create_things_and_misc/lang/en_us.json
  projects/1.18/assets/create-misc-and-things/create_things_and_misc/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2417 Extended Lights 翻译更新；The Graveyard 翻译更新；Ecologics 翻译纠错
  projects/1.18/assets/ecologics/ecologics/lang/zh_cn.json
  projects/1.18/assets/extended-lights-mod/extlights/lang/zh_cn.json
  projects/1.18/assets/the-graveyard-forge/graveyard/lang/en_us.json
  projects/1.18/assets/the-graveyard-forge/graveyard/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2355 提交extended-drawers模组翻译新增
  projects/1.18-fabric/assets/extended_drawers/extended_drawers/lang/en_us.json
  projects/1.18-fabric/assets/extended_drawers/extended_drawers/lang/zh_cn.json
Labels: 40+, 1.18.x, Fabric

#2436 Woodworks 翻译提交
  projects/1.18/assets/woodworks/woodworks/lang/en_us.json
  projects/1.18/assets/woodworks/woodworks/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2432 Botany Pots 翻译更新
  projects/1.18/assets/botany-pots/botanypots/lang/en_us.json
  projects/1.18/assets/botany-pots/botanypots/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#1833 [R] Gregicailty 补充翻译提交
  projects/1.12.2/assets/gregicality/gtadditions/lang/en_us.lang
  projects/1.12.2/assets/gregicality/gtadditions/lang/zh_cn.lang
Labels: 1.12.x, 500+, need review, Forge

#2457 Ex Nihilo: Sequentia - Tinkers Addon翻译提交
  projects/1.18/assets/ex-nihilo-sequentia-tinkers-addon/exnihilotinkers/lang/en_us.json
  projects/1.18/assets/ex-nihilo-sequentia-tinkers-addon/exnihilotinkers/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2420 Benched 翻译提交
  projects/1.18/assets/benched/benched/lang/en_us.json
  projects/1.18/assets/benched/benched/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2337 Super Circuit Maker 翻译提交
  projects/1.18/assets/super-circuit-maker/supercircuitmaker/lang/en_us.json
  projects/1.18/assets/super-circuit-maker/supercircuitmaker/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2409 兼容性字体提交
  projects/1.12.2/assets/i18n/font/OFL.txt
  projects/1.12.2/assets/i18n/font/muii18ncompat.ttf
  projects/1.16/assets/i18n/font/OFL.txt
  projects/1.16/assets/i18n/font/muii18ncompat.ttf
  projects/1.18/assets/i18n/font/OFL.txt
  projects/1.18/assets/i18n/font/muii18ncompat.ttf
Labels: 1.12.x, 1.16.x, 100+, 1.18.x, Forge

#2435 Creeperoverhaul 翻译修改
  projects/1.18-fabric/assets/creeper-overhaul/creeperoverhaul/lang/en_us.json
  projects/1.18-fabric/assets/creeper-overhaul/creeperoverhaul/lang/zh_cn.json
Labels: 40+, 1.18.x, Fabric

#2324 Eidolon 翻译修改
  projects/1.16/assets/eidolon/eidolon/lang/zh_cn.json
Labels: 1.16.x, 100+, Forge

#2256 Ceramics 翻译修补
  projects/1.12.2/assets/ceramics/ceramics/lang/zh_cn.lang
Labels: 1.12.x, 100+, Forge

#2156 Every Compat 翻译更新
  projects/1.18/assets/every-compat/everycomp/lang/en_us.json
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2237 Macaw 全家桶部分模组翻译更新
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.16/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.16/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#1985 [R] Supplementaries 翻译更新
  projects/1.16/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.16/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.18/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.18/assets/supplementaries/supplementaries/lang/zh_cn.json
Labels: 1.16.x, need review, 2000+, 1.18.x, Forge

#2358 chemlib 翻译更新
  projects/1.18/assets/chemlib/chemlib/lang/en_us.json
  projects/1.18/assets/chemlib/chemlib/lang/zh_cn.json
Labels: 2000+, 1.18.x, Forge

#2233 Reliquary 翻译更新
  projects/1.18/assets/reliquary-v1-3/reliquary/lang/en_us.json
  projects/1.18/assets/reliquary-v1-3/reliquary/lang/zh_cn.json
Labels: 1000+, 1.18.x, Forge

#2427 Exponential Power 翻译新增
  projects/1.18/assets/exponential-power/exponentialpower/lang/en_us.json
  projects/1.18/assets/exponential-power/exponentialpower/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2406 Farmer's Delight 翻译更新
  projects/1.18/assets/farmers-delight/farmersdelight/lang/en_us.json
  projects/1.18/assets/farmers-delight/farmersdelight/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2463 Farmer's Delight 翻译更新
  projects/1.18/assets/farmers-delight/farmersdelight/lang/en_us.json
  projects/1.18/assets/farmers-delight/farmersdelight/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2456 Ex Nihilo: Sequentia - Thermal Addon翻译更新
  projects/1.18/assets/ex-nihilo-sequentia-thermal-addon/exnihilothermal/lang/en_us.json
  projects/1.18/assets/ex-nihilo-sequentia-thermal-addon/exnihilothermal/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2399 terraforged 翻译提交
  projects/1.18/assets/terraforged/terraforged/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge

#2470 Alex's Delight 翻译更新
  projects/1.18/assets/alexs-delight/alexsdelight/lang/en_us.json
  projects/1.18/assets/alexs-delight/alexsdelight/lang/zh_cn.json
  projects/1.18/assets/alexs-delight/amfd/lang/en_us.json
  projects/1.18/assets/alexs-delight/amfd/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2471 Vanilla Cookbook 翻译更新
  projects/1.18/assets/vanilla-cookbook/vanillacookbook/lang/en_us.json
  projects/1.18/assets/vanilla-cookbook/vanillacookbook/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge
