Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2022-08, with the labels that each got.

#2307 Crapping Copper 翻译提交
  projects/1.18-fabric/assets/crapping-copper/crappingcopper/lang/en_us.json
  projects/1.18-fabric/assets/crapping-copper/crappingcopper/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric

#2289 Psionicolor 翻译提交
  projects/1.16/assets/psionicolor/psionicolor/lang/en_us.json
  projects/1.16/assets/psionicolor/psionicolor/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2275 ravage and cabbage 翻译提交
  projects/1.16/assets/ravage-and-cabbage/ravageandcabbage/lang/en_us.json
  projects/1.16/assets/ravage-and-cabbage/ravageandcabbage/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2247 Easy Mob Farm 翻译提交
  projects/1.18/assets/easy-mob-farm/easy_mob_farm/lang/en_us.json
  projects/1.18/assets/easy-mob-farm/easy_mob_farm/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2206 Omni-Hopper 翻译提交
  projects/1.18-fabric/assets/omni-hopper/omnihopper/lang/en_us.json
  projects/1.18-fabric/assets/omni-hopper/omnihopper/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Fabric

#2180 jaopca 1.18 翻译更新
  projects/1.18/assets/jaopca/jaopca/lang/en_us.json
  projects/1.18/assets/jaopca/jaopca/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2188 Ae2 additions 1.18版本翻译提交
  projects/1.18/assets/ae2-additions/ae2additions/lang/en_us.json
  projects/1.18/assets/ae2-additions/ae2additions/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2244 修复 1UNKNOWN 路径问题
  projects/1.12.2/assets/spikes/spikemod/lang/en_us.lang
  projects/1.12.2/assets/spikes/spikemod/lang/zh_cn.lang
  projects/1.12.2/assets/super-sound-muffler-revived/supersoundmuffler/lang/en_us.lang
  projects/1.12.2/assets/super-sound-muffler-revived/supersoundmuffler/lang/zh_cn.lang
  projects/1.12.2/assets/surge/surge/lang/en_us.lang
  projects/1.12.2/assets/surge/surge/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#2290 Chipped 翻译更新
  projects/1.18/assets/chipped/chipped/lang/en_us.json
  projects/1.18/assets/chipped/chipped/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2340 small edit(typo)
  projects/1.12.2/assets/randomtweaks/randomtweaks/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#2335 Honey Expansion,coppers delight and enderites delight 翻译提交
  projects/1.18/assets/coppers-delight/coppersdelight/lang/en_us.json
  projects/1.18/assets/coppers-delight/coppersdelight/lang/zh_cn.json
  projects/1.18/assets/enderites-delight/enderitesdelight/lang/en_us.json
  projects/1.18/assets/enderites-delight/enderitesdelight/lang/zh_cn.json
  projects/1.18/assets/honey-expansion-add-on-for-farmers-delight/honeyexpansion/lang/en_us.json
  projects/1.18/assets/honey-expansion-add-on-for-farmers-delight/honeyexpansion/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2357 skyopolis 翻译汉化
  projects/1.18/assets/skyopolis-mod/skyopolis/lang/en_us.json
  projects/1.18/assets/skyopolis-mod/skyopolis/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2317 Tool stats , Rpgstats and Minicoal 翻译提交
  projects/1.16/assets/tool-stats/toolstats/lang/zh_cn.json
  projects/1.18/assets/minicoal/minicoal/lang/en_us.json
  projects/1.18/assets/minicoal/minicoal/lang/zh_cn.json
  projects/1.18/assets/rpgstats/rpgstats/lang/en_us.json
  projects/1.18/assets/rpgstats/rpgstats/lang/zh_cn.json
  projects/1.18/assets/tool-stats/toolstats/lang/zh_cn.json
Labels: 1.16.x, 1.18.x, 10+, Forge

#2321 Pretty Pipes 1.16翻译同步至1.18
  projects/1.16/assets/pretty-pipes/prettypipes/lang/zh_cn.json
  projects/1.18/assets/pretty-pipes/prettypipes/lang/zh_cn.json
Labels: 1.16.x, 40+, 1.18.x, Forge

#2315 Large meals and Steels delight 翻译提交
  projects/1.18/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/en_us.json
  projects/1.18/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
  projects/1.18/assets/steels-delight/steelsdelight/lang/en_us.json
  projects/1.18/assets/steels-delight/steelsdelight/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2322 Framed Blocks 翻译提交
  projects/1.16/assets/framedblocks/framedblocks/lang/en_us.json
  projects/1.16/assets/framedblocks/framedblocks/lang/zh_cn.json
  projects/1.18/assets/framedblocks/framedblocks/lang/en_us.json
  projects/1.18/assets/framedblocks/framedblocks/lang/zh_cn.json
Labels: 1.16.x, 100+, 1.18.x, Forge

#2382 Little Logistics 翻译修改
  projects/1.18/assets/little-logistics/littlelogistics/lang/zh_cn.json
  projects/1.18/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/seater_barge.json
  projects/1.18/assets/little-logistics/littlelogistics/patchouli_books/guide/zh_cn/entries/train_car.json
Labels: 1.18.x, 10+, Forge, Patchouli

#2347 Unstable Tools翻译提交
  projects/1.12.2/assets/unstable-tools/unstabletools/lang/en_us.lang
  projects/1.12.2/assets/unstable-tools/unstabletools/lang/zh_cn.lang
Labels: 1.12.x, 40+, Forge

#2384 Controlling 翻译修正
  projects/1.16-fabric/assets/controlling-for-fabric/fabriccontrolling/lang/zh_cn.json
  projects/1.16/assets/controlling/controlling/lang/zh_cn.json
  projects/1.18-fabric/assets/controlling/controlling/lang/zh_cn.json
  projects/1.18/assets/controlling/controlling/lang/zh_cn.json
Labels: 1.16.x, 1.18.x, 10+, Fabric, Forge

#2379 Cammie's Minecart Tweaks 翻译提交
  projects/1.18/assets/cammies-minecart-tweaks/minecarttweaks/lang/en_us.json
  projects/1.18/assets/cammies-minecart-tweaks/minecarttweaks/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2368 提交模组create ore excavation的翻译
  projects/1.18/assets/create-ore-excavation/createoreexcavation/lang/en_us.json
  projects/1.18/assets/create-ore-excavation/createoreexcavation/lang/zh_cn.json
Labels: 40+, 1.18.x, Forge

#2354 Hexcasting 翻译提交
  projects/1.18/assets/hexcasting/hexcasting/lang/en_us.json
  projects/1.18/assets/hexcasting/hexcasting/lang/zh_cn.json
  projects/1.18/assets/hexcasting/hexcasting/patchouli_books/thehexbook/book.json
  projects/1.18/assets/hexcasting/hexcasting/patchouli_books/thehexbook/zh_cn/entries/casting/vectors.json
Labels: 2000+, 1.18.x, Forge, Patchouli

#2092 [R] Beyond Earth 翻译提交
  projects/1.18/assets/beyond-earth/beyond_earth/lang/en_us.json
  projects/1.18/assets/beyond-earth/beyond_earth/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2363 Aileron 翻译提交
  projects/1.18/assets/aileron/aileron/lang/en_us.json
  projects/1.18/assets/aileron/aileron/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2327 Uber Conduit Probe和Portable Drill for Immersive Engineering翻译提交
  projects/1.12.2/assets/portable-drill-for-immersive-engineering/portabledrill/lang/en_us.lang
  projects/1.12.2/assets/portable-drill-for-immersive-engineering/portabledrill/lang/zh_cn.lang
  projects/1.12.2/assets/uber-conduit-probe/uberconduitprobe/lang/en_us.lang
  projects/1.12.2/assets/uber-conduit-probe/uberconduitprobe/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2389 Ecologics 和 Sully's Mod 翻译更新
  projects/1.18/assets/ecologics/ecologics/lang/en_us.json
  projects/1.18/assets/ecologics/ecologics/lang/zh_cn.json
  projects/1.18/assets/sullys-mod/sullysmod/lang/en_us.json
  projects/1.18/assets/sullys-mod/sullysmod/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge

#2388 Weaponized Baseball添加原文及翻译
  projects/1.18/assets/weaponized-baseball/webasemod/lang/en_us.json
  projects/1.18/assets/weaponized-baseball/webasemod/lang/zh_cn.json
  projects/1.18/assets/weaponized-baseballwe/webasemod/lang/en_us.json
  projects/1.18/assets/weaponized-baseballwe/webasemod/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2385 AE Additions 翻译新增
  projects/1.12.2/assets/ae-additions-extra-cells-2-fork/aeadditions/lang/en_us.lang
  projects/1.12.2/assets/ae-additions-extra-cells-2-fork/aeadditions/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2207 JurassiCraft 翻译修正
  projects/1.12.2/assets/jurassicraft/jurassicraft/lang/zh_cn.lang
Labels: 1.12.x, 10+, Forge

#2225 Advanced Chimneys 1.18.2 version 8.3.0.0 翻译更新
  projects/1.18/assets/advanced-chimneys/adchimneys/lang/en_us.json
  projects/1.18/assets/advanced-chimneys/adchimneys/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2373 MineColonies翻译提交
  projects/1.12.2/assets/minecolonies/minecolonies/lang/zh_cn.lang
  projects/1.18/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.12.x, 1+, 1.18.x, Forge

#2390 PneumaticCraft 英文文本更新
  projects/1.18/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/en_us.json
  projects/1.18/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
Labels: 2000+, 1.18.x, Forge

#2398 先进的采矿维度 翻译提交 (#2322)
  projects/1.18/assets/advanced-mining-dimension/mining_dimension/lang/en_us.json
  projects/1.18/assets/advanced-mining-dimension/mining_dimension/lang/zh_cn.json
Labels: 1.18.x, 10+, Forge

#2369 提交create-stuff-addition的新版源文件与翻译
  projects/1.18/assets/create-stuff-additions/create_stuff_additions/lang/en_us.json
  projects/1.18/assets/create-stuff-additions/create_stuff_additions/lang/zh_cn.json
Labels: 100+, 1.18.x, Forge
