Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-06, with the labels that each got.

#3310 Ars Instrumentum 翻译更新
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/en_us.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/zh_cn.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/wizards_armarium.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/wizards_armarium.json
Labels: 10+, Forge, Patchouli, 1.19.x

#2877 Armor Poser 1.18 to 1.19
  projects/1.19/assets/armor-poser/armorposer/packer-policy.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3338 Mob Lassos 翻译提交
  projects/1.19/assets/mob-lassos/moblassos/lang/en_us.json
  projects/1.19/assets/mob-lassos/moblassos/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3266 Opulence 翻译提交
  projects/1.19/assets/opulence/opulence/lang/en_us.json
  projects/1.19/assets/opulence/opulence/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3253 Ars Industria 翻译提交
  projects/1.18/assets/ars-industria/ars_industria/lang/en_us.json
  projects/1.18/assets/ars-industria/ars_industria/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3217 Ars Caelum 翻译提交
  projects/1.19/assets/ars-caelum/ars_caelum/lang/en_us.json
  projects/1.19/assets/ars-caelum/ars_caelum/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3351 Ender Dragon Loot 翻译提交
  projects/1.18/assets/ender_dragon_loot/ender-dragon-loot/lang/en_us.json
  projects/1.18/assets/ender_dragon_loot/ender-dragon-loot/lang/zh_cn.json
  projects/1.19/assets/ender_dragon_loot/ender-dragon-loot/lang/en_us.json
  projects/1.19/assets/ender_dragon_loot/ender-dragon-loot/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3343 Instant Blocks 翻译添加
  projects/1.19/assets/instant-blocks/instantblocks/lang/en_us.json
  projects/1.19/assets/instant-blocks/instantblocks/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3331 Oceanic Expanse 翻译提交
  projects/1.12.2/assets/oceanic-expanse/oe/lang/en_us.lang
  projects/1.12.2/assets/oceanic-expanse/oe/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#3325 mythicmetals 翻译提交
  projects/1.19/assets/mythicmetals/mythicmetals/lang/en_us.json
  projects/1.19/assets/mythicmetals/mythicmetals/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.19.x

#3357 Pam's BreadCraft 翻译更正
  projects/1.12.2/assets/pams-breadcraft/pamsbreadcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3355 Pots and Mimics RPG 翻译提交
  projects/1.19/assets/pots-and-mimics-rpg/pots_and_mimics/lang/en_us.json
  projects/1.19/assets/pots-and-mimics-rpg/pots_and_mimics/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3358 Xplosives 翻译提交
  projects/1.12.2/assets/xplosives-mod/xplosives/lang/en_us.lang
  projects/1.12.2/assets/xplosives-mod/xplosives/lang/zh_cn.lang
  projects/1.16/assets/xplosives-mod/xplosives/lang/en_us.json
  projects/1.16/assets/xplosives-mod/xplosives/lang/zh_cn.json
  projects/1.18/assets/xplosives-mod/xplosives/lang/en_us.json
  projects/1.18/assets/xplosives-mod/xplosives/lang/zh_cn.json
  projects/1.19/assets/xplosives-mod/xplosives/lang/en_us.json
  projects/1.19/assets/xplosives-mod/xplosives/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3363 Peat Zombie 翻译提交
  projects/1.19/assets/peat-zombie/peat_mummy/lang/en_us.json
  projects/1.19/assets/peat-zombie/peat_mummy/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3356 Cataclysm Delight 翻译提交
  projects/1.19/assets/cataclysm-delight/cataclysm_delight/lang/en_us.json
  projects/1.19/assets/cataclysm-delight/cataclysm_delight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3138 Immersive Petroleum 翻译更新
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/en_us.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/automaticlubricator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/derrick.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/pumpjack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/speedboat.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/automaticlubricator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/pumpjack.txt
Labels: 即将合并, 100+, 1.18.x, Forge

#3314 Critters and Companions 翻译更新
  projects/1.18/assets/critters-and-companions/crittersandcompanions/lang/en_us.json
  projects/1.18/assets/critters-and-companions/crittersandcompanions/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3375 Entangled 翻译更新
  projects/1.16/assets/entangled/entangled/lang/en_us.json
  projects/1.16/assets/entangled/entangled/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Forge

#3374 Trash Cans 翻译更新
  projects/1.16/assets/trash-cans/trashcans/lang/en_us.json
  projects/1.16/assets/trash-cans/trashcans/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Forge

#3369 TCIntegrations 翻译提交
  projects/1.18/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3376 Mekanism-Evolution翻译提交
  projects/1.19/assets/mekanism-evolution/mekaevolution/lang/en_us.json
  projects/1.19/assets/mekanism-evolution/mekaevolution/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3360 VillagersPlus 翻译提交
  projects/1.19/assets/villagersplus-fabric/villagersplus/lang/en_us.json
  projects/1.19/assets/villagersplus-fabric/villagersplus/lang/zh_cn.json
  projects/1.19/assets/villagersplus-forge/villagersplus/lang/en_us.json
  projects/1.19/assets/villagersplus-forge/villagersplus/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3361 Clear F3 翻译提交
  projects/1.18-fabric/assets/0-modrinth-mod/clean-debug/lang/en_us.json
  projects/1.18-fabric/assets/0-modrinth-mod/clean-debug/lang/zh_cn.json
  projects/1.19/assets/0-modrinth-mod/clean-debug/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/clean-debug/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3340 Advanced Movement 翻译提交
  projects/1.18-fabric/assets/advanced-movement/advanced_movement/lang/en_us.json
  projects/1.18-fabric/assets/advanced-movement/advanced_movement/lang/zh_cn.json
  projects/1.19/assets/advanced-movement/advanced_movement/lang/en_us.json
  projects/1.19/assets/advanced-movement/advanced_movement/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x

#3286 infinity-craft 翻译提交
  projects/1.12.2/assets/infinity-craft/infinity/lang/en_us.lang
  projects/1.12.2/assets/infinity-craft/infinity/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3400 Useful Hats 翻译更新
  projects/1.18/assets/useful-hats/usefulhats/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3418 紧急修复错误路径
  projects/1.18/assets/all-the-creatures/creaturesfromthelushcave/lang/en_us.json
  projects/1.18/assets/all-the-creatures/creaturesfromthelushcave/lang/zh_cn.json
Labels: 即将合并, 1.18.x, Forge

#3414 Finally Farmable Dyes翻译提交
  projects/1.18/assets/finally-farmable-dyes/finallyfarmabledyes/lang/en_us.json
  projects/1.18/assets/finally-farmable-dyes/finallyfarmabledyes/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3390 Alcocraft: Beer & Stuff 翻译提交
  projects/1.18/assets/alcocraft-beer-and-stuff/alcocraft/lang/en_us.json
  projects/1.18/assets/alcocraft-beer-and-stuff/alcocraft/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3396 Creeper Overhaul 模组翻译提交
  projects/1.18/assets/creeper-overhaul/creeperoverhaul/lang/en_us.json
  projects/1.18/assets/creeper-overhaul/creeperoverhaul/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3373 AndyCat's Flowers翻译提交
  projects/1.18/assets/andycats-flowers/andycats_flowers/lang/en_us.json
  projects/1.18/assets/andycats-flowers/andycats_flowers/lang/zh_cn.json
  projects/1.19/assets/andycats-flowers/andycats_flowers/lang/en_us.json
  projects/1.19/assets/andycats-flowers/andycats_flowers/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x

#3411 Human Companions 翻译提交
  projects/1.18/assets/human-companions/humancompanions/lang/en_us.json
  projects/1.18/assets/human-companions/humancompanions/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3408 Gregicality 修正 Nitrous Oxide 译名
  projects/1.12.2/assets/gregicality/gtadditions/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3407 Terra Incognita 翻译更新
  projects/1.18/assets/terraincognita/terraincognita/lang/en_us.json
  projects/1.18/assets/terraincognita/terraincognita/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3403 Project-vibrant-journeys翻译更新
  projects/1.18/assets/project-vibrant-journeys/projectvibrantjourneys/lang/en_us.json
  projects/1.18/assets/project-vibrant-journeys/projectvibrantjourneys/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3383 Cloudbackup 翻译提交
  projects/1.19/assets/cloudbackup/cloudbackup/lang/en_us.json
  projects/1.19/assets/cloudbackup/cloudbackup/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3423 Plasmo Voice 1.19 翻译修正
  projects/1.19/assets/plasmo-voice/plasmovoice/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3397 Corail Woodcutter 翻译提交
  projects/1.18/assets/corail-woodcutter/corail_woodcutter/lang/en_us.json
  projects/1.18/assets/corail-woodcutter/corail_woodcutter/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3389 Additional Bars 3.0.1 翻译更新
  projects/1.18/assets/additional-bars/additionalbars/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 40+, 1.18.x, Forge

#3385 Zetter、Tool Kit、Corail Recycler 翻译提交
  projects/1.12.2/assets/corail-recycler/recycler/lang/en_us.lang
  projects/1.12.2/assets/corail-recycler/recycler/lang/zh_cn.lang
  projects/1.16/assets/corail-recycler/corail_recycler/packer-policy.json
  projects/1.16/assets/tool-kit/toolkit/packer-policy.json
  projects/1.16/assets/zetter/zetter/lang/en_us.json
  projects/1.16/assets/zetter/zetter/lang/zh_cn.json
  projects/1.18/assets/corail-recycler/corail_recycler/lang/en_us.json
  projects/1.18/assets/corail-recycler/corail_recycler/lang/zh_cn.json
  projects/1.18/assets/tool-kit/toolkit/lang/en_us.json
  projects/1.18/assets/tool-kit/toolkit/lang/zh_cn.json
  projects/1.18/assets/zetter/zetter/lang/en_us.json
  projects/1.18/assets/zetter/zetter/lang/zh_cn.json
  projects/1.19/assets/corail-recycler/corail_recycler/lang/en_us.json
  projects/1.19/assets/corail-recycler/corail_recycler/lang/zh_cn.json
  projects/1.19/assets/tool-kit/toolkit/lang/en_us.json
  projects/1.19/assets/tool-kit/toolkit/lang/zh_cn.json
  projects/1.19/assets/zetter/zetter/lang/en_us.json
  projects/1.19/assets/zetter/zetter/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1000+, 1.18.x, Forge, 1.19.x

#3409 Better Azalea 翻译提交
  projects/1.18/assets/better-azalea/azalea/lang/en_us.json
  projects/1.18/assets/better-azalea/azalea/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3379 Treemendous 翻译提交
  projects/1.16/assets/treemendous/treemondous/lang/en_us.json
  projects/1.16/assets/treemendous/treemondous/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1000+, Forge

#3398 Abundant Atmosphere 翻译更新
  projects/1.19/assets/abundant-atmosphere/abundant_atmosphere/lang/en_us.json
  projects/1.19/assets/abundant-atmosphere/abundant_atmosphere/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x
