Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-11, with the labels that each got.

#3880 Naturalist 翻译提交
  projects/1.20-fabric/assets/naturalist/naturalist/lang/en_us.json
  projects/1.20-fabric/assets/naturalist/naturalist/lang/zh_cn.json
  projects/1.20/assets/naturalist/naturalist/lang/en_us.json
  projects/1.20/assets/naturalist/naturalist/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, Forge, 1.20.x

#3884 Tome of Blood 翻译更新
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/categories/tomeofblood.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/tomeofblood/armor.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/tomeofblood/mana_attunement.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/tomeofblood/mint_tea.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/tomeofblood/spellbooks.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/templates/2x_crafting_alchemy_table.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/templates/2x_crafting_altar.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/templates/crafting_alchemy_table.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/en_us/templates/crafting_altar.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/categories/tomeofblood.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/tomeofblood/armor.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/tomeofblood/mana_attunement.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/tomeofblood/mint_tea.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/tomeofblood/spellbooks.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/templates/crafting_alchemy_table.json
  projects/1.20/assets/tome-of-blood-rebirth/ars_nouveau/patchouli_books/worn_notebook/zh_cn/templates/crafting_altar.json
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/en_us.json
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, Patchouli, 1.20.x

#3858 Copper Overhaul 翻译提交
  projects/1.18/assets/copper-overhaul/copperoverhaul/lang/en_us.json
  projects/1.18/assets/copper-overhaul/copperoverhaul/lang/zh_cn.json
  projects/1.19/assets/copper-overhaul/copperoverhaul/lang/en_us.json
  projects/1.19/assets/copper-overhaul/copperoverhaul/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x

#3830 停止支持 Scape and Run: Parasites 1.12.2 版本
  config/packer.json
Labels: help wanted, config, 即将合并, 1+

#3901 Map Atlases 翻译提交
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/en_us.json
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3897 MEGA Cells 翻译更新
  projects/1.20/assets/mega-cells/megacells/lang/en_us.json
  projects/1.20/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#3899 README.md 翻译资源更新与 Wiki 链接修正
  CONTRIBUTING.md
  README.md
  projects/1.16/assets/thermal-foundation/thermal/patchouli_books/guidebook/zh_cn/entries/guides/modpack/recipes.json
  projects/1.18/assets/thermal-foundation/thermal/patchouli_books/guidebook/zh_cn/entries/guides/modpack/recipes.json
Labels: help wanted, 1.16.x, 即将合并, 1.18.x, suggestion, 10+, Forge, Patchouli

#3898 Intarsia 翻译提交
  projects/1.19/assets/0-modrinth-mod/intarsia/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/intarsia/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3912 Paladins & Priests 翻译更新
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/en_us.json
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3887 Tetracelium 翻译提交
  projects/1.20/assets/tetracelium/tetracelium/lang/en_us.json
  projects/1.20/assets/tetracelium/tetracelium/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3817 Promenade 翻译提交
  projects/1.20-fabric/assets/promenade/promenade/lang/en_us.json
  projects/1.20-fabric/assets/promenade/promenade/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3924 Pyromancer 翻译修正
  projects/1.18/assets/pyromancer/pyromancer/lang/en_us.json
  projects/1.18/assets/pyromancer/pyromancer/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3797 Regions Unexplored 翻译提交
  projects/1.18/assets/regions-unexplored/regions_unexplored/lang/en_us.json
  projects/1.18/assets/regions-unexplored/regions_unexplored/lang/zh_cn.json
  projects/1.20-fabric/assets/regions-unexplored/regions_unexplored/lang/en_us.json
  projects/1.20-fabric/assets/regions-unexplored/regions_unexplored/lang/zh_cn.json
  projects/1.20/assets/regions-unexplored/regions_unexplored/lang/en_us.json
  projects/1.20/assets/regions-unexplored/regions_unexplored/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Fabric, Forge, 1.20.x

#3928 Epic Samurai's 1.18 译名修正
  projects/1.18/assets/epic-samurais/epicsamurai/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3780 Chipped 翻译更新
  projects/1.19/assets/chipped/chipped/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3923 Philip's Ruins翻译提交
  projects/1.20/assets/ruins/philipsruins/lang/en_us.json
  projects/1.20/assets/ruins/philipsruins/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3922 O'Hoy Scallywag翻译提交
  projects/1.20/assets/ohoy-scallywag/ohsfennx/lang/en_us.json
  projects/1.20/assets/ohoy-scallywag/ohsfennx/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3921 Multiverse翻译提交
  projects/1.20/assets/multiverse/multiverse/lang/en_us.json
  projects/1.20/assets/multiverse/multiverse/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3919 Sculky Bits翻译提交
  projects/1.20/assets/sculky-bits/sculkybits/lang/en_us.json
  projects/1.20/assets/sculky-bits/sculkybits/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3917 Cannibal Conundrum提交翻译
  projects/1.20/assets/cannibal-conundrum/cannibal/lang/en_us.json
  projects/1.20/assets/cannibal-conundrum/cannibal/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3905 Projectile Damage Attribute翻译提交
  projects/1.20-fabric/assets/projectile-damage-attribute/projectile_damage/lang/en_us.json
  projects/1.20-fabric/assets/projectile-damage-attribute/projectile_damage/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#3904 Archers翻译提交
  projects/1.20-fabric/assets/archers/archers/lang/en_us.json
  projects/1.20-fabric/assets/archers/archers/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3822 Create:Garnished 翻译更新
  projects/1.18/assets/garnished/garnished/lang/en_us.json
  projects/1.18/assets/garnished/garnished/lang/zh_cn.json
  projects/1.19/assets/0-modrinth-mod/garnished/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/garnished/lang/zh_cn.json
  projects/1.19/assets/garnished/garnished/lang/en_us.json
  projects/1.19/assets/garnished/garnished/lang/zh_cn.json
  projects/1.20-fabric/assets/garnished/garnished/lang/en_us.json
  projects/1.20-fabric/assets/garnished/garnished/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3796 The Bumblezone 翻译更新
  projects/1.18/assets/the-bumblezone-forge/the_bumblezone/lang/en_us.json
  projects/1.18/assets/the-bumblezone-forge/the_bumblezone/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3861 Ars Scalaes 翻译更新
  projects/1.19/assets/ars-scalaes/ars_scalaes/lang/en_us.json
  projects/1.19/assets/ars-scalaes/ars_scalaes/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3893 Multipart Machines: Cooking & Multipart Machines: Farming 翻译提交
  projects/1.20/assets/multipart-machines-cooking/mm_cooking/lang/en_us.json
  projects/1.20/assets/multipart-machines-cooking/mm_cooking/lang/zh_cn.json
  projects/1.20/assets/multipart-machines-farming/mm_farming/lang/en_us.json
  projects/1.20/assets/multipart-machines-farming/mm_farming/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3900 Extended Mushrooms 翻译提交
  projects/1.20/assets/extended-mushrooms/extendedmushrooms/lang/en_us.json
  projects/1.20/assets/extended-mushrooms/extendedmushrooms/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3867 StarbuncleMania 翻译更新
  projects/1.20/assets/starbunclemania/starbunclemania/lang/en_us.json
  projects/1.20/assets/starbunclemania/starbunclemania/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3406 SecurityCraft翻译更新
  projects/1.12.2/assets/security-craft/securitycraft/lang/en_us.lang
  projects/1.12.2/assets/security-craft/securitycraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 2000+, Forge

#3645 FoodExpansion 翻译提交
  projects/1.20/assets/food-expansion-reimagined/foodexpansion/lang/en_us.json
  projects/1.20/assets/food-expansion-reimagined/foodexpansion/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3889 End's Phantasm翻译提交
  projects/1.20-fabric/assets/phantasm/phantasm/lang/en_us.json
  projects/1.20-fabric/assets/phantasm/phantasm/lang/zh_cn.json
  projects/1.20/assets/phantasm/phantasm/lang/en_us.json
  projects/1.20/assets/phantasm/phantasm/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#3933 Simple Magnets 翻译更新
  projects/1.16/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.16/assets/simple-magnets/simplemagnets/lang/zh_cn.json
  projects/1.18-fabric/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.18-fabric/assets/simple-magnets/simplemagnets/lang/zh_cn.json
  projects/1.18/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.18/assets/simple-magnets/simplemagnets/lang/zh_cn.json
  projects/1.19/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.19/assets/simple-magnets/simplemagnets/lang/zh_cn.json
  projects/1.20-fabric/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.20-fabric/assets/simple-magnets/simplemagnets/lang/zh_cn.json
  projects/1.20/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.20/assets/simple-magnets/simplemagnets/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3934 TelePastries 翻译提交
  projects/1.16/assets/telepastries/telepastries/lang/en_us.json
  projects/1.16/assets/telepastries/telepastries/lang/zh_cn.json
  projects/1.18/assets/telepastries/telepastries/lang/en_us.json
  projects/1.18/assets/telepastries/telepastries/lang/zh_cn.json
  projects/1.19/assets/telepastries/telepastries/lang/en_us.json
  projects/1.19/assets/telepastries/telepastries/lang/zh_cn.json
  projects/1.20/assets/telepastries/telepastries/lang/en_us.json
  projects/1.20/assets/telepastries/telepastries/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3834 Endless Biomes 1.19 翻译提交
  projects/1.19/assets/endless-biomes/endlessbiomes/lang/en_us.json
  projects/1.19/assets/endless-biomes/endlessbiomes/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.19.x

#3210 Aquamirae 翻译提交
  projects/1.18/assets/ob-aquamirae/aquamirae/lang/en_us.json
  projects/1.18/assets/ob-aquamirae/aquamirae/lang/zh_cn.json
  projects/1.18/assets/ob-aquamirae/ob_aquamirae/lang/en_us.json
  projects/1.18/assets/ob-aquamirae/ob_aquamirae/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge

#2422 Wilds 翻译提交
  projects/1.18/assets/wilds/wilds/lang/en_us.json
  projects/1.18/assets/wilds/wilds/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3929 Tome of Blood 翻译更新
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/en_us.json
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3932 Ars Energistique 翻译更新
  projects/1.20/assets/ars-energistique/arseng/lang/en_us.json
  projects/1.20/assets/ars-energistique/arseng/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3892 The Graveyard 翻译更新
  projects/1.20/assets/the-graveyard-forge/graveyard/lang/en_us.json
  projects/1.20/assets/the-graveyard-forge/graveyard/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#2728 Zettai Psi汉化提交
  projects/1.12.2/assets/zettai-psi/zettai_psi/lang/en_us.lang
  projects/1.12.2/assets/zettai-psi/zettai_psi/lang/zh_cn.lang
Labels: help wanted, 1.12.x, 即将合并, 100+, Forge

#3290 Phi 翻译提交
  projects/1.16/assets/phi/phi/lang/en_us.json
  projects/1.16/assets/phi/phi/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#3943 Ube's Delight 翻译提交
  projects/1.20-fabric/assets/0-modrinth-mod/ubesdelight/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/ubesdelight/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, 小语种

#3944 Ocean's Delight 翻译提交
  projects/1.20-fabric/assets/oceans-delight/oceansdelight/lang/en_us.json
  projects/1.20-fabric/assets/oceans-delight/oceansdelight/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#3946 Create Utilities (Fabric/Forge) 翻译提交
  projects/1.20-fabric/assets/createutilities/createutilities/lang/en_us.json
  projects/1.20-fabric/assets/createutilities/createutilities/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#3947 The Wild Update 1.19 [FORGE] 翻译修正
  projects/1.16/assets/the-wild-update/the_wild_update/lang/zh_cn.json
  projects/1.18/assets/the-wild-update/the_wild_update/lang/en_us.json
  projects/1.18/assets/the-wild-update/the_wild_update/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge

#3908 paragliders 翻译提交
  projects/1.20-fabric/assets/paragliders/paraglider/lang/en_us.json
  projects/1.20-fabric/assets/paragliders/paraglider/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3915 nvidium 翻译提交
  projects/1.19/assets/0-modrinth-mod/nvidium/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/nvidium/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/nvidium/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/nvidium/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, Forge, 1.19.x, 1.20.x

#3939 ChinjufuMod +JapaneseBlock 6.4.1版本 翻译更新
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/en_us.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/ja_jp.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 5000+, 1.18.x, Forge, 日语, 1.20.x

#3948 Shield Expansion 翻译更新
  projects/1.18/assets/shield-expansion/shieldexp/lang/en_us.json
  projects/1.18/assets/shield-expansion/shieldexp/lang/zh_cn.json
  projects/1.20/assets/shield-expansion/shieldexp/packer-policy.json
Labels: 即将合并, 1.18.x, 10+, Forge, 1.20.x

#3723 Withering Boon for Tetra 翻译提交
  projects/1.19/assets/tetra-booster-pack/witheringboon/lang/en_us.json
  projects/1.19/assets/tetra-booster-pack/witheringboon/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3949 Respite Creators [Fabric] (Create and Farmer's Respite Addon) 翻译提交
  projects/1.20-fabric/assets/respite-creators-fabric/respitecreators/lang/en_us.json
  projects/1.20-fabric/assets/respite-creators-fabric/respitecreators/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3951 Rechiseled: Create 翻译提交
  projects/1.20-fabric/assets/rechiseled-create/rechiseledcreate/lang/en_us.json
  projects/1.20-fabric/assets/rechiseled-create/rechiseledcreate/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3952 simply light 翻译提交
  projects/1.20-fabric/assets/simply-light/simplylight/lang/en_us.json
  projects/1.20-fabric/assets/simply-light/simplylight/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3890 Modern Metal翻译提交
  projects/1.12.2/assets/modern-metals/modernmetals/lang/en_US.lang
  projects/1.12.2/assets/modern-metals/modernmetals/lang/zh_CN.lang
Labels: 1.12.x, 即将合并, 2000+, Forge

#3916 Better Archeology 翻译提交
  projects/1.20/assets/better-archeology/betterarcheology/lang/en_us.json
  projects/1.20/assets/better-archeology/betterarcheology/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3872 Entity Model Features 翻译提交
  projects/1.20-fabric/assets/entity-model-features/entity_model_features/lang/en_us.json
  projects/1.20-fabric/assets/entity-model-features/entity_model_features/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#3968 [Fabric/Quilt] Kebab's Delight! 翻译提交
  projects/1.20-fabric/assets/kebabs-delight/techsupportred/lang/en_us.json
  projects/1.20-fabric/assets/kebabs-delight/techsupportred/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#3962 Delightful Creators [Fabric] (Create and Farmer's Delight Addon) 翻译提交
  projects/1.20-fabric/assets/delightful-creators-fabric/delightfulcreators/lang/en_us.json
  projects/1.20-fabric/assets/delightful-creators-fabric/delightfulcreators/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x
