Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-10, with the labels that each got.

#3801 Absent by Design 1.20.1 翻译提交
  projects/1.20/assets/absent-by-design/absentbydesign/lang/en_us.json
  projects/1.20/assets/absent-by-design/absentbydesign/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#3804 All the Compressed 1.20.1 翻译提交
  projects/1.20/assets/allthecompressed/allthecompressed/lang/en_us.json
  projects/1.20/assets/allthecompressed/allthecompressed/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#3809 Serene Seasons Fix 翻译提交
  projects/1.19/assets/serene-seasons-fix/sereneseasonsfix/lang/en_us.json
  projects/1.19/assets/serene-seasons-fix/sereneseasonsfix/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3806 Create:Garnished 翻译更新
  projects/1.20-fabric/assets/0-modrinth-mod/garnished/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/garnished/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3811 Nature's Spirit 翻译提交
  projects/1.20-fabric/assets/natures-spirit/natures_spirit/lang/en_us.json
  projects/1.20-fabric/assets/natures-spirit/natures_spirit/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#3814 Icarus 翻译提交
  projects/1.20-fabric/assets/icarus/icarus/lang/en_us.json
  projects/1.20-fabric/assets/icarus/icarus/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3825 Pigment 翻译提交
  projects/1.20-fabric/assets/pigment/pigment/lang/en_us.json
  projects/1.20-fabric/assets/pigment/pigment/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3820 Copper Tier 翻译提交
  projects/1.18-fabric/assets/0-modrinth-mod/coppertier/lang/en_us.json
  projects/1.18-fabric/assets/0-modrinth-mod/coppertier/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Fabric

#3828 Brewin' And Chewin' 翻译更新
  projects/1.20-fabric/assets/brewin-and-chewin-fabric/brewinandchewin/lang/en_us.json
  projects/1.20-fabric/assets/brewin-and-chewin-fabric/brewinandchewin/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#2481 Atlantis 1.12.2 翻译提交
  projects/1.12.2/assets/atlantis/atlantis/lang/en_us.lang
  projects/1.12.2/assets/atlantis/atlantis/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3827 Mwti's Stone Expansion 翻译提交
  projects/1.20-fabric/assets/mwtis-stone-expansion/stoneexpansion/lang/en_us.json
  projects/1.20-fabric/assets/mwtis-stone-expansion/stoneexpansion/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#3808 Serene Seasons 翻译提交
  projects/1.19/assets/serene-seasons/sereneseasons/lang/en_us.json
  projects/1.19/assets/serene-seasons/sereneseasons/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3762 Immersive Petroleum 翻译更新
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/en_us.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/asphalt.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/cokerunit.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/derrick.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/distillationtower.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/molotov.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/oiltank.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/plastics.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/portablegenerator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/pumpjack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/speedboat.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/asphalt.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/cokerunit.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/derrick.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/distillationtower.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/molotov.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/oiltank.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/plastics.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/portablegenerator.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/projector.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/pumpjack.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/speedboat.txt
Labels: 即将合并, 1000+, 1.18.x, Forge

#3841 Creeper Overhaul翻译更新
  projects/1.20-fabric/assets/creeper-overhaul/creeperoverhaul/lang/en_us.json
  projects/1.20-fabric/assets/creeper-overhaul/creeperoverhaul/lang/zh_cn.json
  projects/1.20/assets/creeper-overhaul/creeperoverhaul/lang/en_us.json
  projects/1.20/assets/creeper-overhaul/creeperoverhaul/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#3842 Paladins & Priests 翻译更新
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/en_us.json
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#3849 Create Crystal Clear 翻译提交 1.19
  projects/1.19/assets/create-crystal-clear/create_crystal_clear/lang/en_us.json
  projects/1.19/assets/create-crystal-clear/create_crystal_clear/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3843 Wizards 翻译更新
  projects/1.20-fabric/assets/wizards/wizards/lang/en_us.json
  projects/1.20-fabric/assets/wizards/wizards/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3848 Create Deco 提交翻译 1.19
  projects/1.19/assets/create-deco/createdeco/lang/en_us.json
  projects/1.19/assets/create-deco/createdeco/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.19.x

#3846 Brewin' And Chewin' 添加翻译 1.19
  projects/1.19/assets/brewin-and-chewin/brewinandchewin/lang/en_us.json
  projects/1.19/assets/brewin-and-chewin/brewinandchewin/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3836 William Wythers' Expanded Ecosphere 翻译提交
  projects/1.20-fabric/assets/expanded-ecosphere/wwoo/lang/en_us.json
  projects/1.20-fabric/assets/expanded-ecosphere/wwoo/lang/zh_cn.json
  projects/1.20/assets/expanded-ecosphere/wwoo/lang/en_us.json
  projects/1.20/assets/expanded-ecosphere/wwoo/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, Forge, 1.20.x

#3853 Ars Ocultas 翻译提交
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/en_us/categories/ars_ocultas.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/gem.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/spirit_jar.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/transmutation.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/categories/ars_ocultas.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/gem.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spirit_jar.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/transmutation.json
Labels: 即将合并, 100+, Forge, Patchouli, 1.20.x

#3852 Ars Armiger 翻译更新
  projects/1.19/assets/ars-armiger/ars_armiger/lang/en_us.json
  projects/1.19/assets/ars-armiger/ars_armiger/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3845 Villager Recruits 翻译提交
  projects/1.20/assets/recruits/recruits/lang/en_us.json
  projects/1.20/assets/recruits/recruits/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3860 Farmers Respite 翻译修正 1.19
  projects/1.19/assets/farmers-respite/farmersrespite/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3733 All Bark,All Bite模组翻译提交
  projects/1.19/assets/all-bark-all-bite/all_bark_all_bite/lang/en_us.json
  projects/1.19/assets/all-bark-all-bite/all_bark_all_bite/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3868 CB: Compressed Blocks 翻译提交
  projects/1.19/assets/cb-compressed-blocks/compressedblocks/lang/en_us.json
  projects/1.19/assets/cb-compressed-blocks/compressedblocks/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.19.x

#3837 More Immersive Wires 翻译提交
  projects/1.20/assets/more-immersive-wires/more_immersive_wires/lang/en_us.json
  projects/1.20/assets/more-immersive-wires/more_immersive_wires/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3427 Compat Makeover 翻译提交
  projects/1.19/assets/compat-makeover/compat_makeover/lang/en_us.json
  projects/1.19/assets/compat-makeover/compat_makeover/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3775 MEGA Cells 翻译提交
  projects/1.19/assets/mega-cells/megacells/lang/zh_cn.json
  projects/1.20/assets/mega-cells/megacells/lang/en_us.json
  projects/1.20/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3813 Applied Mekanistics 翻译提交
  projects/1.20/assets/applied-mekanistics/appmek/lang/en_us.json
  projects/1.20/assets/applied-mekanistics/appmek/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x
