Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-02, with the labels that each got.

#2930 提交 Banilla Claws/Vanilla Claws 翻译
  projects/1.18-fabric/assets/banilla-claws/vanilla_claws/lang/en_us.json
  projects/1.18-fabric/assets/banilla-claws/vanilla_claws/lang/zh_cn.json
  projects/1.18/assets/banilla-claws-forge/vanilla_claws/lang/en_us.json
  projects/1.18/assets/banilla-claws-forge/vanilla_claws/lang/zh_cn.json
  projects/1.19/assets/banilla-claws/vanilla_claws/lang/en_us.json
  projects/1.19/assets/banilla-claws/vanilla_claws/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric, Forge, 1.19.x

#2143 [R] LazierAE2 1.18.2版本翻译提交
  projects/1.18/assets/lazierae2/lazierae2/lang/en_us.json
  projects/1.18/assets/lazierae2/lazierae2/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2809 Dynamistics和Tool Progression汉化提交
  projects/1.12.2/assets/dynamistics/dynamistics/lang/en_us.lang
  projects/1.12.2/assets/dynamistics/dynamistics/lang/zh_cn.lang
  projects/1.12.2/assets/tool-progression/toolprogression/lang/en_US.lang
  projects/1.12.2/assets/tool-progression/toolprogression/lang/zh_CN.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#2946 Exline‘s Furniture 翻译更新 & 1.19迁移
  projects/1.16-fabric/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.16/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.18-fabric/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.18/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.19/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.19/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Fabric, Forge, 1.19.x

#2947 提交customizable-elytra翻译
  projects/1.18/assets/customizable-elytra/customizableelytra/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2898 Crafting Tweaks 修正/更新丨1.18→1.19
  projects/1.12.2/assets/crafting-tweaks/craftingtweaks/lang/zh_cn.lang
  projects/1.16/assets/crafting-tweaks/craftingtweaks/packer-policy.json
  projects/1.18/assets/crafting-tweaks/craftingtweaks/lang/zh_cn.json
  projects/1.18/assets/crafting-tweaks/craftingtweaks/packer-policy.json
  projects/1.19/assets/crafting-tweaks/craftingtweaks/lang/en_us.json
  projects/1.19/assets/crafting-tweaks/craftingtweaks/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 40+, 1.18.x, Forge, 1.19.x

#2942 Botany Pots 翻译迁移
  projects/1.18-fabric/assets/azuredooms-angel-ring/doomangelring/lang/en_us.json
  projects/1.18-fabric/assets/azuredooms-angel-ring/doomangelring/lang/zh_cn.json
  projects/1.18-fabric/assets/botany-pots/botanypots/lang/en_us.json
  projects/1.18-fabric/assets/botany-pots/botanypots/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2976 Potion of Bees 翻译提交
  projects/1.16/assets/potion-of-bees/potionofbees/lang/en_us.json
  projects/1.16/assets/potion-of-bees/potionofbees/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#2979 RevampedWolf 翻译提交
  projects/1.16/assets/revampedwolf/revampedwolf/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#2984 Slabfish's Delights 翻译提交
  projects/1.16/assets/slabfishs-delights/slabfishdelight/lang/en_us.json
  projects/1.16/assets/slabfishs-delights/slabfishdelight/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2985 Slimy Stuff 翻译提交
  projects/1.16/assets/slimy-stuff/slimy_stuff/lang/en_us.json
  projects/1.16/assets/slimy-stuff/slimy_stuff/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2988 Workshops of Doom 翻译提交
  projects/1.16/assets/workshops-of-doom/workshopsofdoom/lang/en_us.json
  projects/1.16/assets/workshops-of-doom/workshopsofdoom/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2980 Rotten Piglins Mod 翻译提交
  projects/1.16/assets/rotten-piglins-mod/rotten_piglins/lang/en_us.json
  projects/1.16/assets/rotten-piglins-mod/rotten_piglins/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2879 Thermal Expansion 大桶（reservoir） -> 贮液器
  projects/1.12.2/assets/thermal-expansion/thermalexpansion/lang/zh_cn.lang
  projects/1.18/assets/thermal-foundation/thermal/lang/zh_cn.json
Labels: 1.12.x, ready to merge, 1.18.x, 10+, Forge

#2952 Alex's Delight 翻译搬运丨1.18→1.19
  projects/1.19/assets/alexs-delight/alexsdelight/lang/en_us.json
  projects/1.19/assets/alexs-delight/alexsdelight/lang/zh_cn.json
Labels: ready to merge, 40+, Forge, 1.19.x

#2966 Create: Molten Geodes 翻译提交
  projects/1.18/assets/create-molten-geodes/molten_geodes/lang/en_us.json
  projects/1.18/assets/create-molten-geodes/molten_geodes/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2698 提交 mythicbotany 新版汉化
  projects/1.18/assets/mythicbotany/mythicbotany/lang/en_us.json
  projects/1.18/assets/mythicbotany/mythicbotany/lang/zh_cn.json
  projects/1.18/assets/mythicbotany/mythicbotany_lexicon/lang/en_us.json
  projects/1.18/assets/mythicbotany/mythicbotany_lexicon/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2960 新增action：自动执行7+7措施
  .github/workflows/stale.yml
Labels: ready to merge, 10+

#2972 Haunted Harvest 翻译提交
  projects/1.16/assets/haunted-harvest/hauntedharvest/lang/en_us.json
  projects/1.16/assets/haunted-harvest/hauntedharvest/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2967 Opulence 翻译提交
  projects/1.18-fabric/assets/opulence/opulence/packer-policy.json
  projects/1.18/assets/opulence/opulence/lang/en_us.json
  projects/1.18/assets/opulence/opulence/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric, Forge

#2964 Thaumic wonders 翻译修正
  projects/1.12.2/assets/thaumic-wonders/thaumicwonders/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2986 Snail Mail 翻译提交
  projects/1.16/assets/snail-mail/snailmail/lang/en_us.json
  projects/1.16/assets/snail-mail/snailmail/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2982 Simply Cats 翻译提交
  projects/1.16/assets/simply-cats/simplycats/lang/en_us.json
  projects/1.16/assets/simply-cats/simplycats/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2973 Hunter Illager 翻译提交
  projects/1.16/assets/hunterillager/hunterillager/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2970 Alex's Delights 翻译提交
  projects/1.16/assets/alexs-delights/alexsdelight/lang/en_us.json
  projects/1.16/assets/alexs-delights/alexsdelight/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2992 RGB Blocks 翻译提交
  projects/1.16/assets/rgb-blocks-forge/rgbblocks/lang/en_us.json
  projects/1.16/assets/rgb-blocks-forge/rgbblocks/lang/zh_cn.json
  projects/1.18/assets/rgb-blocks-forge/rgbblocks/lang/en_us.json
  projects/1.18/assets/rgb-blocks-forge/rgbblocks/lang/zh_cn.json
  projects/1.19/assets/rgb-blocks-forge/rgbblocks/lang/en_us.json
  projects/1.19/assets/rgb-blocks-forge/rgbblocks/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge, 1.19.x

#2852 Pam's HarvestCraft 2 Trees 翻译更新
  projects/1.18/assets/pams-harvestcraft-2-trees/pamhc2trees/lang/en_us.json
  projects/1.18/assets/pams-harvestcraft-2-trees/pamhc2trees/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#3000 Tinker's Things 翻译更新
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/en_us.json
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2997 FTB Team Islands 修订
  projects/1.16/assets/ftb-team-islands-forge/ftbteamislands/lang/zh_cn.json
  projects/1.18/assets/ftb-team-islands-forge/ftbteamislands/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1.18.x, 10+, Forge

#2715 Macaw's Roofs 翻译更新与 Macaw 系列译名标准化
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.16/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2950 Advanced Rocketry 翻译更新
  projects/1.12.2/assets/advanced-rocketry/advancedrocketry/lang/en_us.lang
  projects/1.12.2/assets/advanced-rocketry/advancedrocketry/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 500+, Forge

#2888 Bamboo Tweaks 翻译提交
  projects/1.18/assets/bamboo-tweaks-fabric/bambootweaks/lang/zh_cn.json
  projects/1.18/assets/bamboo-tweaks/bambootweaks/lang/en_us.json
  projects/1.18/assets/bamboo-tweaks/bambootweaks/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2959 Assembly Line Machines 翻译提交
  projects/1.19/assets/assemblylinemachines/assemblylinemachines/lang/en_us.json
  projects/1.19/assets/assemblylinemachines/assemblylinemachines/lang/zh_cn.json
Labels: ready to merge, 500+, Forge, 1.19.x

#3006 Tatami 翻译提交
  projects/1.12.2/assets/tatami/tatami/lang/en_us.lang
  projects/1.12.2/assets/tatami/tatami/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#3002 Simple Cobblestone Generator 翻译提交
  projects/1.16/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/en_us.json
  projects/1.16/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/zh_cn.json
  projects/1.18/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/en_us.json
  projects/1.18/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/zh_cn.json
  projects/1.19/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/en_us.json
  projects/1.19/assets/simple-cobblestone-generator-forge/simple_cobblestone_generator/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Forge, 1.19.x

#2746 Paladin’s Furniture mod 翻译提交
  projects/1.16-fabric/assets/paladins-furniture/pfm/lang/en_us.json
  projects/1.16-fabric/assets/paladins-furniture/pfm/lang/zh_cn.json
  projects/1.16/assets/paladins-furniture/pfm/lang/en_us.json
  projects/1.16/assets/paladins-furniture/pfm/lang/zh_cn.json
  projects/1.18-fabric/assets/paladins-furniture/pfm/lang/en_us.json
  projects/1.18-fabric/assets/paladins-furniture/pfm/lang/zh_cn.json
  projects/1.18/assets/paladins-furniture/pfm/lang/en_us.json
  projects/1.18/assets/paladins-furniture/pfm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 5000+, 1.18.x, Fabric, Forge

#3004 Drunken Mug 翻译提交
  projects/1.18-fabric/assets/drunken-mug/drunken_mug/lang/en_us.json
  projects/1.18-fabric/assets/drunken-mug/drunken_mug/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric

#2994 Shield Expansion 翻译提交
  projects/1.18/assets/shield-expansion/shieldexp/lang/en_us.json
  projects/1.18/assets/shield-expansion/shieldexp/lang/zh_cn.json
  projects/1.19/assets/shield-expansion/shieldexp/packer-policy.json
Labels: ready to merge, 1.18.x, 10+, Forge, 1.19.x

#2847 Valhelsia Furniture 翻译提交
  projects/1.19/assets/valhelsia-furniture/valhelsia_furniture/lang/en_us.json
  projects/1.19/assets/valhelsia-furniture/valhelsia_furniture/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2849 Valhelsia Structures 翻译更新
  projects/1.16/assets/valhelsia-structures/valhelsia_structures/lang/en_us.json
  projects/1.16/assets/valhelsia-structures/valhelsia_structures/lang/zh_cn.json
  projects/1.18/assets/valhelsia-structures/valhelsia_structures/lang/en_us.json
  projects/1.18/assets/valhelsia-structures/valhelsia_structures/lang/zh_cn.json
  projects/1.19/assets/valhelsia-structures/valhelsia_structures/lang/en_us.json
  projects/1.19/assets/valhelsia-structures/valhelsia_structures/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge, 1.19.x

#2993 Inventory Management 翻译提交
  projects/1.18-fabric/assets/1UNKNOWN/inventorymanagement/lang/en_us.json
  projects/1.18-fabric/assets/1UNKNOWN/inventorymanagement/lang/zh_cn.json
  projects/1.19/assets/1UNKNOWN/inventorymanagement/lang/en_us.json
  projects/1.19/assets/1UNKNOWN/inventorymanagement/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric, Forge, 1.19.x

#2971 Goblins & Dungeons 翻译提交
  projects/1.16/assets/goblins-dungeons/goblinsanddungeons/lang/en_us.json
  projects/1.16/assets/goblins-dungeons/goblinsanddungeons/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#3003 Apple Crates 系列翻译提交
  projects/1.18/assets/apple-crates/applecrates/lang/en_us.json
  projects/1.18/assets/apple-crates/applecrates/lang/zh_cn.json
  projects/1.18/assets/botanical-crates/applecrates_botania/lang/en_us.json
  projects/1.18/assets/botanical-crates/applecrates_botania/lang/zh_cn.json
  projects/1.18/assets/byg-crates/applecrates_byg/lang/en_us.json
  projects/1.18/assets/byg-crates/applecrates_byg/lang/zh_cn.json
  projects/1.18/assets/construct-crates/applecrates_tcon/lang/en_us.json
  projects/1.18/assets/construct-crates/applecrates_tcon/lang/zh_cn.json
  projects/1.18/assets/dynamic-crates/applecrates_intdyn/lang/en_us.json
  projects/1.18/assets/dynamic-crates/applecrates_intdyn/lang/zh_cn.json
  projects/1.18/assets/enlightened-crates/applecrates_nourishedend/lang/en_us.json
  projects/1.18/assets/enlightened-crates/applecrates_nourishedend/lang/zh_cn.json
  projects/1.18/assets/firma-crates/applecrates_tfc/lang/en_us.json
  projects/1.18/assets/firma-crates/applecrates_tfc/lang/zh_cn.json
  projects/1.18/assets/forbidden-crates/applecrates_forbarc/lang/en_us.json
  projects/1.18/assets/forbidden-crates/applecrates_forbarc/lang/zh_cn.json
  projects/1.18/assets/fruit-crates/applecrates_fruit/lang/en_us.json
  projects/1.18/assets/fruit-crates/applecrates_fruit/lang/zh_cn.json
  projects/1.18/assets/malumian-crates/applecrates_malum/lang/en_us.json
  projects/1.18/assets/malumian-crates/applecrates_malum/lang/zh_cn.json
  projects/1.18/assets/plenty-crates/applecrates_bop/lang/en_us.json
  projects/1.18/assets/plenty-crates/applecrates_bop/lang/zh_cn.json
  projects/1.18/assets/premium-crates/applecrates_premwood/lang/en_us.json
  projects/1.18/assets/premium-crates/applecrates_premwood/lang/zh_cn.json
  projects/1.18/assets/solar-crates/applecrates_solarforge/lang/en_us.json
  projects/1.18/assets/solar-crates/applecrates_solarforge/lang/zh_cn.json
  projects/1.19/assets/apple-crates/applecrates/lang/en_us.json
  projects/1.19/assets/apple-crates/applecrates/lang/zh_cn.json
  projects/1.19/assets/byg-crates/applecrates_byg/lang/en_us.json
  projects/1.19/assets/byg-crates/applecrates_byg/lang/zh_cn.json
  projects/1.19/assets/dynamic-crates/applecrates_intdyn/lang/en_us.json
  projects/1.19/assets/dynamic-crates/applecrates_intdyn/lang/zh_cn.json
  projects/1.19/assets/forbidden-crates/applecrates_forbarc/lang/en_us.json
  projects/1.19/assets/forbidden-crates/applecrates_forbarc/lang/zh_cn.json
  projects/1.19/assets/fruit-crates/applecrates_fruit/lang/en_us.json
  projects/1.19/assets/fruit-crates/applecrates_fruit/lang/zh_cn.json
  projects/1.19/assets/plenty-crates/applecrates_bop/lang/en_us.json
  projects/1.19/assets/plenty-crates/applecrates_bop/lang/zh_cn.json
  projects/1.19/assets/premium-crates/applecrates_premwood/lang/en_us.json
  projects/1.19/assets/premium-crates/applecrates_premwood/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge, 1.19.x

#2948 🐷Lethal Peaceful🔫翻译提交
  projects/1.16/assets/lethal-peaceful/lethal_peaceful/lang/en_us.json
  projects/1.16/assets/lethal-peaceful/lethal_peaceful/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#2943 Undead Expansion翻译更新
  projects/1.16/assets/undead-expansion/undead_expansion/lang/en_us.json
  projects/1.16/assets/undead-expansion/undead_expansion/lang/zh_cn.json
  projects/1.18/assets/undead-expansion/undead_expansion/lang/en_us.json
  projects/1.18/assets/undead-expansion/undead_expansion/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#3025 CoFHCore 翻译修补
  projects/1.12.2/assets/cofh-core/cofh/lang/en_us.lang
  projects/1.12.2/assets/cofh-core/cofh/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2951 Alex's Abnormalities 翻译更新
  projects/1.16/assets/alexs-abnormalities/alab/lang/zh_cn.json
  projects/1.18/assets/alexs-abnormalities/alexsabnormalities/lang/en_us.json
  projects/1.18/assets/alexs-abnormalities/alexsabnormalities/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#3024 Chatsounds Mod 翻译提交
  projects/1.19/assets/chat-sounds/chatsounds/lang/en_us.json
  projects/1.19/assets/chat-sounds/chatsounds/lang/zh_cn.json
Labels: ready to merge, 40+, Forge, 1.19.x

#2954 Prehistoric Fauna 及其 Dramatic Doors 联动翻译修正&更新
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/en_us.json
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/basilemys_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/hell_creek_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/ischigualasto_1.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/paleopedia/zh_cn_0/morrison_0.txt
  projects/1.16/assets/prehistoric-fauna/prehistoricfauna/lang/zh_cn.json
  projects/1.18/assets/dramatic-doors/dramaticdoors/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 2000+, 1.18.x, Forge

#3034 Dramatic Doors 修正
  projects/1.18/assets/dramatic-doors/dramaticdoors/lang/zh_cn.json
Labels: ready to merge, 1+, 1.18.x, Forge

#2996 Heat and Climate 翻译提交
  projects/1.12.2/assets/heat-and-climate/dcs_climate/lang/en_us.lang
  projects/1.12.2/assets/heat-and-climate/dcs_climate/lang/ja_jp.lang
  projects/1.12.2/assets/heat-and-climate/dcs_climate/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 5000+, Forge

#3001 heat and processing翻译提交
  projects/1.12.2/assets/heat-and-processing/hap/lang/en_us.lang
  projects/1.12.2/assets/heat-and-processing/hap/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#3032 ChinjufuMod +JapaneseBlock 游戏版本1.18文本提交
  projects/1.18/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: ready to merge, 5000+, 1.18.x, Forge

#3031 ChinjufuMod +JapaneseBlock 游戏版本1.16文本提交
  projects/1.16/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 5000+, Forge

#3037 easy emerald tools翻译修正
  projects/1.18/assets/easy-emerald-tools/easy_emerald/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#3036 Lycanites Mobs 翻译修正
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#3030 Ender IO 翻译修补
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#3027 提交 Spartanlands Rereforged 模组翻译
  projects/1.12.2/assets/spartanlands-rereforged/spartanlands/lang/en_us.lang
  projects/1.12.2/assets/spartanlands-rereforged/spartanlands/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, Forge

#3026 Dynamic Trees - The Betweenlands 翻译提交
  projects/1.12.2/assets/dynamic-trees-the-betweenlands/dynamictreestbl/lang/en_us.lang
  projects/1.12.2/assets/dynamic-trees-the-betweenlands/dynamictreestbl/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#3022 Spice of Life: Apple Pie Edition 翻译提交
  projects/1.18/assets/spice-of-life-apple-pie-edition/solapplepie/lang/en_us.json
  projects/1.18/assets/spice-of-life-apple-pie-edition/solapplepie/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#3045 将库内的zh_CN.lang全部修改为zh_cn.lang
  projects/1.12.2/assets/advanced-xray/xray/lang/en_us.lang
  projects/1.12.2/assets/advanced-xray/xray/lang/zh_cn.lang
  projects/1.12.2/assets/bigger-crafting-tables/biggercraftingtables/lang/en_us.lang
  projects/1.12.2/assets/bigger-crafting-tables/biggercraftingtables/lang/zh_cn.lang
  projects/1.12.2/assets/lightningcraft/lightningcraft/lang/en_us.lang
  projects/1.12.2/assets/lightningcraft/lightningcraft/lang/zh_cn.lang
  projects/1.12.2/assets/mob-battle-mod/mobbattle/lang/en_us.lang
  projects/1.12.2/assets/mob-battle-mod/mobbattle/lang/zh_cn.lang
  projects/1.12.2/assets/multi-page-chest/multipagechest/lang/en_us.lang
  projects/1.12.2/assets/multi-page-chest/multipagechest/lang/zh_cn.lang
  projects/1.12.2/assets/the-bappy-stick/thebappystick/lang/en_us.lang
  projects/1.12.2/assets/the-bappy-stick/thebappystick/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#3038 Tinkers Things 翻译更新
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/en_us.json
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/zh_cn.json
Labels: ready to merge, 1+, 1.18.x, Forge

#3018 Create Slice & Dice 翻译提交 以及 materialis 翻译更新
  projects/1.18/assets/materialis/materialis/lang/en_us.json
  projects/1.18/assets/materialis/materialis/lang/zh_cn.json
  projects/1.18/assets/slice-and-dice/sliceanddice/lang/en_us.json
  projects/1.18/assets/slice-and-dice/sliceanddice/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2829 Good Ending 翻译提交
  projects/1.19/assets/good-ending/goodending/lang/en_us.json
  projects/1.19/assets/good-ending/goodending/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2856 macaw系列本体1.19翻译提交
  projects/1.19/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.19/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.19/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.19/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.19/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.19/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.19/assets/macaws-furniture/mcwfurnitures/lang/en_us.json
  projects/1.19/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
  projects/1.19/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.19/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.19/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.19/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.19/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.19/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.19/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.19/assets/macaws-windows/mcwwindows/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 2000+, 1.18.x, Forge, 1.19.x

#2782 Sonorama 翻译提交
  projects/1.16/assets/sonorama/sonorarama/lang/en_us.json
  projects/1.16/assets/sonorama/sonorarama/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#3070 iron and gold from 1.17 翻译提交
  projects/1.16/assets/iron-and-gold-from-1-17/iron_and_gold/lang/en_us.json
  projects/1.16/assets/iron-and-gold-from-1-17/iron_and_gold/lang/zh_cn.json
Labels: 1.16.x, 10+, Forge

#3065 Mahogany
  projects/1.19/assets/mahogany/mahogany/lang/en_us.json
  projects/1.19/assets/mahogany/mahogany/lang/zh_cn.json
Labels: ready to merge, 40+, Forge, 1.19.x

#3068 Fantasy Mounts 翻译提交
  projects/1.16/assets/fantasy-mounts/fantasy/lang/en_us.json
  projects/1.16/assets/fantasy-mounts/fantasy/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, Forge

#2341 Mystical World 提交翻译
  projects/1.16/assets/mystical-world/mysticalworld/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Forge

#3083 Heat and Climate 翻译修正
  projects/1.12.2/assets/heat-and-climate/dcs_climate/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#3080 Ender Hopper 翻译提交
  projects/1.12.2/assets/ender-hopper/enderhopper/lang/en_us.lang
  projects/1.12.2/assets/ender-hopper/enderhopper/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge
