Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-05, with the labels that each got.

#3236 神秘农业及其拓展部分问题修复
  projects/1.12.2/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.lang
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3249 Easy Magic 翻译提交
  projects/1.19/assets/easy-magic/easymagic/lang/en_us.json
  projects/1.19/assets/easy-magic/easymagic/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#2874 Abundant Atmosphere 翻译提交
  projects/1.19/assets/abundant-atmosphere/abundant_atmosphere/lang/en_us.json
  projects/1.19/assets/abundant-atmosphere/abundant_atmosphere/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3205 Interactic & Blur 翻译提交
  projects/1.18-fabric/assets/blur-fabric/blur/lang/en_us.json
  projects/1.18-fabric/assets/blur-fabric/blur/lang/zh_cn.json
  projects/1.18-fabric/assets/interactic/interactic/lang/en_us.json
  projects/1.18-fabric/assets/interactic/interactic/lang/zh_cn.json
  projects/1.19/assets/blur-fabric/blur/lang/en_us.json
  projects/1.19/assets/blur-fabric/blur/lang/zh_cn.json
  projects/1.19/assets/interactic/interactic/lang/en_us.json
  projects/1.19/assets/interactic/interactic/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2955 Biome Makeover 错译修正
  projects/1.18/assets/biome-makeover-forge/biomemakeover/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3043 MythicBotany 翻译修正
  projects/1.18/assets/mythicbotany/mythicbotany/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3248 Easy Anvils 翻译提交
  projects/1.19/assets/easy-anvils/easyanvils/lang/en_us.json
  projects/1.19/assets/easy-anvils/easyanvils/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3255 Upgraded Tools 翻译提交
  projects/1.19/assets/upgraded-tools/upgradedtools/lang/en_us.json
  projects/1.19/assets/upgraded-tools/upgradedtools/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3233 Dimensional Doors 翻译提交，完善和修正
  projects/1.12.2/assets/dimensionaldoors/dimdoors/lang/en_us.lang
  projects/1.12.2/assets/dimensionaldoors/dimdoors/lang/zh_cn.lang
  projects/1.18-fabric/assets/dimensional-doors/dimdoors/lang/en_us.json
  projects/1.18-fabric/assets/dimensional-doors/dimdoors/lang/zh_cn.json
  projects/1.19/assets/dimensional-doors/dimdoors/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 1000+, 1.18.x, Fabric, Forge, 1.19.x

#3229 Ars Instrumentum 翻译提交
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/lang/en_us.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/lang/zh_cn.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/runic_storage_stone.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/numeric_mana_charm.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/wizards_armarium.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/runic_storage_stone.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/numeric_mana_charm.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.18/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/wizards_armarium.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/en_us.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/zh_cn.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/arcane_applicator.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/runic_storage_stone.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/numeric_mana_charm.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/wizards_armarium.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/arcane_applicator.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/runic_storage_stone.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/numeric_mana_charm.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/wizards_armarium.json
Labels: 即将合并, 500+, 1.18.x, Forge, Patchouli, 1.19.x

#3260 Nether Chest 翻译提交
  projects/1.19/assets/new-nether-chest/netherchest/lang/en_us.json
  projects/1.19/assets/new-nether-chest/netherchest/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3259 Echo Chest 翻译提交
  projects/1.19/assets/echo-chest/echochest/lang/en_us.json
  projects/1.19/assets/echo-chest/echochest/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3258 Opolis Miners 翻译提交
  projects/1.19/assets/opolis-miners/miners/lang/en_us.json
  projects/1.19/assets/opolis-miners/miners/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3261 Ender Zoology 翻译提交
  projects/1.19/assets/ender-zoology/enderzoology/lang/en_us.json
  projects/1.19/assets/ender-zoology/enderzoology/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3262 Isometric Renders 翻译提交
  projects/1.18-fabric/assets/isometric-renders/isometric-renders/lang/en_us.json
  projects/1.18-fabric/assets/isometric-renders/isometric-renders/lang/zh_cn.json
  projects/1.19/assets/isometric-renders/isometric-renders/lang/en_us.json
  projects/1.19/assets/isometric-renders/isometric-renders/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3263 Tooltip Tweaks 翻译提交
  projects/1.18-fabric/assets/tooltiptweaks/tooltiptweaks/lang/en_us.json
  projects/1.18-fabric/assets/tooltiptweaks/tooltiptweaks/lang/zh_cn.json
  projects/1.19/assets/tooltiptweaks/tooltiptweaks/lang/en_us.json
  projects/1.19/assets/tooltiptweaks/tooltiptweaks/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3264 Cataclysm Weaponery 翻译提交
  projects/1.16/assets/cataclysmweaponery/cataclysm_weaponery/lang/en_us.json
  projects/1.16/assets/cataclysmweaponery/cataclysm_weaponery/lang/zh_cn.json
  projects/1.18/assets/cataclysmweaponery/cataclysm_weaponery/lang/en_us.json
  projects/1.18/assets/cataclysmweaponery/cataclysm_weaponery/lang/zh_cn.json
  projects/1.19/assets/cataclysmweaponery/cataclysm_weaponery/lang/en_us.json
  projects/1.19/assets/cataclysmweaponery/cataclysm_weaponery/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x

#3265 Trade Cycling 翻译提交
  projects/1.19/assets/trade-cycling/trade_cycling/lang/en_us.json
  projects/1.19/assets/trade-cycling/trade_cycling/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3282 Winterly 翻译提交
  projects/1.19/assets/winterly/winterly/lang/en_us.json
  projects/1.19/assets/winterly/winterly/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3281 hellish materials 翻译提交
  projects/1.19/assets/hellish-materials/hellish-materials/lang/en_us.json
  projects/1.19/assets/hellish-materials/hellish-materials/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3280 harvest scythes 翻译提交
  projects/1.19/assets/harvest-scythes/harvest_scythes/lang/en_us.json
  projects/1.19/assets/harvest-scythes/harvest_scythes/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3279 luxore 翻译提交
  projects/1.19/assets/luxore/luxore/lang/en_us.json
  projects/1.19/assets/luxore/luxore/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3278 Filtered Chest 翻译提交
  projects/1.16/assets/filtered-chests/filteredchests/lang/en_us.json
  projects/1.16/assets/filtered-chests/filteredchests/lang/zh_cn.json
  projects/1.18/assets/filtered-chests/filteredchests/lang/en_us.json
  projects/1.18/assets/filtered-chests/filteredchests/lang/zh_cn.json
  projects/1.19/assets/filtered-chests/filteredchests/lang/en_us.json
  projects/1.19/assets/filtered-chests/filteredchests/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x

#3295 Dynamic Trees 目录修改
  projects/1.18/assets/dynamictrees/dynamictrees/lang/en_us.json
  projects/1.18/assets/dynamictrees/dynamictrees/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3294 Ichunutil 翻译更新
  projects/1.16/assets/ichunutil/ichunutil/lang/en_us.json
  projects/1.16/assets/ichunutil/ichunutil/lang/zh_cn.json
Labels: help wanted, 1.16.x, 即将合并, 10+, Forge

#3292 FastFood Delight 翻译提交
  projects/1.19/assets/fastfood-delight/fastfooddelight/lang/en_us.json
  projects/1.19/assets/fastfood-delight/fastfooddelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3293 Hats 翻译提交
  projects/1.16/assets/hats/hats/lang/en_us.json
  projects/1.16/assets/hats/hats/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3108 Create steam‘n rails[机械动力：汽鸣铁道]翻译
  projects/1.18/assets/create-steam-n-rails/railways/lang/en_us.json
  projects/1.18/assets/create-steam-n-rails/railways/lang/zh_cn.json
  projects/1.19/assets/create-steam-n-rails/railways/lang/en_us.json
  projects/1.19/assets/create-steam-n-rails/railways/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x

#3287 Detail Armor Bar 1.19.4 翻译提交
  projects/1.19/assets/detail-armor-bar/detailab/lang/en_us.json
  projects/1.19/assets/detail-armor-bar/detailab/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3302 Extra Generators 翻译修正
  projects/1.16-fabric/assets/extra-generators/extragenerators/lang/zh_cn.json
  projects/1.18-fabric/assets/extra-generators/extragenerators/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Fabric

#3303 Revised Phantoms 翻译提交
  projects/1.18/assets/revised-phantoms/revised_phantoms/lang/en_us.json
  projects/1.18/assets/revised-phantoms/revised_phantoms/lang/zh_cn.json
  projects/1.19/assets/revised-phantoms/revised_phantoms/lang/en_us.json
  projects/1.19/assets/revised-phantoms/revised_phantoms/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3305 Statues 翻译提交
  projects/1.16/assets/statues/statues/lang/en_us.json
  projects/1.16/assets/statues/statues/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#3300 Client Commands 1.19 翻译修正
  projects/1.19/assets/client-commands/clientcommand/lang/en_us.json
  projects/1.19/assets/client-commands/clientcommand/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3312 Stale Action Label名称更改
  .github/workflows/stale.yml
Labels: 即将合并, 1+

#3206 ChinjufuMod +JapaneseBlock 翻译修订
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 5000+, 1.18.x, Forge

#3313 Chalk 翻译更新
  projects/1.18/assets/chalk/chalk/lang/en_us.json
  projects/1.18/assets/chalk/chalk/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3320 Chef's Delight 翻译提交
  projects/1.18-fabric/assets/chefs-delight/chefsdelight/lang/en_us.json
  projects/1.18-fabric/assets/chefs-delight/chefsdelight/lang/zh_cn.json
  projects/1.18/assets/chefs-delight/chefsdelight/lang/en_us.json
  projects/1.18/assets/chefs-delight/chefsdelight/lang/zh_cn.json
  projects/1.19/assets/chefs-delight/chefsdelight/lang/en_us.json
  projects/1.19/assets/chefs-delight/chefsdelight/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Fabric, Forge, 1.19.x

#3318 pams-bonecraft汉化提交
  projects/1.12.2/assets/pams-bonecraft/bonecraft/lang/en_us.lang
  projects/1.12.2/assets/pams-bonecraft/bonecraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3311 Plasmo Voice 1.19 翻译提交
  projects/1.19/assets/plasmo-voice/plasmovoice/lang/en_us.json
  projects/1.19/assets/plasmo-voice/plasmovoice/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3319 pams-desertcraft汉化提交
  projects/1.12.2/assets/pams-desertcraft/desertcraft/lang/en_us.lang
  projects/1.12.2/assets/pams-desertcraft/desertcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3321 pams-breadcraft翻译提交
  projects/1.12.2/assets/pams-breadcraft/pamsbreadcraft/lang/en_us.lang
  projects/1.12.2/assets/pams-breadcraft/pamsbreadcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3329 停止支持 Create 1.18 版本
  config/packer.json
Labels: config, 即将合并, 1+, 1.18.x

#3324 Chalk 翻译更新
  projects/1.18/assets/chalk/chalk/lang/zh_cn.json
  projects/1.19/assets/chalk/chalk/lang/en_us.json
  projects/1.19/assets/chalk/chalk/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3330 Spyglass improvements 翻译提交
  projects/1.19/assets/spyglass-improvements/spyglass-improvements/lang/en_us.json
  projects/1.19/assets/spyglass-improvements/spyglass-improvements/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3327 Let's Do Beachparty 翻译提交
  projects/1.19/assets/beachparty/beachparty/lang/en_us.json
  projects/1.19/assets/beachparty/beachparty/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3308 Floral Flair 翻译更新
  projects/1.18/assets/floral-flair/floral_flair/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3291 Twigs 翻译提交
  projects/1.19/assets/twigs/twigs/lang/en_us.json
  projects/1.19/assets/twigs/twigs/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3186 Tips 翻译质量提升/迁移丨1.16→1.18/1.19
  projects/1.12.2/assets/tips/tips/lang/en_us.lang
  projects/1.12.2/assets/tips/tips/lang/zh_cn.lang
  projects/1.16/assets/tips/tips/lang/zh_cn.json
  projects/1.18/assets/tips/tipsmod/lang/en_us.json
  projects/1.18/assets/tips/tipsmod/lang/zh_cn.json
  projects/1.19/assets/tips/tipsmod/lang/en_us.json
  projects/1.19/assets/tips/tipsmod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3333 Trumpet Skeleton 翻译修改
  projects/1.12.2/assets/doot/trumpetskeleton/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3332 Just Hammers 翻译提交
  projects/1.18-fabric/assets/justhammers/justhammers/lang/en_us.json
  projects/1.18-fabric/assets/justhammers/justhammers/lang/zh_cn.json
  projects/1.18/assets/justhammers/justhammers/lang/en_us.json
  projects/1.18/assets/justhammers/justhammers/lang/zh_cn.json
  projects/1.19/assets/justhammers/justhammers/lang/en_us.json
  projects/1.19/assets/justhammers/justhammers/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3317 Dimensional Pockets II 翻译提交
  projects/1.19/assets/dimensional-pockets-ii/dimensionalpocketsii/lang/en_us.json
  projects/1.19/assets/dimensional-pockets-ii/dimensionalpocketsii/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.19.x

#2892 AE2 部分附属更新
  projects/1.19/assets/applied-botanics-addon/appbot/lang/en_us.json
  projects/1.19/assets/applied-botanics-addon/appbot/lang/zh_cn.json
  projects/1.19/assets/applied-mekanistics/appmek/lang/en_us.json
  projects/1.19/assets/applied-mekanistics/appmek/lang/zh_cn.json
  projects/1.19/assets/mega-cells/megacells/lang/en_us.json
  projects/1.19/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 100+, Forge, 1.19.x
