Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-03, with the labels that each got.

#3066 YUNG's Better Nether Fortresses 翻译提交
  projects/1.19/assets/yungs-better-nether-fortresses/betterfortresses/lang/en_us.json
  projects/1.19/assets/yungs-better-nether-fortresses/betterfortresses/lang/zh_cn.json
Labels: ready to merge, 10+, Forge, 1.19.x

#3052 Nightvision
  projects/1.19/assets/night-vision-enchantment-forge/nightvision/lang/en_us.json
  projects/1.19/assets/night-vision-enchantment-forge/nightvision/lang/zh_cn.json
Labels: 1.12.x, ready to merge, 1+, Forge, 1.19.x

#3047 ChinjufuMod +JapaneseBlock 翻译修正
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, ready to merge, 5000+, 1.18.x, Forge

#2944 Xaero's World Map 翻译修补
  projects/1.12.2/assets/xaeros-world-map/xaeroworldmap/lang/en_us.lang
  projects/1.12.2/assets/xaeros-world-map/xaeroworldmap/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#3084 Wither Bones 翻译提交
  projects/1.19/assets/wither-bones/wither_bones/lang/en_us.json
  projects/1.19/assets/wither-bones/wither_bones/lang/zh_cn.json
Labels: ready to merge, 10+, Forge, 1.19.x

#3056 Urushi 翻译提交
  projects/1.18/assets/urushi-mod/urushi/lang/en_us.json
  projects/1.18/assets/urushi-mod/urushi/lang/ja_jp.json
  projects/1.18/assets/urushi-mod/urushi/lang/zh_cn.json
Labels: ready to merge, 2000+, 1.18.x, Forge

#3073 Cataclysm 1.19 更新 & 1.16、1.18 修正
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge, 1.19.x

#3096 Pollutant Pump 翻译提交
  projects/1.12.2/assets/pollutant-pump/pollutantpump/lang/en_us.lang
  projects/1.12.2/assets/pollutant-pump/pollutantpump/lang/zh_cn.lang
Labels: 1.12.x, 1+, Forge

#2795 Refined Storage & Quark 翻译更新
  projects/1.18/assets/quark/quark/lang/en_us.json
  projects/1.18/assets/quark/quark/lang/zh_cn.json
  projects/1.18/assets/refined-storage/refinedstorage/lang/en_us.json
  projects/1.18/assets/refined-storage/refinedstorage/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#3072 Decorative Winter 翻译提交
  projects/1.16/assets/decorative-winter/decorative_winter/lang/en_us.json
  projects/1.16/assets/decorative-winter/decorative_winter/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#3109 Cataclysm 翻译修正
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge, 1.19.x

#3118 ChinjufuMod + JapaneseBlock 补充缺失的空格
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 40+, Forge

#2149 Oh The Biomes You'll Go 翻译更新
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.19/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.19/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 5000+, 1.18.x, Forge, 1.19.x

#3119 quark 1.19 翻译更新
  projects/1.19/assets/quark/quark/lang/zh_cn.json
Labels: ready to merge, 10+, Forge, 1.19.x

#3127 Time in a bottle standalone 1.19.x 汉化提交
  projects/1.19/assets/time-in-a-bottle-standalone/tiab/lang/en_us.json
  projects/1.19/assets/time-in-a-bottle-standalone/tiab/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3130 Walk the Air 翻译提交
  projects/1.12.2/assets/walk-the-air/walk_the_air/lang/en_us.lang
  projects/1.12.2/assets/walk-the-air/walk_the_air/lang/ja_jp.lang
  projects/1.12.2/assets/walk-the-air/walk_the_air/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge, 小语种

#2956 Create Ore Excavation 翻译更新&修正
  projects/1.18/assets/create-ore-excavation/createoreexcavation/lang/en_us.json
  projects/1.18/assets/create-ore-excavation/createoreexcavation/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3137 细分小语种的PR标签
  .github/boring-cyborg.yml
Labels: 即将合并, 40+

#3055 Amethyst Tools Mod 翻译提交
  projects/1.19/assets/amethyst-tools-mod/amethysttoolsmod/lang/en_us.json
  projects/1.19/assets/amethyst-tools-mod/amethysttoolsmod/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3157 Diammold 翻译提交
  projects/1.19/assets/diamold/diamold/lang/en_us.json
  projects/1.19/assets/diamold/diamold/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3159 Immersive Engineering 翻译修补
  projects/1.12.2/assets/immersive-engineering/immersiveengineering/lang/zh_cn.lang
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.18/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1+, 1.18.x, Forge

#3145 Fat Chickens翻译提交
  projects/1.18/assets/fat-chicken/fatchicken/lang/en_us.json
  projects/1.18/assets/fat-chicken/fatchicken/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3126 SlashBlade 翻译修正
  projects/1.12.2/assets/slashblade/flammpfeil.slashblade/lang/ja_jp.lang
  projects/1.12.2/assets/slashblade/flammpfeil.slashblade/lang/zh_cn.lang
Labels: help wanted, 1.12.x, 即将合并, 500+, Forge, 日语
