Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-09, with the labels that each got.

#3730 Create:Garnished 翻译更新
  projects/1.19/assets/0-modrinth-mod/garnished/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/garnished/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3747 Create：The Factory Must Grow[机械动力：工业长路]翻译更新
  projects/1.19/assets/create-industry/createindustry/lang/en_us.json
  projects/1.19/assets/create-industry/createindustry/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3746 Create：Steam'n rails[机械动力：汽鸣铁道]翻译更新
  projects/1.19/assets/create-steam-n-rails/railways/lang/en_us.json
  projects/1.19/assets/create-steam-n-rails/railways/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3744 Crimsonsteves-more-mobs 模组翻译
  projects/1.19/assets/crimsonsteves-more-mobs/crimson_steves_mobs/lang/en_us.json
  projects/1.19/assets/crimsonsteves-more-mobs/crimson_steves_mobs/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.19.x

#3724 TFC + IE Crossover 翻译提交
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/lang/en_us.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/lang/zh_cn.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_alloys.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_blueprint.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_chemicals.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_drill.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_external_heater.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_graphite.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_herbicide.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_jute.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_mold.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_multiblocks.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_ores.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_quartz.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/en_us/tfc_ie_steel_obtain.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_alloys.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_blueprint.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_chemicals.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_drill.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_external_heater.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_graphite.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_herbicide.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_jute.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_mold.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_multiblocks.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_ores.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_quartz.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/manual/zh_cn/tfc_ie_steel_obtain.txt
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/categories/tfc_ie_changes.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/alloys.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/blueprint.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/chemicals.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/drill.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/external_heater.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/graphite.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/herbicide.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/jute.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/mold.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/multiblocks.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/ores.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/quartz.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/entries/tfc_ie_changes/steel_obtain.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/en_us/templates/tri_anvil_recipe.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/categories/tfc_ie_changes.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/alloys.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/blueprint.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/chemicals.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/drill.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/external_heater.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/graphite.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/herbicide.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/jute.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/mold.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/multiblocks.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/ores.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/quartz.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/entries/tfc_ie_changes/steel_obtain.json
  projects/1.18/assets/tfc-ie-crossover/tfc_ie_addon/patchouli_books/field_guide/zh_cn/templates/tri_anvil_recipe.json
Labels: 即将合并, 2000+, 1.18.x, Forge, Patchouli

#3740 Plushie 翻译更新
  projects/1.19/assets/plushie-mod/plushies/lang/zh_cn.json
  projects/1.20-fabric/assets/plushie-mod/plushies/lang/en_us.json
  projects/1.20-fabric/assets/plushie-mod/plushies/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.19.x, 1.20.x

#3691 MTR Addon Sign 翻译提交
  projects/1.18/assets/mrt-addon-sign/addon_mtr_signal_sign/lang/en_us.json
  projects/1.18/assets/mrt-addon-sign/addon_mtr_signal_sign/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, MCreator

#3742 ChinjufuMod +JapaneseBlock 翻译更新
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/en_us.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/ja_jp.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Forge, 日语

#3754 Simple Wooden Pipes 翻译提交
  projects/1.12.2/assets/simple-wooden-pipes/simplewoodenpipes/lang/en_us.lang
  projects/1.12.2/assets/simple-wooden-pipes/simplewoodenpipes/lang/zh_cn.lang
  projects/1.16/assets/simple-wooden-pipes/simplewoodenpipes/lang/en_us.json
  projects/1.16/assets/simple-wooden-pipes/simplewoodenpipes/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, Forge

#3755 Macaw全家桶 翻译更新
  projects/1.20-fabric/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.20-fabric/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.20-fabric/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.20-fabric/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-furniture/mcwfurnitures/lang/en_us.json
  projects/1.20-fabric/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.20-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.20-fabric/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.20-fabric/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.20-fabric/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.20-fabric/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.20/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.20/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.20/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.20/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.20/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.20/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.20/assets/macaws-furniture/mcwfurnitures/lang/en_us.json
  projects/1.20/assets/macaws-furniture/mcwfurnitures/lang/zh_cn.json
  projects/1.20/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.20/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.20/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.20/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.20/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.20/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
Labels: 即将合并, 5000+, Fabric, Forge, 1.20.x

#3727 Ad Astra! 翻译提交
  projects/1.18-fabric/assets/ad-astra/ad_astra/lang/en_us.json
  projects/1.18-fabric/assets/ad-astra/ad_astra/lang/zh_cn.json
  projects/1.19/assets/ad-astra/ad_astra/lang/en_us.json
  projects/1.19/assets/ad-astra/ad_astra/lang/zh_cn.json
  projects/1.20-fabric/assets/ad-astra/ad_astra/lang/en_us.json
  projects/1.20-fabric/assets/ad-astra/ad_astra/lang/zh_cn.json
  projects/1.20/assets/ad-astra/ad_astra/lang/en_us.json
  projects/1.20/assets/ad-astra/ad_astra/lang/zh_cn.json
Labels: 即将合并, 5000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#2064 DrippyLoadingScreen 翻译提交
  projects/1.16-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/en_us.json
  projects/1.16-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/zh_cn.json
  projects/1.16/assets/drippy-loading-screen/drippyloadingscreen/lang/en_us.json
  projects/1.16/assets/drippy-loading-screen/drippyloadingscreen/lang/zh_cn.json
  projects/1.18-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/en_us.json
  projects/1.18-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/zh_cn.json
  projects/1.18/assets/drippy-loading-screen/drippyloadingscreen/lang/en_us.json
  projects/1.18/assets/drippy-loading-screen/drippyloadingscreen/lang/zh_cn.json
  projects/1.19/assets/drippy-loading-screen/drippyloadingscreen/lang/en_us.json
  projects/1.19/assets/drippy-loading-screen/drippyloadingscreen/lang/zh_cn.json
  projects/1.20-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/en_us.json
  projects/1.20-fabric/assets/drippy-loading-screen-fabric/drippyloadingscreen/lang/zh_cn.json
  projects/1.20/assets/drippy-loading-screen/drippyloadingscreen/lang/en_us.json
  projects/1.20/assets/drippy-loading-screen/drippyloadingscreen/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3761 Simple Animated Guns (Fabric) 翻译提交
  projects/1.18-fabric/assets/fabric-simple-animated-guns/anim_guns/lang/en_us.json
  projects/1.18-fabric/assets/fabric-simple-animated-guns/anim_guns/lang/zh_cn.json
  projects/1.19/assets/fabric-simple-animated-guns/anim_guns/lang/en_us.json
  projects/1.19/assets/fabric-simple-animated-guns/anim_guns/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3758 Old Guns Mod 翻译提交
  projects/1.12.2/assets/old-guns-mod/oldguns/lang/en_us.lang
  projects/1.12.2/assets/old-guns-mod/oldguns/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3756 Mythic Metals 翻译更新
  projects/1.20-fabric/assets/0-modrinth-mod/additionalentityattributes/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/additionalentityattributes/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/reach-entity-attributes/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/reach-entity-attributes/lang/zh_cn.json
  projects/1.20-fabric/assets/mythicmetals/mythicmetals/lang/en_us.json
  projects/1.20-fabric/assets/mythicmetals/mythicmetals/lang/zh_cn.json
Labels: 即将合并, 2000+, Fabric, 1.20.x

#3763 Astral Dimension 翻译提交
  projects/1.18/assets/astral-dimension/astral_dimension/lang/en_us.json
  projects/1.18/assets/astral-dimension/astral_dimension/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge, MCreator

#3760 Relics 翻译提交
  projects/1.18/assets/relics-mod/relics/lang/en_us.json
  projects/1.18/assets/relics-mod/relics/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3674 Plenty Plates 翻译提交
  projects/1.20-fabric/assets/plenty-plates/plentyplates/lang/en_us.json
  projects/1.20-fabric/assets/plenty-plates/plentyplates/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#3748 FTB Quests 翻译更新
  projects/1.16-fabric/assets/ftb-quests-fabric/ftbquests/lang/en_us.json
  projects/1.16-fabric/assets/ftb-quests-fabric/ftbquests/lang/zh_cn.json
  projects/1.16/assets/ftb-quests-forge/ftbquests/lang/en_us.json
  projects/1.16/assets/ftb-quests-forge/ftbquests/lang/zh_cn.json
  projects/1.18-fabric/assets/ftb-quests-fabric/ftbquests/lang/en_us.json
  projects/1.18-fabric/assets/ftb-quests-fabric/ftbquests/lang/zh_cn.json
  projects/1.18/assets/ftb-quests-forge/ftbquests/lang/en_us.json
  projects/1.18/assets/ftb-quests-forge/ftbquests/lang/zh_cn.json
  projects/1.19/assets/ftb-quests-forge/ftbquests/lang/en_us.json
  projects/1.19/assets/ftb-quests-forge/ftbquests/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1000+, 1.18.x, Fabric, Forge, 1.19.x

#3751 Rad Enchants 翻译提交
  projects/1.16/assets/rad-enchants/radenchants/lang/en_us.json
  projects/1.16/assets/rad-enchants/radenchants/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3769 Spirit 汉化修正
  projects/1.19/assets/spirit/spirit/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3770 Frostbyte's Slabs & Stairs 翻译提交
  projects/1.19/assets/frostbytes-slabs-stairs/slabsandstairs/lang/en_us.json
  projects/1.19/assets/frostbytes-slabs-stairs/slabsandstairs/lang/zh_cn.json
  projects/1.20-fabric/assets/frostbytes-slabs-stairs/slabsandstairs/lang/en_us.json
  projects/1.20-fabric/assets/frostbytes-slabs-stairs/slabsandstairs/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, Forge, 1.19.x, 1.20.x

#3771 A Block of Charcoal 翻译提交
  projects/1.16/assets/a-block-of-charcoal/charcoalblock/lang/en_us.json
  projects/1.16/assets/a-block-of-charcoal/charcoalblock/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1+, Forge

#3739 Energy Control 翻译提交
  projects/1.12.2/assets/energy-control/energycontrol/lang/en_US.lang
  projects/1.12.2/assets/energy-control/energycontrol/lang/zh_CN.lang
Labels: 1.12.x, 即将合并, 500+, Forge

#3773 Cataclysm 物品 Zweiender 错译修正
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge, 1.19.x, 1.20.x

#3764 Bakery翻译提交
  projects/1.20-fabric/assets/lets-do-bakery/bakery/lang/en_us.json
  projects/1.20-fabric/assets/lets-do-bakery/bakery/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3048 Monsters&Girls 翻译提交
  projects/1.18/assets/monsters-girls-mushroom-update/monsters_and_girls/lang/en_us.json
  projects/1.18/assets/monsters-girls-mushroom-update/monsters_and_girls/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator

#3776 Create: Chromatic Return 翻译提交
  projects/1.18/assets/create-chromatic-return/createchromaticreturn/lang/en_us.json
  projects/1.18/assets/create-chromatic-return/createchromaticreturn/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#3778 Snad 翻译提交
  projects/1.18/assets/snad/snad/lang/en_us.json
  projects/1.18/assets/snad/snad/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3779 Kiwi Boi 翻译提交
  projects/1.19/assets/kiwi-boi/kiwiboi/lang/en_us.json
  projects/1.19/assets/kiwi-boi/kiwiboi/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3451 Minecolonies 翻译更新
  projects/1.16/assets/minecolonies/minecolonies/lang/en_us.json
  projects/1.16/assets/minecolonies/minecolonies/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1000+, Forge

#3781 Chipped 翻译更新
  projects/1.20-fabric/assets/chipped/chipped/lang/en_us.json
  projects/1.20-fabric/assets/chipped/chipped/lang/zh_cn.json
  projects/1.20/assets/chipped/chipped/lang/en_us.json
  projects/1.20/assets/chipped/chipped/lang/zh_cn.json
Labels: 即将合并, 5000+, Fabric, Forge, 1.20.x

#3782 Exline's Furniture 翻译更新
  projects/1.19/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.20-fabric/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.20-fabric/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.20/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.20/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
Labels: 即将合并, 2000+, Fabric, Forge, 1.19.x, 1.20.x

#3783 Blueprint / Abnormals Core 翻译修改
  projects/1.16/assets/abnormals-core/abnormals_core/lang/en_us.json
  projects/1.16/assets/abnormals-core/abnormals_core/lang/zh_cn.json
  projects/1.16/assets/blueprint/abnormals_core/lang/en_us.json
  projects/1.16/assets/blueprint/abnormals_core/lang/zh_cn.json
  projects/1.18/assets/abnormals-core/abnormals_core/lang/en_us.json
  projects/1.18/assets/abnormals-core/abnormals_core/lang/zh_cn.json
  projects/1.18/assets/blueprint/blueprint/lang/en_us.json
  projects/1.18/assets/blueprint/blueprint/lang/zh_cn.json
  projects/1.19/assets/blueprint/blueprint/lang/en_us.json
  projects/1.19/assets/blueprint/blueprint/lang/zh_cn.json
  projects/1.20/assets/blueprint/blueprint/lang/en_us.json
  projects/1.20/assets/blueprint/blueprint/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3784 Supplementaries 翻译更新
  projects/1.16/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.18/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.19/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.20/assets/supplementaries/supplementaries/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1+, 1.18.x, Forge, 1.19.x, 1.20.x

#3787 Create Ad Astra Compat 翻译提交
  projects/1.19/assets/create-ad-astra-compat/createastracompat/lang/en_us.json
  projects/1.19/assets/create-ad-astra-compat/createastracompat/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3793 Decoration Delight: Refurbished 翻译提交
  projects/1.18/assets/decoration-delight/decoration_delight/lang/en_us.json
  projects/1.18/assets/decoration-delight/decoration_delight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator

#2224 Mana and Artifice 1.16.5 翻译新增
  projects/1.16/assets/mana-and-artifice/mana-and-artifice/guide/en_us.json
  projects/1.16/assets/mana-and-artifice/mana-and-artifice/guide/zh_cn.json
  projects/1.16/assets/mana-and-artifice/mana-and-artifice/lang/zh_cn.json
Labels: 1.16.x, 500+, Forge

#3799 Create: Interiors 翻译提交
  projects/1.20/assets/interiors/interiors/lang/en_us.json
  projects/1.20/assets/interiors/interiors/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3649 Varied Adventure 翻译提交
  projects/1.19/assets/varied-adventure/va/lang/en_us.json
  projects/1.19/assets/varied-adventure/va/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3774 Tome Of Blood Rebirth 翻译提交
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/en_us.json
  projects/1.20/assets/tome-of-blood-rebirth/tomeofblood/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3788 Cataclysm 1.19.2 & 1.20.1 翻译更新
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3794 Italian delights 翻译更新
  projects/1.18/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/en_us.json
  projects/1.18/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, MCreator

#3805 Create Confectionery 翻译修改
  projects/1.19/assets/create-confectionery/create_confectionery/lang/zh_cn.json
  projects/1.20/assets/create-confectionery/create_confectionery/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge, MCreator, 1.19.x, 1.20.x
