Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-04, with the labels that each got.

#3146 Mr. Pineapple's Food Mod翻译提交
  projects/1.16/assets/mr-pineapples-food-mod/pinesfoodmod/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3144 Config Menus for Forge 翻译修改
  projects/1.16/assets/config-menus-forge/configmenusforge/lang/zh_cn.json
  projects/1.18/assets/config-menus-forge/configmenusforge/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3150 部分错误路径修改&删除1.18.2对应模组翻译
  projects/1.16/assets/dungeons-artifacts/assets/dungeonsartifacts/lang/en_us.json
  projects/1.16/assets/dungeons-artifacts/assets/dungeonsartifacts/lang/zh_cn.json
  projects/1.16/assets/dungeons-artifacts/dungeonsartifacts/lang/zh_cn.json
  projects/1.16/assets/eidolons-hexblades/eidolons-hexblades/assets/hexblades/lang/en_us.json
  projects/1.16/assets/eidolons-hexblades/eidolons-hexblades/assets/hexblades/lang/zh_cn.json
  projects/1.16/assets/eidolons-hexblades/hexblades/lang/en_us.json
  projects/1.16/assets/eidolons-hexblades/hexblades/lang/zh_cn.json
  projects/1.18/assets/dungeons-artifacts/assets/dungeonsartifacts/lang/en_us.json
  projects/1.18/assets/dungeons-artifacts/assets/dungeonsartifacts/lang/zh_cn.json
  projects/1.18/assets/eidolons-hexblades/eidolons-hexblades/assets/hexblades/lang/en_us.json
  projects/1.18/assets/eidolons-hexblades/eidolons-hexblades/assets/hexblades/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1000+, 1.18.x, Forge

#3168 Storage Racks 翻译添加
  projects/1.19/assets/blockui/blockui/lang/en_us.json
  projects/1.19/assets/blockui/blockui/lang/zh_cn.json
  projects/1.19/assets/storage-racks/storageracks/lang/en_us.json
  projects/1.19/assets/storage-racks/storageracks/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#2303 Miniature power plant 翻译提交
  projects/1.18/assets/miniature-power-plant/miniaturepowerplant/lang/en_us.json
  projects/1.18/assets/miniature-power-plant/miniaturepowerplant/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3164 Simply Jetpacks 2 翻译修补
  projects/1.12.2/assets/1UNKNOWN/simplyjetpacks/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3163 LightningCraft 翻译修补
  projects/1.12.2/assets/lightningcraft/lightningcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3156 ForgeStory 翻译提交
  projects/1.16/assets/forgestory/forgestory/lang/en_us.json
  projects/1.16/assets/forgestory/forgestory/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3097 Scape And Run: Parasite Vaccine 翻译提交
  projects/1.12.2/assets/scape-and-run-parasite-vaccine/scapeandrunvaccine/lang/en_us.lang
  projects/1.12.2/assets/scape-and-run-parasite-vaccine/scapeandrunvaccine/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3093 Hostile Craft 翻译提交
  projects/1.12.2/assets/hostile-craft/hostilecraft/lang/en_us.lang
  projects/1.12.2/assets/hostile-craft/hostilecraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3091 The Creeping Nether 翻译提交
  projects/1.12.2/assets/the-creeping-nether/creepingnether/lang/en_us.lang
  projects/1.12.2/assets/the-creeping-nether/creepingnether/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3176 Unusual fish 翻译修复
  projects/1.18/assets/unusual-fish/unusualfishmod/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge

#3174 Nether's Delight 翻译移植
  projects/1.19/assets/nethers-delight/nethersdelight/lang/en_us.json
  projects/1.19/assets/nethers-delight/nethersdelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3095 Infinite Pollution Filter 翻译提交
  projects/1.12.2/assets/infinite-pollution-filter/infilter/lang/en_us.lang
  projects/1.12.2/assets/infinite-pollution-filter/infilter/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3110 Butchercraft 翻译提交
  projects/1.18/assets/butchercraft/butchercraft/lang/en_us.json
  projects/1.18/assets/butchercraft/butchercraft/lang/zh_cn.json
  projects/1.19/assets/butchercraft/butchercraft/lang/en_us.json
  projects/1.19/assets/butchercraft/butchercraft/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x

#2783 ExtendedExchange 翻译提交
  projects/1.18/assets/extendedexchange/extendedexchange/lang/en_us.json
  projects/1.18/assets/extendedexchange/extendedexchange/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3187 Another Furniture 翻译更新
  projects/1.19/assets/another-furniture/another_furniture/lang/en_us.json
  projects/1.19/assets/another-furniture/another_furniture/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3185 Github不同主题下的不同题图
  README-en.md
  README.md
Labels: 即将合并, 10+

#3184 Better Pipes 翻译提交
  projects/1.12.2/assets/better-pipes/betterpipes/lang/en_us.lang
  projects/1.12.2/assets/better-pipes/betterpipes/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3173 Caged Mobs 1.18 翻译提交 & 1.16 翻译更新
  projects/1.16/assets/caged-mobs/cagedmobs/lang/en_us.json
  projects/1.16/assets/caged-mobs/cagedmobs/lang/zh_cn.json
  projects/1.18/assets/caged-mobs/cagedmobs/lang/en_us.json
  projects/1.18/assets/caged-mobs/cagedmobs/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge

#3090 Urushi 翻译更新
  projects/1.18/assets/urushi-mod/urushi/lang/en_us.json
  projects/1.18/assets/urushi-mod/urushi/lang/ja_jp.json
  projects/1.18/assets/urushi-mod/urushi/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge, 小语种

#3171 Simple Diving Gear 与 Spheric 翻译提交
  projects/1.16/assets/simple-diving-gear/simpledivegear/lang/zh_cn.json
  projects/1.16/assets/spheric/spheric/lang/en_us.json
  projects/1.16/assets/spheric/spheric/lang/zh_cn.json
Labels: help wanted, 1.16.x, 即将合并, 100+, Forge

#2929 RFTools 修补
  projects/1.12.2/assets/rftools/rftools/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3193 Ore Excavation和Structure Compass翻译添加
  projects/1.19/assets/ore-excavation/oreexcavation/lang/en_us.json
  projects/1.19/assets/ore-excavation/oreexcavation/lang/zh_cn.json
  projects/1.19/assets/structure-compass/structurecompass/lang/en_us.json
  projects/1.19/assets/structure-compass/structurecompass/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3196 Illager Plushies 翻译提交
  projects/1.16/assets/illager-plushies/illager_plushies/lang/en_us.json
  projects/1.16/assets/illager-plushies/illager_plushies/lang/zh_cn.json
  projects/1.18-fabric/assets/illager-plushies-fabric/illager_plushies/lang/en_us.json
  projects/1.18-fabric/assets/illager-plushies-fabric/illager_plushies/lang/zh_cn.json
  projects/1.18/assets/illager-plushies/illager_plushies/lang/en_us.json
  projects/1.18/assets/illager-plushies/illager_plushies/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Fabric, Forge

#3198 Superior Shields 翻译提交
  projects/1.12.2/assets/superior-shields/superiorshields/lang/en_us.lang
  projects/1.12.2/assets/superior-shields/superiorshields/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3195 Create Modern Train Parts 翻译提交
  projects/1.19/assets/create-modern-train-parts/moderntrainparts/lang/en_us.json
  projects/1.19/assets/create-modern-train-parts/moderntrainparts/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3085 Thaumic Restoration部分问题修复
  projects/1.12.2/assets/thaumic-restoration/thaumicrestoration/lang/en_us.lang
  projects/1.12.2/assets/thaumic-restoration/thaumicrestoration/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3021 Easy Emerald Tools & More [FABRIC] 翻译提交
  projects/1.19/assets/simple-emerald-tools-fabric/emerald_tools/lang/en_us.json
  projects/1.19/assets/simple-emerald-tools-fabric/emerald_tools/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#2914 Mekanism 翻译修补
  projects/1.12.2/assets/mekanism/mekanism/lang/en_us.lang
  projects/1.12.2/assets/mekanism/mekanism/lang/zh_cn.lang
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
  projects/1.18/assets/mekanism/mekanism/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 2000+, 1.18.x, Forge

#3211 Structurize 翻译移植至 1.19.2
  projects/1.19/assets/structurize/structurize/lang/en_us.json
  projects/1.19/assets/structurize/structurize/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#2701 提交 create-stuff-additions 新版汉化
  projects/1.18/assets/create-stuff-additions/create_sa/lang/en_us.json
  projects/1.18/assets/create-stuff-additions/create_sa/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3207 Thirst Was Taken 翻译提交
  projects/1.18/assets/thirst-was-taken/thirst/lang/en_us.json
  projects/1.18/assets/thirst-was-taken/thirst/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3169 Wizarding World Of Harry Potter 翻译提交
  projects/1.18/assets/ydms-wizarding-world-of-harry-potter/harrypotter/lang/en_us.json
  projects/1.18/assets/ydms-wizarding-world-of-harry-potter/harrypotter/lang/zh_cn.json
  projects/1.19/assets/ydms-wizarding-world-of-harry-potter/harrypotter/lang/en_us.json
  projects/1.19/assets/ydms-wizarding-world-of-harry-potter/harrypotter/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3180 Iron Shulker Boxes 翻译提交
  projects/1.16/assets/iron-shulker-boxes/ironshulkerbox/lang/en_us.json
  projects/1.16/assets/iron-shulker-boxes/ironshulkerbox/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3177 Dimensional Doors 1.19 翻译提交
  projects/1.19/assets/dimensional-doors/dimdoors/lang/en_us.json
  projects/1.19/assets/dimensional-doors/dimdoors/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3190 Duckling、Goodall 翻译提交
  projects/1.18-fabric/assets/goodall/goodall/packer-policy.json
  projects/1.18/assets/goodall/goodall/lang/en_us.json
  projects/1.18/assets/goodall/goodall/lang/zh_cn.json
  projects/1.19/assets/duckling/duckling/lang/en_us.json
  projects/1.19/assets/duckling/duckling/lang/zh_cn.json
  projects/1.19/assets/goodall/goodall/lang/en_us.json
  projects/1.19/assets/goodall/goodall/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3102 Apples+ 翻译提交
  projects/1.12.2/assets/apples-plus/applesplus/lang/en_us.lang
  projects/1.12.2/assets/apples-plus/applesplus/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3220 So Many Enchantments 翻译修改
  projects/1.12.2/assets/so-many-enchantments/somanyenchantments/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3219 替换全角空格
  projects/1.12.2/assets/dimensional-edibles/dimensionaledibles/lang/zh_cn.lang
  projects/1.12.2/assets/project-intelligence/projectintelligence/lang/zh_cn.lang
  projects/1.12.2/assets/roots-classic/rootsclassic/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3234 Advanced NBT Tooltips 翻译的一个小问题..
  projects/1.18-fabric/assets/advanced-nbt-tooltips/advancednbttooltip/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Fabric
