Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-08, with the labels that each got.

#3547 Create：Steam'n rails[机械动力：汽鸣铁道]翻译更新
  projects/1.18/assets/create-steam-n-rails/railways/lang/en_us.json
  projects/1.18/assets/create-steam-n-rails/railways/lang/zh_cn.json
  projects/1.19/assets/create-steam-n-rails/railways/lang/en_us.json
  projects/1.19/assets/create-steam-n-rails/railways/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge, 1.19.x

#3586 epic samurais 模组汉化提交
  projects/1.18/assets/epic-samurais/epicsamurai/lang/en_us.json
  projects/1.18/assets/epic-samurais/epicsamurai/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3487 Hexal 翻译提交
  projects/1.18/assets/hexal/hexal/lang/en_us.json
  projects/1.18/assets/hexal/hexal/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3599 World Preview 翻译提交
  projects/1.20-fabric/assets/world-preview/world_preview/lang/en_us.json
  projects/1.20-fabric/assets/world-preview/world_preview/lang/zh_cn.json
  projects/1.20/assets/world-preview/world_preview/lang/en_us.json
  projects/1.20/assets/world-preview/world_preview/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#3604 Packer部分内容更改（由3288提取）
  Packer-Index-Doc.md
  projects/1.19/assets/0-example-patch/patch/lang/zh_cn.json.patch
  projects/1.19/assets/0-example-patch/patch/packer-policy.json
  src/Packer/Extensions/ArchiveExtension.cs
  src/Packer/Extensions/ContentExtension.cs
  src/Packer/Extensions/DirectoryExtension.cs
  src/Packer/Lib.cs
  src/Packer/Models/TranslatedFile.cs
  src/Packer/Program.cs
  src/Packer/Utils.cs
Labels: source, 100+, Forge, 1.19.x

#3590 Mystic's Biomes 翻译提交
  projects/1.20/assets/mystics-biomes/mysticsbiomes/lang/en_us.json
  projects/1.20/assets/mystics-biomes/mysticsbiomes/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3588 Maturi Delight翻译提交
  projects/1.20/assets/maturi-delight/maturidelight/lang/en_us.json
  projects/1.20/assets/maturi-delight/maturidelight/lang/ja_jp.json
  projects/1.20/assets/maturi-delight/maturidelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 日语, 1.20.x

#3581 Ars Oscura 翻译提交
  projects/1.19/assets/ars-oscura/ars_oscura/lang/en_us.json
  projects/1.19/assets/ars-oscura/ars_oscura/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3578 More Food 翻译提交
  projects/1.19/assets/0-modrinth-mod/more_food/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/more_food/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/more_food/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/more_food/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, MCreator, 1.19.x

#3575 Abnormals 系列（及若干附属）1.18.2 翻译更新
  projects/1.18/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.18/assets/autumnity/autumnity/lang/zh_cn.json
  projects/1.18/assets/environmental/environmental/lang/zh_cn.json
  projects/1.18/assets/neapolitan/neapolitan/lang/zh_cn.json
  projects/1.18/assets/savage-and-ravage/savage_and_ravage/lang/zh_cn.json
  projects/1.18/assets/seasonals/seasonals/lang/zh_cn.json
  projects/1.18/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3574 The Binding Of Isaac | Useful items 翻译提交
  projects/1.19/assets/the-binding-of-isaac-by-suzu/tboi_suzu/lang/en_us.json
  projects/1.19/assets/the-binding-of-isaac-by-suzu/tboi_suzu/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3597 Bosses of Mass Destruction 翻译提交
  projects/1.16-fabric/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/en_us.json
  projects/1.16-fabric/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/zh_cn.json
  projects/1.18-fabric/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/en_us.json
  projects/1.18-fabric/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/zh_cn.json
  projects/1.19/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/en_us.json
  projects/1.19/assets/bosses-of-mass-destruction/bosses_of_mass_destruction/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Fabric, Forge, 1.19.x

#3549 Project Red 翻译提交
  projects/1.18/assets/project-red-core/projectred_core/lang/en_us.json
  projects/1.18/assets/project-red-core/projectred_core/lang/zh_cn.json
  projects/1.18/assets/project-red-expansion/projectred_expansion/lang/en_us.json
  projects/1.18/assets/project-red-expansion/projectred_expansion/lang/zh_cn.json
  projects/1.18/assets/project-red-exploration/projectred_exploration/lang/en_us.json
  projects/1.18/assets/project-red-exploration/projectred_exploration/lang/zh_cn.json
  projects/1.18/assets/project-red-illumination/projectred_illumination/lang/en_us.json
  projects/1.18/assets/project-red-illumination/projectred_illumination/lang/zh_cn.json
  projects/1.18/assets/project-red-integration/projectred_integration/lang/en_us.json
  projects/1.18/assets/project-red-integration/projectred_integration/lang/zh_cn.json
  projects/1.18/assets/project-red-transmission/projectred_transmission/lang/en_us.json
  projects/1.18/assets/project-red-transmission/projectred_transmission/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3523 Hearth & Home 翻译提交
  projects/1.19/assets/hearth-and-home/hnh/lang/en_us.json
  projects/1.19/assets/hearth-and-home/hnh/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3256 Too Many Glyphs 翻译修改与提交
  projects/1.18/assets/too-many-glyphs/toomanyglyphs/lang/zh_cn.json
  projects/1.19/assets/too-many-glyphs/toomanyglyphs/lang/en_us.json
  projects/1.19/assets/too-many-glyphs/toomanyglyphs/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3616 Boring-Cyborg.yml 更新
  .github/boring-cyborg.yml
Labels: 1+

#3609 Dense Ores Reborn 翻译提交
  projects/1.16/assets/dense-ores-reborn/denseoresreborn/lang/en_us.json
  projects/1.16/assets/dense-ores-reborn/denseoresreborn/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Forge

#3606 Create: Factory 翻译提交
  projects/1.19/assets/create-factory/create_factory/lang/en_us.json
  projects/1.19/assets/create-factory/create_factory/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3571 Create: Garnished 模组翻译提交
  projects/1.19/assets/0-modrinth-mod/garnished/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/garnished/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3561 Astral Sorcery 翻译修改
  projects/1.12.2/assets/astral-sorcery/astralsorcery/lang/zh_cn.lang
  projects/1.16/assets/astral-sorcery/astralsorcery/lang/zh_cn.json
  projects/1.18/assets/astral-sorcery/astralsorcery/lang/en_us.json
  projects/1.18/assets/astral-sorcery/astralsorcery/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 2000+, 1.18.x, Forge

#3522 End Remastered 翻译更新/迁移
  projects/1.18/assets/endremastered/endrem/lang/zh_cn.json
  projects/1.19/assets/endremastered/endrem/lang/en_us.json
  projects/1.19/assets/endremastered/endrem/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3384 Agricultural Enhancements 翻译新增
  projects/1.19/assets/agricultural-enhancements/agriculturalenhancements/lang/en_us.json
  projects/1.19/assets/agricultural-enhancements/agriculturalenhancements/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3378 Waila Harvestability 翻译修正丨“挖掘等级”统一
  projects/1.12.2/assets/bwm-suite/betterwithmods/documentation/docs/zh_cn/hardcore/index.md
  projects/1.12.2/assets/compatskills/compatskills/lang/zh_cn.lang
  projects/1.12.2/assets/extended-items-and-ores-mod/umm3185118519/lang/zh_cn.lang
  projects/1.12.2/assets/factory0-resources/f0-resources/lang/zh_cn.lang
  projects/1.12.2/assets/heat-and-climate/dcs_climate/lang/zh_cn.lang
  projects/1.12.2/assets/pewter/pewter/tinker_book/zh_cn/modifiers/bountiful.json
  projects/1.12.2/assets/pickle-tweaks/pickletweaks/lang/zh_cn.lang
  projects/1.12.2/assets/practical-logistics-2/practicallogistics2/lang/zh_cn.lang
  projects/1.12.2/assets/techguns/techguns/lang/zh_cn.lang
  projects/1.12.2/assets/the-bappy-stick/thebappystick/lang/zh_cn.lang
  projects/1.12.2/assets/waila-harvestability/wailaharvestability/lang/zh_cn.lang
  projects/1.12.2/assets/warpdrive/warpdrive/lang/zh_cn.lang
  projects/1.16-fabric/assets/can-i-mine-this-block/can-i-mine-this-block/lang/zh_cn.json
  projects/1.16-fabric/assets/more-tooltips/more_tooltips/lang/zh_cn.json
  projects/1.16-fabric/assets/tool-stats/toolstats/lang/zh_cn.json
  projects/1.16/assets/a-rtifacts/a-rtifacts/lang/zh_cn.json
  projects/1.16/assets/morevanillalib/morevanillalib/lang/zh_cn.json
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.16/assets/psi/psi/lang/zh_cn.json
  projects/1.16/assets/silent-gear/silentgear/lang/zh_cn.json
  projects/1.16/assets/tool-stats/toolstats/lang/zh_cn.json
  projects/1.16/assets/waila-harvestability/wailaharvestability/lang/zh_cn.json
  projects/1.16/assets/zots-only-silver/onlysilver/lang/zh_cn.json
  projects/1.18-fabric/assets/can-i-mine-this-block/can-i-mine-this-block/lang/zh_cn.json
  projects/1.18-fabric/assets/more-tooltips/more_tooltips/lang/zh_cn.json
  projects/1.18-fabric/assets/tool-stats/toolstats/lang/zh_cn.json
  projects/1.18/assets/a-rtifacts/a-rtifacts/lang/zh_cn.json
  projects/1.18/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.18/assets/psi/psi/lang/zh_cn.json
  projects/1.18/assets/silent-gear/silentgear/lang/zh_cn.json
  projects/1.18/assets/tool-stats/toolstats/lang/zh_cn.json
  projects/1.18/assets/waila-harvestability/wailaharvestability/lang/en_us.json
  projects/1.18/assets/waila-harvestability/wailaharvestability/lang/zh_cn.json
  projects/1.18/assets/zots-only-silver/onlysilver/lang/zh_cn.json
  projects/1.19/assets/tool-stats/toolstats/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, Patchouli, 1.19.x

#3617 PlayerRevive 翻译修正
  projects/1.16/assets/playerrevive/playerrevive/lang/zh_cn.json
  projects/1.18/assets/playerrevive/playerrevive/lang/en_us.json
  projects/1.18/assets/playerrevive/playerrevive/lang/zh_cn.json
  projects/1.19/assets/playerrevive/playerrevive/lang/zh_cn.json
  projects/1.20/assets/playerrevive/playerrevive/lang/en_us.json
  projects/1.20/assets/playerrevive/playerrevive/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x, 1.20.x

#2801 Exline's Bark Carpet 和 Exline's More Carpet 翻译提交
  projects/1.18/assets/exlines-bark-carpets/barkcarpets/lang/en_us.json
  projects/1.18/assets/exlines-bark-carpets/barkcarpets/lang/zh_cn.json
  projects/1.18/assets/exlines-more-carpets/morecarpets/lang/en_us.json
  projects/1.18/assets/exlines-more-carpets/morecarpets/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#2523 Pyromancer 翻译更新
  projects/1.18/assets/pyromancer/pyromancer/lang/en_us.json
  projects/1.18/assets/pyromancer/pyromancer/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3589 Aer's More Foods 翻译提交
  projects/1.18-fabric/assets/aers-more-foods/more_drugs_mod/lang/en_us.json
  projects/1.18-fabric/assets/aers-more-foods/more_drugs_mod/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Fabric

#3619 Thin Air 翻译提交
  projects/1.19/assets/new-thin-air/thinair/lang/en_us.json
  projects/1.19/assets/new-thin-air/thinair/lang/zh_cn.json
  projects/1.20/assets/new-thin-air/thinair/lang/en_us.json
  projects/1.20/assets/new-thin-air/thinair/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3621 Miner's Lung 翻译修正
  projects/1.18/assets/miners-lung/minerslung/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3629 Ex Machinis 提交
  projects/1.18/assets/ex-machinis/exmachinis/lang/en_us.json
  projects/1.18/assets/ex-machinis/exmachinis/lang/zh_cn.json
  projects/1.19/assets/ex-machinis/exmachinis/lang/en_us.json
  projects/1.19/assets/ex-machinis/exmachinis/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3626 Spineless 翻译提交
  projects/1.20-fabric/assets/0-modrinth-mod/spineless/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/spineless/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#3625 Colossal Chests 翻译更改
  projects/1.12.2/assets/colossal-chests/colossalchests/lang/zh_cn.lang
  projects/1.16/assets/colossal-chests/colossalchests/lang/zh_cn.json
  projects/1.18/assets/colossal-chests/colossalchests/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3624 Create Gourmet 翻译提交
  projects/1.19/assets/create-gourmet/gourmet/lang/en_us.json
  projects/1.19/assets/create-gourmet/gourmet/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3635 临时修复packer报错问题
  projects/1.12.2/assets/conquest-reforged/minecraft/lang/en_us.lang
  projects/1.12.2/assets/conquest-reforged/minecraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3633 Skinned Carts 翻译修正
  projects/1.18/assets/skinned-carts/skinnedcarts/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3631 Generator Galore 翻译提交
  projects/1.18/assets/generatorgalore/generatorgalore/lang/en_us.json
  projects/1.18/assets/generatorgalore/generatorgalore/lang/zh_cn.json
  projects/1.19/assets/generatorgalore/generatorgalore/lang/en_us.json
  projects/1.19/assets/generatorgalore/generatorgalore/lang/zh_cn.json
  projects/1.20/assets/generatorgalore/generatorgalore/lang/en_us.json
  projects/1.20/assets/generatorgalore/generatorgalore/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3603 Brewin' And Chewin' 翻译更新
  projects/1.20-fabric/assets/brewin-and-chewin-fabric/brewinandchewin/lang/en_us.json
  projects/1.20-fabric/assets/brewin-and-chewin-fabric/brewinandchewin/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3572 Mine Cells 翻译提交
  projects/1.19/assets/minecells/minecells/lang/en_us.json
  projects/1.19/assets/minecells/minecells/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#2323 Metallum 翻译提交
  projects/1.18/assets/metallum/metallum/lang/en_us.json
  projects/1.18/assets/metallum/metallum/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3613 Paladins and Priests 翻译提交
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/en_us.json
  projects/1.20-fabric/assets/paladins-and-priests/paladins/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3437 Thermal: Extra 翻译提交
  projects/1.19/assets/thermal_extra/thermal_extra/lang/en_us.json
  projects/1.19/assets/thermal_extra/thermal_extra/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3630 Spirit 翻译提交
  projects/1.18/assets/spirit/spirit/lang/en_us.json
  projects/1.18/assets/spirit/spirit/lang/zh_cn.json
  projects/1.19/assets/spirit/spirit/lang/en_us.json
  projects/1.19/assets/spirit/spirit/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3525 Skyblock Builder 翻译增加
  projects/1.16/assets/skyblock-builder/skyblockbuilder/lang/zh_cn.json
  projects/1.18/assets/skyblock-builder/skyblockbuilder/lang/en_us.json
  projects/1.18/assets/skyblock-builder/skyblockbuilder/lang/zh_cn.json
  projects/1.19/assets/skyblock-builder/skyblockbuilder/lang/en_us.json
  projects/1.19/assets/skyblock-builder/skyblockbuilder/lang/zh_cn.json
  projects/1.20/assets/skyblock-builder/skyblockbuilder/lang/en_us.json
  projects/1.20/assets/skyblock-builder/skyblockbuilder/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#3471 添加Silent-Gear寂静装备1.20汉化
  projects/1.20/assets/silent-gear/silentgear/lang/en_us.json
  projects/1.20/assets/silent-gear/silentgear/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#2424 Windswept 翻译提交
  projects/1.18/assets/windsweptmod/windswept/lang/en_us.json
  projects/1.18/assets/windsweptmod/windswept/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3254 Ars Scalaes 翻译提交
  projects/1.18/assets/ars-scalaes/ars_scalaes/lang/en_us.json
  projects/1.18/assets/ars-scalaes/ars_scalaes/lang/zh_cn.json
  projects/1.19/assets/ars-scalaes/ars_scalaes/lang/en_us.json
  projects/1.19/assets/ars-scalaes/ars_scalaes/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3612 Wizards 翻译更新
  projects/1.20-fabric/assets/wizards/wizards/lang/en_us.json
  projects/1.20-fabric/assets/wizards/wizards/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3641 CCTV Craft 翻译提交
  projects/1.18/assets/cctv-craft/cctvcraft/lang/en_us.json
  projects/1.18/assets/cctv-craft/cctvcraft/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator

#3646 Dense Ores: Refabricated 翻译提交
  projects/1.19/assets/dense-ores-refabricated/denseores/lang/en_us.json
  projects/1.19/assets/dense-ores-refabricated/denseores/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.19.x

#3223 GeOre 和 GeOre Nouveau 翻译提交
  projects/1.18/assets/geore/geore/lang/en_us.json
  projects/1.18/assets/geore/geore/lang/zh_cn.json
  projects/1.19/assets/geore-nouveau/georenouveau/lang/en_us.json
  projects/1.19/assets/geore-nouveau/georenouveau/lang/zh_cn.json
  projects/1.19/assets/geore/geore/lang/en_us.json
  projects/1.19/assets/geore/geore/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3640 Alex's Mobs 翻译修复
  config/packer.json
  projects/1.16/assets/alexs-mobs/alexsmobs/lang/en_us.json
  projects/1.16/assets/alexs-mobs/alexsmobs/lang/zh_cn.json
Labels: config, 1.16.x, 即将合并, 1000+, Forge

#2203 Moss And Monsters 翻译提交
  projects/1.18/assets/moss-and-monsters/ecosystemmod/lang/en_us.json
  projects/1.18/assets/moss-and-monsters/ecosystemmod/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator

#3221 StarbuncleMania 翻译提交
  projects/1.19/assets/starbunclemania/starbunclemania/lang/en_us.json
  projects/1.19/assets/starbunclemania/starbunclemania/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3644 Tinker's Integrations and Tweaks 翻译更新
  projects/1.18/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3634 停止支持 Thermal Series & Litematica 1.18 版本
  config/packer.json
Labels: config, 即将合并, 1+, 需要公示

#3656 Jagm's Kiwis 翻译提交
  projects/1.20/assets/jagms-kiwis/jagmkiwis/lang/en_us.json
  projects/1.20/assets/jagms-kiwis/jagmkiwis/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3655 Just Rose Gold 翻译提交
  projects/1.18/assets/just-rose-gold/justrosegold/lang/en_us.json
  projects/1.18/assets/just-rose-gold/justrosegold/lang/zh_cn.json
  projects/1.19/assets/just-rose-gold/justrosegold/lang/en_us.json
  projects/1.19/assets/just-rose-gold/justrosegold/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator, 1.19.x

#3659 Create garnished 翻译更新
  projects/1.19/assets/0-modrinth-mod/garnished/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/garnished/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3611 Rechiseled 翻译提交
  projects/1.20-fabric/assets/rechiseled/rechiseled/lang/en_us.json
  projects/1.20-fabric/assets/rechiseled/rechiseled/lang/zh_cn.json
  projects/1.20/assets/rechiseled/rechiseled/lang/en_us.json
  projects/1.20/assets/rechiseled/rechiseled/lang/zh_cn.json
Labels: 即将合并, 2000+, Fabric, Forge, 1.20.x

#3120 Chipped 1.19.2 翻译提交
  projects/1.19/assets/chipped/chipped/lang/en_us.json
  projects/1.19/assets/chipped/chipped/lang/zh_cn.json
Labels: 即将合并, 5000+, Forge, 1.19.x

#3650 停止支持 Urushi 1.18 & 1.19 版本
  config/packer.json
Labels: config, 即将合并, 1+, 需要公示

#3426 VoluminousEnergy 翻译提交
  projects/1.16/assets/voluminous-energy/voluminousenergy/lang/en_us.json
  projects/1.16/assets/voluminous-energy/voluminousenergy/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#3148 Ars Armiger 翻译提交
  projects/1.19/assets/ars-armiger/ars_armiger/lang/en_us.json
  projects/1.19/assets/ars-armiger/ars_armiger/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3681 Catalogue 翻译更新
  projects/1.19/assets/catalogue/catalogue/lang/en_us.json
  projects/1.19/assets/catalogue/catalogue/lang/zh_cn.json
  projects/1.20/assets/catalogue/catalogue/lang/en_us.json
  projects/1.20/assets/catalogue/catalogue/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 1.20.x

#3676 Reese's Sodium Options 翻译提交
  projects/1.16-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/en_us.json
  projects/1.16-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/zh_cn.json
  projects/1.18-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/en_us.json
  projects/1.18-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/zh_cn.json
  projects/1.20-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/en_us.json
  projects/1.20-fabric/assets/reeses-sodium-options/reeses-sodium-options/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Fabric, 1.20.x

#3345 Draconic Evolution & Draconic Additions 优化+小更新
  projects/1.12.2/assets/draconic-evolution/draconicevolution/lang/en_us.lang
  projects/1.12.2/assets/draconic-evolution/draconicevolution/lang/zh_cn.lang
  projects/1.12.2/assets/draconicadditions/draconicadditions/lang/en_us.lang
  projects/1.12.2/assets/draconicadditions/draconicadditions/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#3307 Oh the Biomes You'll Go 翻译更新
  projects/1.16/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.18/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
  projects/1.19/assets/oh-the-biomes-youll-go/byg/lang/en_us.json
  projects/1.19/assets/oh-the-biomes-youll-go/byg/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3381 Let's Do Beachparty 翻译提交
  projects/1.19/assets/beachparty/beachparty/lang/en_us.json
  projects/1.19/assets/beachparty/beachparty/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#3391 Create: Alloyed 翻译提交
  projects/1.19/assets/create-alloyed/alloyed/lang/en_us.json
  projects/1.19/assets/create-alloyed/alloyed/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3638 Baubley Heart Canisters 翻译提交 & 更新
  projects/1.16/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
  projects/1.18/assets/baubley-heart-canisters/bhc/lang/en_us.json
  projects/1.18/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
  projects/1.19/assets/baubley-heart-canisters/bhc/lang/en_us.json
  projects/1.19/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
  projects/1.20/assets/baubley-heart-canisters/bhc/lang/en_us.json
  projects/1.20/assets/baubley-heart-canisters/bhc/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3653 Laser Mod 翻译提交
  projects/1.16/assets/laser-mod/lasermod/lang/en_us.json
  projects/1.16/assets/laser-mod/lasermod/lang/zh_cn.json
  projects/1.18/assets/laser-mod/lasermod/lang/en_us.json
  projects/1.18/assets/laser-mod/lasermod/lang/zh_cn.json
  projects/1.19/assets/laser-mod/lasermod/lang/en_us.json
  projects/1.19/assets/laser-mod/lasermod/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3683 ExtendedAE 翻译提交
  projects/1.19/assets/ex-pattern-provider/expatternprovider/lang/en_us.json
  projects/1.19/assets/ex-pattern-provider/expatternprovider/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3686 Trading Post 翻译更新
  projects/1.19/assets/trading-post/tradingpost/lang/en_us.json
  projects/1.19/assets/trading-post/tradingpost/lang/zh_cn.json
  projects/1.20-fabric/assets/trading-post/tradingpost/lang/en_us.json
  projects/1.20-fabric/assets/trading-post/tradingpost/lang/zh_cn.json
  projects/1.20/assets/trading-post/tradingpost/lang/en_us.json
  projects/1.20/assets/trading-post/tradingpost/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, Forge, 1.19.x, 1.20.x

#3688 Void Totem 模组翻译更新
  projects/1.19/assets/voidtotem/voidtotem/lang/en_us.json
  projects/1.19/assets/voidtotem/voidtotem/lang/zh_cn.json
  projects/1.20-fabric/assets/voidtotem-fabric/voidtotem/lang/en_us.json
  projects/1.20-fabric/assets/voidtotem-fabric/voidtotem/lang/zh_cn.json
  projects/1.20/assets/voidtotem/voidtotem/lang/en_us.json
  projects/1.20/assets/voidtotem/voidtotem/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, Forge, 1.19.x, 1.20.x

#3700 Thermal Expansion 翻译修改
  projects/1.12.2/assets/thermal-expansion/thermalexpansion/lang/zh_cn.lang
  projects/1.16/assets/thermal-foundation/thermal/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, Forge

#3698 Bartering Station 翻译提交
  projects/1.19/assets/bartering-station/barteringstation/lang/en_us.json
  projects/1.19/assets/bartering-station/barteringstation/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3670 Fabric Seasons: Extras 翻译提交
  projects/1.19/assets/fabric-seasons-extras/seasonsextras/lang/en_us.json
  projects/1.19/assets/fabric-seasons-extras/seasonsextras/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3657 Great Big World 翻译提交
  projects/1.20-fabric/assets/great-big-world/great_big_world/lang/en_us.json
  projects/1.20-fabric/assets/great-big-world/great_big_world/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#3699 Horse Expert 翻译提交
  projects/1.18-fabric/assets/horse-expert/horseexpert/lang/en_us.json
  projects/1.18-fabric/assets/horse-expert/horseexpert/lang/zh_cn.json
  projects/1.18/assets/horse-expert/horseexpert/lang/en_us.json
  projects/1.18/assets/horse-expert/horseexpert/lang/zh_cn.json
  projects/1.19/assets/horse-expert/horseexpert/lang/en_us.json
  projects/1.19/assets/horse-expert/horseexpert/lang/zh_cn.json
  projects/1.20-fabric/assets/horse-expert/horseexpert/lang/en_us.json
  projects/1.20-fabric/assets/horse-expert/horseexpert/lang/zh_cn.json
  projects/1.20/assets/horse-expert/horseexpert/lang/en_us.json
  projects/1.20/assets/horse-expert/horseexpert/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3706 Spirit 翻译提交
  projects/1.18-fabric/assets/spirit/spirit/lang/en_us.json
  projects/1.18-fabric/assets/spirit/spirit/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric

#3663 Mythic Mobs 翻译提交
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/lang/en_us.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/lang/zh_cn.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/categories/mobs.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/automaton.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/chupacabra.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/drake.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/kobold.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/kobold_warrior.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/en_us/entries/mobs/mushroom.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/categories/mobs.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/automaton.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/chupacabra.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/drake.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/kobold.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/kobold_warrior.json
  projects/1.20-fabric/assets/mythic-mobs/mythicmobs/patchouli_books/mythical_guide_book/zh_cn/entries/mobs/mushroom.json
Labels: 即将合并, 100+, Fabric, Patchouli, 1.20.x

#3660 Stoneworks 翻译提交
  projects/1.18-fabric/assets/stoneworks/stoneworks/lang/en_us.json
  projects/1.18-fabric/assets/stoneworks/stoneworks/lang/zh_cn.json
  projects/1.18/assets/stoneworks/stoneworks/lang/en_us.json
  projects/1.18/assets/stoneworks/stoneworks/lang/zh_cn.json
  projects/1.19/assets/stoneworks/stoneworks/lang/en_us.json
  projects/1.19/assets/stoneworks/stoneworks/lang/zh_cn.json
  projects/1.20-fabric/assets/stoneworks/stoneworks/lang/en_us.json
  projects/1.20-fabric/assets/stoneworks/stoneworks/lang/zh_cn.json
  projects/1.20/assets/stoneworks/stoneworks/lang/en_us.json
  projects/1.20/assets/stoneworks/stoneworks/lang/zh_cn.json
Labels: 即将合并, 5000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3658 Ultimate-Solar-Panels 翻译提交
  projects/1.16/assets/ultimate-solar-panels/ultimatesolarpanels/lang/en_us.json
  projects/1.16/assets/ultimate-solar-panels/ultimatesolarpanels/lang/zh_cn.json
  projects/1.18/assets/ultimate-solar-panels/ultimatesolarpanels/lang/en_us.json
  projects/1.18/assets/ultimate-solar-panels/ultimatesolarpanels/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, MCreator

#2319 Malum 翻译更新
  projects/1.18/assets/malum/malum/lang/en_us.json
  projects/1.18/assets/malum/malum/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge

#3711 Cataclysm 1.19.2+ 翻译修正 & 更新
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x

#3705 Iridium Source 翻译提交
  projects/1.12.2/assets/iridium-source/iridiumsource/lang/en_us.lang
  projects/1.12.2/assets/iridium-source/iridiumsource/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3702 Seasonals 翻译更新
  projects/1.19/assets/seasonals/seasonals/lang/en_us.json
  projects/1.19/assets/seasonals/seasonals/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3687 Ducky Periphs 翻译更新
  projects/1.19/assets/ducky-periphs/ducky-periphs/lang/en_us.json
  projects/1.19/assets/ducky-periphs/ducky-periphs/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3227 Ars Mage Fight 翻译提交
  projects/1.16/assets/ars-mage-fight/ars_mage_fight/lang/en_us.json
  projects/1.16/assets/ars-mage-fight/ars_mage_fight/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3268 Lycanitesmobs 翻译版本更新
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/en_us.lang
  projects/1.12.2/assets/lycanites-mobs/lycanitesmobs/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3622 Turtlemancy 翻译提交
  projects/1.16/assets/turtlemancy/turtlemancy/lang/en_us.json
  projects/1.16/assets/turtlemancy/turtlemancy/lang/zh_cn.json
  projects/1.18/assets/turtlemancy/turtlemancy/lang/en_us.json
  projects/1.18/assets/turtlemancy/turtlemancy/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, Patchouli

#3647 Hostile Delight 翻译提交
  projects/1.19/assets/hostile-delight/hostiledelight/lang/en_us.json
  projects/1.19/assets/hostile-delight/hostiledelight/lang/ko_kr.json
  projects/1.19/assets/hostile-delight/hostiledelight/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 韩语

#3677 提交Plenty of armors的汉化
  projects/1.20-fabric/assets/plenty-of-armors/plentyofarmors/lang/en_us.json
  projects/1.20-fabric/assets/plenty-of-armors/plentyofarmors/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3682 Magnesium/Rubidium Dynamic Lights 翻译提交
  projects/1.16/assets/dynamiclights-reforged/lambdynlights/lang/en_us.json
  projects/1.16/assets/dynamiclights-reforged/lambdynlights/lang/zh_cn.json
  projects/1.18/assets/dynamiclights-reforged/lambdynlights/lang/en_us.json
  projects/1.18/assets/dynamiclights-reforged/lambdynlights/lang/zh_cn.json
  projects/1.19/assets/dynamiclights-reforged/lambdynlights/lang/en_us.json
  projects/1.19/assets/dynamiclights-reforged/lambdynlights/lang/zh_cn.json
  projects/1.20/assets/dynamiclights-reforged/lambdynlights/lang/en_us.json
  projects/1.20/assets/dynamiclights-reforged/lambdynlights/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#3701 Trolldom 翻译提交
  projects/1.19/assets/trolldom/trolldom/lang/en_us.json
  projects/1.19/assets/trolldom/trolldom/lang/zh_cn.json
  projects/1.20/assets/trolldom/trolldom/lang/en_us.json
  projects/1.20/assets/trolldom/trolldom/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3714 Ars Industria 翻译更新
  projects/1.19/assets/ars-industria/ars_industria/lang/en_us.json
  projects/1.19/assets/ars-industria/ars_industria/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3715 AE2Things & AE2WTLib 翻译修改与提交
  projects/1.18/assets/ae2-things-forge/ae2things/lang/en_us.json
  projects/1.18/assets/ae2-things-forge/ae2things/lang/zh_cn.json
  projects/1.18/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/en_us.json
  projects/1.18/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3717 Ars Énergistique 翻译提交
  projects/1.19/assets/ars-energistique/arseng/lang/en_us.json
  projects/1.19/assets/ars-energistique/arseng/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#3718 Animal Crops 翻译更新
  projects/1.16/assets/animal-crops/animalcrops/lang/zh_cn.json
  projects/1.18/assets/animal-crops/animalcrops/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3557 More beautiful plates 翻译提交
  projects/1.19/assets/more-beautiful-plates/morebeautifulplates/lang/en_us.json
  projects/1.19/assets/more-beautiful-plates/morebeautifulplates/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3712 Builder's Delight 翻译提交
  projects/1.18/assets/builders-delight-forge/buildersdelight/lang/en_us.json
  projects/1.18/assets/builders-delight-forge/buildersdelight/lang/zh_cn.json
  projects/1.19/assets/builders-delight-forge/buildersdelight/lang/en_us.json
  projects/1.19/assets/builders-delight-forge/buildersdelight/lang/zh_cn.json
Labels: 即将合并, 5000+, 1.18.x, Forge, 1.19.x

#3729 Stale action 触发器调整丨Bot 提示词更新
  .github/boring-cyborg.yml
  .github/workflows/stale.yml
Labels: 10+

#3707 Runelic 翻译提交
  projects/1.19/assets/runelic/runelic/lang/en_us.json
  projects/1.19/assets/runelic/runelic/lang/zh_cn.json
  projects/1.20/assets/runelic/runelic/lang/en_us.json
  projects/1.20/assets/runelic/runelic/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.19.x, 1.20.x

#3690 Scroll of Harvests 翻译提交
  projects/1.18/assets/scroll-of-harvests/harvests/lang/en_us.json
  projects/1.18/assets/scroll-of-harvests/harvests/lang/zh_cn.json
  projects/1.19/assets/scroll-of-harvests/harvests/lang/en_us.json
  projects/1.19/assets/scroll-of-harvests/harvests/lang/zh_cn.json
  projects/1.20/assets/scroll-of-harvests/harvests/lang/en_us.json
  projects/1.20/assets/scroll-of-harvests/harvests/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#3726 Bookshelf 翻译更新与迁移
  projects/1.16/assets/bookshelf/bookshelf/lang/zh_cn.json
  projects/1.18-fabric/assets/bookshelf/bookshelf/lang/en_us.json
  projects/1.18-fabric/assets/bookshelf/bookshelf/lang/zh_cn.json
  projects/1.18/assets/bookshelf/bookshelf/lang/en_us.json
  projects/1.18/assets/bookshelf/bookshelf/lang/zh_cn.json
  projects/1.19/assets/bookshelf/bookshelf/lang/en_us.json
  projects/1.19/assets/bookshelf/bookshelf/lang/zh_cn.json
  projects/1.20-fabric/assets/bookshelf/bookshelf/lang/en_us.json
  projects/1.20-fabric/assets/bookshelf/bookshelf/lang/zh_cn.json
  projects/1.20/assets/bookshelf/bookshelf/lang/en_us.json
  projects/1.20/assets/bookshelf/bookshelf/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3105 Heat And Climate 1.19.2 翻译提交
  projects/1.19/assets/heat-and-climate/dcs_climate/lang/en_us.json
  projects/1.19/assets/heat-and-climate/dcs_climate/lang/ja_jp.json
  projects/1.19/assets/heat-and-climate/dcs_climate/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.19.x, 日语

#3736 Update stale.yml
  .github/workflows/stale.yml
Labels: 即将合并, 1+

#3734 更新 PR 提交模板
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 即将合并, 10+
