Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-07, with the labels that each got.

#3419 ChinjufuMod +JapaneseBlock 翻译更新
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/en_us.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/ja_jp.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 5000+, 1.18.x, Forge, 日语

#3428 EnderIO 翻译修正
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, Forge

#3441 EnderIO 翻译修正
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3438 Patchouli Books 翻译优化
  projects/1.12.2/assets/patchouli/patchouli/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3443 Floral Flair 翻译修复
  projects/1.16/assets/floral-flair/floral_flair/lang/zh_cn.json
  projects/1.18/assets/floral-flair/floral_flair/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3449 Tinkers' Integrations and Tweaks 翻译更新
  projects/1.18/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#3420 ScalingGUIs 汉化提交
  projects/1.12.2/assets/scalingguis/scalingguis/lang/en_us.lang
  projects/1.12.2/assets/scalingguis/scalingguis/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3424 MEGA Cells 翻译更新
  projects/1.19/assets/mega-cells/megacells/lang/en_us.json
  projects/1.19/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3440 Better Archeology 翻译提交
  projects/1.20-fabric/better-archeology/betterarcheology/lang/de_de.json
  projects/1.20-fabric/better-archeology/betterarcheology/lang/en_us.json
  projects/1.20-fabric/better-archeology/betterarcheology/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3410 Villager Workers翻译提交
  projects/1.18/assets/workers/workers/lang/en_us.json
  projects/1.18/assets/workers/workers/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3344 Ars Instrumentum 翻译更新
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/en_us.json
  projects/1.19/assets/ars-instrumentum/ars_instrumentum/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3349 TIS-3D物品与手册翻译上传
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/block/casing.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/block/controller.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/block/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/audio_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/code_book.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/display_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/execution_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/facade_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/infrared_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/key.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/keypad_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/manual.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/queue_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/random_access_memory_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/random_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/read_only_memory_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/redstone_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/sequencer_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/serial_port_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/stack_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/terminal_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/item/timer_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/protocols/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/en_us/protocols/minecraft_furnace.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/block/casing.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/block/controller.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/block/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/audio_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/code_book.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/display_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/execution_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/facade_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/infrared_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/key.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/keypad_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/manual.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/queue_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/random_access_memory_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/random_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/read_only_memory_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/redstone_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/sequencer_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/serial_port_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/stack_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/terminal_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/item/timer_module.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/protocols/index.md
  projects/1.18/assets/tis-3d/tis3d/doc/zh_cn/protocols/minecraft_furnace.md
  projects/1.18/assets/tis-3d/tis3d/lang/en_us.json
  projects/1.18/assets/tis-3d/tis3d/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge

#3348 TIS Stringify物品与手册翻译上传
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/modules/interop_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/modules/parse_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/modules/string_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/peripheral/interop_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/peripheral/ram.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/peripheral/rom.md
  projects/1.18/assets/tis-stringify/tisstring/doc/en_us/tisstring.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/modules/interop_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/modules/parse_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/modules/string_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/peripheral/interop_module.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/peripheral/ram.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/peripheral/rom.md
  projects/1.18/assets/tis-stringify/tisstring/doc/zh_cn/tisstring.md
  projects/1.18/assets/tis-stringify/tisstring/lang/en_us.json
  projects/1.18/assets/tis-stringify/tisstring/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3347 TIS Create手册翻译上传
  projects/1.18/assets/tis-create/tis3d/doc/en_us/img/seq_gearshift/table1.png
  projects/1.18/assets/tis-create/tis3d/doc/en_us/img/seq_gearshift/table2.png
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/cannon_mount.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/content_observer.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/modular_accumulator.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/sequenced_gearshift.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/speed_controller.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/speed_gauge.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/stockpile_switch.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/stress_gauge.md
  projects/1.18/assets/tis-create/tis3d/doc/en_us/protocols/yaw_controller.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/img/seq_gearshift/table1.png
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/img/seq_gearshift/table2.png
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/cannon_mount.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/content_observer.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/modular_accumulator.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/sequenced_gearshift.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/speed_controller.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/speed_gauge.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/stockpile_switch.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/stress_gauge.md
  projects/1.18/assets/tis-create/tis3d/doc/zh_cn/protocols/yaw_controller.md
Labels: 即将合并, 100+, 1.18.x, Forge

#3346 TIS Advanced物品及手册翻译上传
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/img/seven_segment_display_diagram.png
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/modules/asic_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/modules/radar_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/modules/radio_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/modules/seven_segment_display.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/modules/tape_storage.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/en_us/tisadvanced.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/img/seven_segment_display_diagram.png
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/modules/asic_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/modules/radar_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/modules/radio_module.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/modules/seven_segment_display.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/modules/tape_storage.md
  projects/1.18/assets/tis-advanced/tisadvanced/doc/zh_cn/tisadvanced.md
  projects/1.18/assets/tis-advanced/tisadvanced/lang/en_us.json
  projects/1.18/assets/tis-advanced/tisadvanced/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3372 Dungeons Enhanced翻译提交
  projects/1.16/assets/dungeonsenhanced/dungeons_enhanced/lang/en_us.json
  projects/1.16/assets/dungeonsenhanced/dungeons_enhanced/lang/zh_cn.json
  projects/1.18/assets/dungeonsenhanced/dungeons_enhanced/lang/en_us.json
  projects/1.18/assets/dungeonsenhanced/dungeons_enhanced/lang/zh_cn.json
  projects/1.19/assets/dungeonsenhanced/dungeons_enhanced/lang/en_us.json
  projects/1.19/assets/dungeonsenhanced/dungeons_enhanced/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3455 Building Gadgets 翻译修补
  projects/1.12.2/assets/building-gadgets/buildinggadgets/lang/en_us.lang
  projects/1.12.2/assets/building-gadgets/buildinggadgets/lang/zh_cn.lang
  projects/1.16/assets/building-gadgets/buildinggadgets/lang/zh_cn.json
  projects/1.18/assets/building-gadgets/buildinggadgets/lang/zh_cn.json
  projects/1.19/assets/building-gadgets/buildinggadgets/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3458 MiniHUD 1.18-fabric 中文翻译更新
  projects/1.18-fabric/assets/minihud/minihud/lang/en_us.json
  projects/1.18-fabric/assets/minihud/minihud/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric

#3454 Lootr翻译修复
  projects/1.16/assets/lootr/lootr/lang/zh_cn.json
  projects/1.18-fabric/assets/lootr-fabric/lootr/lang/zh_cn.json
  projects/1.18/assets/lootr/lootr/lang/zh_cn.json
  projects/1.19/assets/lootr/lootr/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x

#3453 部分模组语言文件的修复
  projects/1.19/assets/beachparty/beachparty/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge, 1.19.x

#3460 Cultural Delights 翻译更新
  projects/1.19/assets/cultural-delights/culturaldelights/lang/en_us.json
  projects/1.19/assets/cultural-delights/culturaldelights/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#2218 Compact Machines 翻译修正
  projects/1.16/assets/compact-machines/compactmachines/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3103 Industrial Renewal Port 翻译提交
  projects/1.16/assets/industrial-renewal-port/industrialrenewal/lang/en_us.json
  projects/1.16/assets/industrial-renewal-port/industrialrenewal/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3464 Corail Woodcutter翻译添加
  projects/1.19/assets/corail-woodcutter/corail_woodcutter/lang/en_us.json
  projects/1.19/assets/corail-woodcutter/corail_woodcutter/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3470 Exp Ore Mod 翻译提交
  projects/1.12.2/assets/exp-ore-block-mod/exp_ore/lang/en_us.lang
  projects/1.12.2/assets/exp-ore-block-mod/exp_ore/lang/zh_cn.lang
  projects/1.19/assets/exp-ore-block-mod/exp_ore/lang/en_us.json
  projects/1.19/assets/exp-ore-block-mod/exp_ore/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 1+, Forge, 1.19.x

#3473 Better Mods Button [Forge] 1.19/1.18/1.16 汉化提交
  projects/1.16/assets/better-mods-button/bettermodsbutton/lang/en_us.json
  projects/1.16/assets/better-mods-button/bettermodsbutton/lang/zh_cn.json
  projects/1.18/assets/better-mods-button/bettermodsbutton/lang/en_us.json
  projects/1.18/assets/better-mods-button/bettermodsbutton/lang/zh_cn.json
  projects/1.19/assets/better-mods-button/bettermodsbutton/lang/en_us.json
  projects/1.19/assets/better-mods-button/bettermodsbutton/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge, 1.19.x

#2803 nethersdelight 模组翻译修正
  projects/1.16/assets/farmers-delight/farmersdelight/lang/zh_cn.json
  projects/1.16/assets/nethers-delight/nethers_delight/lang/zh_cn.json
  projects/1.18/assets/farmers-delight/farmersdelight/lang/zh_cn.json
  projects/1.18/assets/nethers-delight/nethersdelight/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge

#3468 PlayerRevive 翻译提交
  projects/1.19/assets/playerrevive/playerrevive/lang/en_us.json
  projects/1.19/assets/playerrevive/playerrevive/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3461 The Salt 翻译提交
  projects/1.18/assets/salt/salt/lang/en_us.json
  projects/1.18/assets/salt/salt/lang/zh_cn.json
  projects/1.19/assets/salt/salt/lang/en_us.json
  projects/1.19/assets/salt/salt/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3271 Red Power 翻译提交
  projects/1.19/assets/red-power/red_power/lang/en_us.json
  projects/1.19/assets/red-power/red_power/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3481 More Immersive Wires 翻译提交
  projects/1.18/assets/more-immersive-wires/more_immersive_wires/lang/en_us.json
  projects/1.18/assets/more-immersive-wires/more_immersive_wires/lang/zh_cn.json
  projects/1.19/assets/more-immersive-wires/more_immersive_wires/lang/en_us.json
  projects/1.19/assets/more-immersive-wires/more_immersive_wires/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#3479 Piglin Expansion 翻译更新
  projects/1.16/assets/piglin-expansion/piglin_expansion/lang/en_us.json
  projects/1.16/assets/piglin-expansion/piglin_expansion/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3442 Additional-Blocks-Stone-Edition 翻译提交
  projects/1.16/assets/additional-blocks-stone-edition/abstoneedition/lang/en_us.json
  projects/1.16/assets/additional-blocks-stone-edition/abstoneedition/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#3387 Mekanism & Tinkers' Evolution 部分修正
  projects/1.12.2/assets/mekanism/mekanism/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-evolution/tconevo/lang/en_us.lang
  projects/1.12.2/assets/tinkers-evolution/tconevo/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#3497 Energy Meters & Vaultopic - Early Inventory Management翻译提交
  projects/1.12.2/assets/energy-meters/energymeters/lang/en_us.lang
  projects/1.12.2/assets/energy-meters/energymeters/lang/zh_cn.lang
  projects/1.12.2/assets/vaultopic-early-inventory-management/vaultopic/lang/en_us.lang
  projects/1.12.2/assets/vaultopic-early-inventory-management/vaultopic/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#3495 Biomes in Jars [Forge] 翻译提交
  projects/1.16/assets/biomes-in-jars-forge/biomesinjars/lang/en_us.json
  projects/1.16/assets/biomes-in-jars-forge/biomesinjars/lang/zh_cn.json
  projects/1.18-fabric/assets/biomes-in-jars-fabric/biomesinjars/lang/en_us.json
  projects/1.18-fabric/assets/biomes-in-jars-fabric/biomesinjars/lang/zh_cn.json
  projects/1.18/assets/biomes-in-jars-forge/biomesinjars/lang/en_us.json
  projects/1.18/assets/biomes-in-jars-forge/biomesinjars/lang/zh_cn.json
  projects/1.19/assets/biomes-in-jars-forge/biomesinjars/lang/en_us.json
  projects/1.19/assets/biomes-in-jars-forge/biomesinjars/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3448 Untamed Wilds 模组 1.16.5 1.18.2 1.19.2 翻译提交
  projects/1.16/assets/untamedwilds/untamedwilds/lang/en_us.json
  projects/1.16/assets/untamedwilds/untamedwilds/lang/zh_cn.json
  projects/1.18/assets/untamedwilds/untamedwilds/lang/en_us.json
  projects/1.18/assets/untamedwilds/untamedwilds/lang/zh_cn.json
  projects/1.19/assets/untamedwilds/untamedwilds/lang/en_us.json
  projects/1.19/assets/untamedwilds/untamedwilds/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge, 1.19.x

#3492 Obscure Tooltips 翻译提交
  projects/1.19/assets/obscure-tooltips/obscure-tooltips/lang/en_us.json
  projects/1.19/assets/obscure-tooltips/obscure-tooltips/lang/zh_cn.json
  projects/1.20/assets/obscure-tooltips/minecraft/lang/en_us.json
  projects/1.20/assets/obscure-tooltips/minecraft/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x

#3502 Simply Jetpacks 2 翻译修正
  projects/1.12.2/assets/1UNKNOWN/simplyjetpacks/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3516 模组路径修复
  projects/1.19/assets/darker-depths/darkerdepths/lang/en_us.json
  projects/1.19/assets/darker-depths/darkerdepths/lang/zh_cn.json
  projects/1.20/assets/entangled/entangled/lang/en_us.json
  projects/1.20/assets/entangled/entangled/lang/zh_cn.json
  projects/1.20/assets/more-crossbows-cj/morecrossbows/lang/en_us.json
  projects/1.20/assets/more-crossbows-cj/morecrossbows/lang/zh_cn.json
Labels: Forge, 1.19.x

#3513 AlcoCraft+ 模组翻译提交
  projects/1.18/assets/alcocraft/alcocraftplus/lang/en_us.json
  projects/1.18/assets/alcocraft/alcocraftplus/lang/zh_cn.json
  projects/1.19/assets/alcocraft/alcocraftplus/lang/en_us.json
  projects/1.19/assets/alcocraft/alcocraftplus/lang/zh_cn.json
Labels: 即将合并, 1.18.x, Forge, 1.19.x

#3392 Magnum Torch 翻译提交
  projects/1.19/assets/magnum-torch-forge/magnumtorch/lang/en_us.json
  projects/1.19/assets/magnum-torch-forge/magnumtorch/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3534 Croptopia's Chocolaterie 翻译提交
  projects/1.18-fabric/assets/croptopias-chocolaterie-fabric/cacao/lang/en_us.json
  projects/1.18-fabric/assets/croptopias-chocolaterie-fabric/cacao/lang/zh_cn.json
  projects/1.19/assets/croptopias-chocolaterie-fabric/cacao/lang/en_us.json
  projects/1.19/assets/croptopias-chocolaterie-fabric/cacao/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x

#3472 Bountiful Baubles 翻译更新
  projects/1.16/assets/bountifulbaubles/bountifulbaubles/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3526 ValkyrieLib 翻译更新
  projects/1.16/assets/valkyrielib/valkyrielib/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3425 Goblins & Dungeons 翻译提交
  projects/1.18/assets/goblins-dungeons/goblinsanddungeons/lang/en_us.json
  projects/1.18/assets/goblins-dungeons/goblinsanddungeons/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3504 Draconic Evolution 翻译修改
  projects/1.12.2/assets/draconic-evolution/draconicevolution/lang/zh_cn.lang
  projects/1.16/assets/draconic-evolution/draconicevolution/lang/zh_cn.json
  projects/1.18/assets/draconic-evolution/draconicevolution/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3507 Mystical Agriculture & Mystical Agradditions 翻译二次修复
  projects/1.12.2/assets/mystical-agradditions/mysticalagradditions/lang/zh_cn.lang
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#3524 Simple Magnets 翻译更新
  projects/1.16/assets/simple-magnets/simplemagnets/lang/en_us.json
  projects/1.16/assets/simple-magnets/simplemagnets/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 10+, Forge

#3415 Productive Villagers翻译提交
  projects/1.18/assets/productive-villagers/productivevillagers/lang/en_us.json
  projects/1.18/assets/productive-villagers/productivevillagers/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#3535 Fabric Seasons 模组 1.16 1.18 1.19 1.20 翻译提交
  projects/1.16-fabric/assets/fabric-seasons/seasons/lang/en_us.json
  projects/1.16-fabric/assets/fabric-seasons/seasons/lang/zh_cn.json
  projects/1.18-fabric/assets/fabric-seasons/seasons/lang/en_us.json
  projects/1.18-fabric/assets/fabric-seasons/seasons/lang/zh_cn.json
  projects/1.19/assets/fabric-seasons/seasons/lang/en_us.json
  projects/1.19/assets/fabric-seasons/seasons/lang/zh_cn.json
  projects/1.20-fabric/assets/fabric-seasons/seasons/lang/en_us.json
  projects/1.20-fabric/assets/fabric-seasons/seasons/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#3545 Cobblemon Delights 翻译提交
  projects/1.19/assets/cobblemon-delights/cfarmersint/lang/en_us.json
  projects/1.19/assets/cobblemon-delights/cfarmersint/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3452 Tinker Construct 3 1.16 翻译修缮
  projects/1.16/assets/tinkers-construct/tconstruct/lang/en_us.json
  projects/1.16/assets/tinkers-construct/tconstruct/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 5000+, Forge

#3542 Electrostatic Tinker's Toys 翻译提交
  projects/1.12.2/assets/electrostatic-tinkers-toys/conarm/book/en_us/modifiers/meme-electric_armor.json
  projects/1.12.2/assets/electrostatic-tinkers-toys/conarm/book/zh_cn/modifiers/meme-electric_armor.json
  projects/1.12.2/assets/electrostatic-tinkers-toys/electrostatic/lang/en_us.lang
  projects/1.12.2/assets/electrostatic-tinkers-toys/electrostatic/lang/zh_cn.lang
  projects/1.12.2/assets/electrostatic-tinkers-toys/tconstruct/book/en_us/modifiers/meme-electric.json
  projects/1.12.2/assets/electrostatic-tinkers-toys/tconstruct/book/zh_cn/modifiers/meme-electric.json
Labels: 1.12.x, 即将合并, 40+, Forge

#3544 Worthy Food 翻译提交
  projects/1.19/assets/worthy-food/worthy_food/lang/en_us.json
  projects/1.19/assets/worthy-food/worthy_food/lang/zh_cn.json
  projects/1.20-fabric/assets/worthy-food/worthy_food/lang/en_us.json
  projects/1.20-fabric/assets/worthy-food/worthy_food/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3543 Ars Artifice 翻译更新
  projects/1.19/assets/ars-artifice/ars_artifice/lang/en_us.json
  projects/1.19/assets/ars-artifice/ars_artifice/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3382 Your Ant Friend 翻译提交
  projects/1.18/assets/your-ant-friend/yourantfriend/lang/en_us.json
  projects/1.18/assets/your-ant-friend/yourantfriend/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3192 More Villagers 翻译提交
  projects/1.16/assets/more-villagers/morevillagers/lang/en_us.json
  projects/1.16/assets/more-villagers/morevillagers/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3529 Caffeinated 1.19.2 1.20.1翻译提交
  projects/1.19/assets/caffeinated/caffeinated/lang/en_us.json
  projects/1.19/assets/caffeinated/caffeinated/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3546 Exchangers 翻译提交
  projects/1.16/assets/exchangers/exchangers/lang/en_us.json
  projects/1.16/assets/exchangers/exchangers/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3553 Xtones 模组翻译提交
  projects/1.12.2/assets/xtones/xtones/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 500+, Forge

#3548 Tinkers Better Compat 翻译提交
  projects/1.16/assets/ticbc/bettercompat/lang/en_us.json
  projects/1.16/assets/ticbc/bettercompat/lang/zh_cn.json
Labels: 1.16.x, 即将合并, Forge

#3501 Chaos Awakens 模组翻译提交
  projects/1.16/assets/chaos-awakens/chaosawakens/lang/en_us.json
  projects/1.16/assets/chaos-awakens/chaosawakens/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, Forge

#3528 CaffeineFilled 模组翻译提交
  projects/1.19/assets/caffeinefilled/caffeinefilled/lang/en_us.json
  projects/1.19/assets/caffeinefilled/caffeinefilled/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#2827 ftb jar mod修订
  projects/1.16/assets/ftb-jar-mod-forge/ftbjarmod/lang/zh_cn.json
  projects/1.18/assets/ftb-jar-mod-forge/ftbjarmod/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge

#3511 Tinkers' Levelling Addon 翻译提交
  projects/1.16/assets/tinkers-levelling-addon/tinkerslevellingaddon/lang/en_us.json
  projects/1.16/assets/tinkers-levelling-addon/tinkerslevellingaddon/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#3092 Advanced Rifles 翻译提交
  projects/1.12.2/assets/advanced-rifles/advancedrifles/lang/en_us.lang
  projects/1.12.2/assets/advanced-rifles/advancedrifles/lang/zh_cn.lang
Labels: help wanted, 1.12.x, 即将合并, 40+, Forge

#3568 Uploader 紧急更新
  src/Uploader/Program.cs
Labels: source, 100+

#3558 Minerally 翻译提交
  projects/1.19/assets/0-modrinth-mod/minerally/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/minerally/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/minerally/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/minerally/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3563 Sanity: Descent Into Madness 翻译提交
  projects/1.20/assets/sanity-descent-into-madness/sanitydim/lang/en_us.json
  projects/1.20/assets/sanity-descent-into-madness/sanitydim/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3570 Fisherman's Trap 翻译提交
  projects/1.19/assets/fishermans-trap/fishermens_trap/lang/en_us.json
  projects/1.19/assets/fishermans-trap/fishermens_trap/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3215 Ars Creo 翻译提交
  projects/1.16/assets/ars-creo/ars_creo/lang/en_us.json
  projects/1.16/assets/ars-creo/ars_creo/lang/zh_cn.json
  projects/1.18/assets/ars-creo/ars_creo/lang/en_us.json
  projects/1.18/assets/ars-creo/ars_creo/lang/zh_cn.json
  projects/1.19/assets/ars-creo/ars_creo/lang/en_us.json
  projects/1.19/assets/ars-creo/ars_creo/lang/zh_cn.json
  projects/1.20/assets/ars-creo/ars_creo/lang/en_us.json
  projects/1.20/assets/ars-creo/ars_creo/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x

#3560 Animal Feeding Trough & Block Beams 翻译提交
  projects/1.18-fabric/assets/animal-feeding-trough/animal_feeding_trough/lang/en_us.json
  projects/1.18-fabric/assets/animal-feeding-trough/animal_feeding_trough/lang/zh_cn.json
  projects/1.18/assets/animal-feeding-trough/animal_feeding_trough/lang/en_us.json
  projects/1.18/assets/animal-feeding-trough/animal_feeding_trough/lang/zh_cn.json
  projects/1.19/assets/animal-feeding-trough/animal_feeding_trough/lang/en_us.json
  projects/1.19/assets/animal-feeding-trough/animal_feeding_trough/lang/zh_cn.json
  projects/1.19/assets/block-beams/block_beams/lang/en_us.json
  projects/1.19/assets/block-beams/block_beams/lang/zh_cn.json
  projects/1.20-fabric/assets/animal-feeding-trough/animal_feeding_trough/lang/en_us.json
  projects/1.20-fabric/assets/animal-feeding-trough/animal_feeding_trough/lang/zh_cn.json
  projects/1.20-fabric/assets/block-beams/block_beams/lang/en_us.json
  projects/1.20-fabric/assets/block-beams/block_beams/lang/zh_cn.json
  projects/1.20/assets/animal-feeding-trough/animal_feeding_trough/lang/en_us.json
  projects/1.20/assets/animal-feeding-trough/animal_feeding_trough/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#2900 Abnormals 系列部分模组翻译更新
  projects/1.18/assets/abnormals-delight/abnormals_delight/lang/en_us.json
  projects/1.18/assets/abnormals-delight/abnormals_delight/lang/zh_cn.json
  projects/1.18/assets/atmospheric/atmospheric/lang/en_us.json
  projects/1.18/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.18/assets/autumnity/autumnity/lang/en_us.json
  projects/1.18/assets/autumnity/autumnity/lang/zh_cn.json
  projects/1.18/assets/buzzier-bees/buzzier_bees/lang/en_us.json
  projects/1.18/assets/buzzier-bees/buzzier_bees/lang/zh_cn.json
  projects/1.18/assets/clayworks/clayworks/lang/en_us.json
  projects/1.18/assets/clayworks/clayworks/lang/zh_cn.json
  projects/1.18/assets/environmental/environmental/lang/en_us.json
  projects/1.18/assets/environmental/environmental/lang/zh_cn.json
  projects/1.18/assets/neapolitan/neapolitan/lang/en_us.json
  projects/1.18/assets/neapolitan/neapolitan/lang/zh_cn.json
  projects/1.18/assets/savage-and-ravage/savage_and_ravage/lang/en_us.json
  projects/1.18/assets/savage-and-ravage/savage_and_ravage/lang/zh_cn.json
  projects/1.18/assets/savage-and-ravage/savageandravage/lang/en_us.json
  projects/1.18/assets/savage-and-ravage/savageandravage/lang/zh_cn.json
  projects/1.18/assets/seasonals/seasonals/lang/en_us.json
  projects/1.18/assets/seasonals/seasonals/lang/zh_cn.json
  projects/1.18/assets/upgrade-aquatic/upgrade_aquatic/lang/en_us.json
  projects/1.18/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
  projects/1.18/assets/woodworks/woodworks/lang/en_us.json
  projects/1.18/assets/woodworks/woodworks/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge

#2717 Ars Elemental 翻译提交
  projects/1.18/assets/ars-elemental-elemental-spell-foci/ars_elemental/lang/en_us.json
  projects/1.18/assets/ars-elemental-elemental-spell-foci/ars_elemental/lang/zh_cn.json
  projects/1.18/assets/ars-elemental/ars_elemental/lang/en_us.json
  projects/1.18/assets/ars-elemental/ars_elemental/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#3493 Puzzle 翻译提交
  projects/1.18-fabric/assets/puzzle/puzzle/lang/en_us.json
  projects/1.18-fabric/assets/puzzle/puzzle/lang/zh_cn.json
  projects/1.20-fabric/assets/puzzle/puzzle/lang/en_us.json
  projects/1.20-fabric/assets/puzzle/puzzle/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, 1.20.x

#3576 Engineer Villager 翻译提交
  projects/1.19/assets/engineer-villager/resident_engineer/lang/en_us.json
  projects/1.19/assets/engineer-villager/resident_engineer/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#3577 更新PR模板，删除检查单
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 即将合并, 10+

#3579 NewWorld 翻译提交
  projects/1.20-fabric/assets/newworld/newworld/lang/en_us.json
  projects/1.20-fabric/assets/newworld/newworld/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, 1.20.x

#3580 Baby Fat 翻译提交
  projects/1.19/assets/baby-fat/babyfat/lang/en_us.json
  projects/1.19/assets/baby-fat/babyfat/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#3584 Ducky Periphs 翻译提交
  projects/1.19/assets/ducky-periphs/ducky-periphs/lang/en_us.json
  projects/1.19/assets/ducky-periphs/ducky-periphs/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x
