Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-01, with the labels that each got.

#2755 Immersive Engineering 等模组 Uraninite（晶质铀矿）修正
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.16/assets/project-rankine/rankine/lang/zh_cn.json
  projects/1.18/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.18/assets/project-rankine/rankine/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1.18.x, 10+, Forge

#2604 Mining Master 和 Shield Expansion 翻译更新与提交
  projects/1.18/assets/mining-master/miningmaster/lang/en_us.json
  projects/1.18/assets/mining-master/miningmaster/lang/zh_cn.json
  projects/1.18/assets/shield-expansion/shieldexp/lang/en_us.json
  projects/1.18/assets/shield-expansion/shieldexp/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2735 Let's do wine! 翻译更新
  projects/1.18-fabric/assets/lets-do-wine/vinery/lang/en_us.json
  projects/1.18-fabric/assets/lets-do-wine/vinery/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric

#2705 Every Compat 累积更新
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2777 XpOre 翻译提交
  projects/1.18/assets/xpore-forge/xp_ore/lang/en_us.json
  projects/1.18/assets/xpore-forge/xp_ore/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2775 Extra Emerald Uses 翻译提交
  projects/1.18/assets/extra-emeralds/emeraldtools/lang/en_us.json
  projects/1.18/assets/extra-emeralds/emeraldtools/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2778 Creative Apiary 提交
  projects/1.16/assets/creative-apiary/creativeapiary/lang/en_us.json
  projects/1.16/assets/creative-apiary/creativeapiary/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2781 Create Deco 翻译提交
  projects/1.16/assets/create-deco/createdeco/lang/en_us.json
  projects/1.16/assets/create-deco/createdeco/lang/zh_cn.json
  projects/1.18-fabric/assets/create-deco-fabric/createdeco/lang/en_us.json
  projects/1.18-fabric/assets/create-deco-fabric/createdeco/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 2000+, 1.18.x, Fabric, Forge

#2767 Tinker's Planner 翻译提交
  projects/1.18/assets/tinkers-planner/tconplanner/lang/en_us.json
  projects/1.18/assets/tinkers-planner/tconplanner/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2776 Familiar Fauna 翻译提交
  projects/1.12.2/assets/familiar-fauna/familiarfauna/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#2773 提交easy_piglins汉化
  projects/1.16/assets/easy-piglins/easy_piglins/lang/en.us.json
  projects/1.18/assets/easy-piglins/easy_piglins/lang/en.us.json
  projects/1.18/assets/easy-piglins/easy_piglins/lang/zh_cn.json
Labels: 1.16.x, 1.18.x, 10+, Forge

#2730 CC:C Bridge 翻译提交
  projects/1.18/assets/cccbridge/cccbridge/lang/en_us.json
  projects/1.18/assets/cccbridge/cccbridge/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2729 Compressed Creativity 翻译更新
  projects/1.18/assets/compressedcreativity/compressedcreativity/lang/en_us.json
  projects/1.18/assets/compressedcreativity/compressedcreativity/lang/zh_cn.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/copper_backtank.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/industrial_air_blower.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/industrial_air_blower_meshes.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/en_us/entries/intro.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/compressed_air_engine.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/copper_backtank.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/industrial_air_blower.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/industrial_air_blower_meshes.json
  projects/1.18/assets/compressedcreativity/pneumaticcraft/patchouli_books/book/zh_cn/entries/intro.json
Labels: ready to merge, 100+, 1.18.x, Forge, Patchouli

#2300 Skill cloaks 翻译提交
  projects/1.18/assets/skill-cloaks/skillcloaks/lang/en_us.json
  projects/1.18/assets/skill-cloaks/skillcloaks/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2794 Refined Cooking 翻译提交
  projects/1.18/assets/refined-cooking/refinedcooking/lang/en_us.json
  projects/1.18/assets/refined-cooking/refinedcooking/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2788 Falling Tree 翻译提交
  projects/1.16-fabric/assets/falling-tree/falling_tree/lang/en_us.json
  projects/1.16-fabric/assets/falling-tree/falling_tree/lang/zh_cn.json
  projects/1.16-fabric/assets/falling-tree/fallingtree/lang/en_us.json
  projects/1.16-fabric/assets/falling-tree/fallingtree/lang/zh_cn.json
  projects/1.16/assets/falling-tree/falling_tree/lang/en_us.json
  projects/1.16/assets/falling-tree/falling_tree/lang/zh_cn.json
  projects/1.16/assets/falling-tree/fallingtree/lang/en_us.json
  projects/1.16/assets/falling-tree/fallingtree/lang/zh_cn.json
  projects/1.18-fabric/assets/falling-tree/falling_tree/lang/en_us.json
  projects/1.18-fabric/assets/falling-tree/falling_tree/lang/zh_cn.json
  projects/1.18-fabric/assets/falling-tree/fallingtree/lang/en_us.json
  projects/1.18-fabric/assets/falling-tree/fallingtree/lang/zh_cn.json
  projects/1.18/assets/falling-tree/falling_tree/lang/en_us.json
  projects/1.18/assets/falling-tree/falling_tree/lang/zh_cn.json
  projects/1.18/assets/falling-tree/fallingtree/lang/en_us.json
  projects/1.18/assets/falling-tree/fallingtree/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, 1.18.x, Fabric, Forge

#2790 Noteable 翻译提交
  projects/1.18-fabric/assets/noteable/noteable/lang/en_us.json
  projects/1.18-fabric/assets/noteable/noteable/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric

#2787 Immersive Petroleum 翻译更新
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/en_us.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/en_us/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/fluids.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/hydrotreater.txt
  projects/1.18/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
Labels: 100+, 1.18.x, Forge

#2736 XP Storage\XP Storage-trinkets 翻译提交\更新
  projects/1.16-fabric/assets/xp-storage/xp_storage/lang/zh_cn.json
  projects/1.18-fabric/assets/xp-storage-trinkets/xp_storage_trinkets/lang/en_us.json
  projects/1.18-fabric/assets/xp-storage-trinkets/xp_storage_trinkets/lang/zh_cn.json
  projects/1.18-fabric/assets/xp-storage/xp_storage/lang/en_us.json
  projects/1.18-fabric/assets/xp-storage/xp_storage/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 40+, 1.18.x, Fabric

#2800 Every Compat 累积更新
  projects/1.18/assets/every-compat/everycomp/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2785 资源包流程更新 - 主库侧更改
  .github/workflows/packer.yml
  .github/workflows/pr-packer.yml
  config/packer.json
  projects/1.19/LICENSE
  projects/1.19/README.md
  projects/1.19/assets/minecraft/minecraft/font/glyph_sizes.bin
  projects/1.19/assets/minecraft/minecraft/readme.md
  projects/1.19/assets/minecraft/minecraft/textures/font/unicode_page_20.png
  projects/1.19/assets/minecraft/minecraft/textures/font/unicode_page_9f.png
  projects/1.19/assets/minecraft/minecraft/textures/font/unicode_page_e9.png
  projects/1.19/pack.mcmeta
  projects/1.19/pack.png
  src/Packer/Extensions/ArchiveExtension.cs
  src/Packer/Extensions/ContentExtension.cs
  src/Packer/Extensions/SerializingExtension.cs
  src/Packer/Lib.cs
  src/Packer/Models/Config.cs
  src/Packer/Models/Mod.cs
  src/Packer/Models/TranslatedFile.cs
  src/Packer/Program.cs
  src/Packer/Utils.cs
  src/Uploader/Program.cs
  src/Uploader/Uploader.csproj
  src/Uploader/Util.cs
Labels: source, config, 1000+, in progress

#2822 enhanced nature 翻译提交
  projects/1.18/assets/enhancednature/enhanced_nature/lang/en_us.json
  projects/1.18/assets/enhancednature/enhanced_nature/lang/zh_cn.json
Labels: ready to merge, 1+, 1.18.x, Forge

#2745 GregTech Sieves 翻译提交
  projects/1.12.2/assets/gregtech-sieves/gregtechsieves/lang/en_us.lang
  projects/1.12.2/assets/gregtech-sieves/gregtechsieves/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 10+, Forge

#2835 修复提交"Embellished Enchanting 翻译更新"的一些问题
  projects/1.18/assets/embellished-enchanting/embellishedenchanting/lang/zh_cn.json
  projects/1.19/assets/minecraft/minecraft/embellished-enchanting/embellishedenchanting/lang/zh_cn.json
Labels: 1+, 1.18.x, Forge, 1.19.x

#2836 修复提交"Embellished Enchanting 翻译更新"的一些问题
  projects/1.19/assets/embellished-enchanting/embellishedenchanting/lang/en_us.json
  projects/1.19/assets/embellished-enchanting/embellishedenchanting/lang/zh_cn.json
Labels: 1+, Forge, 1.19.x

#2833 Packer 自定义文件检索模式 [1.19系列更新]
  CONTRIBUTING.md
  Packer-Index-Doc.md
  config/packer.json
  projects/1.19/assets/0-example-mixed-clone/mixed-clone/extra/extra.txt
  projects/1.19/assets/0-example-mixed-clone/mixed-clone/lang/zh_cn.json
  projects/1.19/assets/0-example-mixed-clone/mixed-clone/packer-policy.json
  projects/1.19/assets/0-example-nop/nop/lang/zh_cn.json
  projects/1.19/assets/0-example-nop/nop/packer-policy.json
  projects/1.19/assets/0-example-patch/patch/lang/zh_cn.patch
  projects/1.19/assets/0-example-patch/patch/packer-policy.json
  projects/1.19/assets/0-example-simple-clone/clone/packer-policy.json
  projects/1.19/pack.mcmeta
  src/Packer/Extensions/ArchiveExtension.cs
  src/Packer/Extensions/ContentExtension.cs
  src/Packer/Extensions/DirectoryExtension.cs
  src/Packer/Extensions/SerializingExtension.cs
  src/Packer/Lib.cs
  src/Packer/Models/Mod.cs
  src/Packer/Models/PackerStrategy.cs
  src/Packer/Models/TranslatedFile.cs
  src/Packer/Packer.csproj
  src/Packer/Program.cs
  src/Packer/Utils.cs
Labels: source, config, 500+, Forge, 1.19.x

#2823 Tough As Nails 官中拉取、更新
  projects/1.19/assets/tough-as-nails/toughasnails/lang/en_us.json
  projects/1.19/assets/tough-as-nails/toughasnails/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2837 Little Contraptions 翻译更新
  projects/1.19/assets/little-contraptions/littlecontraptions/lang/en_us.json
  projects/1.19/assets/little-contraptions/littlecontraptions/lang/zh_cn.json
Labels: ready to merge, 40+, Forge, 1.19.x

#2814 Nexus 翻译提交
  projects/1.18/assets/nexus-battle-mode/nexus/lang/en_us.json
  projects/1.18/assets/nexus-battle-mode/nexus/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2832 Red Alloy: 红石合金 -> 红色合金
  projects/1.12.2/assets/project-red-base/projectred/lang/zh_cn.lang
  projects/1.12.2/assets/tfc-metallum/tfc/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 100+, Forge

#2810 Productive Bees 翻译修正
  projects/1.16/assets/productivebees/productivebees/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1+, Forge

#2719 LightningCraft官方汉化修复
  projects/1.12.2/assets/lightningcraft/lightningcraft/lang/en_US.lang
  projects/1.12.2/assets/lightningcraft/lightningcraft/lang/zh_CN.lang
Labels: 1.12.x, 500+, Forge

#2811 Floral Flair 翻译更新
  projects/1.18/assets/floral-flair/floral_flair/lang/en_us.json
  projects/1.18/assets/floral-flair/floral_flair/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2828 No Chat Reports 翻译提交
  projects/1.19/assets/no-chat-reports/nochatreports/lang/en_us.json
  projects/1.19/assets/no-chat-reports/nochatreports/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2722 Blocks+ 翻译提交
  projects/1.16/assets/shadow-x-blocks-plus/blocksplus/lang/en_us.json
  projects/1.16/assets/shadow-x-blocks-plus/blocksplus/lang/zh_cn.json
  projects/1.18/assets/shadow-x-blocks-plus/blocksplus/lang/en_us.json
  projects/1.18/assets/shadow-x-blocks-plus/blocksplus/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, 1.18.x, Forge

#2679 Dramatic Doors 翻译提交
  projects/1.18/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.18/assets/dramatic-doors/dramaticdoors/lang/zh_cn.json
Labels: ready to merge, 1000+, 1.18.x, Forge

#2848 Framed Compacting Drawers 翻译提交
  projects/1.12.2/assets/framed-compacting-drawers/framedcompactdrawers/lang/en_us.lang
  projects/1.12.2/assets/framed-compacting-drawers/framedcompactdrawers/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2853 Storage Drawers 翻译修正
  projects/1.12.2/assets/storage-drawers/storagedrawers/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2866 Waystones 版本提升至 1.19
  projects/1.19/assets/waystones/waystones/lang/en_us.json
  projects/1.19/assets/waystones/waystones/lang/zh_cn.json
Labels: 100+, Forge, 1.19.x

#2841 Hourglass 翻译提交
  projects/1.18/assets/hourglass/hourglass/lang/en_us.json
  projects/1.18/assets/hourglass/hourglass/lang/zh_cn.json
  projects/1.19/assets/hourglass/hourglass/packer-policy.json
Labels: ready to merge, 40+, 1.18.x, Forge, 1.19.x

#2850 Tinkers' Things 翻译提交
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/en_us.json
  projects/1.18/assets/tinkers-things-json/tinkers_things/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2855 Tinker's Construct 部分附属翻译更新
  projects/1.18/assets/blood-smeltery/bloodsmeltery/lang/zh_cn.json
  projects/1.18/assets/blue_skies_tcon/blue_skies_tcon/lang/zh_cn.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: ready to merge, 1.18.x, 10+, Forge

#2820 Minetraps 翻译提交
  projects/1.18/assets/minetraps/minetraps/lang/en_us.json
  projects/1.18/assets/minetraps/minetraps/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge

#2871 Controlling 1.18 -> 1.19
  projects/1.19/assets/controlling/controlling/lang/zh_cn.json
Labels: ready to merge, 10+, Forge, 1.19.x

#2851 Frozen Up 翻译提交
  projects/1.19/assets/frozen-up/frozenup/lang/en_us.json
  projects/1.19/assets/frozen-up/frozenup/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2786 Bionisation 4 翻译提交
  projects/1.16/assets/bionisation-4/bionisation4/lang/en_us.json
  projects/1.16/assets/bionisation-4/bionisation4/lang/zh_cn.json
  projects/1.18/assets/bionisation-4/bionisation4/lang/en_us.json
  projects/1.18/assets/bionisation-4/bionisation4/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 1000+, 1.18.x, Forge

#2764 Exline's Furniture 翻译提交 & 英文提交
  projects/1.16-fabric/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.16-fabric/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.16/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.16/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.18-fabric/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.18-fabric/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
  projects/1.18/assets/exlines-furniture/exlinefurniture/lang/en_us.json
  projects/1.18/assets/exlines-furniture/exlinefurniture/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 2000+, 1.18.x, Fabric, Forge

#2273 Mystical agriculture 翻译更新
  projects/1.18/assets/mystical-agriculture/mysticalagriculture/lang/en_us.json
  projects/1.18/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: ready to merge, 2000+, 1.18.x, Forge

#2733 Ambient Additions 翻译提交
  projects/1.16/assets/ambient-additions/ambientadditions/lang/en_us.json
  projects/1.16/assets/ambient-additions/ambientadditions/lang/zh_cn.json
  projects/1.18/assets/ambient-additions/ambientadditions/lang/en_us.json
  projects/1.18/assets/ambient-additions/ambientadditions/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Fabric, Forge

#2889 Compressium 翻译补全，修改
  projects/1.18/assets/compressium/compressium/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Forge

#2887 Open blocks elevator & Cooking For Blockheads 翻译更新/迁移丨1.18→1.19
  projects/1.18/assets/cooking-for-blockheads/cookingforblockheads/lang/en_us.json
  projects/1.18/assets/cooking-for-blockheads/cookingforblockheads/lang/zh_cn.json
  projects/1.18/assets/openblocks-elevator/elevatorid/lang/zh_cn.json
  projects/1.19/assets/cooking-for-blockheads/cookingforblockheads/lang/en_us.json
  projects/1.19/assets/cooking-for-blockheads/cookingforblockheads/lang/zh_cn.json
  projects/1.19/assets/openblocks-elevator/elevatorid/lang/en_us.json
  projects/1.19/assets/openblocks-elevator/elevatorid/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge, 1.19.x

#2890 Copper Equipment 翻译提交丨Oxidized 翻译更新
  projects/1.18-fabric/assets/copper-equipment/exlinecopperequipment/packer-policy.json
  projects/1.18/assets/copper-equipment/exlinecopperequipment/lang/en_us.json
  projects/1.18/assets/copper-equipment/exlinecopperequipment/lang/zh_cn.json
  projects/1.18/assets/oxidized/oxidized/lang/en_us.json
  projects/1.18/assets/oxidized/oxidized/lang/zh_cn.json
  projects/1.19/assets/copper-equipment/exlinecopperequipment/lang/en_us.json
  projects/1.19/assets/copper-equipment/exlinecopperequipment/lang/zh_cn.json
Labels: ready to merge, 40+, 1.18.x, Fabric, Forge, 1.19.x

#2884 Curios API 迁移 1.18→1.19丨1.18→1.16 Fabric
  projects/1.16-fabric/assets/curios/curios/lang/en_us.json
  projects/1.16-fabric/assets/curios/curios/lang/zh_cn.json
  projects/1.19/assets/curios/curios/lang/en_us.json
  projects/1.19/assets/curios/curios/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, Fabric, Forge, 1.19.x

#2880 Comforts 翻译更新/迁移丨1.18→1.19
  projects/1.16-fabric/assets/comforts/comforts/lang/en_us.json
  projects/1.16-fabric/assets/comforts/comforts/lang/zh_cn.json
  projects/1.18-fabric/assets/comforts/comforts/lang/en_us.json
  projects/1.18-fabric/assets/comforts/comforts/lang/zh_cn.json
  projects/1.18/assets/comforts/comforts/lang/en_us.json
  projects/1.18/assets/comforts/comforts/lang/zh_cn.json
  projects/1.19/assets/comforts/comforts/lang/en_us.json
  projects/1.19/assets/comforts/comforts/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2878 Yung's Better Desert Temples & Yung's Better Dungeons 翻译更新 1.19
  projects/1.19/assets/yungs-better-desert-temples/betterdeserttemples/lang/en_us.json
  projects/1.19/assets/yungs-better-desert-temples/betterdeserttemples/lang/zh_cn.json
  projects/1.19/assets/yungs-better-dungeons/betterdungeons/lang/en_us.json
  projects/1.19/assets/yungs-better-dungeons/betterdungeons/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2864 Farmer's Respite 翻译更新至 1.19
  projects/1.18/assets/farmers-respite/farmersrespite/lang/zh_cn.json
  projects/1.19/assets/farmers-respite/farmersrespite/lang/en_us.json
  projects/1.19/assets/farmers-respite/farmersrespite/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge, 1.19.x

#2784 Rotten Creature 翻译提交
  projects/1.18-fabric/assets/rotten-creatures/rottencreatures/packer-policy.json
  projects/1.18/assets/rotten-creatures/rottencreatures/lang/en_us.json
  projects/1.18/assets/rotten-creatures/rottencreatures/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2840 create-sifting及create-mechanical-extruder翻译提交
  projects/1.19/assets/create-mechanical-extruder/create-mechanical-extruder/lang/en_us.json
  projects/1.19/assets/create-mechanical-extruder/create-mechanical-extruder/lang/zh_cn.json
  projects/1.19/assets/create-sifting/create-sifting/lang/en_us.json
  projects/1.19/assets/create-sifting/create-sifting/lang/zh_cn.json
Labels: ready to merge, 40+, Forge, 1.19.x

#2724 Everything is Copper 翻译提交
  projects/1.18/assets/everythingcopper/everythingcopper/lang/en_us.json
  projects/1.18/assets/everythingcopper/everythingcopper/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Forge

#2881 Quark 翻译更新 1.19
  projects/1.19/assets/quark/quark/lang/en_us.json
  projects/1.19/assets/quark/quark/lang/zh_cn.json
Labels: ready to merge, 2000+, Forge, 1.19.x

#2870 JEI更新至1.19，建立文件同步策略至1.18/1.18fabric
  projects/1.18-fabric/assets/jei/packer-policy.json
  projects/1.18/assets/jei/jei/packer-policy.json
  projects/1.19/assets/jei/jei/lang/en_us.json
  projects/1.19/assets/jei/jei/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2762 Project Expansion 翻译提交
  projects/1.16/assets/project-expansion/projectexpansion/lang/en_us.json
  projects/1.16/assets/project-expansion/projectexpansion/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 500+, Forge

#2923 Constructs Armory 1.12.2 翻译修改
  projects/1.12.2/assets/constructs-armory/conarm/lang/zh_cn.lang
Labels: 1.12.x, ready to merge, 1+, Forge

#2882 Packer 再度更新
  Packer-Index-Doc.md
  config/packer.json
  projects/1.19/assets/0-example-port/port/lang/zh_cn.json
  projects/1.19/assets/0-example-port/port/packer-policy.json
  src/Packer/Extensions/ContentExtension.cs
  src/Packer/Extensions/DirectoryExtension.cs
  src/Packer/Models/Config.cs
  src/Packer/Models/PackerStrategy.cs
  src/Packer/Models/TranslatedFile.cs
  src/Packer/Utils.cs
Labels: source, config, ready to merge, 100+, Forge, 1.19.x

#2912 darkutils 1.18fabric+1.19翻译迁移
  projects/1.18fabric/assets/dark-utilities/darkutils/lang/en_us.json
  projects/1.18fabric/assets/dark-utilities/darkutils/lang/zh_cn.json
  projects/1.19/assets/dark-utilities/darkutils/lang/en_us.json
  projects/1.19/assets/dark-utilities/darkutils/lang/zh_cn.json
Labels: ready to merge, 500+, Forge, 1.19.x

#2865 Storage Drawers 翻译更新 1.18/1.19
  projects/1.18/assets/storage-drawers/storagedrawers/lang/zh_cn.json
  projects/1.19/assets/storage-drawers/storagedrawers/lang/en_us.json
  projects/1.19/assets/storage-drawers/storagedrawers/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Forge, 1.19.x

#2769 Cataclysm 1.16 修正 & 1.18 更新
  projects/1.16/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.18/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 100+, 1.18.x, Forge

#2928 提交 Tempad 翻译
  projects/1.18-fabric/assets/tempad/tempad/lang/en_us.json
  projects/1.18-fabric/assets/tempad/tempad/lang/zh_cn.json
  projects/1.19/assets/tempad/tempad/lang/en_us.json
  projects/1.19/assets/tempad/tempad/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2933 Better Trident 翻译提交
  projects/1.19/assets/better-tridents/bettertridents/lang/en_us.json
  projects/1.19/assets/better-tridents/bettertridents/lang/zh_cn.json
Labels: ready to merge, 1+, Forge, 1.19.x

#2936 Darku回退意外上传的文件
  projects/1.18fabric/assets/dark-utilities/darkutils/lang/en_us.json
  projects/1.18fabric/assets/dark-utilities/darkutils/lang/zh_cn.json
Labels: 100+

#2932 Your ideas 翻译提交
  projects/1.16/assets/your-ideas/yourideas/lang/en_us.json
  projects/1.16/assets/your-ideas/yourideas/lang/zh_cn.json
Labels: 1.16.x, ready to merge, 10+, Forge

#2931 Cataclysm 1.19 翻译提交
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2919 Domum Ornamentum模组翻译
  projects/1.19/assets/domum-ornamentum/domum_ornamentum/lang/en_us.json
  projects/1.19/assets/domum-ornamentum/domum_ornamentum/lang/zh_cn.json
Labels: ready to merge, 100+, Forge, 1.19.x

#2934 Plushie mod翻译提交
  projects/1.18-fabric/assets/plushie-mod/plushies/lang/en_us.json
  projects/1.18-fabric/assets/plushie-mod/plushies/lang/zh_cn.json
  projects/1.18/assets/plushie-mod/plushies/lang/en_us.json
  projects/1.18/assets/plushie-mod/plushies/lang/zh_cn.json
  projects/1.19/assets/plushie-mod/plushies/lang/en_us.json
  projects/1.19/assets/plushie-mod/plushies/lang/zh_cn.json
Labels: ready to merge, 100+, 1.18.x, Fabric, Forge, 1.19.x

#2939 Another Furniture 1.18-fabric and 1.19迁移
  projects/1.18-fabric/assets/another-furniture/another_furniture/lang/en_us.json
  projects/1.18-fabric/assets/another-furniture/another_furniture/lang/zh_cn.json
  projects/1.19/assets/another-furniture/another_furniture/lang/en_us.json
  projects/1.19/assets/another-furniture/another_furniture/lang/zh_cn.json
Labels: ready to merge, 500+, 1.18.x, Fabric, Forge, 1.19.x
