Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2023-12, with the labels that each got.

#3971 Created Music Discs 翻译提交
  projects/1.20-fabric/assets/created-music-discs-forge/created_music_discs/lang/en_us.json
  projects/1.20-fabric/assets/created-music-discs-forge/created_music_discs/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, MCreator, 1.20.x

#3909 Thermal: Extra 翻译提交
  projects/1.18/assets/thermal_extra/thermal_extra/lang/en_us.json
  projects/1.18/assets/thermal_extra/thermal_extra/lang/zh_cn.json
  projects/1.19/assets/thermal_extra/thermal_extra/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.19.x

#3966 Mythic charms 翻译提交
  projects/1.20-fabric/assets/mythic-charms/mythic_charms/lang/en_us.json
  projects/1.20-fabric/assets/mythic-charms/mythic_charms/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#3833 Physics Mod 翻译提交
  projects/1.20-fabric/assets/physics-mod/physicsmod/lang/en_us.json
  projects/1.20-fabric/assets/physics-mod/physicsmod/lang/zh_cn.json
  projects/1.20/assets/physics-mod/physicsmod/lang/en_us.json
  projects/1.20/assets/physics-mod/physicsmod/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, Forge, 1.20.x

#3851 Extra Utilities Reborn翻译提交
  projects/1.18/assets/extra-utilities-reborn/extrautilitiesrebirth/lang/en_us.json
  projects/1.18/assets/extra-utilities-reborn/extrautilitiesrebirth/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator

#3964 Applied Botanics 翻译更新
  projects/1.20-fabric/assets/applied-botanics-addon/appbot/packer-policy.json
  projects/1.20/assets/applied-botanics-addon/appbot/lang/en_us.json
  projects/1.20/assets/applied-botanics-addon/appbot/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, Forge, 1.20.x

#3965 MEGA Cells 翻译更新
  projects/1.20/assets/mega-cells/megacells/lang/en_us.json
  projects/1.20/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3995 Ars Artifice 翻译更新
  projects/1.20/assets/ars-artifice/ars_artifice/lang/en_us.json
  projects/1.20/assets/ars-artifice/ars_artifice/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#3997 Map Atlases 翻译更新
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/en_us.json
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4015 紧急修复policy
  .github/workflows/pr-packer.yml
  projects/1.20-fabric/assets/applied-botanics-addon/appbot/packer-policy.json
Labels: 10+, Fabric, 1.20.x

#4010 干掉 formatter
  .github/workflows/formatter.yml
Labels: help wanted, 即将合并, 1+, excluded-from-project-hex

#3954 Ocean's Delight 翻译修正
  projects/1.20-fabric/assets/oceans-delight/oceansdelight/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4000 Epic Knights'n'Mages 翻译提交
  projects/1.20/assets/epic-knightsnmages/knightsnmages/lang/en_us.json
  projects/1.20/assets/epic-knightsnmages/knightsnmages/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4009 Cataclysm 翻译更新
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3999 Plantable Ores 翻译提交
  projects/1.18/assets/plantable-ores/plantable_ores/lang/en_us.json
  projects/1.18/assets/plantable-ores/plantable_ores/lang/zh_cn.json
  projects/1.19/assets/plantable-ores/plantable_ores/lang/en_us.json
  projects/1.19/assets/plantable-ores/plantable_ores/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#4020 [Let's Do] NetherVinery 翻译提交
  projects/1.20-fabric/assets/lets-do-nethervinery/nethervinery/lang/en_us.json
  projects/1.20-fabric/assets/lets-do-nethervinery/nethervinery/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4019 [Let's Do] API 翻译提交
  projects/1.20-fabric/assets/do-api/doapi/lang/en_us.json
  projects/1.20-fabric/assets/do-api/doapi/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x
