Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-05, with the labels that each got.

#4327 打包文档优化
  Packer-Doc.md
Labels: 即将合并, 100+

#4342 停止支持 No Chat Reports 1.19
  config/packer/1.19.json
Labels: config, 即将合并, 1+

#4341 Better Tag Tips翻译提交
  projects/1.16/assets/better-tips/bettertags/lang/en_us.json
  projects/1.16/assets/better-tips/bettertags/lang/zh_cn.json
  projects/1.18/assets/better-tips/bettertags/lang/en_us.json
  projects/1.18/assets/better-tips/bettertags/lang/zh_cn.json
  projects/1.19/assets/better-tips/bettertags/lang/en_us.json
  projects/1.19/assets/better-tips/bettertags/lang/zh_cn.json
  projects/1.20/assets/better-tips/bettertags/lang/en_us.json
  projects/1.20/assets/better-tips/bettertags/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#4345 Ars Nouveau - Extended Glyphs 翻译更新
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/en_us.json
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4050 enlightend自用的汉化
  projects/1.19/assets/enlightend/enlightened_end/lang/en_us.json
  projects/1.19/assets/enlightend/enlightened_end/lang/zh_cn.json
Labels: 1000+, Forge, MCreator, 1.19.x

#2219 Enlightened end
  projects/1.18/assets/enlightend/enlightened_end/lang/en_us.json
  projects/1.18/assets/enlightend/enlightened_end/lang/zh_cn.json
Labels: 500+, 1.18.x, Forge, MCreator

#4217 Create Deco 1.20.1翻译提交
  projects/1.20/assets/create-deco/createdeco/lang/en_us.json
  projects/1.20/assets/create-deco/createdeco/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4353 packer-doc补逗号
  Packer-Doc.md
Labels: 即将合并, 1+

#4346 Silent Gear Compat 翻译更新
  projects/1.20/assets/silentgear-compat/silentcompat/lang/en_us.json
  projects/1.20/assets/silentgear-compat/silentcompat/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4014 Ube's Delight [Fabric] 翻译提交
  projects/1.20-fabric/assets/0-modrinth-mod/ubesdelight/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/ubesdelight/lang/zh_cn.json
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/en_us.json
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#4332 Dye Depot翻译提交
  projects/1.20-fabric/assets/dye-depot/dye_depot/lang/en_us.json
  projects/1.20-fabric/assets/dye-depot/dye_depot/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, 1.20.x

#4012 Burning Furnace 翻译提交
  projects/1.16/assets/burning-furnace/burningfurnace/lang/en_us.json
  projects/1.16/assets/burning-furnace/burningfurnace/lang/zh_cn.json
  projects/1.18/assets/burning-furnace/burningfurnace/lang/en_us.json
  projects/1.18/assets/burning-furnace/burningfurnace/lang/zh_cn.json
  projects/1.19/assets/burning-furnace/burningfurnace/lang/en_us.json
  projects/1.19/assets/burning-furnace/burningfurnace/lang/zh_cn.json
  projects/1.20/assets/burning-furnace/burningfurnace/lang/en_us.json
  projects/1.20/assets/burning-furnace/burningfurnace/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#4348 Dyenamics、Dyenamics & Friends 翻译更新
  projects/1.20/assets/dyenamics/dyenamics/lang/en_us.json
  projects/1.20/assets/dyenamics/dyenamics/lang/zh_cn-base.json
  projects/1.20/assets/dyenamics/dyenamics/lang/zh_cn-composition.json
  projects/1.20/assets/dyenamics/dyenamics/packer-policy.json
  projects/1.20/assets/dyenamicsandfriends/dyenamicsandfriends/lang/en_us.json
  projects/1.20/assets/dyenamicsandfriends/dyenamicsandfriends/lang/zh_cn-base.json
  projects/1.20/assets/dyenamicsandfriends/dyenamicsandfriends/lang/zh_cn-composition.json
  projects/1.20/assets/dyenamicsandfriends/dyenamicsandfriends/packer-policy.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4349 1.20 Mob Grinding Utils+Patchouli翻译更新
  projects/1.20/assets/mob-grinding-utils/mob_grinding_utils/lang/en_us.json
  projects/1.20/assets/mob-grinding-utils/mob_grinding_utils/lang/zh_cn.json
  projects/1.20/assets/patchouli/patchouli/lang/en_us.json
  projects/1.20/assets/patchouli/patchouli/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4352 Adam's Ars Plus 翻译提交
  projects/1.20/assets/adams-ars-plus/adamsarsplus/lang/en_us.json
  projects/1.20/assets/adams-ars-plus/adamsarsplus/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4334 Relics Alex's Caves Compat 翻译提交
  projects/1.20/assets/rac-compat/raccompat/lang/en_us.json
  projects/1.20/assets/rac-compat/raccompat/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4354 回滚先前对摄氏温标的更改
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
  projects/1.12.2/assets/1UNKNOWN/germplasm/lang/zh_cn.lang
  projects/1.12.2/assets/better-diving/better_diving/lang/zh_cn.lang
  projects/1.12.2/assets/crossroads-mc/crossroads/lang/zh_cn.lang
  projects/1.12.2/assets/gregtechce/gregtech/lang/zh_cn.lang
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.lang
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/base_concepts/heat_sources.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/machines/heat_sink.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/manufacturing/plastic_mixer.json
  projects/1.12.2/assets/pneumaticcraft-repressurized/pneumaticcraft/patchouli_books/book/zh_cn/entries/manufacturing/refinery.json
  projects/1.12.2/assets/prodigy-tech/prodigytech/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-complement/tcomplement/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-construct/tconstruct/lang/zh_cn.lang
  projects/1.12.2/assets/tinkers-forging/tinkersforging/lang/zh_cn.lang
  projects/1.12.2/assets/ultimate-car-mod/car/lang/zh_cn.lang
  projects/1.16/assets/crossroads-mc/crossroads/lang/zh_cn.json
  projects/1.16/assets/futurepack/futurepack/lang/zh_cn/story.crystal_n.json
  projects/1.16/assets/mekanism/mekanism/lang/zh_cn.json
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.16/assets/tinkers-construct/tconstruct/lang/zh_cn.json
  projects/1.18/assets/crossroads-mc/crossroads/lang/zh_cn.json
  projects/1.18/assets/futurepack/futurepack/lang/zh_cn/story.crystal_n.json
  projects/1.18/assets/mekanism/mekanism/lang/zh_cn.json
  projects/1.18/assets/nuclearscience/nuclearscience/lang/zh_cn.json
  projects/1.18/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
Labels: help wanted, 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Forge, Patchouli

#4109 Wizardry Next Generation 翻译提交
  projects/1.12.2/assets/wizardry-next-generation/wizardrynextgeneration/lang/en_us.lang
  projects/1.12.2/assets/wizardry-next-generation/wizardrynextgeneration/lang/zh_cn.lang
Labels: 1.12.x, 500+, Forge

#4070 Mo' Shiz 翻译提交
  projects/1.20/assets/mo-shiz-mod/ms/lang/en_us.json
  projects/1.20/assets/mo-shiz-mod/ms/lang/zh_cn.json
Labels: 即将合并, 5000+, Forge, 1.20.x

#4301 BetterQuestingUnofficial翻译提交
  projects/1.12.2/assets/better-questing-unofficial/betterquesting/lang/en_us.lang
  projects/1.12.2/assets/better-questing-unofficial/betterquesting/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 500+, Forge

#4204 Thermal Extra 翻译提交
  projects/1.16/assets/thermal_extra/thermal_extra/lang/en_us.json
  projects/1.16/assets/thermal_extra/thermal_extra/lang/zh_cn.json
  projects/1.20/assets/thermal_extra/thermal_extra/lang/en_us.json
  projects/1.20/assets/thermal_extra/thermal_extra/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge, 1.20.x

#3642 Draconic Evolution 翻译更新
  projects/1.16/assets/draconic-evolution/draconicevolution/lang/en_us.json
  projects/1.16/assets/draconic-evolution/draconicevolution/lang/zh_cn.json
  projects/1.18/assets/draconic-evolution/draconicevolution/lang/en_us.json
  projects/1.18/assets/draconic-evolution/draconicevolution/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge

#4305 Deep Blood Evolution 翻译提交
  projects/1.12.2/assets/1UNKNOWN/deepmoblearningbm/lang/en_us.lang
  projects/1.12.2/assets/1UNKNOWN/deepmoblearningbm/lang/zh_cn.lang
  projects/1.12.2/assets/deep-mob-learning-blood-magic-addon/deepmoblearningbm/lang/en_us.lang
  projects/1.12.2/assets/deep-mob-learning-blood-magic-addon/deepmoblearningbm/lang/zh_cn.lang
Labels: help wanted, 1.12.x, 即将合并, 100+, Forge

#4359 StarbuncleMania 翻译更新
  projects/1.19/assets/starbunclemania/starbunclemania/lang/zh_cn.json
  projects/1.20/assets/starbunclemania/starbunclemania/lang/en_us.json
  projects/1.20/assets/starbunclemania/starbunclemania/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x

#4358 Ars Nouveau - Extended Glyphs 翻译更新
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/en_us.json
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4357 MEGA Cells 翻译更新
  projects/1.20/assets/mega-cells/megacells/lang/en_us.json
  projects/1.20/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4362 Builder's Delight 翻译更新
  projects/1.18/assets/builders-delight-forge/buildersdelight/lang/zh_cn.json
  projects/1.19/assets/builders-delight-forge/buildersdelight/lang/zh_cn.json
  projects/1.20/assets/builders-delight-forge/buildersdelight/lang/en_us.json
  projects/1.20/assets/builders-delight-forge/buildersdelight/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4289 Macaw's Bridges 翻译更新
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn-base.json
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn-composition.json
  projects/1.16/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.16/assets/macaws-bridges/mcwbridges/packer-policy.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.18/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.18/assets/macaws-bridges/mcwbridges/packer-policy.json
  projects/1.18/assets/macaws-bridges/mcwbridges/readme.md
  projects/1.19/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.19/assets/macaws-bridges/mcwbridges/lang/zh_cn-composition-fix.json
  projects/1.19/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.19/assets/macaws-bridges/mcwbridges/packer-policy.json
  projects/1.19/assets/macaws-bridges/mcwbridges/readme.md
  projects/1.20/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.20/assets/macaws-bridges/mcwbridges/lang/zh_cn-composition-fix.json
  projects/1.20/assets/macaws-bridges/mcwbridges/lang/zh_cn.json
  projects/1.20/assets/macaws-bridges/mcwbridges/packer-policy.json
  projects/1.20/assets/macaws-bridges/mcwbridges/readme.md
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#4303 Spit Splat翻译提交
  projects/1.20/assets/spit-splat/splat/lang/en_us.json
  projects/1.20/assets/spit-splat/splat/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4343 L_Ender's Cataclysm 翻译更新
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#4360 Skill cloaks 翻译提交并更新
  projects/1.16/assets/skill-cloaks/skillcloaks/lang/en_us.json
  projects/1.16/assets/skill-cloaks/skillcloaks/lang/zh_cn.json
  projects/1.18/assets/skill-cloaks/skillcloaks/lang/en_us.json
  projects/1.18/assets/skill-cloaks/skillcloaks/lang/zh_cn.json
  projects/1.19/assets/skill-cloaks/skillcloaks/lang/en_us.json
  projects/1.19/assets/skill-cloaks/skillcloaks/lang/zh_cn.json
  projects/1.20/assets/skill-cloaks/skillcloaks/lang/en_us.json
  projects/1.20/assets/skill-cloaks/skillcloaks/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#4355 Scape and Run Parasites Addon: Cotesia Glomerata 翻译提交、Scape And Run: Parasite Vaccine翻译修改
  projects/1.12.2/assets/scape-and-run-parasite-vaccine/scapeandrunvaccine/lang/zh_cn.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge, MCreator

#4372 Macaw's Paths and Pavings 翻译更新
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn-base.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn-composition.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.16/assets/macaws-paths-and-pavings/mcwpaths/packer-policy.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/README.md
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/packer-policy.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/README.md
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn-composition-fix.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.19/assets/macaws-paths-and-pavings/mcwpaths/packer-policy.json
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/README.md
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/lang/zh_cn.json
  projects/1.20/assets/macaws-paths-and-pavings/mcwpaths/packer-policy.json
Labels: 1.16.x, 即将合并, 1000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4259 提交Akisephila's Bosses翻译
  projects/1.16/assets/akisephilas-bosses/akisephilas_bosses/lang/en_us.json
  projects/1.16/assets/akisephilas-bosses/akisephilas_bosses/lang/zh_cn.json
Labels: help wanted, 1.16.x, 即将合并, 100+, laborious, Forge

#4371 TCIntegrations 翻译更新
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
  projects/1.19/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.19/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#4007 Solar Flux Reborn 翻译提交
  projects/1.19/assets/solar-flux-reborn/solarflux/lang/en_us.lang
  projects/1.19/assets/solar-flux-reborn/solarflux/lang/zh_cn.lang
Labels: 即将合并, 100+, Forge, 1.19.x

#4377 end-expansion-the-lamented-islands
  projects/1.12.2/assets/end-expansion-the-lamented-islands/ee/lang/en_us.lang
  projects/1.12.2/assets/end-expansion-the-lamented-islands/ee/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4379 Dyenamics 翻译更新
  projects/1.20/assets/dyenamics/dyenamics/lang/en_us.json
  projects/1.20/assets/dyenamics/dyenamics/lang/zh_cn-composition.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4382 reacharound 翻译提交
  projects/1.20-fabric/assets/reacharound/reacharound/lang/en_us.json
  projects/1.20-fabric/assets/reacharound/reacharound/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4369 Oceanic Expanse 翻译更新 翻译修改
  projects/1.12.2/assets/oceanic-expanse/oe/lang/en_us.lang
  projects/1.12.2/assets/oceanic-expanse/oe/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#4366 Particle Core 翻译提交
  projects/1.20-fabric/assets/particle-core/particle_core/lang/en_us.json
  projects/1.20-fabric/assets/particle-core/particle_core/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4386 fast-paintings 翻译提交
  projects/1.20-fabric/assets/fast-paintings/fastpaintings/lang/en_us.json
  projects/1.20-fabric/assets/fast-paintings/fastpaintings/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4383 Dave's Building Extended 翻译提交
  projects/1.18/assets/daves-building-extended/davebuildingmod/lang/en_us.json
  projects/1.18/assets/daves-building-extended/davebuildingmod/lang/zh_cn.json
  projects/1.19/assets/daves-building-extended/davebuildingmod/lang/en_us.json
  projects/1.19/assets/daves-building-extended/davebuildingmod/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge, MCreator, 1.19.x

#4389 AE Additions 翻译修补
  projects/1.18/assets/ae-additions-extra-cells-2-fork/ae2additions/lang/en_us.json
  projects/1.18/assets/ae-additions-extra-cells-2-fork/ae2additions/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#4390 AE2 相关附属翻译修补
  projects/1.18-fabric/assets/ae2things/ae2things/lang/zh_cn.json
  projects/1.18/assets/ae2-things-forge/ae2things/lang/en_us.json
  projects/1.18/assets/ae2-things-forge/ae2things/lang/zh_cn.json
  projects/1.18/assets/applied-botanics-addon/appbot/lang/zh_cn.json
  projects/1.18/assets/applied-mekanistics/appmek/lang/zh_cn.json
  projects/1.19/assets/applied-botanics-addon/appbot/lang/zh_cn.json
  projects/1.19/assets/applied-mekanistics/appmek/lang/zh_cn.json
  projects/1.19/assets/ars-energistique/arseng/lang/zh_cn.json
  projects/1.20/assets/AE2-Insert-Export-Card/ae2insertexportcard/lang/en_us.json
  projects/1.20/assets/AE2-Insert-Export-Card/ae2insertexportcard/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4391 vanilla-degus 翻译提交
  projects/1.20-fabric/assets/vanilla-degus/vanilla_degus/lang/en_us.json
  projects/1.20-fabric/assets/vanilla-degus/vanilla_degus/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4400 [Arknights] Skadi Orca Plushie 翻译提交
  projects/1.20-fabric/assets/arknights-skadi-orca-plushie/skadi_orca_plushie/lang/en_us.json
  projects/1.20-fabric/assets/arknights-skadi-orca-plushie/skadi_orca_plushie/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4110 expanded storage 翻译提交
  projects/1.20/assets/expanded-storage/expandedstorage/lang/en_us.json
  projects/1.20/assets/expanded-storage/expandedstorage/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4407 EMI 翻译更改
  projects/1.18/assets/emi/emi/lang/en_us.json
  projects/1.18/assets/emi/emi/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge
