Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-11, with the labels that each got.

#4764 Modular Routers 翻译修正
  projects/1.12.2/assets/modular-routers/modularrouters/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4770 Aerial Affinity 翻译提交
  projects/1.12.2/assets/aerial-affinity/aerialaffinity/lang/en_us.lang
  projects/1.12.2/assets/aerial-affinity/aerialaffinity/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4033 exblades 翻译修正提交
  projects/1.18/assets/1UNKNOWN/exblades/lang/en_us.json
  projects/1.18/assets/1UNKNOWN/exblades/lang/ja_jp.json
  projects/1.18/assets/1UNKNOWN/exblades/lang/zh_cn.json
  projects/1.18/assets/exblades/exblades/lang/zh_cn.json
Labels: 需要帮助, 问题, 即将合并, 500+, 审阅困难, 1.18.x, Forge, 日语, 1.20.x, 需要公示

#4036 slashblade 1.20.1 翻译提交
  projects/1.20/assets/slashblade/slashblade/lang/en_us.json
  projects/1.20/assets/slashblade/slashblade/lang/ja_jp.json
  projects/1.20/assets/slashblade/slashblade/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 日语, 1.20.x, 需要公示

#4579 Immersive Engineering 1.20.4翻译提交
  projects/1.20/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.20/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, 需要公示, (Neo)Forge

#4613 worldtools 翻译提交
  projects/1.20-fabric/assets/worldtools/worldtools/lang/en_us.json
  projects/1.20-fabric/assets/worldtools/worldtools/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4686 Astrocraft 翻译提交
  projects/1.20-fabric/assets/modrinth-astrocraft/astrocraft/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-astrocraft/astrocraft/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-astrocraft/astrocraft/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-astrocraft/astrocraft/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x, 1.21.x

#4746 Cracker's Wither Storm Mod汉化更新+修正
  projects/1.20/assets/crackers-wither-storm-mod/witherstormmod/lang/en_us.json
  projects/1.20/assets/crackers-wither-storm-mod/witherstormmod/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, (Neo)Forge

#4765 仓库内 Alfheim 译名统一
  projects/1.12.2/assets/botania/botania/lang/zh_cn.lang
  projects/1.12.2/assets/botaniverse/botaniverse/lang/zh_cn.lang
  projects/1.12.2/assets/botaunomy/botaunomy/lang/zh_cn.lang
  projects/1.16/assets/botania/botania/lang/zh_cn.json
  projects/1.16/assets/mythicbotany/mythicbotany/lang/zh_cn.json
  projects/1.18/assets/botania/botania/lang/zh_cn.json
  projects/1.18/assets/mythicbotany/mythicbotany/lang/zh_cn.json
  projects/1.18/assets/mythicbotany/mythicbotany_lexicon/lang/zh_cn.json
  projects/1.18/assets/tcintegrations/tcintegrations/lang/zh_cn.json
  projects/1.19/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4753 Extra Bees & Career Bees & Magic Bees翻译修正
  projects/1.12.2/assets/binnies-mods/extrabees/lang/zh_cn.lang
  projects/1.12.2/assets/career-bees/careerbees/lang/zh_cn.lang
  projects/1.12.2/assets/magic-bees/magicbees/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#4773 修正Flask被误译为“面具”的错误
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4775 Under the Moon 翻译修正
  projects/1.20/assets/under-the-moon/under_the_moon/lang/zh_cn.json
Labels: 即将合并, 1+, MCreator, 1.20.x, (Neo)Forge

#4774 Mekanism: Science 翻译更新
  projects/1.20/assets/mekanism-science/mekanismscience/lang/en_us.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/ja_jp.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/zh_cn.json
Labels: 即将合并, 100+, 日语, 1.20.x, (Neo)Forge

#4769 Large Meals 翻译提交
  projects/1.20/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/en_us.json
  projects/1.20/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4762 Charred Horizons 翻译提交
  projects/1.20/assets/charred-horizons/charred_horizons/lang/en_us.json
  projects/1.20/assets/charred-horizons/charred_horizons/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4761 Piglin Ruins 翻译提交
  projects/1.20/assets/piglin-ruins/piglin_ruins/lang/en_us.json
  projects/1.20/assets/piglin-ruins/piglin_ruins/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4745 Ars Scalaes、Ars Energistique、StarbuncleMania 翻译更新
  projects/1.20/assets/ars-scalaes/ars_scalaes/lang/en_us.json
  projects/1.20/assets/ars-scalaes/ars_scalaes/lang/zh_cn-fix.json
  projects/1.20/assets/ars-scalaes/ars_scalaes/lang/zh_cn.json
  projects/1.20/assets/ars-scalaes/ars_scalaes/packer-policy.json
  projects/1.21/assets/ars-energistique/arseng/lang/en_us.json
  projects/1.21/assets/ars-energistique/arseng/lang/zh_cn.json
  projects/1.21/assets/starbunclemania/starbunclemania/lang/en_us.json
  projects/1.21/assets/starbunclemania/starbunclemania/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#4777 1.21 字体修复修复
  projects/1.20/assets/minecraft/minecraft/font/default.json
  projects/1.21-fabric/assets/minecraft/minecraft/README.md
  projects/1.21-fabric/assets/minecraft/minecraft/packer-policy.json
  projects/1.21/assets/minecraft/minecraft/README.md
Labels: 即将合并, 10+, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#4785 Vinery 1.18 翻译更新及修正
  projects/1.18-fabric/assets/lets-do-wine/vinery/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Fabric

#4771 Wireless Chargers 翻译提交
  projects/1.12.2/assets/wireless-chargers/wirelesschargers/packer-policy.json
  projects/1.16/assets/wireless-chargers/wirelesschargers/packer-policy.json
  projects/1.18/assets/wireless-chargers/wirelesschargers/packer-policy.json
  projects/1.19/assets/wireless-chargers/wirelesschargers/packer-policy.json
  projects/1.20/assets/wireless-chargers/wirelesschargers/packer-policy.json
  projects/1.21/assets/wireless-chargers/wirelesschargers/lang/en_us.json
  projects/1.21/assets/wireless-chargers/wirelesschargers/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#4497 Macaw's Windows 1.12 翻译提交
  projects/1.12.2/assets/macaws-windows/mcwwindows/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4782 Better McDonald's Mod 翻译提交
  projects/1.21-fabric/assets/better-mcdonalds-mod/better_mcdonalds_mod/lang/en_us.json
  projects/1.21-fabric/assets/better-mcdonalds-mod/better_mcdonalds_mod/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#4783 MmmMmmMmmMmm-Fabric (target dummy) 1.20.1-fabric 翻译更新
  projects/1.20-fabric/assets/mmmmmmmmmmmm-fabric/dummmmmmy/lang/en_us.json
  projects/1.20-fabric/assets/mmmmmmmmmmmm-fabric/dummmmmmy/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4758 El and L's Dyes 翻译提交与 Excessive Building 翻译修复
  projects/1.20-fabric/assets/el-and-ls-dyes/biomemakeover/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/biomemakeover/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/biomemakeover/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/botanypots/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/botanypots/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/botanypots/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/comforts/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/comforts/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/comforts/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/cookingforblockheads/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/cookingforblockheads/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/cookingforblockheads/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/create/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/create/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/create/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/createdeco/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/createdeco/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/createdeco/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/excessive_building/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/excessive_building/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/excessive_building/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/mint/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/mint/lang/zh_cn-base.json
  projects/1.20-fabric/assets/el-and-ls-dyes/mint/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/mint/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/sleep_tight/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/sleep_tight/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/sleep_tight/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/snowyspirit/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/snowyspirit/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/snowyspirit/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/supplementaries/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/supplementaries/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/supplementaries/packer-policy.json
  projects/1.20-fabric/assets/el-and-ls-dyes/suppsquared/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/suppsquared/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/el-and-ls-dyes/suppsquared/packer-policy.json
  projects/1.20-fabric/assets/excessive-building/excessive_building/README.md
  projects/1.21-fabric/assets/excessive-building/excessive_building/README.md
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/zh_cn-base.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/zh_cn-composition.json
Labels: 即将合并, 2000+, Fabric, 1.20.x

#4795 Under the Moon 译义修正
  projects/1.20/assets/under-the-moon/under_the_moon/lang/zh_cn.json
Labels: 即将合并, 1+, MCreator, 1.20.x, (Neo)Forge

#4794 Excessive Building 翻译更新
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/en_us.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/zh_cn-base.json
Labels: 即将合并, 10+, Fabric, 1.21.x

#4787 NEEPMeat 翻译提交
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/README.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/index_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/index_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/local-config.json
Labels: 即将合并, 2000+, Fabric, 1.20.x

#4755 Chipped 更新与改组合文件
  projects/1.16/assets/chipped/chipped/README.md
  projects/1.18/assets/chipped/chipped/README.md
  projects/1.19/assets/chipped/chipped/README.md
  projects/1.19/assets/chipped/chipped/lang/zh_cn-base-fix.json
  projects/1.19/assets/chipped/chipped/lang/zh_cn-composition-fix.json
  projects/1.19/assets/chipped/chipped/lang/zh_cn.json
  projects/1.19/assets/chipped/chipped/packer-policy.json
  projects/1.20-fabric/assets/chipped/chipped/README.md
  projects/1.20-fabric/assets/chipped/chipped/lang/en_us.json
  projects/1.20-fabric/assets/chipped/chipped/lang/zh_cn.json
  projects/1.20-fabric/assets/chipped/chipped/packer-policy.json
  projects/1.20/assets/chipped/chipped/README.md
  projects/1.20/assets/chipped/chipped/lang/zh_cn.json
  projects/1.20/assets/chipped/chipped/packer-policy.json
  projects/1.21-fabric/assets/chipped/chipped/README.md
  projects/1.21-fabric/assets/chipped/chipped/lang/en_us.json
  projects/1.21-fabric/assets/chipped/chipped/packer-policy.json
  projects/1.21/assets/chipped/chipped/README.md
  projects/1.21/assets/chipped/chipped/lang/en_us.json
  projects/1.21/assets/chipped/chipped/lang/zh_cn-base.json
  projects/1.21/assets/chipped/chipped/lang/zh_cn-composition-fix.json
  projects/1.21/assets/chipped/chipped/lang/zh_cn-composition.json
  projects/1.21/assets/chipped/chipped/packer-policy.json
Labels: 1.16.x, 即将合并, 审阅困难, 5000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#2500 Chipped 1.18 翻译更新
  projects/1.18/assets/chipped/chipped/lang/en_us.json
  projects/1.18/assets/chipped/chipped/lang/zh_cn.json
Labels: 即将合并, 审阅困难, 5000+, 1.18.x, Forge

#4627 Pollution of the Realms 翻译更新
  projects/1.16/assets/pollution-of-the-realms/adpother/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Forge

#4789 Trinkets 翻译更新
  projects/1.18-fabric/assets/trinkets-fabric/trinkets/lang/zh_cn.json
  projects/1.18-fabric/assets/trinkets/trinkets/lang/en_us.json
  projects/1.18-fabric/assets/trinkets/trinkets/lang/zh_cn.json
  projects/1.19/assets/trinkets/trinkets/lang/en_us.json
  projects/1.19/assets/trinkets/trinkets/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x

#4791 Create: Astral 系列mod提交
  projects/1.18-fabric/assets/astral-generators-for-create-astral/astralgenerators/lang/en_us.json
  projects/1.18-fabric/assets/astral-generators-for-create-astral/astralgenerators/lang/zh_cn.json
  projects/1.18-fabric/assets/astral-vinery/astralvinery/lang/en_us.json
  projects/1.18-fabric/assets/astral-vinery/astralvinery/lang/zh_cn.json
  projects/1.18-fabric/assets/per-aspera/per_aspera/lang/en_us.json
  projects/1.18-fabric/assets/per-aspera/per_aspera/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric

#4799 Ars Elixirum 翻译提交
  projects/1.21-fabric/assets/ars-elixirum/elixirum/README.md
  projects/1.21-fabric/assets/ars-elixirum/elixirum/lang/en_us.json
  projects/1.21-fabric/assets/ars-elixirum/elixirum/packer-policy.json
  projects/1.21/assets/ars-elixirum-forge/elixirum/README.md
  projects/1.21/assets/ars-elixirum-forge/elixirum/lang/en_us.json
  projects/1.21/assets/ars-elixirum-forge/elixirum/packer-policy.json
  projects/1.21/assets/ars-elixirum-neoforge/elixirum/README.md
  projects/1.21/assets/ars-elixirum-neoforge/elixirum/lang/en_us.json
  projects/1.21/assets/ars-elixirum-neoforge/elixirum/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, 1.21.x, (Neo)Forge

#4759 Ars Controle、Ars Technica、All the Arcanist Gears 翻译更新
  projects/1.20/assets/ars-technica/ars_technica/lang/en_us.json
  projects/1.20/assets/ars-technica/ars_technica/lang/zh_cn.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/en_us.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/zh_cn.json
  projects/1.21/assets/ars-controle/ars_controle/lang/en_us.json
  projects/1.21/assets/ars-controle/ars_controle/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#4804 Dye the World 翻译提交
  projects/1.20/assets/dye-the-world/chalk/lang/en_us.json
  projects/1.20/assets/dye-the-world/chalk/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/chalk/packer-policy.json
  projects/1.20/assets/dye-the-world/comforts/lang/en_us.json
  projects/1.20/assets/dye-the-world/comforts/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/comforts/packer-policy.json
  projects/1.20/assets/dye-the-world/create/lang/en_us.json
  projects/1.20/assets/dye-the-world/create/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/create/packer-policy.json
  projects/1.20/assets/dye-the-world/createdeco/lang/en_us.json
  projects/1.20/assets/dye-the-world/createdeco/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/createdeco/packer-policy.json
  projects/1.20/assets/dye-the-world/dye_the_world/lang/en_us.json
  projects/1.20/assets/dye-the-world/dye_the_world/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/dye_the_world/packer-policy.json
  projects/1.20/assets/dye-the-world/railways/lang/en_us.json
  projects/1.20/assets/dye-the-world/railways/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/railways/packer-policy.json
  projects/1.20/assets/dye-the-world/supplementaries/lang/en_us.json
  projects/1.20/assets/dye-the-world/supplementaries/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/supplementaries/packer-policy.json
  projects/1.20/assets/dye-the-world/suppsquared/lang/en_us.json
  projects/1.20/assets/dye-the-world/suppsquared/lang/zh_cn-composition.json
  projects/1.20/assets/dye-the-world/suppsquared/packer-policy.json
Labels: 即将合并, 1000+, 1.20.x, (Neo)Forge

#4813 Oceanic Delight 翻译提交
  projects/1.20/assets/oceanic-delight/oceanic_delight/lang/en_us.json
  projects/1.20/assets/oceanic-delight/oceanic_delight/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, (Neo)Forge

#4715 Guarding 翻译提交
  projects/1.21-fabric/assets/guarding/guarding/lang/en_us.json
  projects/1.21-fabric/assets/guarding/guarding/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x

#4798 All the Wood We've Got 翻译提交
  projects/1.20-fabric/assets/all-the-wood-weve-got/woodwevegot/README.md
  projects/1.20-fabric/assets/all-the-wood-weve-got/woodwevegot/lang/en_us.json
  projects/1.20-fabric/assets/all-the-wood-weve-got/woodwevegot/packer-policy.json
  projects/1.20/assets/all-the-wood-weve-got/woodwevegot/README.md
  projects/1.20/assets/all-the-wood-weve-got/woodwevegot/lang/en_us.json
  projects/1.20/assets/all-the-wood-weve-got/woodwevegot/packer-policy.json
  projects/1.21-fabric/assets/all-the-wood-weve-got/woodwevegot/README.md
  projects/1.21-fabric/assets/all-the-wood-weve-got/woodwevegot/lang/en_us.json
  projects/1.21-fabric/assets/all-the-wood-weve-got/woodwevegot/packer-policy.json
  projects/1.21/assets/all-the-wood-weve-got/woodwevegot/README.md
  projects/1.21/assets/all-the-wood-weve-got/woodwevegot/lang/en_us.json
  projects/1.21/assets/all-the-wood-weve-got/woodwevegot/lang/zh_cn-composition.json
  projects/1.21/assets/all-the-wood-weve-got/woodwevegot/packer-policy.json
Labels: 即将合并, 100+, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#4800 Biomancy 2.8.19 翻译更新
  projects/1.20/assets/biomancy/biomancy/lang/en_us.json
  projects/1.20/assets/biomancy/biomancy/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4801 Rubinated Nether 翻译更新
  projects/1.20/assets/rubinated-nether/rubinated_nether/lang/en_us.json
  projects/1.20/assets/rubinated-nether/rubinated_nether/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4806 1.20.x Building Wands翻译添加
  projects/1.20/assets/building-wands/wands/lang/en_us.json
  projects/1.20/assets/building-wands/wands/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4812 AE2 Import Export Card 翻译提交
  projects/1.21/assets/ae2-import-export-card/ae2importexportcard/lang/en_us.json
  projects/1.21/assets/ae2-import-export-card/ae2importexportcard/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#4814 YUNG's Cave Biomes 翻译提交
  projects/1.20-fabric/assets/yungs-cave-biomes/yungscavebiomes/lang/en_us.json
  projects/1.20-fabric/assets/yungs-cave-biomes/yungscavebiomes/lang/zh_cn.json
  projects/1.20/assets/yungs-cave-biomes/yungscavebiomes/lang/en_us.json
  projects/1.20/assets/yungs-cave-biomes/yungscavebiomes/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#4816 More Tetra Materials 翻译更新
  projects/1.20/assets/more-tetra-materials/mtetm/lang/en_us.json
  projects/1.20/assets/more-tetra-materials/mtetm/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge
