Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-04, with the labels that each got.

#4270 The Graveyard 墓园 “腐化英雄”&“深板岩” 译名修改
  projects/1.20/assets/the-graveyard-forge/graveyard/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4283 create metalwork 机械动力：冶铸业汉化提交
  projects/1.20-fabric/assets/create-metalwork-fabric/createmetalwork/lang/en_us.json
  projects/1.20-fabric/assets/create-metalwork-fabric/createmetalwork/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 100+, Fabric, Forge, 1.20.x

#4277 Trash Bin 翻译提交
  projects/1.19/assets/trash-bin/trash_bin/lang/en_us.json
  projects/1.19/assets/trash-bin/trash_bin/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4128 热力物流学翻译补充/修复
  projects/1.12.2/assets/thermallogistics/thermallogistics/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4284 Ender IO 汉化更新
  projects/1.12.2/assets/1UNKNOWN/enderio/lang/zh_cn.lang
  projects/1.12.2/assets/simple-storage-network/storagenetwork/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4279 Mighty Mail 翻译提交
  projects/1.19/assets/mighty-mail/mighty_mail/lang/en_us.json
  projects/1.19/assets/mighty-mail/mighty_mail/lang/zh_cn.json
  projects/1.20-fabric/assets/mighty-mail/mighty_mail/lang/en_us.json
  projects/1.20-fabric/assets/mighty-mail/mighty_mail/lang/zh_cn.json
  projects/1.20/assets/mighty-mail/mighty_mail/lang/en_us.json
  projects/1.20/assets/mighty-mail/mighty_mail/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.19.x, 1.20.x

#4268 Wild Lands 翻译提交
  projects/1.20/assets/wildlands/wildlands/lang/en_us.json
  projects/1.20/assets/wildlands/wildlands/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4262 Chili Bullet Weapons 翻译提交
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/lang/zh_cn.json
  projects/1.20/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.20/assets/chili-bullet-weapons/chilibulletweapons/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#4293 Roost Re-hatched翻译提交
  projects/1.20/assets/roost-re-hatched/roost/lang/en_us.json
  projects/1.20/assets/roost-re-hatched/roost/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4290 Chainmailed 翻译提交
  projects/1.19/assets/chainmailed/chainmailed/lang/en_us.json
  projects/1.19/assets/chainmailed/chainmailed/lang/zh_cn.json
  projects/1.20/assets/chainmailed/chainmailed/lang/en_us.json
  projects/1.20/assets/chainmailed/chainmailed/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x

#4286 Biomes O' Plenty 翻译更新
  projects/1.20/assets/biomes-o-plenty/biomesoplenty/lang/en_us.json
  projects/1.20/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4294 Gendustry 翻译修正
  projects/1.12.2/assets/gendustry/gendustry/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#3959 Born in chaos 翻译提交
  projects/1.20/assets/born-in-chaos/born_in_chaos_v1/lang/en_us.json
  projects/1.20/assets/born-in-chaos/born_in_chaos_v1/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4278 Roof Compatibility for TFC/Macaw 翻译提交
  projects/1.18/assets/roof-compatibility-for-tfc-macaw/mcw_tfc_roof/lang/en_us.json
  projects/1.18/assets/roof-compatibility-for-tfc-macaw/mcw_tfc_roof/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge

#4285 Dawn of Time 翻译提交
  projects/1.20/assets/dawn-of-time/dawnoftimebuilder/lang/en_us.json
  projects/1.20/assets/dawn-of-time/dawnoftimebuilder/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4228 Biomancy 翻译更新与提交
  projects/1.20/assets/biomancy/biomancy/lang/en_us.json
  projects/1.20/assets/biomancy/biomancy/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4254 Isometric Renders 翻译提交
  projects/1.18-fabric/assets/isometric-renders/isometric-renders/lang/zh_cn-fixup.json
  projects/1.18-fabric/assets/isometric-renders/isometric-renders/lang/zh_cn.json
  projects/1.18-fabric/assets/isometric-renders/isometric-renders/packer-policy.json
  projects/1.19/assets/isometric-renders/isometric-renders/lang/zh_cn-fixup.json
  projects/1.19/assets/isometric-renders/isometric-renders/lang/zh_cn.json
  projects/1.19/assets/isometric-renders/isometric-renders/packer-policy.json
  projects/1.20-fabric/assets/isometric-renders/isometric-renders/lang/en_us.json
  projects/1.20-fabric/assets/isometric-renders/isometric-renders/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4292 Glassential 翻译更新
  projects/1.20/assets/glassential/glassential/lang/en_us.json
  projects/1.20/assets/glassential/glassential/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4312 Dis enchanting table翻译提交1.20
  projects/1.20/assets/dis-enchanting-table/disenchanting_table/lang/en_us.json
  projects/1.20/assets/dis-enchanting-table/disenchanting_table/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4331 Packed up backpacks翻译提交
  projects/1.20/assets/packed-up-backpacks/packedup/lang/en_us.json
  projects/1.20/assets/packed-up-backpacks/packedup/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4330 Nether skeletons翻译提交
  projects/1.20/assets/nether-skeletons/netherskeletons/lang/en_us.json
  projects/1.20/assets/nether-skeletons/netherskeletons/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4328 Chalk 翻译更新
  projects/1.20/assets/chalk/chalk/lang/en_us.json
  projects/1.20/assets/chalk/chalk/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4325 ProjectRed Expansion 翻译修正
  projects/1.12.2/assets/project-red-base/projectred/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4288 MineMenu 1.20 Forge翻译提交
  projects/1.20/assets/minemenu/menu/lang/en_us.json
  projects/1.20/assets/minemenu/menu/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4113 Missing Wilds 翻译更新
  projects/1.18/assets/missing-wilds-forge/missingwilds/lang/zh_cn.json
  projects/1.20/assets/missing-wilds-forge/missingwilds/lang/en_us.json
  projects/1.20/assets/missing-wilds-forge/missingwilds/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.20.x

#4220 Iron Chests: Restocked 翻译提交
  projects/1.19/assets/ironchests/ironchests/lang/en_us.json
  projects/1.19/assets/ironchests/ironchests/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4335 Biomancy 译名更改
  projects/1.20/assets/biomancy/biomancy/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4318 Dungeons plus翻译提交1.20
  projects/1.20/assets/dungeons-plus/dungeons_plus/lang/en_us.json
  projects/1.20/assets/dungeons-plus/dungeons_plus/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#3228 Ars Nouveau: GEARs 翻译提交
  projects/1.16/assets/ars-nouveau-gears/ars_gears/lang/en_us.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/lang/zh_cn.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/book.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/categories/ars_gears.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/ars_gears/combat_gear.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/ars_gears/starting_ars_gears.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/ars_gears/utility_gear.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/spells/break_modified.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/spells/orbit_modified.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/en_us/entries/spells/verticality.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/categories/ars_gears.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/ars_gears/combat_gear.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/ars_gears/starting_ars_gears.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/ars_gears/utility_gear.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/spells/break_modified.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/spells/orbit_modified.json
  projects/1.16/assets/ars-nouveau-gears/ars_gears/patchouli_books/worn_notebook/zh_cn/entries/spells/verticality.json
Labels: 1.16.x, 即将合并, 500+, Forge, Patchouli

#3936 Ars Nouveau - Extended Glyphs 翻译提交
  projects/1.19/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/en_us.json
  projects/1.19/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/zh_cn.json
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/en_us.json
  projects/1.20/assets/ars-nouveau-extended-glyphs/ars_extended_glyphs/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#4308 Cloaked 翻译提交
  projects/1.19/assets/cloaked/cloaked/lang/en_us.json
  projects/1.19/assets/cloaked/cloaked/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4313 Realm rpg fallen adventurers翻译提交1.20
  projects/1.20/assets/realm-rpg-fallen-adventurers/realmrpg_skeletons/lang/en_us.json
  projects/1.20/assets/realm-rpg-fallen-adventurers/realmrpg_skeletons/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4319 Bygone nether翻译补充1.20
  projects/1.20/assets/bygone-nether/bygonenether/lang/en_us.json
  projects/1.20/assets/bygone-nether/bygonenether/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4314 Mob catcher fabric翻译提交1.20
  projects/1.20/assets/mob-catcher-fabric/mob_catcher/lang/en_us.json
  projects/1.20/assets/mob-catcher-fabric/mob_catcher/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x
