Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-07, with the labels that each got.

#4470 More Tetra Materials 翻译提交
  projects/1.20/assets/more-tetra-materials/mtetm/lang/en_us.json
  projects/1.20/assets/more-tetra-materials/mtetm/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4351 A-man-with-plushies 翻译提交
  projects/1.20-fabric/assets/a-man-with-plushies/a_man_with_plushies/lang/en_us.json
  projects/1.20-fabric/assets/a-man-with-plushies/a_man_with_plushies/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#4408 Born in Chaos 翻译更新
  projects/1.20/assets/born-in-chaos/born_in_chaos_v1/lang/en_us.json
  projects/1.20/assets/born-in-chaos/born_in_chaos_v1/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4469 Better Berries Redux 翻译提交
  projects/1.20/assets/better-berries-redux-plus/better_berries_plus/lang/en_us.json
  projects/1.20/assets/better-berries-redux-plus/better_berries_plus/lang/zh_cn.json
  projects/1.20/assets/better-berries-redux/better_berries/lang/en_us.json
  projects/1.20/assets/better-berries-redux/better_berries/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4480 Beneath the Wetlands 翻译提交
  projects/1.20-fabric/assets/beneath-the-wetlands/wetlands/lang/en_us.json
  projects/1.20-fabric/assets/beneath-the-wetlands/wetlands/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4481 Ars Energistique 翻译更新
  projects/1.20/assets/ars-energistique/arseng/lang/en_us.json
  projects/1.20/assets/ars-energistique/arseng/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4482 AE2-fabric 1.20指南书引用
  projects/1.20-fabric/assets/applied-energistics-2/ae2/packer-policy.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4483 Extra Alchemy 翻译修改
  projects/1.12.2/assets/extra-alchemy/extraalchemy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4475 Starcoffee 翻譯提交
  projects/1.19/assets/starcoffee/starcoffee/lang/en_us.json
  projects/1.19/assets/starcoffee/starcoffee/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4264 Redstone Repository Revolved 汉化更新
  projects/1.12.2/assets/redstone-arsenal/redstonearsenal/lang/zh_cn.lang
  projects/1.12.2/assets/redstone-repository-revolved/redstonerepository/lang/en_us.lang
  projects/1.12.2/assets/redstone-repository-revolved/redstonerepository/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4492 Scape and Run Parasites Addon: Cotesia Glomerata 翻译修改
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4477 Ars Fauna 翻译提交
  projects/1.20/assets/ars-fauna/ars_fauna/lang/en_us.json
  projects/1.20/assets/ars-fauna/ars_fauna/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4494 Miner Golems 翻译修改
  projects/1.12.2/assets/miner-golems/minergolems/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4461 TACZ: Plus (Timeless and Classics Feature Addon) 翻译提交
  projects/1.20/assets/tacz-plus-timeless-and-classics-feature-addon/taczplus/lang/en_us.json
  projects/1.20/assets/tacz-plus-timeless-and-classics-feature-addon/taczplus/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4337 Biomancy 全版本 翻译更新 翻译同步 兼 macaws-furniture 抓虫
  projects/1.18/assets/biomancy/biomancy/lang/zh_cn-fix.json
  projects/1.18/assets/biomancy/biomancy/lang/zh_cn.json
  projects/1.18/assets/biomancy/biomancy/packer-policy.json
  projects/1.18/assets/macaws-furniture/mcwfurnitures/local-config.json
  projects/1.19/assets/biomancy/biomancy/lang/en_us.json
  projects/1.19/assets/biomancy/biomancy/lang/zh_cn-fix.json
  projects/1.19/assets/biomancy/biomancy/packer-policy.json
  projects/1.20/assets/biomancy/biomancy/lang/en_us.json
  projects/1.20/assets/biomancy/biomancy/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4490 Mekanism Turrets & Fences 和 Loot Bundles 翻译提交
  projects/1.19/assets/loot-bundles/lootbundles/lang/en_us.json
  projects/1.19/assets/loot-bundles/lootbundles/lang/zh_cn.json
  projects/1.20/assets/loot-bundles/lootbundles/lang/en_us.json
  projects/1.20/assets/loot-bundles/lootbundles/lang/zh_cn.json
  projects/1.20/assets/mekanism-turrets-fences/mekanism_turrets/lang/en_us.json
  projects/1.20/assets/mekanism-turrets-fences/mekanism_turrets/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 1.20.x

#4495 提交crossbows-backport翻译
  projects/1.12.2/assets/crossbows-backport/crossbows/lang/en_us.lang
  projects/1.12.2/assets/crossbows-backport/crossbows/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4496 perfect-mob-farm 翻译提交
  projects/1.18/assets/perfect-mob-farm/perfectmobfarm/lang/en_us.json
  projects/1.18/assets/perfect-mob-farm/perfectmobfarm/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#4311 Tool leveling plus翻译提交
  projects/1.20/assets/tool-leveling-plus/toolleveling/lang/en_us.json
  projects/1.20/assets/tool-leveling-plus/toolleveling/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, 1.20.x

#4499 Mekanism Turrets & Fences 空格修复
  projects/1.20/assets/mekanism-turrets-fences/mekanism_turrets/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4498 chatshot 提交
  projects/1.20-fabric/assets/chatshot/chatshot/lang/en_us.json
  projects/1.20-fabric/assets/chatshot/chatshot/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4493 pogo-sticks 翻译提交
  projects/1.12.2/assets/pogo-sticks/pogosticks/lang/en_US.lang
  projects/1.12.2/assets/pogo-sticks/pogosticks/lang/zh_CN.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4489 BBL Strainers 汉化更新
  projects/1.20/assets/opolis-strainers/strainers/lang/en_us.json
  projects/1.20/assets/opolis-strainers/strainers/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4402 xnet 1.19.2 翻译提交
  projects/1.18/assets/xnet/xnet/lang/en_us.json
  projects/1.18/assets/xnet/xnet/lang/zh_cn.json
  projects/1.18/assets/xnet/xnet/readme.md
Labels: 即将合并, 100+, 1.18.x, Forge

#4439 dynamic-crosshair 翻译提交
  projects/1.20-fabric/assets/dynamic-crosshair/dynamiccrosshair/lang/en_us.json
  projects/1.20-fabric/assets/dynamic-crosshair/dynamiccrosshair/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4488 Call of Yucatán 翻译更新
  projects/1.20/assets/call-of-yucutan/call_of_yucutan/lang/en_us.json
  projects/1.20/assets/call-of-yucutan/call_of_yucutan/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4503 new-thin-air 与原版撞key修复
  projects/1.20/assets/new-thin-air/thinair/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4513 Alex's Caves: Stuff & Torpedoes 翻译提交
  projects/1.20/assets/alexs-caves-torpedoes/alexscaves_torpedoes/lang/en_us.json
  projects/1.20/assets/alexs-caves-torpedoes/alexscaves_torpedoes/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4471 Argentina's delight 翻译提交
  projects/1.20/assets/argentinasdelight/argentinas_delight/lang/en_us.json
  projects/1.20/assets/argentinasdelight/argentinas_delight/lang/es_ar.json
  projects/1.20/assets/argentinasdelight/argentinas_delight/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 西班牙语, 1.20.x

#4399 Natures Spirit 翻译提交与部分苔藓翻译修正
  projects/1.19/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/natures_spirit/lang/en_us.json
  projects/1.20-fabric/assets/0-modrinth-mod/natures_spirit/lang/zh_cn-base.json
  projects/1.20-fabric/assets/0-modrinth-mod/natures_spirit/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/0-modrinth-mod/natures_spirit/packer-policy.json
  projects/1.20/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, Forge, 1.19.x, 1.20.x

#4506 Thermal and Space翻译提交
  projects/1.20/assets/thermal-and-space/thermal_and_space/lang/en_us.json
  projects/1.20/assets/thermal-and-space/thermal_and_space/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4516 Ars Controle 翻译提交
  projects/1.20/assets/ars-controle/ars_controle/lang/en_us.json
  projects/1.20/assets/ars-controle/ars_controle/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4047 Eyemod 翻译提交
  projects/1.16-fabric/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.16-fabric/assets/eyemod-phone/eyemod/lang/zh_cn.json
  projects/1.16/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.16/assets/eyemod-phone/eyemod/lang/zh_cn.json
  projects/1.18-fabric/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.18-fabric/assets/eyemod-phone/eyemod/lang/zh_cn.json
  projects/1.18/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.18/assets/eyemod-phone/eyemod/lang/zh_cn.json
  projects/1.19/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.19/assets/eyemod-phone/eyemod/lang/zh_cn.json
  projects/1.20/assets/eyemod-phone/eyemod/lang/en_us.json
  projects/1.20/assets/eyemod-phone/eyemod/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4518 AE2 若干附属翻译提交
  projects/1.20/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/en_us.json
  projects/1.20/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/zh_cn.json
  projects/1.20/assets/immersive-energistics/immeng/lang/en_us.json
  projects/1.20/assets/immersive-energistics/immeng/lang/zh_cn.json
  projects/1.20/assets/specialised-cells/specialised_cells/lang/en_us.json
  projects/1.20/assets/specialised-cells/specialised_cells/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4515 Ad Extendra Continuation 翻译提交
  projects/1.20/assets/0-modrinth-mod/ad_extendra/lang/en_us.json
  projects/1.20/assets/0-modrinth-mod/ad_extendra/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x
