Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-02, with the labels that each got.

#4023 Supplementaries 翻译更新
  projects/1.16/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.18/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.19/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.19/assets/supplementaries/supplementaries/lang/zh_cn.json
  projects/1.20/assets/supplementaries/supplementaries/lang/en_us.json
  projects/1.20/assets/supplementaries/supplementaries/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x

#4116 Ars Ocultas 翻译更新
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/spirit_jar.json
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spirit_jar.json
Labels: 即将合并, 1+, Forge, Patchouli, 1.20.x

#4126 FlowingTime 汉化提交
  projects/1.12.2/assets/flowingtime/flowingtime/lang/en_us.lang
  projects/1.12.2/assets/flowingtime/flowingtime/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4123 Omniwand 汉化提交
  projects/1.12.2/assets/omniwand/omniwand/lang/en_us.lang
  projects/1.12.2/assets/omniwand/omniwand/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4005 JAOPCA Extras 翻译提交
  projects/1.19/assets/jaopca-extras/jaopcaextras/lang/en_us.json
  projects/1.19/assets/jaopca-extras/jaopcaextras/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4135 Unown Font 翻译提交
  projects/1.19/assets/unown-font/unownfont/lang/en_us.json
  projects/1.19/assets/unown-font/unownfont/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#4140 Farmer's Respite 错译修复
  projects/1.19/assets/farmers-respite/farmersrespite/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4112 Medieval Seedbags（暂译：中世纪种子袋）翻译提交
  projects/1.20/assets/medieval-seedbags/seedbags/lang/en_us.json
  projects/1.20/assets/medieval-seedbags/seedbags/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4136 Handcrafted 官译错译修复
  projects/1.19/assets/handcrafted/handcrafted/lang/en_us.json
  projects/1.19/assets/handcrafted/handcrafted/lang/zh_cn.json
  projects/1.20-fabric/assets/handcrafted/handcrafted/en_us.json
  projects/1.20-fabric/assets/handcrafted/handcrafted/zh_cn.json
  projects/1.20/assets/handcrafted/handcrafted/lang/en_us.json
  projects/1.20/assets/handcrafted/handcrafted/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.19.x, 1.20.x

#4134 CONTRIBUTING.md 与 README.md 更新
  CONTRIBUTING.md
  README.md
Labels: 即将合并, 10+

#4143 Butcher's Delight 翻译更新
  projects/1.20/assets/butchers-delight/butchersdelight/lang/en_us.json
  projects/1.20/assets/butchers-delight/butchersdelight/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4147 修复包简介/翻译条目换行问题
  projects/1.12.2/assets/railcraft/railcraft/lang/zh_cn.lang
  projects/1.12.2/pack.mcmeta
  projects/1.16-fabric/pack.mcmeta
  projects/1.16/pack.mcmeta
  projects/1.18-fabric/pack.mcmeta
  projects/1.18/assets/blockcarpentry/blockcarpentry/lang/zh_cn.json
  projects/1.18/pack.mcmeta
  projects/1.19/assets/blockcarpentry/blockcarpentry/lang/zh_cn.json
  projects/1.19/pack.mcmeta
  projects/1.20-fabric/pack.mcmeta
  projects/1.20/pack.mcmeta
  projects/packer-example/pack.mcmeta
Labels: 1.12.x, 1.16.x, 即将合并, 1.18.x, 10+, Fabric, Forge, 1.19.x, 1.20.x

#4145 Sandy Ores（沙子矿石）翻译提交
  projects/1.18/assets/sandy-ores/sandyores/lang/en_us.json
  projects/1.18/assets/sandy-ores/sandyores/lang/zh_cn.json
  projects/1.19/assets/sandy-ores/sandyores/lang/en_us.json
  projects/1.19/assets/sandy-ores/sandyores/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x

#4146 Realm RPG: Dragon Wyrms, Realm RPG: Imps & Demons 翻译提交
  projects/1.19/assets/realm-rpg-dragon-wyrms/realmrpg_wyrms/lang/en_us.json
  projects/1.19/assets/realm-rpg-dragon-wyrms/realmrpg_wyrms/lang/zh_cn.json
  projects/1.19/assets/realm-rpg-imps-demons/realmrpg_demons/lang/en_us.json
  projects/1.19/assets/realm-rpg-imps-demons/realmrpg_demons/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.19.x

#4132 SilentGear Compat 翻译提交
  projects/1.20/assets/silentgear-compat/silentcompat/lang/en_us.json
  projects/1.20/assets/silentgear-compat/silentcompat/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4139 Bone Zone 翻译提交
  projects/1.19/assets/bone-zone/bonezone/lang/en_us.json
  projects/1.19/assets/bone-zone/bonezone/lang/zh_cn.json
  projects/1.20-fabric/assets/bone-zone/bonezone/lang/en_us.json
  projects/1.20-fabric/assets/bone-zone/bonezone/lang/zh_cn.json
  projects/1.20/assets/bone-zone/bonezone/lang/en_us.json
  projects/1.20/assets/bone-zone/bonezone/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.19.x, 1.20.x

#4141 Chipped 翻译更新
  projects/1.20/assets/chipped/chipped/lang/en_us.json
  projects/1.20/assets/chipped/chipped/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4156 修复文件替换异常
  config/packer/1.12.2.json
  config/packer/1.16-fabric.json
  config/packer/1.16.json
  config/packer/1.18-fabric.json
  config/packer/1.18.json
  config/packer/1.19.json
  config/packer/1.20-fabric.json
  config/packer/1.20.json
  config/packer/packer-example.json
  src/Packer/Models/Providers/TermMappingProvider.cs
Labels: source, config, 100+

#4157 AE2 手册紧急修复
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/example-setups/main-network.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/main-network.md
Labels: 即将合并, 10+, Forge, 1.20.x

#4155 Forbidden and Arcanus 神秘水晶块译名修改
  projects/1.16/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
  projects/1.18/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1+, 1.18.x, Forge

#4158 Forbidden and Arcanus 1.18 en_us文件更新
  projects/1.18/assets/forbidden-arcanus/forbidden_arcanus/lang/en_us.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4024 Sword Parry 翻译提交
  projects/1.20-fabric/assets/sword-parry/frycparry/lang/en_us.json
  projects/1.20-fabric/assets/sword-parry/frycparry/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4172 MEGA Cells 翻译更新
  projects/1.20/assets/mega-cells/megacells/lang/en_us.json
  projects/1.20/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4163 Farmer's Utils ，aether-delight 与 aquaculture-delight 翻译提交
  projects/1.19/assets/aether-delight/aetherdelight/lang/en_us.json
  projects/1.19/assets/aether-delight/aetherdelight/lang/zh_cn.json
  projects/1.19/assets/aquaculture-delight/aquaculturedelight/lang/en_us.json
  projects/1.19/assets/aquaculture-delight/aquaculturedelight/lang/zh_cn.json
  projects/1.19/assets/farmers-utils/farmersutils/lang/en_us.json
  projects/1.19/assets/farmers-utils/farmersutils/lang/ja_jp.json
  projects/1.19/assets/farmers-utils/farmersutils/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, MCreator, 1.19.x, 日语

#4183 Gadgets Against Grind 翻译提交
  projects/1.20/assets/gag/gag/lang/en_us.json
  projects/1.20/assets/gag/gag/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4180 Fancy-dyes翻译补充&提交
  projects/1.20/assets/fancy-dyes/fancydyes/lang/en_us.json
  projects/1.20/assets/fancy-dyes/fancydyes/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4120 Dank Storage翻译提交
  projects/1.16/assets/dank-storage/dankstorage/lang/en_us.json
  projects/1.16/assets/dank-storage/dankstorage/lang/zh_cn.json
  projects/1.18/assets/dank-storage/dankstorage/lang/en_us.json
  projects/1.18/assets/dank-storage/dankstorage/lang/zh_cn.json
  projects/1.20/assets/dank-storage/dankstorage/lang/en_us.json
  projects/1.20/assets/dank-storage/dankstorage/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.20.x

#4039 Candlelight 翻译更新
  projects/1.20-fabric/assets/lets-do-candlelight/candlelight/lang/en_us.json
  projects/1.20-fabric/assets/lets-do-candlelight/candlelight/lang/zh_cn.json
  projects/1.20/assets/lets-do-candlelight/candlelight/lang/en_us.json
  projects/1.20/assets/lets-do-candlelight/candlelight/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, Forge, 1.20.x

#4083 Ars Instrumentum 翻译更新
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/lang/en_us.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/lang/zh_cn.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/arcane_applicator.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/runic_storage_stone.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/numeric_mana_charm.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/en_us/entries/categories/equipment/wizards_armarium.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/arcane_applicator.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/runic_storage_stone.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/automation/scroll_of_save_starbuncle.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/copy_paste_spell_scroll.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/fake_wilden_tribute.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/numeric_mana_charm.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/upgrading_magical_armor.json
  projects/1.20/assets/ars-instrumentum/ars_instrumentum/patchouli_books/wizards_scratchpad/zh_cn/entries/categories/equipment/wizards_armarium.json
Labels: 即将合并, 100+, Forge, Patchouli, 1.20.x

#4164 Beyond Earth: Giselle Addon 汉化与en_us更新 for 1.18
  projects/1.18/assets/space-bosstools-giselle-addon/beyond_earth_giselle_addon/lang/en_us.json
  projects/1.18/assets/space-bosstools-giselle-addon/beyond_earth_giselle_addon/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#4168 Festive Delight, Maturi Delight, Quark Delight 库内汉化迁移至1.19
  projects/1.19/assets/festive-delight/festive_delight/lang/en_us.json
  projects/1.19/assets/festive-delight/festive_delight/lang/zh_cn.json
  projects/1.19/assets/maturi-delight/maturidelight/lang/en_us.json
  projects/1.19/assets/maturi-delight/maturidelight/lang/zh_cn.json
  projects/1.19/assets/quark-delight/quarkdelight/lang/en_us.json
  projects/1.19/assets/quark-delight/quarkdelight/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.19.x

#4182 AE2 手册修复
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/spatial_cells.md
Labels: 即将合并, 1+, Forge, 1.20.x

#4195 重新提交#4174误删的 [Good Boy] 翻译
  projects/1.20/assets/good-boy/goodboy/lang/en_us.json
  projects/1.20/assets/good-boy/goodboy/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4193 Quark Delight 翻译提交
  projects/1.18/assets/quark-delight/quarkdelight/lang/en_us.json
  projects/1.18/assets/quark-delight/quarkdelight/lang/zh_cn.json
  projects/1.19/assets/quark-delight/quarkdelight/lang/zh_cn.json
  projects/1.20/assets/quark-delight/quarkdelight/lang/en_us.json
  projects/1.20/assets/quark-delight/quarkdelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, MCreator, 1.19.x, 1.20.x

#4190 Aquatic Torches 翻译提交
  projects/1.18/assets/aquatic-torches/aquatictorches/lang/en_us.json
  projects/1.18/assets/aquatic-torches/aquatictorches/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4188 Pet Tracker 翻译提交
  projects/1.18/assets/pet-tracker/pettracker/lang/en_us.json
  projects/1.18/assets/pet-tracker/pettracker/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4187 Extractinator (1.18版本) 翻译提交
  projects/1.18/assets/extractinator/extractinator/lang/en_us.json
  projects/1.18/assets/extractinator/extractinator/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#4186 Chunk Loaders 翻译提交
  projects/1.18/assets/chunk-loaders/chunkloaders/lang/en_us.json
  projects/1.18/assets/chunk-loaders/chunkloaders/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#4185 Manure 翻译提交
  projects/1.18/assets/manure/manure/lang/en_us.json
  projects/1.18/assets/manure/manure/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4184 botania 补充活木与梦之木的变种译名 for 1.18
  projects/1.18/assets/botania/botania/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge
