Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-01, with the labels that each got.

#4013 Lit it Up 翻译提交
  projects/1.19/assets/lit-it-up/lititup/lang/en_us.json
  projects/1.19/assets/lit-it-up/lititup/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4037 Cataclysm “渊灵” 修复
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x, 1.20.x

#4040 Ars Energistique 翻译更新
  projects/1.20/assets/ars-energistique/arseng/lang/en_us.json
  projects/1.20/assets/ars-energistique/arseng/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#3991 Obsidian equipment汉化提交
  projects/1.20-fabric/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.20-fabric/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4022 Vintage Delight 翻译提交
  projects/1.20/assets/vintage-delight/vintagedelight/lang/en_us.json
  projects/1.20/assets/vintage-delight/vintagedelight/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4008 Nomadic Tents 游牧帐篷 翻译提交
  projects/1.19/assets/nomadic-tents/nomadictents/lang/en_us.json
  projects/1.19/assets/nomadic-tents/nomadictents/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4006 HammerLib 翻译提交
  projects/1.19/assets/hammer-lib/hammerlib/lang/en_us.lang
  projects/1.19/assets/hammer-lib/hammerlib/lang/zh_cn.lang
Labels: help wanted, 即将合并, 10+, Forge, 1.19.x

#4049 More Immersive Wires 翻译更新
  projects/1.19/assets/more-immersive-wires/more_immersive_wires/lang/en_us.json
  projects/1.19/assets/more-immersive-wires/more_immersive_wires/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4057 [Let's Do] API 翻译更新
  projects/1.20-fabric/assets/do-api/doapi/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4054 Antisocial 翻译提交
  projects/1.20-fabric/assets/antisocial/antisocial/lang/en_us.json
  projects/1.20-fabric/assets/antisocial/antisocial/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4071 Roberts Collection 翻译提交
  projects/1.19/assets/roberts-collection/roberts_collection/lang/en_us.json
  projects/1.19/assets/roberts-collection/roberts_collection/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.19.x

#4063 Create: Bells & Whistles 翻译更新提交
  projects/1.19/assets/bellsandwhistles/bellsandwhistles/lang/en_us.json
  projects/1.19/assets/bellsandwhistles/bellsandwhistles/lang/zh_cn.json
  projects/1.20/assets/bellsandwhistles/bellsandwhistles/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#3977 Nvidium 翻译修改
  projects/1.19/assets/0-modrinth-mod/nvidium/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/nvidium/lang/zh_cn.json
  projects/1.20-fabric/assets/0-modrinth-mod/nvidium/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, Forge, 1.19.x, 1.20.x

#4060 Quality's Delight 翻译提交
  projects/1.18/assets/qualitys-delight/qualitysdelight/lang/en_us.json
  projects/1.18/assets/qualitys-delight/qualitysdelight/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3988 Dimension Crystals 翻译提交
  projects/1.16/assets/dimension-crystals/dimension_crystals/lang/en_us.json
  projects/1.16/assets/dimension-crystals/dimension_crystals/lang/zh_cn.json
  projects/1.18/assets/dimension-crystals/dimension_crystals/lang/en_us.json
  projects/1.18/assets/dimension-crystals/dimension_crystals/lang/zh_cn.json
  projects/1.19/assets/dimension-crystals/dimension_crystals/lang/en_us.json
  projects/1.19/assets/dimension-crystals/dimension_crystals/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1.18.x, 10+, Forge, 1.19.x, excluded-from-project-hex

#4072 Illager Additions 翻译提交
  projects/1.19/assets/illager-additions/illager_additions/lang/en_us.json
  projects/1.19/assets/illager-additions/illager_additions/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4087 Enigmatic Graves 汉化同步至1.19
  projects/1.19/assets/enigmatic-graves/enigmaticgraves/lang/en_us.json
  projects/1.19/assets/enigmatic-graves/enigmaticgraves/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4088 Shrink 汉化同步至1.19
  projects/1.19/assets/shrink_/shrink/lang/en_us.json
  projects/1.19/assets/shrink_/shrink/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4090 Energy Meter 汉化同步至1.19
  projects/1.19/assets/energymeter/energymeter/lang/en_us.json
  projects/1.19/assets/energymeter/energymeter/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4056 additional-lanterns 翻译提交
  projects/1.20/assets/additional-lanterns/additionallanterns/lang/en_us.json
  projects/1.20/assets/additional-lanterns/additionallanterns/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4078 Philip's Ruins 翻译修正
  projects/1.19/assets/ruins/philipsruins/lang/zh_cn.json
  projects/1.20/assets/ruins/philipsruins/lang/en_us.json
  projects/1.20/assets/ruins/philipsruins/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x, 1.20.x

#4092 Enigmatic Unity 汉化提交
  projects/1.19/assets/enigmatic-unity/enigmaticunity/lang/en_us.json
  projects/1.19/assets/enigmatic-unity/enigmaticunity/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4093 Superior Shields 汉化提交
  projects/1.19/assets/superior-shields/superiorshields/lang/en_us.json
  projects/1.19/assets/superior-shields/superiorshields/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4089 Compact Machines 汉化更新
  projects/1.19/assets/compact-machines/compactmachines/lang/en_us.json
  projects/1.19/assets/compact-machines/compactmachines/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4075 Cataclysm 1.88 翻译更新
  projects/1.19/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/en_us.json
  projects/1.20/assets/l_ender-s-cataclysm/cataclysm/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x

#4061 Oreganized 翻译提交
  projects/1.19/assets/oreganized/oreganized/lang/en_us.json
  projects/1.19/assets/oreganized/oreganized/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3741 Immersive Weathering 翻译提交
  projects/1.18/assets/immersive-weathering-forge/immersive_weathering/lang/en_us.json
  projects/1.18/assets/immersive-weathering-forge/immersive_weathering/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#4091 Small Ships 汉化更新至1.19
  projects/1.19/assets/small-ships/smallships/lang/en_us.json
  projects/1.19/assets/small-ships/smallships/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4085 Wizardry Tales 翻译提交
  projects/1.12.2/assets/wizardry-tales/wizardry_tales/lang/en_us.lang
  projects/1.12.2/assets/wizardry-tales/wizardry_tales/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4098 Additional Enchantments 翻译提交（暂译：拓展附魔）
  projects/1.20/assets/additional-enchantments/additional_enchantments/lang/en_us.json
  projects/1.20/assets/additional-enchantments/additional_enchantments/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4067 Create: Design n' Decor 翻译提交
  projects/1.19/assets/create-design-n-decor/design_decor/lang/en_us.json
  projects/1.19/assets/create-design-n-decor/design_decor/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4068 GolDelight 翻译提交
  projects/1.20/assets/goldelight/goldelight/lang/en_us.json
  projects/1.20/assets/goldelight/goldelight/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4094 修复1.12.2打包器在用户输入非法时崩溃的问题
  src/Packer/Models/Providers/TermMappingProvider.cs
Labels: source, 即将合并, 1+

#4104 The Midnight Lurker（暂译：午夜祟鬼）翻译提交
  projects/1.20/assets/the-midnight-lurker/midnightlurker/lang/en_us.json
  projects/1.20/assets/the-midnight-lurker/midnightlurker/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4105 Quark Delight（暂译：夸克乐事）翻译提交
  projects/1.20/assets/quark-delight/quarkdelight/lang/en_us.json
  projects/1.20/assets/quark-delight/quarkdelight/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, MCreator, 1.20.x

#4107 Undergarden Delight (A Farmer's Delight Add-on)（暂译：深暗之园乐事）翻译提交
  projects/1.20/assets/undergarden-delight/undergardendelight/lang/en_us.json
  projects/1.20/assets/undergarden-delight/undergardendelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4108 Prehistoric Delight (A Farmer's Delight Add-on)（暂译：史前乐事）翻译提交
  projects/1.16/assets/prehistoric-delight-by-nocube/pre_delight/lang/en_us.json
  projects/1.16/assets/prehistoric-delight-by-nocube/pre_delight/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Forge, MCreator

#4100 Aether Delight (A Farmer's Delight Add-on)（暂译：天境乐事）翻译提交
  projects/1.20/assets/aether-delight/aetherdelight/lang/en_us.json
  projects/1.20/assets/aether-delight/aetherdelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x

#4099 Aquaculture Delight (A Farmer's Delight Add-on)（暂译：水产乐事）翻译提交
  projects/1.20/assets/aquaculture-delight/aquaculturedelight/lang/en_us.json
  projects/1.20/assets/aquaculture-delight/aquaculturedelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, MCreator, 1.20.x
