Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-03, with the labels that each got.

#4194 Simple Butchery 翻译提交
  projects/1.20-fabric/assets/simple-butchery/butcherymod/lang/en_us.json
  projects/1.20-fabric/assets/simple-butchery/butcherymod/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4175 Potions Master 翻译提交
  projects/1.20/assets/potionsmaster/potionsmaster/lang/en_us.json
  projects/1.20/assets/potionsmaster/potionsmaster/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4173 Cracker's Wither Storm Mod 翻译提交
  projects/1.20/assets/crackers-wither-storm-mod/witherstormmod/lang/en_us.json
  projects/1.20/assets/crackers-wither-storm-mod/witherstormmod/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4076 Vic's Point Blank 翻译提交
  projects/1.20/assets/vics-point-blank/pointblank/lang/en_us.json
  projects/1.20/assets/vics-point-blank/pointblank/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4216 Just an End Anchor 翻译提交
  projects/1.20-fabric/assets/just-an-end-anchor/just_end_anchor/lang/en_us.json
  projects/1.20-fabric/assets/just-an-end-anchor/just_end_anchor/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4219 Apotheotic Creation 翻译提交
  projects/1.20/assets/apotheotic-creation/create/lang/en_us.json
  projects/1.20/assets/apotheotic-creation/create/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4230 Enchantment limiter
  projects/1.16/assets/enchantment-limiter/enchantlimiter/lang/en_us.json
  projects/1.16/assets/enchantment-limiter/enchantlimiter/lang/zh_cn.json
  projects/1.18/assets/enchantment-limiter/enchantlimiter/lang/en_us.json
  projects/1.18/assets/enchantment-limiter/enchantlimiter/lang/zh_cn.json
  projects/1.19/assets/enchantment-limiter/enchantlimiter/lang/en_us.json
  projects/1.19/assets/enchantment-limiter/enchantlimiter/lang/zh_cn.json
  projects/1.20/assets/enchantment-limiter/enchantlimiter/lang/en_us.json
  projects/1.20/assets/enchantment-limiter/enchantlimiter/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x, 1.20.x

#4237 Visual Ores汉化提交
  projects/1.12.2/assets/visualores/visualores/lang/en_us.lang
  projects/1.12.2/assets/visualores/visualores/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4236 星辉魔法1.12相关附属更新
  projects/1.12.2/assets/astral-additions/astraladditions/lang/zh_cn.lang
  projects/1.12.2/assets/astral-sorcery/astralsorcery/lang/zh_cn.lang
  projects/1.12.2/assets/packagedastral/packagedastral/lang/en_us.lang
  projects/1.12.2/assets/packagedastral/packagedastral/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4224 提交 create-mechanical-extruder 翻译
  projects/1.18/assets/create-mechanical-extruder/create_mechanical_extruder/lang/en_us.json
  projects/1.18/assets/create-mechanical-extruder/create_mechanical_extruder/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#4223 Create Sabers 翻译提交
  projects/1.20/assets/create-sabers/create_sabers/lang/en_us.json
  projects/1.20/assets/create-sabers/create_sabers/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4221 OreRegen 翻译提交
  projects/1.12.2/assets/oreregen/oreregen/lang/en_us.lang
  projects/1.12.2/assets/oreregen/oreregen/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4208 Spells & Shields 翻译提交
  projects/1.18/assets/spells-shields/spells_and_shields/lang/en_us.json
  projects/1.18/assets/spells-shields/spells_and_shields/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge

#3990 Relics: Alex's Mobs Compat 翻译提交
  projects/1.20/assets/ram-compat/ramcompat/lang/en_us.json
  projects/1.20/assets/ram-compat/ramcompat/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#3816 Hellion's Sniffer 翻译提交
  projects/1.20-fabric/assets/hellions-sniffer/snifferplus/lang/en_us.json
  projects/1.20-fabric/assets/hellions-sniffer/snifferplus/lang/zh_cn.json
  projects/1.20/assets/hellions-sniffer/snifferplus/lang/en_us.json
  projects/1.20/assets/hellions-sniffer/snifferplus/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#4249 Totem of Immortality翻译提交
  projects/1.20/assets/totem-of-immortality/toimmortality/lang/en_us.json
  projects/1.20/assets/totem-of-immortality/toimmortality/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4247 Horseshoes翻译提交
  projects/1.20-fabric/assets/horseshoes/horseshoes/lang/en_us.json
  projects/1.20-fabric/assets/horseshoes/horseshoes/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4244 Chipped 高版本名称修正
  projects/1.19/assets/chipped/chipped/lang/zh_cn.json
  projects/1.20-fabric/assets/chipped/chipped/lang/zh_cn.json
  projects/1.20/assets/chipped/chipped/lang/zh_cn.json
Labels: 10+, Fabric, Forge, 1.19.x, 1.20.x

#4248 Variants & Ventures翻译提交
  projects/1.20-fabric/assets/variants-and-ventures/variantsandventures/lang/en_us.json
  projects/1.20-fabric/assets/variants-and-ventures/variantsandventures/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4250 Man of Many Planes翻译提交
  projects/1.20/assets/man-of-many-planes/man_of_many_planes/lang/en_us.json
  projects/1.20/assets/man-of-many-planes/man_of_many_planes/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4257 mopeds 翻译提交
  projects/1.20/assets/mopeds/moped/lang/en_us.json
  projects/1.20/assets/mopeds/moped/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4255 WFC Waffles For Croptopia 翻译提交
  projects/1.20/assets/wfc-waffles-for-croptopia/wfc/lang/en_us.json
  projects/1.20/assets/wfc-waffles-for-croptopia/wfc/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4252 Peculiars 翻译搬运
  projects/1.19/assets/peculiars/peculiars/lang/en_us.json
  projects/1.19/assets/peculiars/peculiars/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4251 Ars Additions 翻译提交
  projects/1.20/assets/ars-additions/ars_additions/lang/en_us.json
  projects/1.20/assets/ars-additions/ars_additions/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4245 Artisan Worktables 译名修正
  projects/1.12.2/assets/artisan-worktables/artisanworktables/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4210 Inventory Tabs (updated/forge) 翻译提交
  projects/1.18-fabric/assets/inventory-tabs-updated/inventorytabs/lang/en_us.json
  projects/1.18-fabric/assets/inventory-tabs-updated/inventorytabs/lang/zh_cn.json
  projects/1.18/assets/inventory-tabs-forge/inventorytabs/lang/en_us.json
  projects/1.18/assets/inventory-tabs-forge/inventorytabs/lang/zh_cn.json
  projects/1.19/assets/inventory-tabs-forge/inventorytabs/lang/en_us.json
  projects/1.19/assets/inventory-tabs-forge/inventorytabs/lang/zh_cn.json
  projects/1.19/assets/inventory-tabs-updated/inventorytabs/lang/en_us.json
  projects/1.19/assets/inventory-tabs-updated/inventorytabs/lang/zh_cn.json
  projects/1.20-fabric/assets/inventory-tabs-updated/inventorytabs/lang/en_us.json
  projects/1.20-fabric/assets/inventory-tabs-updated/inventorytabs/lang/zh_cn.json
  projects/1.20/assets/inventory-tabs-forge/inventorytabs/lang/en_us.json
  projects/1.20/assets/inventory-tabs-forge/inventorytabs/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4196 Foregoing RubberTrees汉化提交
  projects/1.12.2/assets/foregoing-rubbertrees/ifgretro/lang/en_us.lang
  projects/1.12.2/assets/foregoing-rubbertrees/ifgretro/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4148 Croparia v4 翻译提交
  projects/1.19/assets/croparia/croparia/lang/en_us.json
  projects/1.19/assets/croparia/croparia/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.19.x

#4265 Simple Storage Network 汉化更新
  projects/1.12.2/assets/simple-storage-network/storagenetwork/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4263 Ars Oscura 翻译提交
  projects/1.20/assets/ars-oscura/ars_oscura/lang/en_us.json
  projects/1.20/assets/ars-oscura/ars_oscura/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4214 提交“crossbow”模组翻译
  projects/1.12.2/assets/0-modrinth-mod/crossbow/lang/en_us.lang
  projects/1.12.2/assets/0-modrinth-mod/crossbow/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4205 Ender's Delight 翻译提交
  projects/1.19/assets/enders-delight/endersdelight/lang/en_us.json
  projects/1.19/assets/enders-delight/endersdelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4150 Handcrafted 翻译提交
  projects/1.20/assets/handcrafted/handcrafted/lang/en_us.json
  projects/1.20/assets/handcrafted/handcrafted/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4138 Furnish 翻译提交
  projects/1.20/assets/furnish/furnish/lang/en_us.json
  projects/1.20/assets/furnish/furnish/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4275 Relics: Alex Mobs Compat 翻译更新
  projects/1.20/assets/ram-compat/ramcompat/lang/en_us.json
  projects/1.20/assets/ram-compat/ramcompat/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4253 A Cold Day In The Nether 翻译提交
  projects/1.20/assets/0-modrinth-mod/a-cold-day-in-the-nether/lang/en_us.json
  projects/1.20/assets/0-modrinth-mod/a-cold-day-in-the-nether/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x
