Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-08, with the labels that each got.

#4486 Tropicraft 1.16 翻译提交
  projects/1.16/assets/tropicraft/tropicraft/lang/en_US.json
  projects/1.16/assets/tropicraft/tropicraft/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#4215 停止支持 Tinkers Things 1.18
  config/packer/1.18.json
Labels: config, 即将合并, 1+, 1.18.x, Forge, 需要公示

#4510 Stargate journey 翻译提交
  projects/1.19/assets/sgjourney/sgjourney/packer-policy.json
  projects/1.20/assets/sgjourney/sgjourney/lang/en_us.json
  projects/1.20/assets/sgjourney/sgjourney/lang/zh_cn.json
Labels: help wanted, 即将合并, 1000+, Forge, 1.19.x, 1.20.x

#4528 Rogues & Warriors 翻译提交
  projects/1.20-fabric/assets/rogues-and-warriors/rogues/lang/en_us.json
  projects/1.20-fabric/assets/rogues-and-warriors/rogues/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4529 Create Crystal Clear 1.20 翻译提交
  projects/1.20/assets/create-crystal-clear/crystal_clear/lang/en_us.json
  projects/1.20/assets/create-crystal-clear/crystal_clear/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4532 Vulkanmod 翻译提交
  projects/1.20-fabric/assets/vulkanmod/vulkanmod/lang/en_us.json
  projects/1.20-fabric/assets/vulkanmod/vulkanmod/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4558 Blastcraft 翻译提交
  projects/1.18/assets/blast-craft/blastcraft/lang/en_us.json
  projects/1.18/assets/blast-craft/blastcraft/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge

#4507 提交domum_ornamentum模组翻译
  projects/1.20/assets/domum-ornamentum/domum_ornamentum/lang/en_us.json
  projects/1.20/assets/domum-ornamentum/domum_ornamentum/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4514 Mining Master 翻译更新
  projects/1.18/assets/mining-master/miningmaster/lang/zh_cn.json
  projects/1.20/assets/mining-master/miningmaster/lang/en_us.json
  projects/1.20/assets/mining-master/miningmaster/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.20.x

#4533 DiscCord 翻译提交丨1.21 首个模组
  projects/1.20/assets/disccord/disccord/lang/en_us.json
  projects/1.20/assets/disccord/disccord/lang/zh_cn.json
  projects/1.21/assets/disccord/disccord/lang/en_us.json
  projects/1.21/assets/disccord/disccord/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x, 1.21.x

#4552 Chambers 汉化更新
  projects/1.12.2/assets/chambers/chambers/lang/en_us.lang
  projects/1.12.2/assets/chambers/chambers/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4563 Fabric Seasons: Extra 翻译修改
  projects/1.19/assets/fabric-seasons-extras/seasonsextras/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4543 Netherite horse armor cj翻译
  projects/1.20/assets/netherite-horse-armor-cj/netheritehorsearmor/lang/en_us.json
  projects/1.20/assets/netherite-horse-armor-cj/netheritehorsearmor/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4550 Not Enough Glyphs 翻译提交
  projects/1.20/assets/not-enough-glyphs/not_enough_glyphs/lang/en_us.json
  projects/1.20/assets/not-enough-glyphs/not_enough_glyphs/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4171 Small Tetra Additions 翻译提交
  projects/1.20/assets/small-tetra-additions/tetratweaks/lang/en_us.json
  projects/1.20/assets/small-tetra-additions/tetratweaks/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4274 Forbidden and Arcanus 禁忌奥秘 1.20 翻译提交&译名修改
  projects/1.20/assets/forbidden-arcanus/forbidden_arcanus/lang/en_us.json
  projects/1.20/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4276 文档更新后续 & Modrinth 路径支持
  CONTRIBUTING.md
  Packer-Doc.md
  README.md
  projects/1.18-fabric/assets/modrinth-clean-f3/clean-debug/lang/en_us.json
  projects/1.18-fabric/assets/modrinth-clean-f3/clean-debug/lang/zh_cn.json
  projects/1.18-fabric/assets/modrinth-copper-tier/coppertier/lang/en_us.json
  projects/1.18-fabric/assets/modrinth-copper-tier/coppertier/lang/zh_cn.json
  projects/1.18-fabric/assets/modrinth-inventory-management/inventorymanagement/lang/en_us.json
  projects/1.18-fabric/assets/modrinth-inventory-management/inventorymanagement/lang/zh_cn.json
  projects/1.19/assets/foodmodmorefood/more_food/lang/en_us.json
  projects/1.19/assets/foodmodmorefood/more_food/lang/zh_cn.json
  projects/1.19/assets/modrinth-clean-f3/clean-debug/lang/en_us.json
  projects/1.19/assets/modrinth-clean-f3/clean-debug/lang/zh_cn.json
  projects/1.19/assets/modrinth-intarsia/intarsia/lang/en_us.json
  projects/1.19/assets/modrinth-intarsia/intarsia/lang/zh_cn.json
  projects/1.19/assets/modrinth-inventory-management/inventorymanagement/lang/en_us.json
  projects/1.19/assets/modrinth-inventory-management/inventorymanagement/lang/zh_cn.json
  projects/1.19/assets/modrinth-minerally/minerally/lang/en_us.json
  projects/1.19/assets/modrinth-minerally/minerally/lang/zh_cn.json
  projects/1.19/assets/modrinth-nvidium/nvdium/lang/en_us.json
  projects/1.19/assets/modrinth-nvidium/nvdium/lang/zh_cn.json
  projects/1.19/assets/modrinth-splashfox/splashfox/lang/en_us.json
  projects/1.19/assets/modrinth-splashfox/splashfox/lang/zh_cn.json
  projects/1.20-fabric/assets/foodmodmorefood/more_food/lang/en_us.json
  projects/1.20-fabric/assets/foodmodmorefood/more_food/lang/zh_cn.json
  projects/1.20-fabric/assets/modmenu/modmenu/lang/en_us.json
  projects/1.20-fabric/assets/modmenu/modmenu/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-additionalentityattributes/additionalentityattributes/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-additionalentityattributes/additionalentityattributes/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-minerally/minerally/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-minerally/minerally/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-nvidium/nvidium/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-nvidium/nvidium/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-reach-entity-attributes/reach-entity-attributes/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-reach-entity-attributes/reach-entity-attributes/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-spineless/spineless/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-spineless/spineless/lang/zh_cn.json
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/en_us.json
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, MCreator, 1.19.x, 1.20.x

#4554 Oh the Biomes We've Gone 翻译提交
  projects/1.20/assets/biomes-o-plenty/biomesoplenty/lang/zh_cn.json
  projects/1.20/assets/oh-the-biomes-weve-gone/biomeswevegone/lang/en_us.json
  projects/1.20/assets/oh-the-biomes-weve-gone/biomeswevegone/lang/zh_cn-base.json
  projects/1.20/assets/oh-the-biomes-weve-gone/biomeswevegone/lang/zh_cn-composition.json
  projects/1.20/assets/oh-the-biomes-weve-gone/biomeswevegone/packer-policy.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4580 Icarus 1.20-fabric 译名修改
  projects/1.20-fabric/assets/icarus/icarus/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4588 Fabric Seasons: Extras 格式修改
  projects/1.19/assets/fabric-seasons-extras/seasonsextras/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4004 Upgraded Netherite: Spartan Weaponry 翻译提交
  projects/1.16/assets/upgraded-netherite-spartan-weaponry/upgradednetherite_spartan/lang/en_us.json
  projects/1.16/assets/upgraded-netherite-spartan-weaponry/upgradednetherite_spartan/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, Forge

#4137 Archaeology Banner 翻译提交
  projects/1.19/assets/archaeology-banners/archaeologybanners/lang/en_us.json
  projects/1.19/assets/archaeology-banners/archaeologybanners/lang/zh_cn-base.json
  projects/1.19/assets/archaeology-banners/archaeologybanners/lang/zh_cn-composition.json
  projects/1.19/assets/archaeology-banners/archaeologybanners/packer-policy.json
  projects/1.20-fabric/assets/archaeology-banners/archaeologybanners/lang/en_us.json
  projects/1.20-fabric/assets/archaeology-banners/archaeologybanners/packer-policy.json
  projects/1.20/assets/archaeology-banners/archaeologybanners/lang/en_us.json
  projects/1.20/assets/archaeology-banners/archaeologybanners/lang/zh_cn-base-fix.json
  projects/1.20/assets/archaeology-banners/archaeologybanners/lang/zh_cn-composition-fix.json
  projects/1.20/assets/archaeology-banners/archaeologybanners/packer-policy.json
Labels: 即将合并, 2000+, Fabric, Forge, 1.19.x, 1.20.x

#4472 Integrated Scripting 翻译提交
  projects/1.20/assets/integrated-scripting/integratedscripting/lang/en_us.json
  projects/1.20/assets/integrated-scripting/integratedscripting/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4487 Tropicraft 翻译提交 & 译名修正
  projects/1.16/assets/tropicraft/tropicraft/lang/zh_cn-fix.json
  projects/1.16/assets/tropicraft/tropicraft/packer-policy.json
  projects/1.18/assets/tropicraft/tropicraft/lang/en_US.json
  projects/1.18/assets/tropicraft/tropicraft/packer-policy.json
  projects/1.19/assets/tropicraft/tropicraft/lang/en_US.json
  projects/1.19/assets/tropicraft/tropicraft/lang/zh_cn-fix.json
  projects/1.19/assets/tropicraft/tropicraft/packer-policy.json
  projects/1.20/assets/tropicraft/tropicraft/lang/en_US.json
  projects/1.20/assets/tropicraft/tropicraft/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4521 icarus翻译提交
  projects/1.20/assets/icarus/icarus/lang/en_us.json
  projects/1.20/assets/icarus/icarus/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4540 More Tetra Materials 翻译更新
  projects/1.20/assets/more-tetra-materials/mtetm/lang/en_us.json
  projects/1.20/assets/more-tetra-materials/mtetm/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4542 More bow cj翻译
  projects/1.20/assets/more-bows-cj/morebows/lang/en_us.json
  projects/1.20/assets/more-bows-cj/morebows/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4544 Just Enough Item 1.21 官译拉取更新
  projects/1.16/assets/jei/jei/lang/zh_cn.json
  projects/1.19/assets/jei/jei/lang/zh_cn.json
  projects/1.21/assets/jei/jei/lang/en_us.json
  projects/1.21/assets/jei/jei/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge, 1.19.x, 1.21.x

#4551 Jumbo Furnace翻译提交
  projects/1.20/assets/jumbo-furnace/jumbofurnace/lang/en_us.json
  projects/1.20/assets/jumbo-furnace/jumbofurnace/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.20.x

#4570 Caverns & Chasms 与 Atmospheric 翻译重新提交
  projects/1.19/assets/atmospheric/atmospheric/lang/en_us.json
  projects/1.19/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.19/assets/caverns-and-chasms/caverns_and_chasms/lang/en_us.json
  projects/1.19/assets/caverns-and-chasms/caverns_and_chasms/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.19.x

#4571 Thermal Endergy翻译提交
  projects/1.20/assets/thermal-endergy/thermalendergy/lang/en_us.json
  projects/1.20/assets/thermal-endergy/thermalendergy/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4586 ShortSwords 翻译提交
  projects/1.19/assets/shortswords/shortswords/lang/en_us.json
  projects/1.19/assets/shortswords/shortswords/lang/zh_cn.json
  projects/1.20/assets/shortswords/shortswords/lang/en_us.json
  projects/1.20/assets/shortswords/shortswords/lang/zh_cn.json
  projects/1.21/assets/shortswords/shortswords/lang/en_us.json
  projects/1.21/assets/shortswords/shortswords/lang/zn_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 1.20.x

#4587 Warden Slayer Enchantment 翻译提交
  projects/1.19/assets/warden-slayer-enchantment/warden_slayer/lang/en_us.json
  projects/1.19/assets/warden-slayer-enchantment/warden_slayer/lang/zh_cn.json
  projects/1.20/assets/warden-slayer-enchantment/warden_slayer/lang/en_us.json
  projects/1.20/assets/warden-slayer-enchantment/warden_slayer/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x

#4595 Colorful Columns 翻译提交
  projects/1.16-fabric/assets/colorful-columns/colorfulcolumns/lang/en_us.json
  projects/1.16-fabric/assets/colorful-columns/colorfulcolumns/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Fabric

#4597 Columns 翻译提交
  projects/1.16-fabric/assets/columns/columns/lang/en_us.json
  projects/1.16-fabric/assets/columns/columns/lang/zh_cn.json
  projects/1.18-fabric/assets/columns/columns/lang/en_us.json
  projects/1.18-fabric/assets/columns/columns/lang/zh_cn.json
  projects/1.20-fabric/assets/columns/columns/lang/en_us.json
  projects/1.20-fabric/assets/columns/columns/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, 1.20.x

#3213 Naturalist 翻译更新与提交
  projects/1.18/assets/naturalist/naturalist/lang/zh_cn.json
  projects/1.19/assets/naturalist/naturalist/lang/en_us.json
  projects/1.19/assets/naturalist/naturalist/packer-policy.json
  projects/1.20-fabric/assets/naturalist/naturalist/lang/zh_cn.json
  projects/1.20-fabric/assets/naturalist/naturalist/packer-policy.json
  projects/1.20/assets/naturalist/naturalist/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x

#4547 Dank Storage翻译更新
  projects/1.20/assets/dank-storage/dankstorage/lang/en_us.json
  projects/1.20/assets/dank-storage/dankstorage/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4567 Neapolitan 翻译更新
  projects/1.20/assets/neapolitan/neapolitan/lang/en_us.json
  projects/1.20/assets/neapolitan/neapolitan/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4590 Croptosis 翻译提交
  projects/1.16-fabric/assets/croptosis/croptosis/lang/zh_cn.json
  projects/1.18-fabric/assets/croptosis/croptosis/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, 1.18.x, Fabric

#4594 Charm 翻译提交
  projects/1.16-fabric/assets/charm/charm/lang/zh_cn.json
  projects/1.16/assets/charm/charm/lang/en_us.json
Labels: 1.16.x, 即将合并, 100+, Fabric, Forge

#4601 Autumnity 翻译更新
  projects/1.20/assets/autumnity/autumnity/lang/en_us.json
  projects/1.20/assets/autumnity/autumnity/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4593 Upgraded Trims 与相关模组翻译提交
  projects/1.20/assets/additional-trims/additionaltrims/lang/en_us.json
  projects/1.20/assets/additional-trims/additionaltrims/lang/zh_cn.json
  projects/1.20/assets/upgraded-additional-trims/upgradedtrimsea/lang/en_us.json
  projects/1.20/assets/upgraded-additional-trims/upgradedtrimsea/lang/zh_cn.json
  projects/1.20/assets/upgraded-trims/upgradedtrims/lang/en_us.json
  projects/1.20/assets/upgraded-trims/upgradedtrims/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4589 TACZ: Durability (Timeless and Classics Guns) 翻译提交
  projects/1.20/assets/tacz-durability/gundurability/lang/en_us.json
  projects/1.20/assets/tacz-durability/gundurability/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4003 Upgraded Netherite 系列翻译更新
  projects/1.19/assets/upgraded-core/upgradedcore/lang/en_us.json
  projects/1.19/assets/upgraded-core/upgradedcore/lang/zh_cn.json
  projects/1.19/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/en_us.json
  projects/1.19/assets/upgraded-netherite-creativerite/upgradednetherite_creative/lang/zh_cn.json
  projects/1.19/assets/upgraded-netherite-items/upgradednetherite_items/lang/en_us.json
  projects/1.19/assets/upgraded-netherite-items/upgradednetherite_items/lang/zh_cn.json
  projects/1.19/assets/upgraded-netherite-ultimerite/upgradednetherite_ultimate/lang/en_us.json
  projects/1.19/assets/upgraded-netherite-ultimerite/upgradednetherite_ultimate/lang/zh_cn.json
  projects/1.19/assets/upgraded-netherite/upgradednetherite/lang/en_us.json
  projects/1.19/assets/upgraded-netherite/upgradednetherite/lang/zh_cn.json
  projects/1.19/assets/upgraded-tools/upgradedtools/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.19.x

#4539 Gilded-netherite cj翻译
  projects/1.20/assets/gilded-netherite-cj-edition/gildednetherite/lang/en_us.json
  projects/1.20/assets/gilded-netherite-cj-edition/gildednetherite/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4414 提交The Flesh That Hates翻译
  projects/1.20/assets/the-flesh-that-hates/the_flesh_that_hates/lang/en_us.json
  projects/1.20/assets/the-flesh-that-hates/the_flesh_that_hates/lang/zh_cn.json
Labels: 需要帮助, 即将合并, 500+, Forge, 1.20.x

#4572 Environmental 和 Upgrade Aquatic 翻译提交
  projects/1.19/assets/environmental/environmental/lang/en_us.json
  projects/1.19/assets/environmental/environmental/lang/zh_cn.json
  projects/1.19/assets/upgrade-aquatic/upgrade_aquatic/lang/en_us.json
  projects/1.19/assets/upgrade-aquatic/upgrade_aquatic/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.19.x

#4559 Dynamic Electricity 翻译提交
  projects/1.18/assets/dynamic-electricity/dynamicelectricity/lang/en_us.json
  projects/1.18/assets/dynamic-electricity/dynamicelectricity/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#4621 Ducts & All da Nuggets 翻译提交
  projects/1.18/assets/all-da-nuggets/all_da_nuggets/lang/en_us.json
  projects/1.18/assets/all-da-nuggets/all_da_nuggets/lang/zh_cn.json
  projects/1.18/assets/ducts/ducts/lang/en_us.json
  projects/1.18/assets/ducts/ducts/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#4517 DifficultRaids 翻译提交
  projects/1.18/assets/difficult-raids/difficultraids/lang/en_us.json
  projects/1.18/assets/difficult-raids/difficultraids/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge

#4617 Vintage Delight 翻译更新 & 修改
  projects/1.20/assets/vintage-delight/vintagedelight/lang/en_us.json
  projects/1.20/assets/vintage-delight/vintagedelight/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x

#4624 Biomancy 2.8.8.0 翻译更新
  projects/1.20/assets/biomancy/biomancy/lang/en_us.json
  projects/1.20/assets/biomancy/biomancy/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.20.x

#4629 Absent by Design 翻译更新
  projects/1.20/assets/absent-by-design/absentbydesign/lang/en_us.json
  projects/1.20/assets/absent-by-design/absentbydesign/lang/zh_cn-base.json
  projects/1.20/assets/absent-by-design/absentbydesign/lang/zh_cn-composition.json
  projects/1.20/assets/absent-by-design/absentbydesign/lang/zh_cn.json
  projects/1.20/assets/absent-by-design/absentbydesign/packer-policy.json
Labels: 即将合并, 500+, Forge, 1.20.x

#4630 Ars Fauna 翻译更新
  projects/1.20/assets/ars-fauna/ars_fauna/lang/en_us.json
  projects/1.20/assets/ars-fauna/ars_fauna/lang/zh_cn.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/categories/fauna.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/cavebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/chefbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/cloudbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/dark_drygmy.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/deepsprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/enderbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/eyebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/faebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/frostbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/gcstarbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/goobuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/illusibuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/pyrobuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/sandbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/sculkbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/seabuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/seasprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/shadowbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/shellbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/skelebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/songbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/starbuncle_swarm.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/tentabuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/thornsprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/vexbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/en_us/entries/fauna/zombuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/categories/fauna.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/cavebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/chefbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/cloudbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/dark_drygmy.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/deepsprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/enderbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/eyebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/faebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/frostbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/gcstarbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/goobuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/illusibuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/pyrobuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/sandbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/sculkbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/seabuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/seasprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/shadowbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/shellbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/skelebuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/songbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/starbuncle_swarm.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/tentabuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/thornsprig.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/vexbuncle.json
  projects/1.20/assets/ars-fauna/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/fauna/zombuncle.json
Labels: 即将合并, 500+, Forge, MCreator, Patchouli, 1.20.x

#4637 Hole Filler Mod翻译更新
  projects/1.18/assets/hole-filler-mod/hole_filler_mod/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4634 Tiered Reforge 翻译提交
  projects/1.19/assets/tiered-reforge/tieredreforge/lang/en_us.json
  projects/1.19/assets/tiered-reforge/tieredreforge/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x
