Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-09, with the labels that each got.

#4648 Vintage Delight 译名修改
  projects/1.20/assets/vintage-delight/vintagedelight/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4655 ae2guide 暂时停止支持
  projects/1.20-fabric/assets/ex-pattern-provider/extendedae/local-config.json
  projects/1.20/assets/applied-energistics-2/ae2/local-config.json
  projects/1.20/assets/appliede/appliede/local-config.json
  projects/1.20/assets/ex-pattern-provider/extendedae/local-config.json
Labels: 即将合并, 1+, Fabric, Forge, 1.20.x

#4654 1.21 仓库支持
  .github/workflows/packer.yml
  .github/workflows/pr-packer.yml
  config/packer/1.21-fabric.json
  config/packer/1.21.json
  projects/1.21-fabric/LICENSE
  projects/1.21-fabric/README.txt
  projects/1.21-fabric/assets/minecraft/minecraft/README.md
  projects/1.21-fabric/assets/minecraft/minecraft/packer-policy.json
  projects/1.21-fabric/pack.mcmeta
  projects/1.21-fabric/pack.png
  projects/1.21/LICENSE
  projects/1.21/README.txt
  projects/1.21/assets/minecraft/minecraft/README.md
  projects/1.21/assets/minecraft/minecraft/packer-policy.json
  projects/1.21/pack.mcmeta
  projects/1.21/pack.png
Labels: config, 即将合并, 1000+

#4612 文档更新（仓库标签+贡献方针）
  .github/boring-cyborg.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README-en.md
  README.md
Labels: 即将合并, 10+

#4645 Project Red: Exploration 翻译更新
  projects/1.20/assets/project-red-exploration/projectred_exploration/lang/en_us.json
  projects/1.20/assets/project-red-exploration/projectred_exploration/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.20.x

#4646 Building but Better 翻译提交
  projects/1.20-fabric/assets/building-but-better/bbb/lang/en_us.json
  projects/1.20-fabric/assets/building-but-better/bbb/lang/zh_cn-base.json
  projects/1.20-fabric/assets/building-but-better/bbb/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/building-but-better/bbb/packer-policy.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4491 The Betweenlands 翻译更新修改
  projects/1.12.2/assets/angry-pixel-the-betweenlands-mod/thebetweenlands/lang/en_us.lang
  projects/1.12.2/assets/angry-pixel-the-betweenlands-mod/thebetweenlands/lang/zh_cn-composition.json
  projects/1.12.2/assets/angry-pixel-the-betweenlands-mod/thebetweenlands/lang/zh_cn.lang
  projects/1.12.2/assets/angry-pixel-the-betweenlands-mod/thebetweenlands/local-config.json
  projects/1.12.2/assets/angry-pixel-the-betweenlands-mod/thebetweenlands/packer-policy.json
Labels: 1.12.x, 即将合并, 2000+, Forge, 需要公示

#3328 Art of Forging 与 Secrets of Forging: Revelations 翻译提交
  projects/1.18/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
  projects/1.18/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/en_us.json
  projects/1.18/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
  projects/1.19/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/en_us.json
  projects/1.19/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
  projects/1.19/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/en_us.json
  projects/1.19/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
  projects/1.20/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/en_us.json
  projects/1.20/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
Labels: 即将合并, 5000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4616 unbreakable-enchantment 翻译提交
  projects/1.18/assets/unbreakable-enchantment-forge/g_abun/lang/en_us.json
  projects/1.18/assets/unbreakable-enchantment-forge/g_abun/lang/zh_cn.json
Labels: 即将合并, 1+, 1.18.x, Forge

#4633 Seiðr 翻译提交
  projects/1.21/assets/seidr/seidr/lang/en_us.json
  projects/1.21/assets/seidr/seidr/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.21.x

#4625 Raids Backport 汉化提交
  projects/1.12.2/assets/raids-backport/raids/lang/en_us.lang
  projects/1.12.2/assets/raids-backport/raids/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4650 FlashBack 1.21 翻译提交
  projects/1.21-fabric/assets/modrinth-flashback/flashback/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-flashback/flashback/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x

#4632 Hephaestus 附属翻译提交
  projects/1.20-fabric/assets/hephaestusplus/hephaestusplus/lang/en_us.json
  projects/1.20-fabric/assets/hephaestusplus/hephaestusplus/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-hephaestus-expansion/hephaestusexpansion/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hephaestus-expansion/hephaestusexpansion/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x

#4527 oceanic-expanse翻译更新
  projects/1.12.2/assets/oceanic-expanse/oe/lang/en_us.lang
  projects/1.12.2/assets/oceanic-expanse/oe/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4647 Every Compat 翻译更新
  projects/1.20/assets/every-compat/everycomp/lang/en_us.json
  projects/1.20/assets/every-compat/everycomp/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x, (Neo)Forge

#4652 Fungal Infection:Spore 翻译提交
  projects/1.20/assets/fungal-infection-spore/spore/lang/en_us.json
  projects/1.20/assets/fungal-infection-spore/spore/lang/zh_cn.json
Labels: 即将合并, 500+, 审阅困难, Forge, 1.20.x, (Neo)Forge

#4666 toms-peripherals 翻译提交
  projects/1.20/assets/toms-peripherals/toms_peripherals/lang/en_us.json
  projects/1.20/assets/toms-peripherals/toms_peripherals/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4672 Secrets of Forging: Revelations 翻译更新
  projects/1.19/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, 1.19.x

#4667 Isometric Renders 翻译更新至1.21
  projects/1.21-fabric/assets/isometric-renders/isometric-renders/lang/en_us.json
  projects/1.21-fabric/assets/isometric-renders/isometric-renders/packer-policy.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#4287 Hexerei 全版本 翻译提交&修改
  projects/1.16/assets/hexerei/hexerei/lang/en_us.json
  projects/1.16/assets/hexerei/hexerei/lang/zh_cn.json
  projects/1.18/assets/hexerei/hexerei/lang/en_us-unique.json
  projects/1.18/assets/hexerei/hexerei/lang/en_us.json
  projects/1.18/assets/hexerei/hexerei/lang/zh_cn-fix.json
  projects/1.18/assets/hexerei/hexerei/packer-policy.json
  projects/1.19/assets/hexerei/hexerei/lang/en_us-unique.json
  projects/1.19/assets/hexerei/hexerei/lang/en_us.json
  projects/1.19/assets/hexerei/hexerei/lang/zh_cn-fix.json
  projects/1.19/assets/hexerei/hexerei/packer-policy.json
  projects/1.20/assets/hexerei/hexerei/lang/en_us.json
  projects/1.20/assets/hexerei/hexerei/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#4576 Goblin's Tyranny 汉化提交
  projects/1.20/assets/goblins-tyranny/goblins_tyranny/lang/en_us.json
  projects/1.20/assets/goblins-tyranny/goblins_tyranny/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, MCreator, 1.20.x, (Neo)Forge

#4505 Betweenlands Redstone翻译提交
  projects/1.12.2/assets/betweenlands-redstone/betweenlandsredstone/lang/en_us.lang
  projects/1.12.2/assets/betweenlands-redstone/betweenlandsredstone/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4628 Create: Design n' Decor 翻译提交
  projects/1.20/assets/create-design-n-decor/design_decor/lang/en_us.json
  projects/1.20/assets/create-design-n-decor/design_decor/lang/zh_cn-composition.json
  projects/1.20/assets/create-design-n-decor/design_decor/lang/zh_cn.json
  projects/1.20/assets/create-design-n-decor/design_decor/packer-policy.json
Labels: 即将合并, 500+, Forge, 1.20.x, (Neo)Forge

#4644 All the Arcanist Gear 翻译提交
  projects/1.20/assets/all-the-arcanist-gear/allthearcanistgear/lang/en_us.json
  projects/1.20/assets/all-the-arcanist-gear/allthearcanistgear/lang/zh_cn.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/en_us.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.20.x, 1.21.x

#4657 Scape and Run Parasites Addon: Cotesia Glomerata翻译更新
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 500+, Forge

#4671 Every Compat 翻译更新
  projects/1.20/assets/every-compat/everycomp/lang/en_us.json
  projects/1.20/assets/every-compat/everycomp/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4673 Rubinated Nether 翻译提交与 Mining Master 翻译更新
  projects/1.20/assets/mining-master/miningmaster/lang/zh_cn.json
  projects/1.20/assets/rubinated-nether/rubinated_nether/lang/en_us.json
  projects/1.20/assets/rubinated-nether/rubinated_nether/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4685 Spelunking Master 翻译提交
  projects/1.20/assets/spelunking-master/spelunking_master/lang/en_us.json
  projects/1.20/assets/spelunking-master/spelunking_master/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge
