Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-10, with the labels that each got.

#4679 Ars Technica 与 Ars Technic 翻译提交
  projects/1.20/assets/ars-technica/ars_technica/lang/en_us.json
  projects/1.20/assets/ars-technica/ars_technica/lang/zh_cn.json
  projects/1.21/assets/ars-technic/arstechnic/lang/en_us.json
  projects/1.21/assets/ars-technic/arstechnic/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, 1.21.x, (Neo)Forge

#3979 Debugify 翻译提交
  projects/1.19/assets/debugify/debugify/lang/en_us.json
  projects/1.19/assets/debugify/debugify/lang/zh_cn.json
  projects/1.20-fabric/assets/debugify/debugify/lang/en_us.json
  projects/1.20-fabric/assets/debugify/debugify/lang/zh_cn.json
Labels: 需要帮助, 即将合并, 100+, Fabric, Forge, 1.19.x, 1.20.x

#4678 Oreganized 翻译更新
  projects/1.20/assets/oreganized/oreganized/lang/en_us.json
  projects/1.20/assets/oreganized/oreganized/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4114 Dramatic Doors 翻译更新
  projects/1.20-fabric/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.20-fabric/assets/dramatic-doors/dramaticdoors/packer-policy.json
  projects/1.20/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.20/assets/dramatic-doors/dramaticdoors/lang/zh_cn-base-fix.json
  projects/1.20/assets/dramatic-doors/dramaticdoors/lang/zh_cn-composition-fix.json
  projects/1.20/assets/dramatic-doors/dramaticdoors/packer-policy.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/zh_cn-base.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/zh_cn-composition.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/packer-policy.json
Labels: 即将合并, 5000+, Fabric, Forge, 1.20.x, 1.21.x, (Neo)Forge

#4691 Scape and Run Parasites Addon: Cotesia Glomerata翻译更新
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4697 提交Dynamic Raw Ores翻译
  projects/1.12.2/assets/dynaores/dynaores/lang/en_us.lang
  projects/1.12.2/assets/dynaores/dynaores/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4698 Clutter 翻译提交
  projects/1.20-fabric/assets/clutter/clutter/lang/en_us.json
  projects/1.20-fabric/assets/clutter/clutter/lang/zh_cn-base.json
  projects/1.20-fabric/assets/clutter/clutter/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/clutter/clutter/packer-policy.json
Labels: 即将合并, 1000+, Fabric, 1.20.x

#4699 Deeper Depths翻译提交
  projects/1.12.2/assets/deeper-depths/deeperdepths/lang/en_us.lang
  projects/1.12.2/assets/deeper-depths/deeperdepths/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 500+, Forge

#4700 The Flesh That Hates 译名修改
  projects/1.20/assets/the-flesh-that-hates/the_flesh_that_hates/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4535 enderite cj翻译提交
  projects/1.20/assets/enderite-cj-edition/enderite/lang/en_us.json
  projects/1.20/assets/enderite-cj-edition/enderite/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x, (Neo)Forge

#2563 Brazilian Fields 翻译提交
  projects/1.18/assets/brazilian-fields/brazilian_fields/lang/en_us.json
  projects/1.18/assets/brazilian-fields/brazilian_fields/lang/pt_br.json
  projects/1.18/assets/brazilian-fields/brazilian_fields/lang/zh_cn.json
Labels: 即将合并, 100+, 审阅困难, 1.18.x, Forge, 葡萄牙语

#4623 Under the Moon 汉化提交
  projects/1.20/assets/under-the-moon/under_the_moon/lang/en_us.json
  projects/1.20/assets/under-the-moon/under_the_moon/lang/zh_cn.json
Labels: 即将合并, 500+, Forge, MCreator, 1.20.x, (Neo)Forge

#4668 HexGender 翻译提交
  projects/1.20/assets/modrinth-hexgender/hexgender/lang/en_us.json
  projects/1.20/assets/modrinth-hexgender/hexgender/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4681 Thermal Extra 翻译提交
  projects/1.20/assets/thermal_extra/thermal_extra/lang/en_us.json
  projects/1.20/assets/thermal_extra/thermal_extra/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, (Neo)Forge

#4706 Mugging Villagers 翻译提交
  projects/1.20/assets/mug-villagers-mod/mugging_villagers_mod/lang/en_us.json
  projects/1.20/assets/mug-villagers-mod/mugging_villagers_mod/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4712 Alchimiae Magicae 翻译提交
  projects/1.21/assets/alchimiae-magicae/alchimiae/lang/en_us.json
  projects/1.21/assets/alchimiae-magicae/alchimiae/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4714 Excessive Building 翻译提交
  projects/1.20-fabric/assets/excessive-building/excessive_building/lang/en_us.json
  projects/1.20-fabric/assets/excessive-building/excessive_building/lang/zh_cn-base-fix.json
  projects/1.20-fabric/assets/excessive-building/excessive_building/lang/zh_cn-composition-fix.json
  projects/1.20-fabric/assets/excessive-building/excessive_building/packer-policy.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/en_us.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/zh_cn-base.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/lang/zh_cn-composition.json
  projects/1.21-fabric/assets/excessive-building/excessive_building/packer-policy.json
Labels: 即将合并, 2000+, Fabric, 1.20.x, 1.21.x

#4716 Archaeological 翻译提交
  projects/1.20/assets/archeological/archeological/lang/en_us.json
  projects/1.20/assets/archeological/archeological/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, (Neo)Forge

#4719 The Betweenlands 联动相关译名同步
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
  projects/1.12.2/assets/pewter/pewter/lang/zh_cn.lang
  projects/1.12.2/assets/spartanlands-rereforged/spartanlands/lang/zh_cn.lang
  projects/1.16/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.18/assets/planttech-2/planttech2/lang/zh_cn.json
  projects/1.18/assets/useless-sword/useless_sword/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, 1.18.x, Forge, MCreator

#3795 Macaw's Windows 翻译更新
  projects/1.16/assets/macaws-windows/mcwwindows/README.md
  projects/1.16/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.16/assets/macaws-windows/mcwwindows/lang/zh_cn.json
  projects/1.16/assets/macaws-windows/mcwwindows/packer-policy.json
  projects/1.18/assets/macaws-windows/mcwwindows/README.md
  projects/1.18/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.18/assets/macaws-windows/mcwwindows/lang/zh_cn.json
  projects/1.18/assets/macaws-windows/mcwwindows/packer-policy.json
  projects/1.19/assets/macaws-windows/mcwwindows/README.md
  projects/1.19/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.19/assets/macaws-windows/mcwwindows/lang/zh_cn.json
  projects/1.19/assets/macaws-windows/mcwwindows/packer-policy.json
  projects/1.20/assets/macaws-windows/mcwwindows/README.md
  projects/1.20/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.20/assets/macaws-windows/mcwwindows/lang/zh_cn-base.json
  projects/1.20/assets/macaws-windows/mcwwindows/lang/zh_cn-composition.json
  projects/1.20/assets/macaws-windows/mcwwindows/packer-policy.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#4373 More Sniffer Flowers 翻译提交
  projects/1.20/assets/more-sniffer-flowers/moresnifferflowers/lang/en_us.json
  projects/1.20/assets/more-sniffer-flowers/moresnifferflowers/lang/zh_cn.json
  projects/1.21/assets/more-sniffer-flowers/moresnifferflowers/lang/en_us.json
  projects/1.21/assets/more-sniffer-flowers/moresnifferflowers/lang/zh_cn.json
Labels: 即将合并, 100+, 审阅困难, Forge, 1.20.x, 1.21.x, (Neo)Forge

#4708 Mekanism: Science 翻译提交
  projects/1.20/assets/mekanism-science/mekanismscience/lang/en_us.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/ja_jp.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/zh_cn.json
Labels: 即将合并, 100+, 日语, 1.20.x, (Neo)Forge

#4717 Verdance 翻译提交
  projects/1.21-fabric/assets/verdance/verdance/lang/en_us.json
  projects/1.21-fabric/assets/verdance/verdance/lang/zh_cn-base.json
  projects/1.21-fabric/assets/verdance/verdance/lang/zh_cn-composition.json
  projects/1.21-fabric/assets/verdance/verdance/packer-policy.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#4718 Game Discs 翻译提交
  projects/1.20/assets/game-discs/gamediscs/lang/en_us.json
  projects/1.20/assets/game-discs/gamediscs/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4720 TCIntegration 翻译更新
  projects/1.19/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.19/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x

#4721 MmmMmmMmmMmm (Target Dummy) 翻译更新
  projects/1.20/assets/mmmmmmmmmmmm/dummmmmmy/lang/en_us.json
  projects/1.20/assets/mmmmmmmmmmmm/dummmmmmy/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4726 Natura 翻译修正
  projects/1.12.2/assets/natura/natura/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4727 OpenComputers 翻译小修
  projects/1.12.2/assets/opencomputers/opencomputers/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4701 Ars Technica 翻译更新
  projects/1.20/assets/ars-technica/ars_technica/lang/en_us.json
  projects/1.20/assets/ars-technica/ars_technica/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4444 Embeddium 翻译提交
  projects/1.20/assets/embeddium/embeddium/lang/en_us.json
  projects/1.20/assets/embeddium/embeddium/lang/zh_cn.json
  projects/1.20/assets/embeddium/sodium/lang/en_us.json
  projects/1.20/assets/embeddium/sodium/lang/zh_cn.json
  projects/1.21/assets/embeddium/embeddium/lang/en_us.json
  projects/1.21/assets/embeddium/embeddium/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x, 1.21.x, (Neo)Forge

#4710 MrCrayfish's Furniture Mod: Refurbished 翻译提交（另一个人的PR已弃坑）
  projects/1.20/assets/refurbished-furniture/refurbished_furniture/lang/en_us.json
  projects/1.20/assets/refurbished-furniture/refurbished_furniture/lang/zh_cn-base.json
  projects/1.20/assets/refurbished-furniture/refurbished_furniture/lang/zh_cn-composition.json
  projects/1.20/assets/refurbished-furniture/refurbished_furniture/packer-policy.json
Labels: 即将合并, 500+, 1.20.x, (Neo)Forge

#4711 Table Top Craft 翻译提交
  projects/1.20-fabric/assets/table-top-craft-fabric/table_top_craft/lang/en_us.json
  projects/1.20-fabric/assets/table-top-craft-fabric/table_top_craft/packer-policy.json
  projects/1.20/assets/table-top-craft/table_top_craft/lang/en_us.json
  projects/1.20/assets/table-top-craft/table_top_craft/lang/zh_cn-base.json
  projects/1.20/assets/table-top-craft/table_top_craft/lang/zh_cn-composition.json
  projects/1.20/assets/table-top-craft/table_top_craft/packer-policy.json
Labels: 即将合并, 500+, Fabric, 1.20.x, (Neo)Forge

#4038 Macaws系列 1.18 改用组合文件
  projects/1.18/assets/macaws-bridges-biome-o-plenty/macawsbridgesbop/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-bridges-biome-o-plenty/macawsbridgesbop/lang/zh_cn.json
  projects/1.18/assets/macaws-bridges-biome-o-plenty/macawsbridgesbop/packer-policy.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/zh_cn-base.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-doors/mcwdoors/packer-policy.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn-base.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn.json
  projects/1.18/assets/macaws-fences-and-walls/mcwfences/packer-policy.json
  projects/1.18/assets/macaws-fences-biomes-o-plenty/mcwfencesbop/lang/zh_cn-base.json
  projects/1.18/assets/macaws-fences-biomes-o-plenty/mcwfencesbop/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-fences-biomes-o-plenty/mcwfencesbop/lang/zh_cn.json
  projects/1.18/assets/macaws-fences-biomes-o-plenty/mcwfencesbop/packer-policy.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/lang/zh_cn-base.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-fences-oh-the-biomes-youll-go/mcwfencesbyg/packer-policy.json
  projects/1.18/assets/macaws-furnitures-biomes-o-plenty/mcwfurnituresbop/lang/zh_cn-base.json
  projects/1.18/assets/macaws-furnitures-biomes-o-plenty/mcwfurnituresbop/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-furnitures-biomes-o-plenty/mcwfurnituresbop/lang/zh_cn.json
  projects/1.18/assets/macaws-furnitures-biomes-o-plenty/mcwfurnituresbop/packer-policy.json
  projects/1.18/assets/macaws-furnitures-oh-the-biomes-youll-go/mcwfurnituresbyg/lang/zh_cn-base.json
  projects/1.18/assets/macaws-furnitures-oh-the-biomes-youll-go/mcwfurnituresbyg/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-furnitures-oh-the-biomes-youll-go/mcwfurnituresbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-furnitures-oh-the-biomes-youll-go/mcwfurnituresbyg/packer-policy.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn-base.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/packer-policy.json
  projects/1.18/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/zh_cn-base.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-biomes-o-plenty/macawsroofsbop/packer-policy.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/zh_cn-base.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs-oh-the-biomes-youll-go/macawsroofsbyg/packer-policy.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn-base.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-roofs/mcwroofs/lang/zh_cn.json
  projects/1.18/assets/macaws-roofs/mcwroofs/packer-policy.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn-base.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn-composition.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn.json
  projects/1.18/assets/macaws-trapdoors/mcwtrpdoors/packer-policy.json
Labels: 需要帮助, 即将合并, 2000+, 1.18.x, Forge

#4731 停止支持 Alex's Caves
  config/packer/1.20.json
Labels: config, 即将合并, 1+

#4702 Tinkers Things 翻译更新
  projects/1.19/assets/tinkers-things-json/tconstruct/book/encyclopedia/en_us/tools/staff/tinkers_things_sack.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/encyclopedia/zh_cn/abilities/general/tinkers_things_stowing.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/encyclopedia/zh_cn/armor/tinkers_things_laminar_shield.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/encyclopedia/zh_cn/tools/staff/tinkers_things_sack.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/encyclopedia/zh_cn/upgrades/general/tinkers_things_pouch.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/mighty_smelting/zh_cn/abilities/general/tinkers_things_stowing.json
  projects/1.19/assets/tinkers-things-json/tconstruct/book/puny_smelting/zh_cn/upgrades/general/tinkers_things_pouch.json
  projects/1.19/assets/tinkers-things-json/tinkers_things/lang/en_us.json
  projects/1.19/assets/tinkers-things-json/tinkers_things/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4724 TConJEI 翻译提交
  projects/1.18/assets/tconjei/tconjei/lang/en_us.json
  projects/1.18/assets/tconjei/tconjei/lang/zh_cn.json
  projects/1.19/assets/tconjei/tconjei/lang/en_us.json
  projects/1.19/assets/tconjei/tconjei/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, 1.19.x

#4733 Alchimiae Magicae 翻译修复
  projects/1.21/assets/alchimiae-magicae/alchimiae/lang/zh_cn.json
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge

#4744 Ars Technica 翻译更新
  projects/1.20/assets/ars-technica/ars_technica/lang/en_us.json
  projects/1.20/assets/ars-technica/ars_technica/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4729 Megelium Blocks 翻译提交
  projects/1.12.2/assets/megelium-blocks/bnkrblks/lang/en_us.lang
  projects/1.12.2/assets/megelium-blocks/bnkrblks/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4682 Brazilian Delight翻译提交
  projects/1.20/assets/braziliandelight/braziliandelight/lang/en_us.json
  projects/1.20/assets/braziliandelight/braziliandelight/lang/pt_br.json
  projects/1.20/assets/braziliandelight/braziliandelight/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, 葡萄牙语, (Neo)Forge

#4749 [其他]：维护 CONTRIBUTING.md 中的超链接
  CONTRIBUTING.md
Labels: 即将合并, 1+

#4750 PlusTiC 翻译修正
  projects/1.12.2/assets/plusticminusbad/plustic/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4757 禁用 expatternprovider ae2guide
  projects/1.20/assets/ex-pattern-provider/expatternprovider/local-config.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4754 Dimensional Doors 翻译修正
  projects/1.12.2/assets/dimensionaldoors/dimdoors/lang/en_us.lang
  projects/1.12.2/assets/dimensionaldoors/dimdoors/lang/zh_cn.lang
  projects/1.18-fabric/assets/dimensional-doors/dimdoors/lang/zh_cn.json
  projects/1.19/assets/dimensional-doors/dimdoors/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 40+, 1.18.x, Fabric, Forge, 1.19.x

#4743 Under the moon新版本翻译提交
  projects/1.20/assets/under-the-moon/under_the_moon/lang/en_us.json
  projects/1.20/assets/under-the-moon/under_the_moon/lang/zh_cn.json
Labels: 即将合并, 1000+, MCreator, 1.20.x, (Neo)Forge

#4640 Not Enough Glyphs 翻译更新
  projects/1.21/assets/not-enough-glyphs/not_enough_glyphs/lang/en_us.json
  projects/1.21/assets/not-enough-glyphs/not_enough_glyphs/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.21.x, (Neo)Forge

#4752 Soul Shards Respawn & Blood Arsenal & Moar Tinkers 翻译修正
  projects/1.12.2/assets/blood-arsenal/bloodarsenal/lang/zh_cn.lang
  projects/1.12.2/assets/moar-tinkers/moartinkers/lang/zh_cn.lang
  projects/1.12.2/assets/soul-shards-the-old-ways/soulshardstow/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4723 提交Nifty Ships + Biomes O'Plenty Compat翻译
  projects/1.20/assets/alekishipsbop/alekishipsbop/lang/en_us.json
  projects/1.20/assets/alekishipsbop/alekishipsbop/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge
