Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-06, with the labels that each got.

#3961 TakumiCraft 3.0.0 翻译提交
  projects/1.20/assets/takumi-craft/takumicraft/lang/en_us.json
  projects/1.20/assets/takumi-craft/takumicraft/lang/ja_jp.json
  projects/1.20/assets/takumi-craft/takumicraft/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 日语, 1.20.x

#4413 YDM's Fennec Fox 翻译提交
  projects/1.20-fabric/assets/ydms-fennec-fox/fennecfox/lang/en_us.json
  projects/1.20-fabric/assets/ydms-fennec-fox/fennecfox/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4361 My Nether's Delight 翻译提交
  projects/1.20/assets/my-nethers-delight/mynethersdelight/lang/en_us.json
  projects/1.20/assets/my-nethers-delight/mynethersdelight/lang/zh_cn.json
Labels: help wanted, 即将合并, 100+, Forge, 1.20.x

#4417 TCIntegration 翻译更新
  projects/1.19/assets/tcintegrations/tcintegrations/lang/en_us.json
  projects/1.19/assets/tcintegrations/tcintegrations/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4374 提交Tanuki Decor 模组翻译
  projects/1.18/assets/tanukidecor/tanukidecor/lang/en_us.json
  projects/1.18/assets/tanukidecor/tanukidecor/lang/zh_cn.json
  projects/1.19/assets/tanukidecor/tanukidecor/lang/en_us.json
  projects/1.19/assets/tanukidecor/tanukidecor/lang/zh_cn.json
  projects/1.20/assets/tanukidecor/tanukidecor/lang/en_us.json
  projects/1.20/assets/tanukidecor/tanukidecor/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge, 1.19.x, 1.20.x

#4363 AppliedE 翻译提交
  projects/1.20/assets/appliede/appliede/ae2guide/appliede-index.md
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/are_you_sure.png
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/emc_storage.png
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/emc_tiers.png
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/klein_star_filling.png
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/terminal_ui.png
  projects/1.20/assets/appliede/appliede/ae2guide/diagrams/transmutable_item.png
  projects/1.20/assets/appliede/appliede/ae2guide/transmutation_devices.md
  projects/1.20/assets/appliede/appliede/ae2guide/transmutation_module.md
  projects/1.20/assets/appliede/appliede/ae2guide/transmutation_terminal.md
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/appliede-index.md
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/are_you_sure.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/emc_storage.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/emc_tiers.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/klein_star_filling.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/terminal_ui.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/diagrams/transmutable_item.png
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/transmutation_devices.md
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/transmutation_module.md
  projects/1.20/assets/appliede/appliede/ae2guide_en_us/transmutation_terminal.md
  projects/1.20/assets/appliede/appliede/lang/en_us.json
  projects/1.20/assets/appliede/appliede/lang/zh_cn.json
  projects/1.20/assets/appliede/appliede/local-config.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4424 particle-rain 翻译提交
  projects/1.20-fabric/assets/particle-rain/particlerain/lang/en_us.json
  projects/1.20-fabric/assets/particle-rain/particlerain/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4029 Galosphere 翻译更新
  projects/1.20/assets/galosphere/galosphere/lang/en_us.json
  projects/1.20/assets/galosphere/galosphere/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4124 Botaniverse 汉化提交
  projects/1.12.2/assets/botaniverse/botaniverse/lang/en_us.lang
  projects/1.12.2/assets/botaniverse/botaniverse/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#3272 KamenRiderCraft 翻译提交
  projects/1.12.2/assets/kamen-rider-craft/kamenridercraft4th/lang/en_us.lang
  projects/1.12.2/assets/kamen-rider-craft/kamenridercraft4th/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 5000+, Forge

#4394 HexShield 翻译提交
  projects/1.19/assets/0-modrinth-mod/hexshield/lang/en_us.json
  projects/1.19/assets/0-modrinth-mod/hexshield/lang/ru_ru.json
  projects/1.19/assets/0-modrinth-mod/hexshield/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 俄语

#4438 exp-ore 翻译提交
  projects/1.20-fabric/assets/exp-ore/expore/lang/en_us.json
  projects/1.20-fabric/assets/exp-ore/expore/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4052 Decorative Blocks 翻译更新
  projects/1.18/assets/decorative-blocks/decorative_blocks/lang/zh_cn.json
  projects/1.20/assets/decorative-blocks/decorative_blocks/lang/en_us.json
  projects/1.20/assets/decorative-blocks/decorative_blocks/lang/zh_cn.json
Labels: 即将合并, 100+

#4261 Glazed Symmetry 与 Glazed Resymmetry 翻译提交
  projects/1.16/assets/glazed-symmetry/glazedsymmetry/lang/en_us.json
  projects/1.16/assets/glazed-symmetry/glazedsymmetry/lang/zh_cn.json
  projects/1.18/assets/glazed-resymmetry/glazedresymmetry/lang/en_us.json
  projects/1.18/assets/glazed-resymmetry/glazedresymmetry/lang/zh_cn.json
  projects/1.19/assets/glazed-resymmetry/glazedresymmetry/lang/en_us.json
  projects/1.19/assets/glazed-resymmetry/glazedresymmetry/lang/zh_cn.json
  projects/1.20/assets/glazed-resymmetry/glazedresymmetry/lang/en_us.json
  projects/1.20/assets/glazed-resymmetry/glazedresymmetry/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.19.x, 1.20.x

#4271 AE2 手册更新
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/bytes-and-types.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/certus-growth.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/energy.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/me-network-connections.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/subnetworks.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/assets/assemblies/network_storage_types.snbt
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/assets/diagrams/certus_farm_speed_chart_1.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/assets/diagrams/certus_farm_speed_chart_2.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/example-setups/advanced-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/example-setups/semiauto-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/example-setups/simple-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/example-setups/storge-types.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/color_applicator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/crystal_resonance_generator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/facades.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/growth_accelerator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/interface.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/network_tool.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/p2p_tunnels.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/pattern_provider.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/storage_bus.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/storage_cells.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/autocrafting.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/bytes-and-types.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/certus-growth.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/energy.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/me-network-connections.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/ae2-mechanics/subnetworks.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/assets/assemblies/network_storage_types.snbt
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/assets/diagrams/certus_farm_speed_chart_1.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/assets/diagrams/certus_farm_speed_chart_2.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/advanced-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/level-emitter-autostocking.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/semiauto-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/simple-certus-farm.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/example-setups/storge-types.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/getting-started.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/entropy_cool.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/entropy_heat.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/inscriber_arrows_bg_light.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/large_slot_light.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/recipe_arrow_filled_light.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/recipe_arrow_light.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/slot_cross.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/gui/slot_light.png
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/cables.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/color_applicator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/crystal_resonance_generator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/facades.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/growth_accelerator.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/interface.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/level_emitter.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/network_tool.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/p2p_tunnels.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/pattern_provider.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/patterns.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/storage_bus.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide_en_us/items-blocks-machines/storage_cells.md
Labels: 即将合并, 500+, Forge, 1.20.x

#4388 dynamic-surroundings 翻译提交
  projects/1.20-fabric/assets/dynamic-surroundings/dsurround/lang/en_us.json
  projects/1.20-fabric/assets/dynamic-surroundings/dsurround/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4437 cafes-birding 翻译提交
  projects/1.20-fabric/assets/cafes-birding/cafesbirding/lang/en_us.json
  projects/1.20-fabric/assets/cafes-birding/cafesbirding/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4427 提交Warriors Of Past Epoch 翻译
  projects/1.20/assets/warriors-of-past-epoch/warriorsofpastepoch/lang/en_us.json
  projects/1.20/assets/warriors-of-past-epoch/warriorsofpastepoch/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4450 Create Planetary Tweaks 翻译提交
  projects/1.19/assets/create-planetary-tweaks/cp_tweaks/lang/en_us.json
  projects/1.19/assets/create-planetary-tweaks/cp_tweaks/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4435 Tweaked Excavation & Tweaked Lib 翻译提交
  projects/1.12.2/assets/tweaked-excavation/tweakedexcavation/lang/en_us.lang
  projects/1.12.2/assets/tweaked-excavation/tweakedexcavation/lang/zh_cn.lang
  projects/1.12.2/assets/tweaked-lib/tweakedlib/lang/en_us.lang
  projects/1.12.2/assets/tweaked-lib/tweakedlib/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4368 Ancient Spellcraft 修正（bar）
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4127 PackagedThaumic 汉化提交
  projects/1.12.2/assets/packagedthaumic/packagedthaumic/lang/en_us.lang
  projects/1.12.2/assets/packagedthaumic/packagedthaumic/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4045 Floor Mats 翻译更新
  projects/1.18/assets/floor-mats/floormats/lang/zh_cn.json
  projects/1.20/assets/floor-mats/floormats/lang/en_us.json
  projects/1.20/assets/floor-mats/floormats/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, 1.20.x

#4300 Ars Additions 翻译更新
  projects/1.20/assets/ars-additions/ars_additions/lang/en_us.json
  projects/1.20/assets/ars-additions/ars_additions/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4031 Project Red 系列翻译更新
  projects/1.19/assets/project-red-core/projectred_core/lang/en_us.json
  projects/1.19/assets/project-red-core/projectred_core/lang/zh_cn.json
  projects/1.19/assets/project-red-expansion/projectred_expansion/lang/en_us.json
  projects/1.19/assets/project-red-expansion/projectred_expansion/lang/zh_cn.json
  projects/1.19/assets/project-red-exploration/projectred_exploration/lang/en_us.json
  projects/1.19/assets/project-red-exploration/projectred_exploration/lang/zh_cn.json
  projects/1.19/assets/project-red-illumination/projectred_illumination/lang/en_us.json
  projects/1.19/assets/project-red-illumination/projectred_illumination/lang/zh_cn.json
  projects/1.19/assets/project-red-integration/projectred_integration/lang/en_us.json
  projects/1.19/assets/project-red-integration/projectred_integration/lang/zh_cn.json
  projects/1.19/assets/project-red-transmission/projectred_transmission/lang/en_us.json
  projects/1.19/assets/project-red-transmission/projectred_transmission/lang/zh_cn.json
  projects/1.20/assets/project-red-core/projectred_core/lang/en_us.json
  projects/1.20/assets/project-red-core/projectred_core/lang/zh_cn.json
  projects/1.20/assets/project-red-expansion/projectred_expansion/lang/en_us.json
  projects/1.20/assets/project-red-expansion/projectred_expansion/lang/zh_cn.json
  projects/1.20/assets/project-red-exploration/projectred_exploration/lang/en_us.json
  projects/1.20/assets/project-red-exploration/projectred_exploration/lang/zh_cn.json
  projects/1.20/assets/project-red-illumination/projectred_illumination/lang/en_us.json
  projects/1.20/assets/project-red-illumination/projectred_illumination/lang/zh_cn.json
  projects/1.20/assets/project-red-integration/projectred_integration/lang/en_us.json
  projects/1.20/assets/project-red-integration/projectred_integration/lang/zh_cn.json
  projects/1.20/assets/project-red-transmission/projectred_transmission/lang/en_us.json
  projects/1.20/assets/project-red-transmission/projectred_transmission/lang/zh_cn.json
Labels: 即将合并, 1000+, Forge, 1.19.x, 1.20.x

#4315 The dawn era翻译提交1.20
  projects/1.20/assets/the-dawn-era/dawnera/lang/en_us.json
  projects/1.20/assets/the-dawn-era/dawnera/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x

#4066 Enderman Overhaul 翻译提交
  projects/1.19/assets/enderman-overhaul/endermanoverhaul/lang/en_us.json
  projects/1.19/assets/enderman-overhaul/endermanoverhaul/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#3857 Immersive Petroleum 翻译更新
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/lang/en_us.json
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/lang/zh_cn.json
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/asphalt.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/cokerunit.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/derrick.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/distillationtower.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/flarestack.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/fluids.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/hydrotreater.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/lubricant.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/molotov.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/oiltank.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/plastics.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/portablegenerator.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/projector.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/pumpjack.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/en_us/speedboat.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/asphalt.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/cokerunit.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/derrick.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/distillationtower.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/flarestack.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/fluids.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/hydrotreater.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/lubricant.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/molotov.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/oiltank.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/plastics.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/portablegenerator.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/projector.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/pumpjack.txt
  projects/1.19/assets/immersive-petroleum/immersivepetroleum/manual/zh_cn/speedboat.txt
Labels: 即将合并, 1000+, Forge, 1.19.x

#4458 AE2 手册翻译修正
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/ae2-mechanics/autocrafting.md
  projects/1.20/assets/applied-energistics-2/ae2/ae2guide/items-blocks-machines/storage_bus.md
Labels: 即将合并, 1+, Forge, 1.20.x

#4459 Warriors of Past Epoch 翻译修正
  projects/1.20/assets/warriors-of-past-epoch/warriorsofpastepoch/lang/zh_cn.json
Labels: 即将合并, 1+, Forge, MCreator, 1.20.x

#4466 Power Utilities [IU] 翻译提交
  projects/1.12.2/assets/power-utilities-iu/powerutils/lang/en_us.lang
  projects/1.12.2/assets/power-utilities-iu/powerutils/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4429 Create Fabric 独有文本翻译提交
  projects/1.20-fabric/assets/create-fabric/create/lang/en_us.json
  projects/1.20-fabric/assets/create-fabric/create/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4412 Scape and Run Parasites Addon: Cotesia Glomerata翻译更新、翻译修改
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4415 LDoH Tweaks 翻译提交
  projects/1.12.2/assets/last-days-of-humanity-tweaks/ldoh/lang/en_us.lang
  projects/1.12.2/assets/last-days-of-humanity-tweaks/ldoh/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4467 Hextended Staves 翻译提交
  projects/1.19/assets/hextended-staves/lanishextendedstaves/lang/en_us.json
  projects/1.19/assets/hextended-staves/lanishextendedstaves/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4464 more-slabs-stairs-and-walls 翻译提交
  projects/1.20-fabric/assets/more-slabs-stairs-and-walls/more_slabs_stairs_and_walls/lang/en_us.json
  projects/1.20-fabric/assets/more-slabs-stairs-and-walls/more_slabs_stairs_and_walls/lang/zh_cn.json
Labels: 即将合并, 1000+, Fabric, 1.20.x

#4430 Call of Yucutan 翻译提交
  projects/1.20/assets/call-of-yucutan/call_of_yucutan/lang/en_us.json
  projects/1.20/assets/call-of-yucutan/call_of_yucutan/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, MCreator, 1.20.x

#4323 Ftb teams翻译提交1.20
  projects/1.20-fabric/assets/ftb-teams-fabric/ftbteams/lang/en_us.json
  projects/1.20-fabric/assets/ftb-teams-fabric/ftbteams/packer-policy.json
  projects/1.20/assets/ftb-teams-forge/ftbteams/lang/en_us.json
  projects/1.20/assets/ftb-teams-forge/ftbteams/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Forge, 1.20.x

#4269 Ultreon Devices Mod 翻译提交
  projects/1.20/assets/devices-mod/devices/lang/en_us.json
  projects/1.20/assets/devices-mod/devices/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.20.x
