Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2024-12, with the labels that each got.

#4828 Farmer's Delight 部分附属翻译更新
  projects/1.20/assets/farmers-respite/farmersrespite/lang/en_us.json
  projects/1.20/assets/farmers-respite/farmersrespite/lang/zh_cn.json
  projects/1.20/assets/large-meals-an-add-on-for-farmers-delight/largemeals/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4827 More Tetra Materials 翻译更新
  projects/1.20/assets/more-tetra-materials/mtetm/lang/en_us.json
  projects/1.20/assets/more-tetra-materials/mtetm/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4808 MOA DECOR: SCIENCE 翻译提交
  projects/1.18/assets/moa-decor-science/moa_decor_science/lang/en_us.json
  projects/1.18/assets/moa-decor-science/moa_decor_science/lang/es_mx.json
  projects/1.18/assets/moa-decor-science/moa_decor_science/lang/zh_cn.json
  projects/1.19/assets/moa-decor-science/moa_decor_science/lang/en_us.json
  projects/1.19/assets/moa-decor-science/moa_decor_science/lang/es_mx.json
  projects/1.19/assets/moa-decor-science/moa_decor_science/lang/zh_cn.json
Labels: 即将合并, 500+, 1.18.x, Forge, MCreator, 1.19.x, 西班牙语

#3894 Embers Rekindled 翻译提交
  projects/1.20/assets/embers-rekindled/embers/lang/en_us.json
  projects/1.20/assets/embers-rekindled/embers/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, 1.20.x, (Neo)Forge

#4820 Maker's Mark 翻译提交
  projects/1.20/assets/makers-mark/makersmark/lang/en_us.json
  projects/1.20/assets/makers-mark/makersmark/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4821 Create: Deepfried 翻译提交
  projects/1.20-fabric/assets/create-deepfried/create_deepfried/lang/en_us.json
  projects/1.20-fabric/assets/create-deepfried/create_deepfried/lang/zh_cn.json
  projects/1.20/assets/create-deepfried/create_deepfried/lang/en_us.json
  projects/1.20/assets/create-deepfried/create_deepfried/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#4823 Ars 部分附属翻译修改
  projects/1.19/assets/ars-armiger/ars_armiger/lang/zh_cn.json
  projects/1.19/assets/ars-artifice/ars_artifice/lang/zh_cn.json
  projects/1.20/assets/ars-artifice/ars_artifice/lang/en_us.json
  projects/1.20/assets/ars-artifice/ars_artifice/lang/zh_cn.json
  projects/1.20/assets/ars-technica/ars_technica/lang/en_us.json
  projects/1.20/assets/ars-technica/ars_technica/lang/zh_cn.json
  projects/1.20/assets/starbunclemania/starbunclemania/lang/zh_cn.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/en_us.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/zh_cn.json
  projects/1.21/assets/ars-controle/ars_controle/lang/en_us.json
  projects/1.21/assets/ars-controle/ars_controle/lang/zh_cn.json
  projects/1.21/assets/starbunclemania/starbunclemania/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#4831 AE2 MEGA Things 翻译提交
  projects/1.18/assets/ae2-mega-things/ae2_mega_things/lang/en_us.json
  projects/1.18/assets/ae2-mega-things/ae2_mega_things/lang/zh_cn.json
  projects/1.20/assets/ae2-mega-things/ae2_mega_things/lang/en_us.json
  projects/1.20/assets/ae2-mega-things/ae2_mega_things/lang/zh_cn.json
  projects/1.21/assets/ae2-mega-things/ae2_mega_things/lang/en_us.json
  projects/1.21/assets/ae2-mega-things/ae2_mega_things/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.20.x, 1.21.x, (Neo)Forge

#4737 Shroomed 翻译提交
  projects/1.16/assets/shroomed/shroomed/lang/en_us.json
  projects/1.16/assets/shroomed/shroomed/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge, MCreator

#4841 Bountiful Harvest 翻译提交
  projects/1.21/assets/bountifulharvest/bountifulharvest/lang/en_us.json
  projects/1.21/assets/bountifulharvest/bountifulharvest/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4838 Alexs Mobs Interaction 翻译提交
  projects/1.20/assets/alexs-mobs-interaction/alexsmobsinteraction/lang/en_us.json
  projects/1.20/assets/alexs-mobs-interaction/alexsmobsinteraction/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4837 The Dawn Era Delight 翻译提交
  projects/1.20/assets/the-dawn-era-delight/dawnera_delight/lang/en_us.json
  projects/1.20/assets/the-dawn-era-delight/dawnera_delight/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4834 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/README.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4760 Chisel Chipped Integration 翻译提交
  projects/1.19/assets/chisel-chipped-integration/chisel_chipped_integration/README.md
  projects/1.19/assets/chisel-chipped-integration/chisel_chipped_integration/lang/en_us.json
  projects/1.19/assets/chisel-chipped-integration/chisel_chipped_integration/lang/zh_cn-base-fix.json
  projects/1.19/assets/chisel-chipped-integration/chisel_chipped_integration/packer-policy.json
  projects/1.20/assets/chisel-chipped-integration/chisel_chipped_integration/README.md
  projects/1.20/assets/chisel-chipped-integration/chisel_chipped_integration/lang/en_us.json
  projects/1.20/assets/chisel-chipped-integration/chisel_chipped_integration/lang/zh_cn-base.json
  projects/1.20/assets/chisel-chipped-integration/chisel_chipped_integration/lang/zh_cn-composition.json
  projects/1.20/assets/chisel-chipped-integration/chisel_chipped_integration/packer-policy.json
  projects/1.21/assets/chisel-chipped-integration/chisel_chipped_integration/README.md
  projects/1.21/assets/chisel-chipped-integration/chisel_chipped_integration/lang/en_us.json
  projects/1.21/assets/chisel-chipped-integration/chisel_chipped_integration/lang/zh_cn-base.json
  projects/1.21/assets/chisel-chipped-integration/chisel_chipped_integration/lang/zh_cn-composition.json
  projects/1.21/assets/chisel-chipped-integration/chisel_chipped_integration/packer-policy.json
Labels: 即将合并, 1000+, Forge, MCreator, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#4549 Illage and Spillage 翻译更新
  projects/1.19/assets/illage-and-spillage/illageandspillage/lang/en_us.json
  projects/1.19/assets/illage-and-spillage/illageandspillage/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4859 停止支持 Create Crafts & Additions
  config/packer/1.18.json
Labels: config, 即将合并, 1+

#4748 Deep Drilling 翻译提交
  projects/1.20/assets/modrinth-deepdrilling/deepdrilling/lang/en_us.json
  projects/1.20/assets/modrinth-deepdrilling/deepdrilling/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4845 Infusion Table 翻译提交
  projects/1.19/assets/infusion-table/infusion_table/lang/en_us.json
  projects/1.19/assets/infusion-table/infusion_table/lang/zh_cn.json
  projects/1.20-fabric/assets/infusion-table/infusion_table/lang/en_us.json
  projects/1.20-fabric/assets/infusion-table/infusion_table/lang/zh_cn.json
  projects/1.20/assets/infusion-table/infusion_table/lang/en_us.json
  projects/1.20/assets/infusion-table/infusion_table/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, Forge, 1.19.x, 1.20.x, (Neo)Forge

#4853 Spanish Delight 翻译提交
  projects/1.20/assets/spanish-delight-a-farmers-delight-add-on/spanishdelight/lang/en_us.json
  projects/1.20/assets/spanish-delight-a-farmers-delight-add-on/spanishdelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4866 Chalk 翻译更新
  projects/1.19/assets/chalk/chalk/lang/zh_cn.json
  projects/1.20/assets/chalk/chalk/lang/zh_cn.json
  projects/1.21/assets/chalk/chalk/lang/en_us.json
  projects/1.21/assets/chalk/chalk/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#4877 Complicated Bees 翻译更新
  projects/1.20/assets/complicated-bees/complicated_bees/lang/en_us.json
  projects/1.20/assets/complicated-bees/complicated_bees/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4875 Resourcesfordays 提交翻译
  projects/1.20/assets/resourcesfordays/rfd/lang/en_us.json
  projects/1.20/assets/resourcesfordays/rfd/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4879 El and L's Dyes 翻译更新
  projects/1.20-fabric/assets/el-and-ls-dyes/amendments/lang/en_us.json
  projects/1.20-fabric/assets/el-and-ls-dyes/amendments/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4878 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x

#4870 Map Atlases 翻译更新
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/en_us.json
  projects/1.20/assets/map-atlases-forge/map_atlases/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4692 The Masquerade 翻译提交
  projects/1.19/assets/the-masquerade-illager-boss/masquerader_mod/lang/en_us.json
  projects/1.19/assets/the-masquerade-illager-boss/masquerader_mod/lang/zh_cn.json
  projects/1.20/assets/the-masquerade-illager-boss/masquerader_mod/lang/en_us.json
  projects/1.20/assets/the-masquerade-illager-boss/masquerader_mod/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x, 1.20.x, (Neo)Forge

#3998 AoA: Extra Realmstone 翻译提交
  projects/1.16/assets/aoa-end-realmstone/aoaendr/lang/en_us.json
  projects/1.16/assets/aoa-end-realmstone/aoaendr/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#4857 停止支持 Illager Additions
  config/packer/1.19.json
  projects/1.19/assets/illager-additions/illager_additions/lang/en_us.json
  projects/1.19/assets/illager-additions/illager_additions/lang/zh_cn.json
Labels: config, 即将合并, 100+, Forge, 1.19.x

#4869 Applied Mekanistics 与 MEGACells 翻译更新
  projects/1.21/assets/applied-mekanistics/appmek/lang/en_us.json
  projects/1.21/assets/applied-mekanistics/appmek/lang/zh_cn.json
  projects/1.21/assets/mega-cells/megacells/lang/en_us.json
  projects/1.21/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4874 aquaculture-delight 翻译提交
  projects/1.18/assets/aquaculture-delight/aquaculturedelight/lang/en_us.json
  projects/1.18/assets/aquaculture-delight/aquaculturedelight/lang/ru_ru.json
  projects/1.18/assets/aquaculture-delight/aquaculturedelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.18.x, Forge, MCreator, 俄语

#4705 Chinjufumod +JapaneseBlock v7.1.1 翻译更新
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/en_us.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/ja_jp.lang
  projects/1.12.2/assets/chinjufumod/chinjufumod/lang/zh_cn.lang
  projects/1.16/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.16/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.18/assets/chinjufumod/chinjufumod/lang/zh_cn.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/en_us.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/ja_jp.json
  projects/1.20/assets/chinjufumod/chinjufumod/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 5000+, 1.18.x, Forge, 日语, 1.20.x, (Neo)Forge

#4178 1.19 翻译提交
  projects/1.19/assets/cozy-foods-milk-tea/cozyfoods/lang/en_us.json
  projects/1.19/assets/cozy-foods-milk-tea/cozyfoods/lang/zh_cn.json
  projects/1.19/assets/egg-delight/eggdelight/lang/en_us.json
  projects/1.19/assets/egg-delight/eggdelight/lang/zh_cn.json
  projects/1.19/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/en_us.json
  projects/1.19/assets/italian-delights-add-on-for-farmers-delight/italian_delight/lang/zh_cn.json
  projects/1.19/assets/such-a-delight/suchadelight/lang/en_us.json
  projects/1.19/assets/such-a-delight/suchadelight/lang/zh_cn.json
Labels: 问题, 即将合并, 500+, Forge, MCreator, 1.19.x
