Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-06, with the labels that each got.

#5253 Tinkers Jewelry 翻译提交
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/intro/toolparts.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/intro/welcome.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/jewelry/ring.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/language.lang
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/abilities.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/abilities/tinkersjewelry_subspace.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/abilities/tinkersjewelry_undying.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/index.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/slotless.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/slotless/tinkersjewelry_glowing_gem.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/upgrades.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/en_us/modifiers/upgrades/tinkersjewelry_polish.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/intro/toolparts.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/intro/welcome.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/jewelry/ring.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/language.lang
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/abilities.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/abilities/tinkersjewelry_subspace.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/abilities/tinkersjewelry_undying.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/index.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/slotless.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/slotless/tinkersjewelry_glowing_gem.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/upgrades.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/book/jewelry/zh_cn/modifiers/upgrades/tinkersjewelry_polish.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/lang/en_us.json
  projects/1.20/assets/tinkers-jewelry/tinkersjewelry/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, (Neo)Forge

#5247 Simple Hammers 翻译提交
  projects/1.12.2/assets/simple-hammers/simple_hammers/lang/en_us.lang
  projects/1.12.2/assets/simple-hammers/simple_hammers/lang/zh_cn.lang
  projects/1.16/assets/simple-hammers/simple_hammers/lang/en_us.json
  projects/1.16/assets/simple-hammers/simple_hammers/lang/zh_cn.json
  projects/1.18/assets/simple-hammers/simple_hammers/lang/en_us.json
  projects/1.18/assets/simple-hammers/simple_hammers/lang/zh_cn.json
  projects/1.19/assets/simple-hammers/simple_hammers/lang/en_us.json
  projects/1.19/assets/simple-hammers/simple_hammers/lang/zh_cn.json
  projects/1.20/assets/simple-hammers/simple_hammers/lang/en_us.json
  projects/1.20/assets/simple-hammers/simple_hammers/lang/zh_cn.json
  projects/1.21/assets/simple-hammers/simple_hammers/lang/en_us.json
  projects/1.21/assets/simple-hammers/simple_hammers/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5232 Ars Nouveau 1.21 翻译更新
  projects/1.21/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.21/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5230 Titanium 翻译提交
  projects/1.21/assets/titanium/titanium/lang/en_us.json
  projects/1.21/assets/titanium/titanium/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5227 thalassophobia模组汉化提交
  projects/1.20/assets/thalassophobia/thalassophobia/lang/en_us.json
  projects/1.20/assets/thalassophobia/thalassophobia/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, (Neo)Forge

#5269 Mekanism Curios 翻译修复
  projects/1.20/assets/mekanism-curios/mekanismcurios/lang/zh_cn.json
  projects/1.21/assets/mekanism-curios/mekanismcurios/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, 1.21.x, (Neo)Forge

#4832 Ars Elemancy 翻译提交
  projects/1.21/assets/ars-elemancy/ars_elemancy/lang/en_us.json
  projects/1.21/assets/ars-elemancy/ars_elemancy/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5209 Mo' Bees 翻译提交
  projects/1.20/assets/mo-bees/mobees/lang/en_us.json
  projects/1.20/assets/mo-bees/mobees/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5210 Create: Confectionery 翻译更新
  projects/1.21/assets/create-confectionery/create_confectionery/lang/en_us.json
  projects/1.21/assets/create-confectionery/create_confectionery/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.21.x, (Neo)Forge

#5257 Replication AE2 Bridge 翻译提交
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/_zh_cn/rep_intro/matter_types.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/_zh_cn/rep_intro/rep_intro-index.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/_zh_cn/rep_intro/repae2bridge.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/rep_intro/matter_types.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/rep_intro/rep_intro-index.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/ae2guide/rep_intro/repae2bridge.md
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/lang/en_us.json
  projects/1.21/assets/replication-ae2-bridge/rep_ae2_bridge/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5260 unionlib 与原版撞key修复
  projects/1.16/assets/unionlib/unionlib/lang/zh_cn.json
  projects/1.18-fabric/assets/unionlib/unionlib/lang/zh_cn.json
  projects/1.18/assets/unionlib/unionlib/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 1+, 1.18.x, Fabric, Forge

#5261 Not Enough Glyphs 翻译更新
  projects/1.21/assets/not-enough-glyphs/not_enough_glyphs/lang/en_us.json
  projects/1.21/assets/not-enough-glyphs/not_enough_glyphs/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5266 香芋乐事（UbesDelight）翻译更新
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/en_us.json
  projects/1.20-fabric/assets/ubes-delight/ubesdelight/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 100+, Fabric, Forge, 1.20.x, (Neo)Forge

#5283 ExtendedAE 手册修复
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/_zh_cn/epp_intro/active_formation_plane.md
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge

#5273 Scape and Run Parasites Addon: Cotesia Glomerata 翻译更新
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#5267 Forager's Insight翻译提交
  projects/1.20/assets/foragers-insight/foragersinsight/lang/en_us.json
  projects/1.20/assets/foragers-insight/foragersinsight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5263 butchercarft 翻译更新, chunkloaders 翻译提交, expandeddelight 翻译提交, immersive_aircraft 翻译提交, pineapple_delight 翻译更名, extradelight 翻译更新
  projects/1.21/assets/butchercraft/butchercraft/lang/en_us.json
  projects/1.21/assets/butchercraft/butchercraft/lang/zh_cn.json
  projects/1.21/assets/chunk-loaders/chunkloaders/lang/en_us.json
  projects/1.21/assets/chunk-loaders/chunkloaders/lang/zh_cn.json
  projects/1.21/assets/expanded-delight/expandeddelight/lang/en_us.json
  projects/1.21/assets/expanded-delight/expandeddelight/lang/zh_cn.json
  projects/1.21/assets/extradelight/extradelight/lang/en_us.json
  projects/1.21/assets/extradelight/extradelight/lang/zh_cn.json
  projects/1.21/assets/immersive-aircraft/immersive_aircraft/lang/en_us.json
  projects/1.21/assets/immersive-aircraft/immersive_aircraft/lang/zh_cn.json
  projects/1.21/assets/pineapple-delight/pineapple_delight/lang/en_us.json
  projects/1.21/assets/pineapple-delight/pineapple_delight/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge

#5278 Hole Filler Mod翻译提交
  projects/1.21/assets/hole-filler-mod/hole_filler_mod/lang/en_us.json
  projects/1.21/assets/hole-filler-mod/hole_filler_mod/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5306 Create: Stock Bridge 翻译更新
  projects/1.20/assets/create-stock-bridge/createstockbridge/lang/en_us.json
  projects/1.20/assets/create-stock-bridge/createstockbridge/lang/zh_cn.json
  projects/1.21/assets/create-stock-bridge/createstockbridge/lang/en_us.json
  projects/1.21/assets/create-stock-bridge/createstockbridge/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, 1.21.x, (Neo)Forge

#5305 Modern AE2 Additions 翻译更新
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/_zh_cn/semivibrant_glass.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/semivibrant_glass.md
  projects/1.20/assets/modern-ae2-additions/mae2/lang/en_us.json
  projects/1.20/assets/modern-ae2-additions/mae2/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5295 Secrets of Forging: Relevations 翻译搬运
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/en_us.json
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, (Neo)Forge

#5293 Databank 翻译提交
  projects/1.21/assets/databank/databank/lang/en_us.json
  projects/1.21/assets/databank/databank/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5291 Modopedia 翻译提交
  projects/1.21-fabric/assets/modopedia/modopedia/README.md
  projects/1.21-fabric/assets/modopedia/modopedia/lang/en_us.json
  projects/1.21-fabric/assets/modopedia/modopedia/packer-policy.json
  projects/1.21/assets/modopedia/modopedia/README.md
  projects/1.21/assets/modopedia/modopedia/lang/en_us.json
  projects/1.21/assets/modopedia/modopedia/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x, (Neo)Forge
