Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-05, with the labels that each got.

#5158 FTB Materials 翻译提交
  projects/1.21/assets/ftb-materials/ftbmaterials/lang/en_us.json
  projects/1.21/assets/ftb-materials/ftbmaterials/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5184 EnderDrives 翻译更新
  projects/1.21/assets/enderdrives/enderdrives/ae2guide/_zh_cn/enderdrives_intro/enderdrives_intro.md
  projects/1.21/assets/enderdrives/enderdrives/ae2guide/_zh_cn/enderdrives_intro/tapedrive_intro.md
  projects/1.21/assets/enderdrives/enderdrives/ae2guide/enderdrives_intro/enderdrives_intro.md
  projects/1.21/assets/enderdrives/enderdrives/ae2guide/enderdrives_intro/tapedrive_intro.md
  projects/1.21/assets/enderdrives/enderdrives/lang/en_us.json
  projects/1.21/assets/enderdrives/enderdrives/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5187 Relics: Arcane Abilities 1.21翻译提交
  projects/1.21/assets/arcane-abilities/arcane_abilities/lang/en_us.json
  projects/1.21/assets/arcane-abilities/arcane_abilities/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5142 Evilcraft 翻译提交
  projects/1.21/assets/evilcraft/evilcraft/lang/en_us.json
  projects/1.21/assets/evilcraft/evilcraft/lang/zh_cn.json
Labels: 即将合并, 1000+, 需要公示, 1.21.x, (Neo)Forge

#5200 Astral Sorcery 翻译修正
  projects/1.12.2/assets/astral-additions/astraladditions/lang/zh_cn.lang
  projects/1.12.2/assets/astral-sorcery/astralsorcery/lang/zh_cn.lang
  projects/1.16/assets/astral-sorcery/astralsorcery/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 10+, Forge

#5206 Railcraft 翻译修正
  projects/1.12.2/assets/railcraft/railcraft/lang/en_us.lang
  projects/1.12.2/assets/railcraft/railcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#5204 AE2 手册翻译修正
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/autocrafting.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/bytes-and-types.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/cable-subparts.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/certus-growth.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/channels.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/import-export-storage.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/spatial-io.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/advanced-certus-farm.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/amethyst-farm.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/bucket-emptier.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/bucket-filler.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/main-network.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/pipe-subnet.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/getting-started.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/index.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/certus_quartz_crystal.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/controller.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/export_bus.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/fluix_crystal.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/fluix_upgrade_smithing_template.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/interface.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/io_port.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/p2p_tunnels.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/paintballs.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/pattern_provider.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/patterns.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/storage_cells.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/terminals.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/vibration_chamber.md
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5203 Nature's Compass 翻译修改
  projects/1.12.2/assets/natures-compass/naturescompass/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#5201 Scape and Run Parasites Addon: Cotesia Glomerata 翻译更新
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#5199 Trickster 翻译更新
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.json
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.yml
  projects/1.21-fabric/assets/trickster/trickster/lang/zh_cn.json
  projects/1.21-fabric/assets/trickster/trickster/lavender/categories/tome_of_tomfoolery/distortions.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/categories/tome_of_tomfoolery/zh_cn/distortions.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/concepts/tricks_explanation.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/delusions_ingresses/caster_tricks.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/delusions_ingresses/entity.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/distortions/list.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/distortions/map.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/distortions/tree.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/astral_hint.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/astral_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/cracked_echo_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/echo_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/ominous_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/rusted_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/ploys/flecks.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/ploys/misc.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/tricks/basic.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/tricks/cost.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/tricks/functions.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/tricks/imports.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/concepts/tricks_explanation.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/delusions_ingresses/caster_tricks.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/delusions_ingresses/entity.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/list.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/map.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/tree.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/astral_hint.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/astral_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/cracked_echo_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/echo_knot.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/ominous_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/rusted_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/flecks.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/misc.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/tricks/basic.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/tricks/cost.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/tricks/functions.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/tricks/imports.md
Labels: 即将合并, 500+, Fabric, 1.21.x

#5127 RFTools 系列模组翻译提交
  projects/1.21/assets/mcjtylib/mcjtylib/lang/en_us.json
  projects/1.21/assets/mcjtylib/mcjtylib/lang/zh_cn.json
  projects/1.21/assets/rftools-base/rftoolsbase/lang/en_us.json
  projects/1.21/assets/rftools-base/rftoolsbase/lang/zh_cn.json
  projects/1.21/assets/rftools-builder/rftoolsbuilder/lang/en_us.json
  projects/1.21/assets/rftools-builder/rftoolsbuilder/lang/zh_cn.json
  projects/1.21/assets/rftools-power/rftoolspower/lang/en_us.json
  projects/1.21/assets/rftools-power/rftoolspower/lang/zh_cn.json
  projects/1.21/assets/rftools-utility/rftoolsutility/lang/en_us.json
  projects/1.21/assets/rftools-utility/rftoolsutility/lang/zh_cn.json
  projects/1.21/assets/xnet/xnet/lang/en_us.json
  projects/1.21/assets/xnet/xnet/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#4772 Dramatic Doors 翻译提交
  projects/1.20/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.20/assets/dramatic-doors/dramaticdoors/lang/zh_cn-base-fix.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/en_us.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/zh_cn-base.json
  projects/1.21/assets/dramatic-doors/dramaticdoors/lang/zh_cn-composition.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#5205 Immersive Engineering 1.21.1 翻译提交
  projects/1.21/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.21/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge

#4833 Ars Elemental 1.20.1 与 1.21.1 翻译提交
  projects/1.20/assets/ars-elemental/ars_elemental/lang/en_us.json
  projects/1.20/assets/ars-elemental/ars_elemental/lang/zh_cn.json
  projects/1.21/assets/ars-elemental/ars_elemental/lang/en_us.json
  projects/1.21/assets/ars-elemental/ars_elemental/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.20.x, 1.21.x, (Neo)Forge

#4957 Macaw's Doors 与 Macaw's Lights and Lamps 翻译更新
  projects/1.16/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.16/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.18-fabric/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.18-fabric/assets/macaws-doors/mcwdoors/lang/zh_cn-base-fix.json
  projects/1.18-fabric/assets/macaws-doors/mcwdoors/packer-policy.json
  projects/1.18-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.18/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.18/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.19/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.19/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.20-fabric/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.20-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.20/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.20/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.21-fabric/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.21-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.21/assets/macaws-doors/mcwdoors/README.md
  projects/1.21/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.21/assets/macaws-doors/mcwdoors/lang/zh_cn-base.json
  projects/1.21/assets/macaws-doors/mcwdoors/lang/zh_cn-composition.json
  projects/1.21/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.21/assets/macaws-lights-and-lamps/mcwlights/lang/zh_cn-base.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5040 AdvancedAE 翻译提交
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/aae_intro-index.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/advanced_pattern_encoder.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/advanced_pattern_provider.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/app_upgrade_items.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/import_export_bus.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/quantum_armor.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/quantum_computer.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/quantum_crafter.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/reaction_chamber.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/stock_export_bus.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/throughput_monitor.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/ape_pattern.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/app_gui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/pattern_configuration_ui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/quantum_armor_config.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/quantum_crafter_ui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/aae_intro-index.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/advanced_pattern_encoder.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/advanced_pattern_provider.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/app_upgrade_items.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/import_export_bus.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/quantum_armor.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/quantum_computer.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/quantum_crafter.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/reaction_chamber.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/stock_export_bus.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/aae_intro/throughput_monitor.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/aae_intro.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/ape_pattern.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/app_gui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/pattern_configuration_ui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/quantum_armor_config.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/quantum_crafter_ui.png
  projects/1.21/assets/advancedae/advanced_ae/lang/en_us.json
  projects/1.21/assets/advancedae/advanced_ae/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5042 Applied Flux 翻译提交
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/appflux-index.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/diamond_dust.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/emerald_dust.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/energy_processor.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/flux_accessor.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/flux_cells.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/induction_card.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/insulating_resin.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/mark_energy.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/portable_flux_cells.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/redstone_crystal.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/appflux/terminal_interact.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/pic/fe_mark.png
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/pic/fe_terminal.png
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/pic/fe_terminal2.png
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/appflux-index.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/diamond_dust.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/emerald_dust.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/energy_processor.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/flux_accessor.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/flux_cells.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/induction_card.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/insulating_resin.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/mark_energy.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/portable_flux_cells.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/redstone_crystal.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/appflux/terminal_interact.md
  projects/1.21/assets/applied-flux/appflux/ae2guide/pic/fe_mark.png
  projects/1.21/assets/applied-flux/appflux/ae2guide/pic/fe_terminal.png
  projects/1.21/assets/applied-flux/appflux/ae2guide/pic/fe_terminal2.png
  projects/1.21/assets/applied-flux/appflux/lang/en_us.json
  projects/1.21/assets/applied-flux/appflux/lang/zh_cn.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge

#5175 Ars Nouveau 1.21.1 翻译提交
  projects/1.21/assets/ars-nouveau/ars_nouveau/lang/en_us.json
  projects/1.21/assets/ars-nouveau/ars_nouveau/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge

#5215 Darkutils进度名修复
  projects/1.18/assets/dark-utilities/darkutils/lang/zh_cn.json
  projects/1.19/assets/dark-utilities/darkutils/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge, 1.19.x

#5216 AE2 手册翻译修正
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/growth_accelerator.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/interface.md
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5217 Construction Sticks 翻译更新
  projects/1.21/assets/construction-sticks/constructionstick/lang/en_us.json
  projects/1.21/assets/construction-sticks/constructionstick/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5220 PNC: Extra PCBs 翻译提交
  projects/1.20/assets/pnc-extra-pcbs/pncepcb/lang/en_us.json
  projects/1.20/assets/pnc-extra-pcbs/pncepcb/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5219 Create Immersive Unnecessary Shaft 翻译提交
  projects/1.20/assets/create-immersive-unnecessary-shaft/createimmersiveunnecessaryshaft/lang/en_us.json
  projects/1.20/assets/create-immersive-unnecessary-shaft/createimmersiveunnecessaryshaft/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5218 Opalescence 翻译提交
  projects/1.20/assets/opalescence/opalescence/lang/en_us.json
  projects/1.20/assets/opalescence/opalescence/lang/zh_cn.json
  projects/1.21/assets/opalescence/opalescence/lang/en_us.json
  projects/1.21/assets/opalescence/opalescence/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#4028 Apotheotic Additions 翻译提交
  projects/1.19/assets/apotheotic-additions/apotheotic_additions/lang/en_us.json
  projects/1.19/assets/apotheotic-additions/apotheotic_additions/lang/zh_cn.json
  projects/1.20/assets/apotheotic-additions/apotheotic_additions/lang/en_us.json
  projects/1.20/assets/apotheotic-additions/apotheotic_additions/lang/zh_cn.json
Labels: 即将合并, 2000+, Forge, MCreator, 1.19.x, 1.20.x, (Neo)Forge

#5244 Mekanism Curios 翻译提交
  projects/1.20/assets/mekanism-curios/mekanismcurios/lang/en_us.json
  projects/1.20/assets/mekanism-curios/mekanismcurios/lang/zh_cn.json
  projects/1.21/assets/mekanism-curios/mekanismcurios/lang/en_us.json
  projects/1.21/assets/mekanism-curios/mekanismcurios/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, 1.21.x, (Neo)Forge

#5240 Phasorite Networks 翻译提交
  projects/1.21/assets/phasorite-networks/phasoritenetworks/lang/en_us.json
  projects/1.21/assets/phasorite-networks/phasoritenetworks/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5237 Modern AE2 Additions 翻译提交
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/_zh_cn/faulty_card.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/_zh_cn/multi_p2p_tunnels.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/_zh_cn/pattern_p2p_tunnel.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/faulty_card.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/multi_p2p_tunnels.md
  projects/1.20/assets/modern-ae2-additions/mae2/ae2guide/pattern_p2p_tunnel.md
  projects/1.20/assets/modern-ae2-additions/mae2/lang/en_us.json
  projects/1.20/assets/modern-ae2-additions/mae2/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5235 Extra Bees: Community Edition 翻译提交
  projects/1.20/assets/extrabees-community/extrabees/lang/en_us.json
  projects/1.20/assets/extrabees-community/extrabees/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5233 Mekanism Elements 翻译提交
  projects/1.20/assets/mekanism-elements/mekanismelements/lang/en_us.json
  projects/1.20/assets/mekanism-elements/mekanismelements/lang/ja_jp.json
  projects/1.20/assets/mekanism-elements/mekanismelements/lang/zh_cn.json
Labels: 即将合并, 500+, 日语, 1.20.x, (Neo)Forge

#5222 Create: Cooking 翻译提交
  projects/1.20-fabric/assets/create-cooking/create_cooking/lang/en_us.json
  projects/1.20-fabric/assets/create-cooking/create_cooking/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#5198 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge
