Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-07, with the labels that each got.

#5296 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5310 Immersive engineering翻译更新
  projects/1.21/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.21/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5290 Crazy AE2 Addons 翻译更新
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/auto_builder.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/auto_builder_language.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/circuited_pattern_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/crafting_canceler.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/crazy_pattern_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/data_setter.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/energy_exporter.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/energy_interface.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/energy_storage_multiblock.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/entropy_cradle.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/exclusive_mode.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/extracting_fe_p2p_tunnel.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/extracting_p2p_tunnels.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/mob_farm.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/nbt_export_bus.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/nbt_storage_bus.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/penrose_sphere.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/right_click_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/spawner_extractor.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/stone_cutter_recipes.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/variable_terminal.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/wormhole_tunnel.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/auto_builder.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/auto_builder_language.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/circuited_pattern_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/crafting_canceler.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/crazy_pattern_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/data_setter.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/energy_exporter.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/energy_interface.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/energy_storage_multiblock.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/entropy_cradle.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/exclusive_mode.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/extracting_fe_p2p_tunnel.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/extracting_p2p_tunnels.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/mob_farm.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/nbt_export_bus.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/nbt_storage_bus.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/penrose_sphere.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/right_click_provider.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/spawner_extractor.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/stone_cutter_recipes.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/variable_terminal.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/wormhole_tunnel.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/en_us.json
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, (Neo)Forge

#5317 Create: Sound of Steam 翻译提交
  projects/1.20/assets/create-sound-of-steam/pipeorgans/lang/en_us.json
  projects/1.20/assets/create-sound-of-steam/pipeorgans/lang/zh_cn.json
  projects/1.21/assets/create-sound-of-steam/pipeorgans/lang/en_us.json
  projects/1.21/assets/create-sound-of-steam/pipeorgans/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#5320 cuboiddroids-support-mod 翻译提交
  projects/1.20/assets/cuboiddroids-support-mod/cuboidmod/lang/en_us.json
  projects/1.20/assets/cuboiddroids-support-mod/cuboidmod/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, (Neo)Forge

#5315 Crystalix 翻译更新
  projects/1.21/assets/crystalix/crystalix/lang/en_us.json
  projects/1.21/assets/crystalix/crystalix/lang/zh_cn-base.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5324 Trickster 翻译更新
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.json
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.yml
  projects/1.21-fabric/assets/trickster/trickster/lang/zh_cn.json
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/inactive_spawner_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/spawner_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/inactive_spawner_spell_core.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/spawner_spell_core.md
Labels: 即将合并, 100+, Fabric, 1.21.x

#4763 Ice and Fire: RotN Edition 翻译迁移
  projects/1.12.2/assets/ice-and-fire-rotn-edition/iceandfire/lang/en_us.lang
  projects/1.12.2/assets/ice-and-fire-rotn-edition/iceandfire/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 2000+, Forge

#5304 Immersive Paintings 翻译提交
  projects/1.21/assets/immersive-paintings/immersive_paintings/lang/en_us.json
  projects/1.21/assets/immersive-paintings/immersive_paintings/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5328 Modopedia 翻译更新
  projects/1.21-fabric/assets/modopedia/modopedia/lang/en_us.json
  projects/1.21/assets/modopedia/modopedia/lang/en_us.json
  projects/1.21/assets/modopedia/modopedia/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.21.x, (Neo)Forge

#5329 Ender Villages 翻译提交
  projects/1.21/assets/ender-villages/endervillages/lang/en_us.json
  projects/1.21/assets/ender-villages/endervillages/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5336 Secrets of Forging: Revelations 翻译更新
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/en_us.json
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#5335 Crazy AE2 Addons 翻译更新
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/en_us.json
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5337 Mystical Agriculture Tiered Crystals 翻译提交
  projects/1.20/assets/mystical-agriculture-tiered-crystals/matc/lang/en_us.json
  projects/1.20/assets/mystical-agriculture-tiered-crystals/matc/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5302 Modular Machinery Community Edition addons 翻译提交
  projects/1.12.2/assets/modular-machinery-community-edition-addons/modularmachineryaddons/lang/en_us.lang
  projects/1.12.2/assets/modular-machinery-community-edition-addons/modularmachineryaddons/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#5300 Beautify！1.21.1版本翻译提交
  projects/1.21/assets/beautify-decorate/beautify/lang/en_us.json
  projects/1.21/assets/beautify-decorate/beautify/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5334 Simple Quarry 翻译提交
  projects/1.20/assets/simple-quarry/squarry/lang/en_us.lang
  projects/1.20/assets/simple-quarry/squarry/lang/zh_cn.lang
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5352 Integrated REST 翻译提交
  projects/1.21/assets/integrated-rest/integratedrest/lang/en_us.json
  projects/1.21/assets/integrated-rest/integratedrest/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5350 Crazy AE2 Addons 翻译更新
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/_zh_cn/crazyguide/reinforced_matter_condenser.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/ae2guide/crazyguide/reinforced_matter_condenser.md
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/en_us.json
  projects/1.20/assets/crazy-ae2-addons/crazyae2addons/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5299 Evilcraft 翻译提交
  projects/1.20/assets/evilcraft/evilcraft/lang/en_us.json
  projects/1.20/assets/evilcraft/evilcraft/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.20.x, (Neo)Forge

#5285 The Undergarden 翻译更新
  projects/1.18/assets/the-undergarden/undergarden/lang/zh_cn.json
  projects/1.19/assets/the-undergarden/undergarden/lang/zh_cn.json
  projects/1.20/assets/the-undergarden/undergarden/lang/zh_cn.json
  projects/1.21/assets/the-undergarden/undergarden/lang/en_us.json
  projects/1.21/assets/the-undergarden/undergarden/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5358 Data and Essence 翻译更新
  projects/1.21/assets/data-essence/datanessence/lang/en_us.json
  projects/1.21/assets/data-essence/datanessence/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5343 Macro Keybinds 翻译提交
  projects/1.21/assets/macrokeybinds/macrokeybinds/lang/en_us.json
  projects/1.21/assets/macrokeybinds/macrokeybinds/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5275 Replication 翻译提交
  projects/1.21/assets/replication/replication/guides/replication/main/_zh_cn/guide.md
  projects/1.21/assets/replication/replication/guides/replication/main/guide.md
  projects/1.21/assets/replication/replication/lang/en_us.json
  projects/1.21/assets/replication/replication/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5211 Eternal Nether 翻译提交
  projects/1.21-fabric/assets/eternal-nether/eternalnether/lang/en_us.json
  projects/1.21-fabric/assets/eternal-nether/eternalnether/lang/zh_cn.json
  projects/1.21/assets/eternal-nether/eternalnether/lang/en_us.json
  projects/1.21/assets/eternal-nether/eternalnether/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x, (Neo)Forge

#5242 Alchemists Arsenal 翻译提交
  projects/1.21/assets/alchemists-arsenal/alkhars/lang/en_us.json
  projects/1.21/assets/alchemists-arsenal/alkhars/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5360 Simple Conveyor Belts 翻译提交
  projects/1.21/assets/simple-conveyor-belts/belts/lang/en_us.json
  projects/1.21/assets/simple-conveyor-belts/belts/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5359 Modern AE2 Additions 翻译更新
  projects/1.20/assets/modern-ae2-additions/mae2/lang/en_us.json
  projects/1.20/assets/modern-ae2-additions/mae2/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5313 Blue Skies Tinkers Compat 翻译更新
  projects/1.18/assets/blueskies-tcon/blue_skies_tcon/lang/en_us.json
  projects/1.18/assets/blueskies-tcon/blue_skies_tcon/lang/zh_cn.json
  projects/1.20/assets/blueskies-tcon/blue_skies_tcon/lang/en_us.json
  projects/1.20/assets/blueskies-tcon/blue_skies_tcon/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.20.x, (Neo)Forge

#4995 Modern Life 翻译提交及修正
  projects/1.16/assets/modern-life/modernlife/lang/zh_cn.json
  projects/1.18/assets/modern-life/modernlife/lang/en_us.json
  projects/1.18/assets/modern-life/modernlife/lang/zh_cn.json
  projects/1.19/assets/modern-life/modernlife/lang/en_us.json
  projects/1.19/assets/modern-life/modernlife/lang/zh_cn.json
  projects/1.20/assets/modern-life/modernlife/lang/en_us.json
  projects/1.20/assets/modern-life/modernlife/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#5067 Reliquified Twilight Forest 翻译提交
  projects/1.21/assets/reliquified-twilight-forest/reliquified_twilight_forest/lang/en_us.json
  projects/1.21/assets/reliquified-twilight-forest/reliquified_twilight_forest/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5092 Faunify 翻译提交
  projects/1.20/assets/faunify/faunify/lang/en_us.json
  projects/1.20/assets/faunify/faunify/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5371 Just Another Grass Seed 翻译提交
  projects/1.21/assets/jags/jags/lang/en_us.json
  projects/1.21/assets/jags/jags/lang/zh_cn.json
Labels: 即将合并, 40+

#5213 NauTec 翻译提交
  projects/1.21/assets/nautec/nautec/lang/README.md
  projects/1.21/assets/nautec/nautec/lang/en_us.json
  projects/1.21/assets/nautec/nautec/lang/zh_cn.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge

#5375 Iron Furnaces 翻译提交
  projects/1.21/assets/iron-furnaces/ironfurnaces/lang/en_us.json
  projects/1.21/assets/iron-furnaces/ironfurnaces/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5374 Cable Tiers 翻译提交
  projects/1.21/assets/cable-tiers/cabletiers/lang/en_us.json
  projects/1.21/assets/cable-tiers/cabletiers/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5384 PolyLib 翻译提交
  projects/1.18/assets/polylib/polylib/lang/en_us.json
  projects/1.18/assets/polylib/polylib/lang/zh_cn.json
  projects/1.19/assets/polylib/polylib/lang/en_us.json
  projects/1.19/assets/polylib/polylib/lang/zh_cn.json
  projects/1.20/assets/polylib/polylib/lang/en_us.json
  projects/1.20/assets/polylib/polylib/lang/zh_cn.json
  projects/1.21/assets/polylib/polylib/lang/en_us.json
  projects/1.21/assets/polylib/polylib/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5377 AntiBlocksReChiseled 翻译提交
  projects/1.21/assets/antiblocksrechiseled/antiblocksrechiseled/lang/en_us.json
  projects/1.21/assets/antiblocksrechiseled/antiblocksrechiseled/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5386 Utilitarian 翻译更新
  projects/1.21/assets/utilitarian/utilitarian/lang/en_us.json
  projects/1.21/assets/utilitarian/utilitarian/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5381 Shrink 翻译提交
  projects/1.21/assets/shrink_/shrink/lang/en_us.json
  projects/1.21/assets/shrink_/shrink/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5394 Extended Terminal 翻译提交
  projects/1.21/assets/extended-terminal/extendedterminal/lang/en_us.json
  projects/1.21/assets/extended-terminal/extendedterminal/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5365 Create: Aquatic Ambitions 翻译提交
  projects/1.20/assets/create-aquatic-ambitions/create_aquatic_ambitions/lang/en_us.json
  projects/1.20/assets/create-aquatic-ambitions/create_aquatic_ambitions/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4822 Oreganized 与 Doom & Gloom 翻译更新
  projects/1.20/assets/doom-gloom/doom_and_gloom/lang/en_us.json
  projects/1.20/assets/doom-gloom/doom_and_gloom/lang/zh_cn-base.json
  projects/1.20/assets/doom-gloom/doom_and_gloom/lang/zh_cn-composition.json
  projects/1.20/assets/doom-gloom/doom_and_gloom/packer-policy.json
  projects/1.20/assets/oreganized-carcinogenius/oreganized/lang/en_us.json
  projects/1.20/assets/oreganized-carcinogenius/oreganized/lang/zh_cn.json
  projects/1.20/assets/oreganized/oreganized/lang/en_us.json
  projects/1.20/assets/oreganized/oreganized/lang/zh_cn-base.json
  projects/1.20/assets/oreganized/oreganized/lang/zh_cn-composition.json
  projects/1.20/assets/oreganized/oreganized/packer-policy.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5397 Hex Casting 翻译更新
  projects/1.20-fabric/assets/hexcasting/hexcasting/README.md
  projects/1.20-fabric/assets/hexcasting/hexcasting/lang/en_us.flatten.json5
  projects/1.20-fabric/assets/hexcasting/hexcasting/packer-policy.json
  projects/1.20/assets/hexcasting/hexcasting/README.md
  projects/1.20/assets/hexcasting/hexcasting/lang/en_us.flatten.json5
  projects/1.20/assets/hexcasting/hexcasting/lang/zh_cn.flatten.json5
Labels: 即将合并, 5000+, Fabric, 1.20.x, (Neo)Forge

#5398 Caduceus 翻译提交
  projects/1.20-fabric/assets/caduceus/caduceus/README.md
  projects/1.20-fabric/assets/caduceus/caduceus/lang/en_us.flatten.json5
  projects/1.20-fabric/assets/caduceus/caduceus/packer-policy.json
  projects/1.20/assets/caduceus/caduceus/README.md
  projects/1.20/assets/caduceus/caduceus/lang/en_us.flatten.json5
  projects/1.20/assets/caduceus/caduceus/lang/zh_cn.flatten.json5
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#5402 Data and Essence 翻译修复
  projects/1.21/assets/data-essence/datanessence/lang/zh_cn.json
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge

#5307 Chili Bullet Weapons 翻译更新
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/README.md
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/lang/zh_cn.json
  projects/1.20-fabric/assets/chili-bullet-weapons/chilibulletweapons/packer-policy.json
  projects/1.20/assets/chili-bullet-weapons/chilibulletweapons/README.md
  projects/1.20/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.20/assets/chili-bullet-weapons/chilibulletweapons/lang/zh_cn.json
  projects/1.21-fabric/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/README.md
  projects/1.21-fabric/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/lang/en_us.json
  projects/1.21-fabric/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/packer-policy.json
  projects/1.21-fabric/assets/chili-bullet-weapons/chilibulletweapons/README.md
  projects/1.21-fabric/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.21-fabric/assets/chili-bullet-weapons/chilibulletweapons/packer-policy.json
  projects/1.21/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/README.md
  projects/1.21/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/lang/en_us.json
  projects/1.21/assets/cbw-chili-peppers-and-foods/cbwchilipeppersandfoods/lang/zh_cn.json
  projects/1.21/assets/chili-bullet-weapons/chilibulletweapons/README.md
  projects/1.21/assets/chili-bullet-weapons/chilibulletweapons/lang/en_us.json
  projects/1.21/assets/chili-bullet-weapons/chilibulletweapons/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#5404 Hexlink 与 HexPigmentPlus 翻译提交
  projects/1.19/assets/hexlink/hexlink/lang/en_us.json
  projects/1.19/assets/hexlink/hexlink/lang/zh_cn.json
  projects/1.19/assets/modrinth-hexpigmentplus/hexpigmentplus/lang/en_us.json
  projects/1.19/assets/modrinth-hexpigmentplus/hexpigmentplus/lang/zh_cn.json
  projects/1.20-fabric/assets/hexlink/hexlink/lang/en_us.json
  projects/1.20-fabric/assets/hexlink/hexlink/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-hexpigmentplus/hexpigmentplus/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hexpigmentplus/hexpigmentplus/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, Forge, 1.19.x, 1.20.x

#5382 Pylons 翻译提交
  projects/1.21/assets/pylons/pylons/lang/en_us.json
  projects/1.21/assets/pylons/pylons/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5409 Cloth Config API 版本覆盖提高到 1.21
  projects/1.20-fabric/assets/cloth-config/cloth-config2/packer-policy.json
  projects/1.20/assets/cloth-config/cloth-config2/packer-policy.json
  projects/1.21-fabric/assets/cloth-config/cloth-config2/packer-policy.json
  projects/1.21/assets/cloth-config/cloth-config2/lang/en_us.json
  projects/1.21/assets/cloth-config/cloth-config2/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#5412 DTHexCasting、HexMapping、HexWeb、HexCasted 翻译提交
  projects/1.20-fabric/assets/1UNKNOWN/hexcasted/README.md
  projects/1.20-fabric/assets/1UNKNOWN/hexcasted/lang/en_us.json
  projects/1.20-fabric/assets/1UNKNOWN/hexcasted/packer-policy.json
  projects/1.20-fabric/assets/hexmapping/hexmapping/README.md
  projects/1.20-fabric/assets/hexmapping/hexmapping/lang/en_us.json
  projects/1.20-fabric/assets/hexmapping/hexmapping/packer-policy.json
  projects/1.20-fabric/assets/hexweb/hexweb/README.md
  projects/1.20-fabric/assets/hexweb/hexweb/lang/en_us.json
  projects/1.20-fabric/assets/hexweb/hexweb/packer-policy.json
  projects/1.20/assets/1UNKNOWN/hexcasted/README.md
  projects/1.20/assets/1UNKNOWN/hexcasted/lang/en_us.json
  projects/1.20/assets/1UNKNOWN/hexcasted/lang/zh_cn.json
  projects/1.20/assets/dynamic-trees-hexcasting/dthexcasting/lang/en_us.json
  projects/1.20/assets/dynamic-trees-hexcasting/dthexcasting/lang/zh_cn.json
  projects/1.20/assets/hexmapping/hexmapping/README.md
  projects/1.20/assets/hexmapping/hexmapping/lang/en_us.json
  projects/1.20/assets/hexmapping/hexmapping/lang/zh_cn.json
  projects/1.20/assets/hexweb/hexweb/README.md
  projects/1.20/assets/hexweb/hexweb/lang/en_us.json
  projects/1.20/assets/hexweb/hexweb/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#5414 Hex Casting 部分附属翻译提交
  projects/1.20-fabric/assets/1UNKNOWN/appendhextome/README.md
  projects/1.20-fabric/assets/1UNKNOWN/appendhextome/lang/en_us.json
  projects/1.20-fabric/assets/1UNKNOWN/appendhextome/packer-policy.json
  projects/1.20/assets/1UNKNOWN/appendhextome/README.md
  projects/1.20/assets/1UNKNOWN/appendhextome/lang/en_us.json
  projects/1.20/assets/1UNKNOWN/appendhextome/lang/zh_cn.json
  projects/1.20/assets/1UNKNOWN/hexcasting/patchouli_books/thehexbook/en_us/entries/addon/hexmu/boxes.json
  projects/1.20/assets/1UNKNOWN/hexcasting/patchouli_books/thehexbook/en_us/entries/addon/hexmu/inscription.json
  projects/1.20/assets/1UNKNOWN/hexcasting/patchouli_books/thehexbook/zh_cn/entries/addon/hexmu/boxes.json
  projects/1.20/assets/1UNKNOWN/hexcasting/patchouli_books/thehexbook/zh_cn/entries/addon/hexmu/inscription.json
  projects/1.20/assets/1UNKNOWN/hexmu/lang/en_us.json
  projects/1.20/assets/1UNKNOWN/hexmu/lang/zh_cn.json
  projects/1.20/assets/modrinth-hexdeco/hexdeco/lang/en_us.json
  projects/1.20/assets/modrinth-hexdeco/hexdeco/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, Patchouli, 1.20.x, (Neo)Forge

#5415 Hex Casting 部分特殊附属翻译提交
  projects/1.20-fabric/assets/hexgender/hexgender/README.md
  projects/1.20-fabric/assets/hexgender/hexgender/lang/en_us.json
  projects/1.20-fabric/assets/hexgender/hexgender/packer-policy.json
  projects/1.20-fabric/assets/modrinth-hextrogen/hextrogen/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hextrogen/hextrogen/lang/zh_cn.json
  projects/1.20/assets/hexgender/hexgender/README.md
  projects/1.20/assets/hexgender/hexgender/lang/en_us.json
  projects/1.20/assets/hexgender/hexgender/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#5419 Akashic Tome翻译提交
  projects/1.19/assets/akashic-tome/akashictome/lang/en_us.json
  projects/1.19/assets/akashic-tome/akashictome/lang/zh_cn.json
  projects/1.20/assets/akashic-tome/akashictome/lang/en_us.json
  projects/1.20/assets/akashic-tome/akashictome/lang/zh_cn.json
  projects/1.21/assets/akashic-tome/akashictome/lang/en_us.json
  projects/1.21/assets/akashic-tome/akashictome/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5418 Fabric Hammers 翻译提交
  projects/1.20-fabric/assets/modrinth-fabric-hammers/fabrichammers/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-fabric-hammers/fabrichammers/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#5410 HexMachina、HexChanting、HexPats、HexThings、Phlexiful 翻译提交
  projects/1.20-fabric/assets/modrinth-hex-machina/hex_machina/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hex-machina/hex_machina/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-hexchanting/hexchanting/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hexchanting/hexchanting/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-hexpats/hexpats/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hexpats/hexpats/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-hexthingy/hexthingy/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-hexthingy/hexthingy/lang/zh_cn.json
  projects/1.20-fabric/assets/modrinth-phlexiful/phlexiful/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-phlexiful/phlexiful/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#5417 Crabber's Delight 翻译提交
  projects/1.20/assets/crabbers-delight/crabbersdelight/lang/en_us.json
  projects/1.20/assets/crabbers-delight/crabbersdelight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5422 Scaling Health 翻译修复
  projects/1.16/assets/scaling-health/scalinghealth/README.md
  projects/1.16/assets/scaling-health/scalinghealth/packer-policy.json
  projects/1.18/assets/scaling-health/scalinghealth/README.md
  projects/1.18/assets/scaling-health/scalinghealth/packer-policy.json
  projects/1.19/assets/scaling-health/scalinghealth/README.md
  projects/1.19/assets/scaling-health/scalinghealth/lang/en_us.json
  projects/1.19/assets/scaling-health/scalinghealth/lang/zh_cn.json
  projects/1.20/assets/scaling-health/scalinghealth/README.md
  projects/1.20/assets/scaling-health/scalinghealth/lang/en_us.json
  projects/1.20/assets/scaling-health/scalinghealth/lang/zh_cn.json
  projects/1.20/assets/scaling-health/scalinghealth/packer-policy.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge
