Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-09, with the labels that each got.

#5497 Sweety's Garden（Sweety的花园） 翻译提交
  projects/1.20/assets/sweety-garden/sweety_garden/packer-policy.json
  projects/1.21/assets/sweety-garden/sweety_garden/lang/en_us.json
  projects/1.21/assets/sweety-garden/sweety_garden/lang/zh_cn.json
Labels: 即将合并, 40+, MCreator, 1.20.x, 1.21.x, (Neo)Forge

#5518 Twilight Forest - Dungeons & Villages 翻译提交
  projects/1.20/assets/twilight-forest-dungeons-villages/tf_dnv/lang/en_us.json
  projects/1.20/assets/twilight-forest-dungeons-villages/tf_dnv/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5528 BBL Routers 翻译提交
  projects/1.21/assets/bbl-routers/routers/lang/en_us.json
  projects/1.21/assets/bbl-routers/routers/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5537 AdvancedAE 与 AppliedFlux 翻译更新
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/quantum_armor.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/aae_intro/quantum_crafter.md
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/ape_pattern.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/app_gui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/pattern_configuration_ui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/quantum_armor_config.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/_zh_cn/pic/quantum_crafter_ui.png
  projects/1.21/assets/advancedae/advanced_ae/ae2guide/pic/aae_intro.png
  projects/1.21/assets/advancedae/advanced_ae/lang/en_us.json
  projects/1.21/assets/advancedae/advanced_ae/lang/zh_cn.json
  projects/1.21/assets/applied-flux/appflux/ae2guide/_zh_cn/pic/fe_terminal2.png
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge, GuideME

#5524 Lapisworks 与 Hierophantics 翻译更新
  projects/1.20-fabric/assets/hierophantics/hierophantics/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-lapisworks/lapisworks/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-lapisworks/lapisworks/lang/zh_cn.json
  projects/1.20/assets/hierophantics/hierophantics/lang/en_us.json
  projects/1.20/assets/hierophantics/hierophantics/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x, (Neo)Forge

#5535 MERequester 翻译更新
  projects/1.21/assets/merequester/merequester/ae2guide/_zh_cn/merequester.md
  projects/1.21/assets/merequester/merequester/lang/en_us.json
  projects/1.21/assets/merequester/merequester/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge, GuideME

#5532 Embergetic Expansion 翻译更新
  projects/1.20/assets/embergetic-expansion-embers-rekindled/embers_extended/lang/en_us.json
  projects/1.20/assets/embergetic-expansion-embers-rekindled/embers_extended/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5533 Little Big Redstone 翻译更新
  projects/1.21/assets/little-big-redstone/little_big_redstone/lang/en_us.json
  projects/1.21/assets/little-big-redstone/little_big_redstone/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge, GuideME

#5536 AE2 Wireless Terminal Lib 翻译更新
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/restock.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/wireless_terminals.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/restock.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/wireless_terminals.md
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge, GuideME

#5543 ExtendedAE 翻译更新
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/_zh_cn/epp_intro/config_modifier.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/_zh_cn/epp_intro/wireless_connector.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/_zh_cn/epp_intro/wireless_hub.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/_zh_cn/pic/cm.png
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/epp_intro/config_modifier.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/epp_intro/wireless_connector.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/epp_intro/wireless_hub.md
  projects/1.21/assets/ex-pattern-provider/extendedae/ae2guide/pic/cm.png
  projects/1.21/assets/ex-pattern-provider/extendedae/lang/en_us.json
  projects/1.21/assets/ex-pattern-provider/extendedae/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge, GuideME

#5539 Tweaked Petroleum 翻译提交
  projects/1.12.2/assets/tweaked-lib/tweakedlib/lang/zh_cn.lang
  projects/1.12.2/assets/tweaked-petroleum/tweakedpetroleum/lang/en_us.lang
  projects/1.12.2/assets/tweaked-petroleum/tweakedpetroleum/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#5342 Chloride 翻译提交
  projects/1.20/assets/chloride/chloride/lang/en_us.json
  projects/1.20/assets/chloride/chloride/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5544 Create: Extra Gauges 翻译提交
  projects/1.21/assets/create-extra-gauges/extra_gauges/lang/en_us.json
  projects/1.21/assets/create-extra-gauges/extra_gauges/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5549 Just Enough Breeding (JEBr) 翻译提交
  projects/1.20/assets/justenoughbreeding/justenoughbreeding/lang/en_us.json
  projects/1.20/assets/justenoughbreeding/justenoughbreeding/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5556 Just Another Witchery Remake 翻译更新
  projects/1.21/assets/just-another-witchery-remake/witchery/lang/en_us.json
  projects/1.21/assets/just-another-witchery-remake/witchery/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5559 Simple Conveyor Belts 翻译更新
  projects/1.21/assets/simple-conveyor-belts/belts/lang/en_us.json
  projects/1.21/assets/simple-conveyor-belts/belts/lang/zh_cn.json
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge
