Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-08, with the labels that each got.

#5440 Super Factory Manager 翻译修正
  projects/1.19/assets/super-factory-manager/sfm/lang/zh_cn.json
  projects/1.20/assets/super-factory-manager/sfm/lang/zh_cn.json
  projects/1.21/assets/super-factory-manager/sfm/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5364 Reliquary 翻译更新
  projects/1.12.2/assets/reliquary-reincarnations/xreliquary/lang/en_us.lang
  projects/1.12.2/assets/reliquary-reincarnations/xreliquary/lang/zh_cn.lang
  projects/1.16/assets/reliquary-reincarnations/xreliquary/lang/en_us.json
  projects/1.16/assets/reliquary-reincarnations/xreliquary/lang/zh_cn.json
  projects/1.18/assets/reliquary-reincarnations/reliquary/lang/en_us.json
  projects/1.18/assets/reliquary-reincarnations/reliquary/lang/zh_cn.json
  projects/1.19/assets/reliquary-reincarnations/reliquary/lang/en_us.json
  projects/1.19/assets/reliquary-reincarnations/reliquary/lang/zh_cn.json
  projects/1.20/assets/reliquary-reincarnations/reliquary/lang/en_us.json
  projects/1.20/assets/reliquary-reincarnations/reliquary/lang/zh_cn.json
  projects/1.21/assets/reliquary-reincarnations/reliquary/lang/en_us.json
  projects/1.21/assets/reliquary-reincarnations/reliquary/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1000+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5433 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5443 Runology 翻译更新
  projects/1.21/assets/runology/runology/lang/en_us.json
  projects/1.21/assets/runology/runology/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5445 Enchantable Boat 翻译提交
  projects/1.20/assets/enchantable-boat/enchantableboat/lang/en_us.json
  projects/1.20/assets/enchantable-boat/enchantableboat/lang/ja_jp.json
  projects/1.20/assets/enchantable-boat/enchantableboat/lang/zh_cn.json
  projects/1.20/assets/enchantable-boat/enchdesc/lang/en_us.json
  projects/1.20/assets/enchantable-boat/enchdesc/lang/ja_jp.json
  projects/1.20/assets/enchantable-boat/enchdesc/lang/zh_cn.json
Labels: 即将合并, 40+, 日语, 1.20.x, (Neo)Forge

#5424 UNTAGGED MOBS 翻译更新
  projects/1.20/assets/untagged-mobs/untagged/lang/en_us.json
  projects/1.20/assets/untagged-mobs/untagged/lang/zh_cn.json
  projects/1.20/assets/untagged-mobs/untagged_mobs/lang/en_us.json
  projects/1.20/assets/untagged-mobs/untagged_mobs/lang/zh_cn.json
Labels: 即将合并, 500+, MCreator, 1.20.x, (Neo)Forge

#5455 Runology 与 DnE 翻译更新
  projects/1.21/assets/data-essence/datanessence/lang/en_us.json
  projects/1.21/assets/data-essence/datanessence/lang/zh_cn.json
  projects/1.21/assets/runology/runology/lang/en_us.json
  projects/1.21/assets/runology/runology/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5456 Ars Ocultas 翻译更新
  projects/1.20/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spirit_jar.json
  projects/1.21/assets/ars-ocultas/ars_nouveau/patchouli_books/worn_notebook/zh_cn/entries/spirit_jar.json
  projects/1.21/assets/ars-ocultas/ars_ocultas/lang/en_us.json
  projects/1.21/assets/ars-ocultas/ars_ocultas/lang/zh_cn.json
Labels: 即将合并, 10+, Patchouli, 1.20.x, 1.21.x, (Neo)Forge

#5426 Configured 翻译更新
  projects/1.18/assets/configured/configured/lang/en_us.json
  projects/1.18/assets/configured/configured/lang/zh_cn.json
  projects/1.19/assets/configured/configured/lang/en_us.json
  projects/1.19/assets/configured/configured/lang/zh_cn.json
  projects/1.20/assets/configured/configured/lang/en_us.json
  projects/1.20/assets/configured/configured/lang/zh_cn.json
  projects/1.21/assets/configured/configured/lang/en_us.json
  projects/1.21/assets/configured/configured/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5442 Little Big Redstone 翻译提交
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/assets/logic_array_menu.png
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/floppy_disks.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/index.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/and_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/introduction.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/io.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/nand_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/nor_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/not_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/or_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/pulse_throttler.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/randomizer.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/reader.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/rs_nor_latch.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/selector.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/sequencer.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/t_flip_flop.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic/xor_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/logic_arrays.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/microchips.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/redstone_bits.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/_zh_cn/sticky_notes.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/assets/logic_array_menu.png
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/floppy_disks.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/index.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/and_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/introduction.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/io.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/nand_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/nor_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/not_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/or_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/pulse_throttler.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/randomizer.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/reader.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/rs_nor_latch.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/selector.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/sequencer.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/t_flip_flop.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic/xor_gate.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/logic_arrays.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/microchips.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/redstone_bits.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/guide/sticky_notes.md
  projects/1.21/assets/little-big-redstone/little_big_redstone/lang/en_us.json
  projects/1.21/assets/little-big-redstone/little_big_redstone/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge, GuideME

#5460 Tetra 附属翻译修改
  projects/1.16/assets/tetra-pak/tetrapak/lang/zh_cn.json
  projects/1.18/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/en_us.json
  projects/1.18/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
  projects/1.18/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
  projects/1.18/assets/tetra-pak/tetrapak/lang/zh_cn.json
  projects/1.19/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
  projects/1.19/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
  projects/1.20/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/en_us.json
  projects/1.20/assets/art-of-forging-a-tetra-addon/art_of_forging/lang/zh_cn.json
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/en_us.json
  projects/1.20/assets/secrets-of-forging-revelations-a-tetra-addon/secrets_of_forging_revelations/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 2000+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#5468 Create: Upgraded Armor翻译提交
  projects/1.20/assets/create-upgraded-armor/create_upgraded_armor/lang/en_us.json
  projects/1.20/assets/create-upgraded-armor/create_upgraded_armor/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5461 Lapisworks 翻译更新
  projects/1.20-fabric/assets/modrinth-lapisworks/lapisworks/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-lapisworks/lapisworks/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#5474 XyCraft 系列翻译更新
  projects/1.21/assets/xycraft-machines/xycraft_machines/lang/en_us.json
  projects/1.21/assets/xycraft-machines/xycraft_machines/lang/zh_cn.json
  projects/1.21/assets/xycraft-world/xycraft_world/lang/en_us.json
  projects/1.21/assets/xycraft-world/xycraft_world/lang/zh_cn.json
  projects/1.21/assets/xycraft/xycraft_core/lang/en_us.json
  projects/1.21/assets/xycraft/xycraft_core/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5373 Fargo's Talismans 翻译提交
  projects/1.21/assets/fargos-talismans/fargostalismans/lang/en_us.json
  projects/1.21/assets/fargos-talismans/fargostalismans/lang/zh_cn.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge

#5431 Inventory Bogo Sorter 翻译提交
  projects/1.12.2/assets/inventory-bogosorter/bogosorter/lang/en_us.lang
  projects/1.12.2/assets/inventory-bogosorter/bogosorter/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#5471 Delightful Burgers翻译提交
  projects/1.20/assets/delightful-burgers/delightfulburgers/lang/en_us.json
  projects/1.20/assets/delightful-burgers/delightfulburgers/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5478 Schematic Energistics 翻译更新
  projects/1.20/assets/schematic-energistics/schematicenergistics/ae2guide/_zh_cn/cannon_interface.md
  projects/1.20/assets/schematic-energistics/schematicenergistics/ae2guide/_zh_cn/cannon_terminal.md
  projects/1.20/assets/schematic-energistics/schematicenergistics/ae2guide/cannon_terminal.md
  projects/1.20/assets/schematic-energistics/schematicenergistics/lang/en_us.json
  projects/1.20/assets/schematic-energistics/schematicenergistics/lang/zh_cn.json
  projects/1.21/assets/schematic-energistics/schematicenergistics/ae2guide/_zh_cn/cannon_interface.md
  projects/1.21/assets/schematic-energistics/schematicenergistics/ae2guide/_zh_cn/cannon_terminal.md
  projects/1.21/assets/schematic-energistics/schematicenergistics/ae2guide/cannon_interface.md
  projects/1.21/assets/schematic-energistics/schematicenergistics/ae2guide/cannon_terminal.md
  projects/1.21/assets/schematic-energistics/schematicenergistics/lang/en_us.json
  projects/1.21/assets/schematic-energistics/schematicenergistics/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge, GuideME

#5481 Utility Vest 翻译提交
  projects/1.21/assets/utility-vest/utilityvest/lang/en_us.json
  projects/1.21/assets/utility-vest/utilityvest/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5390 Pufferfish's Skills & Attributes 翻译提交
  projects/1.21/assets/puffish-attributes/puffish_attributes/lang/en_us.json
  projects/1.21/assets/puffish-attributes/puffish_attributes/lang/zh_cn.json
  projects/1.21/assets/puffish-skills/puffish_skills/lang/en_us.json
  projects/1.21/assets/puffish-skills/puffish_skills/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5452 Aquaculture 翻译修正
  projects/1.12.2/assets/aquaculture/aquaculture/lang/zh_cn.lang
  projects/1.16/assets/aquaculture/aquaculture/lang/zh_cn.json
  projects/1.18/assets/aquaculture/aquaculture/lang/zh_cn.json
  projects/1.19/assets/aquaculture/aquaculture/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 40+, 1.18.x, Forge, 1.19.x

#5483 Ex Deorum 翻译提交
  projects/1.21/assets/ex-deorum/exdeorum/lang/en_us.json
  projects/1.21/assets/ex-deorum/exdeorum/lang/zh_cn.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge

#5486 Pickle Tweaks 翻译提交
  projects/1.21/assets/pickle-tweaks/pickletweaks/lang/en_us.json
  projects/1.21/assets/pickle-tweaks/pickletweaks/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5490 Climate Rivers 翻译提交
  projects/1.21-fabric/assets/climate-rivers/climaterivers/lang/en_us.json
  projects/1.21-fabric/assets/climate-rivers/climaterivers/lang/zh_cn.json
  projects/1.21/assets/climate-rivers/climaterivers/lang/en_us.json
  projects/1.21/assets/climate-rivers/climaterivers/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.21.x, (Neo)Forge

#5492 TConJEI 翻译修复
  projects/1.20/assets/tconjei/tconjei/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#5493 Charging Gadgets 等多个小模组翻译提交
  projects/1.21/assets/charging-gadgets/charginggadgets/lang/en_us.json
  projects/1.21/assets/charging-gadgets/charginggadgets/lang/zh_cn.json
  projects/1.21/assets/cursed-earth-returns/cursedearth/lang/en_us.json
  projects/1.21/assets/cursed-earth-returns/cursedearth/lang/zh_cn.json
  projects/1.21/assets/extra-sponges/extrasponges/lang/en_us.json
  projects/1.21/assets/extra-sponges/extrasponges/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5501 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5502 TrashSlot 翻译提交
  projects/1.19/assets/trashslot/trashslot/lang/en_us.json
  projects/1.19/assets/trashslot/trashslot/lang/zh_cn.json
  projects/1.20-fabric/assets/trashslot-fabric-edition/trashslot/packer-polic.json
  projects/1.20/assets/trashslot/trashslot/packer-polic.json
  projects/1.21-fabric/assets/trashslot-fabric-edition/trashslot/packer-polic.json
  projects/1.21-fabric/assets/trashslot/trashslot/packer-polic.json
  projects/1.21/assets/trashslot/trashslot/packer-polic.json
Labels: 即将合并, 40+, Fabric, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5451 Botania 翻译修正
  projects/1.12.2/assets/botania/botania/lang/zh_cn.lang
  projects/1.16/assets/botania/botania/lang/zh_cn.json
  projects/1.18/assets/botania/botania/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1+, 1.18.x, Forge

#5020 Reliquified Ars Nouveau 翻译提交
  projects/1.21/assets/reliquified-ars-nouveau/reliquified_ars_nouveau/lang/en_us.json
  projects/1.21/assets/reliquified-ars-nouveau/reliquified_ars_nouveau/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#4680 Relics: Artifact Compat 翻译提交
  projects/1.21/assets/rar-compat/rarcompat/lang/en_us.json
  projects/1.21/assets/rar-compat/rarcompat/lang/zh_cn.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge
