Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-03, with the labels that each got.

#4500 enchantment descriptions 魔咒描述 兼容性翻译添加
  projects/1.12.2/assets/enchantment-descriptions/enchdesc/lang/en_us.lang
  projects/1.12.2/assets/enchantment-descriptions/enchdesc/lang/zh_cn.lang
  projects/1.16/assets/enchantment-descriptions/enchdesc/lang/en_us.json
  projects/1.16/assets/enchantment-descriptions/enchdesc/lang/zh_cn-fix.json
  projects/1.16/assets/enchantment-descriptions/enchdesc/packer-policy.json
  projects/1.16/assets/enchantment-descriptions/enchdesc/readme.md
  projects/1.18/assets/enchantment-descriptions/enchdesc/lang/zh_cn-fix.json
  projects/1.18/assets/enchantment-descriptions/enchdesc/readme.md
  projects/1.20/assets/enchantment-descriptions/enchdesc/lang/en_us.json
  projects/1.20/assets/enchantment-descriptions/enchdesc/lang/zh_cn-Compat.json
  projects/1.20/assets/enchantment-descriptions/enchdesc/lang/zh_cn-base.json
  projects/1.20/assets/enchantment-descriptions/enchdesc/lang/zh_cn.json
  projects/1.20/assets/enchantment-descriptions/enchdesc/packer-policy.json
  projects/1.20/assets/enchantment-descriptions/enchdesc/readme.md
Labels: 1.12.x, 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.20.x, (Neo)Forge

#4896 1.20.1 5个Create Addon 翻译提交
  projects/1.20/assets/create-cobblestone/createcobblestone/lang/en_us.json
  projects/1.20/assets/create-cobblestone/createcobblestone/lang/zh_cn.json
  projects/1.20/assets/create-mechanical-chicken/create_mechanical_chicken/lang/en_us.json
  projects/1.20/assets/create-mechanical-chicken/create_mechanical_chicken/lang/zh_cn.json
  projects/1.20/assets/create-molten-vents/molten_vents/lang/en_us.json
  projects/1.20/assets/create-molten-vents/molten_vents/lang/zh_cn.json
  projects/1.20/assets/create-netherless/create_netherless/lang/en_us.json
  projects/1.20/assets/create-netherless/create_netherless/lang/zh_cn.json
  projects/1.20/assets/create-recycle-everything/create_crush_everything/lang/en_us.json
  projects/1.20/assets/create-recycle-everything/create_crush_everything/lang/ru_ru.json
  projects/1.20/assets/create-recycle-everything/create_crush_everything/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 俄语, 1.20.x, (Neo)Forge

#4998 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/meatweapons/lang/zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/docs/thord/en_us/thord_words.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/docs/thord/zh_cn/thord_words.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepasm/inerrupts.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepasm/macros.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepasm/memory.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus/neepbus.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus/networking_tool.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus/plc_interface.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/thord/thord.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/thord/thord_booleans.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/thord/thord_constructs.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/thord/thord_macros.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/thord/word_definition.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/index_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepasm/interrupts.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepasm/macros.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepasm/memory.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus/neepbus.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus/networking_tool.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus/plc_interface.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/thord/thord.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/thord/thord_booleans.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/thord/thord_constructs.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/thord/thord_macros.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/thord/word_definition.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/index_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/local-config.json
Labels: 即将合并, 1000+, Fabric, 1.20.x

#5014 Sushi Go Crafting 翻译提交
  projects/1.21/assets/sushigocrafting/sushigocrafting/lang/en_us.json
  projects/1.21/assets/sushigocrafting/sushigocrafting/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5021 Storage Drawers 1.20翻译提交
  projects/1.20/assets/storage-drawers/storagedrawers/lang/en_us.json
  projects/1.20/assets/storage-drawers/storagedrawers/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5024 Tinkers Delight 提交
  projects/1.20/assets/tinker-delight/tinkersdelight/lang/en_us.json
  projects/1.20/assets/tinker-delight/tinkersdelight/lang/zh_cn.json
Labels: 即将合并, 40+, MCreator, 1.20.x, (Neo)Forge

#5026 Furniture 翻译提交
  projects/1.20-fabric/assets/furnection/ls_furniture/lang/en_us.json
  projects/1.20-fabric/assets/furnection/ls_furniture/lang/zh_cn.json
  projects/1.20/assets/furnection/ls_furniture/lang/en_us.json
  projects/1.20/assets/furnection/ls_furniture/lang/zh_cn.json
Labels: 即将合并, 2000+, Fabric, 1.20.x, (Neo)Forge

#5027 NewWorld 翻译提交
  projects/1.18/assets/newworld/newworld/lang/zh_cn.json
  projects/1.21-fabric/assets/newworld/newworld/lang/en_us.json
  projects/1.21-fabric/assets/newworld/newworld/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.21.x

#5029 Cybernetic System 翻译提交
  projects/1.20/assets/cybernetic-system/cybernetic_system/lang/en_us.json
  projects/1.20/assets/cybernetic-system/cybernetic_system/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.20.x, (Neo)Forge

#5031 Immersive Engineering汉化更新
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.16/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.18/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.18/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.19/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.19/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
  projects/1.20/assets/immersive-engineering/immersiveengineering/lang/en_us.json
  projects/1.20/assets/immersive-engineering/immersiveengineering/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 5000+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#5035 GuideME 翻译提交
  projects/1.21/assets/guideme/guideme/lang/en_us.json
  projects/1.21/assets/guideme/guideme/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5036 multipart-machines-mining 翻译提交
  projects/1.20/assets/multipart-machines-mining/mm_mining/lang/en_us.json
  projects/1.20/assets/multipart-machines-mining/mm_mining/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, (Neo)Forge

#5038 All the Wizard Gear 翻译提交
  projects/1.20/assets/all-the-wizard-gear/allthewizardgear/lang/en_us.json
  projects/1.20/assets/all-the-wizard-gear/allthewizardgear/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5055 KeybindsPurger多版本翻译提交
  projects/1.16-fabric/assets/keybindspurger/keybindspurger/lang/en_us.json
  projects/1.16-fabric/assets/keybindspurger/keybindspurger/lang/zh_cn.json
  projects/1.16/assets/keybindspurger/keybindspurger/lang/en_us.json
  projects/1.16/assets/keybindspurger/keybindspurger/lang/zh_cn.json
  projects/1.20-fabric/assets/keybindspurger/keybindspurger/lang/en_us.json
  projects/1.20-fabric/assets/keybindspurger/keybindspurger/lang/zh_cn.json
  projects/1.20/assets/keybindspurger/keybindspurger/lang/en_us.json
  projects/1.20/assets/keybindspurger/keybindspurger/lang/zh_cn.json
  projects/1.21-fabric/assets/keybindspurger/keybindspurger/lang/en_us.json
  projects/1.21-fabric/assets/keybindspurger/keybindspurger/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 40+, Fabric, Forge, 1.20.x, 1.21.x, (Neo)Forge

#4944 Create: The Factory Must Grow 翻译提交
  projects/1.20/assets/create-industry/tfmg/lang/en_us.json
  projects/1.20/assets/create-industry/tfmg/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.20.x, (Neo)Forge

#4982 Gobber Delight 翻译更新
  projects/1.20/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/en_us.json
  projects/1.20/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/zh_cn.json
  projects/1.21/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/en_us.json
  projects/1.21/assets/gobber-delight-a-farmers-delight-add-on/gobberdelight/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, 1.21.x, (Neo)Forge

#5032 Decotive Storage翻译提交
  projects/1.21/assets/decostorage/deco_storage/lang/en_us.json
  projects/1.21/assets/decostorage/deco_storage/lang/ru_ru.json
  projects/1.21/assets/decostorage/deco_storage/lang/zh_cn.json
Labels: 即将合并, 100+, 俄语, 1.21.x, (Neo)Forge

#5037 Veggiesdelight 汉化更新
  projects/1.20/assets/veggies-delight/veggiesdelight/lang/en_us.json
  projects/1.20/assets/veggies-delight/veggiesdelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5022 Productive Trees翻译提交
  projects/1.20/assets/productivetrees/productivetrees/lang/en_us.json
  projects/1.20/assets/productivetrees/productivetrees/lang/zh_cn-base.json
  projects/1.20/assets/productivetrees/productivetrees/lang/zh_cn-composition.json
  projects/1.20/assets/productivetrees/productivetrees/packer-policy.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/categories/guide.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/categories/stuff.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/categories/treetap.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/categories/treetap_missing.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/guide/start.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/stuff/pollen.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/stuff/pollen_sieve.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/stuff/pollen_sifter.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/stuff/sawmill.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/stuff/stripper.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/treetap/date_palm_juice.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/treetap/maple_syrup.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/en_us/entries/treetap_missing/missing.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/categories/guide.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/categories/stuff.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/categories/treetap.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/categories/treetap_missing.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/guide/start.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/stuff/pollen.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/stuff/pollen_sieve.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/stuff/pollen_sifter.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/stuff/sawmill.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/stuff/stripper.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/treetap/date_palm_juice.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/treetap/maple_syrup.json
  projects/1.20/assets/productivetrees/productivetrees/patchouli_books/guide/zh_cn/entries/treetap_missing/missing.json
Labels: 即将合并, 2000+, Patchouli, 1.20.x, (Neo)Forge

#5069 The Aether 翻译修正
  projects/1.12.2/assets/the-aether/aether_legacy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#5065 Ludicrite & Refined Iron 译名统一
  projects/1.12.2/assets/croparia/croparia/lang/zh_cn.lang
  projects/1.12.2/assets/moar-tinkers/moartinkers/lang/zh_cn.lang
  projects/1.12.2/assets/moarsigns/moarsigns/lang/zh_cn.lang
  projects/1.12.2/assets/more-chickens/morechickens/lang/zh_cn.lang
  projects/1.12.2/assets/zollern-galaxy/zollerngalaxy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#5062 Xtones Reworked 翻译提交
  projects/1.20/assets/xtones-reworked/xtonesreworked/lang/en_us.json
  projects/1.20/assets/xtones-reworked/xtonesreworked/lang/zh_cn.json
  projects/1.21/assets/xtones-reworked/xtonesreworked/lang/en_us.json
  projects/1.21/assets/xtones-reworked/xtonesreworked/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, 1.21.x, (Neo)Forge

#5061 Complicated Bees 翻译更新
  projects/1.20/assets/complicated-bees/complicated_bees/lang/en_us.json
  projects/1.20/assets/complicated-bees/complicated_bees/lang/zh_cn.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/categories/machines.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/cold_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/deadly_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/dry_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/honeyed_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/hot_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/restrictive_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/soothing_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/twisting_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/waxed_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/frames/wet_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/machines/microscope.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/other/bee_staff.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/en_us/entries/other/foods.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/categories/machines.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/cold_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/deadly_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/dry_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/honeyed_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/hot_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/restrictive_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/soothing_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/twisting_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/waxed_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/frames/wet_frame.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/machines/microscope.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/other/apiarist_set.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/other/bee_staff.json
  projects/1.20/assets/complicated-bees/complicated_bees/patchouli_books/field_guide/zh_cn/entries/other/foods.json
Labels: 即将合并, 100+, Patchouli, 1.20.x, (Neo)Forge

#5058 More Overlay Updated 翻译提交
  projects/1.21/assets/more-overlays-updated/moreoverlays/lang/en_us.json
  projects/1.21/assets/more-overlays-updated/moreoverlays/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5056 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#5052 Trickster 与 Illusionist 翻译更新
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lavender/entries/tome_of_tomfoolery/zh_cn/shadow.md
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.json
  projects/1.21-fabric/assets/trickster/trickster/lang/en_us.yml
  projects/1.21-fabric/assets/trickster/trickster/lang/zh_cn.json
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/constants.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/delusions_ingresses/arguments.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/items/leash_and_collar.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/ploys/block.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/constants.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/delusions_ingresses/arguments.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/items/leash_and_collar.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/block.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/entity.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/message.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/misc.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/ploys/projectile.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/tricks/transmog.md
Labels: 即将合并, 100+, Fabric, 1.21.x

#5050 提交通用机械发电机（Mekanism Generators）的部分翻译
  projects/1.21/assets/mekanism-generators/mekanismgenerators/lang/en_us.json
  projects/1.21/assets/mekanism-generators/mekanismgenerators/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5046 Snekcraft 翻译提交
  projects/1.20/assets/snekcraft/snekcraft/lang/en_us.json
  projects/1.20/assets/snekcraft/snekcraft/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4963 Rats 翻译更新
  projects/1.20/assets/rats/rats/lang/en_us.json
  projects/1.20/assets/rats/rats/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, (Neo)Forge

#5078 Thermal Foundation、PlusTiC、Moar Tinkers 翻译更新
  projects/1.12.2/assets/moar-tinkers/moartinkers/lang/zh_cn.lang
  projects/1.12.2/assets/plusticminusbad/plustic/lang/zh_cn.lang
  projects/1.12.2/assets/thermal-foundation/thermalfoundation/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#5101 Blood Arsenal 翻译修正
  projects/1.12.2/assets/blood-arsenal/bloodarsenal/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#5100 Woot 翻译修正
  projects/1.12.2/assets/woot/woot/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#5098 Animus 翻译修正
  projects/1.12.2/assets/animus/animus/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#5090 Programmed-circuit-card 提交翻译
  projects/1.20/assets/programmed-circuit-card/pccard/lang/en_us.json
  projects/1.20/assets/programmed-circuit-card/pccard/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#5089 Modular Routers & Project Red & Project Blue & Integrated Dynamics & Buildcraft 翻译修改
  projects/1.12.2/assets/blue-power/bluepower/lang/zh_cn.lang
  projects/1.12.2/assets/buildcraft/buildcraft/lang/zh_cn.lang
  projects/1.12.2/assets/integrated-dynamics/integrateddynamics/lang/zh_cn.lang
  projects/1.12.2/assets/modular-routers/modularrouters/lang/zh_cn.lang
  projects/1.12.2/assets/project-red-base/projectred/lang/zh_cn.lang
  projects/1.18/assets/integrated-dynamics/integrateddynamics/lang/zh_cn.json
  projects/1.18/assets/project-red-integration/projectred_integration/lang/zh_cn.json
Labels: 1.12.x, 即将合并, 40+, 1.18.x, Forge

#5088 Cave Delight 翻译提交
  projects/1.20/assets/cave-delight/cavedelight/lang/en_us.json
  projects/1.20/assets/cave-delight/cavedelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5087 Mystical Agriculture 翻译修正
  projects/1.12.2/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#5086 Astrocraft 翻译更新
  projects/1.20-fabric/assets/astrocraft-mod/astrocraft/lang/en_us.json
  projects/1.20-fabric/assets/astrocraft-mod/astrocraft/lang/zh_cn.json
  projects/1.21-fabric/assets/astrocraft-mod/astrocraft/lang/en_us.json
  projects/1.21-fabric/assets/astrocraft-mod/astrocraft/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-astrocraft/astrocraft/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-astrocraft/astrocraft/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x, 1.21.x

#5084 Trickster 与 Random Access Mind 翻译更新
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/en_us.yml
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/cell.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/zh_cn/cell.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/distortions/vector.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/editing.md
  projects/1.21-fabric/assets/trickster/trickster/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/vector.md
Labels: 即将合并, 40+, Fabric, 1.21.x

#5080 Alchimiae Magicae 翻译更新
  projects/1.21/assets/alchimiae-magicae/alchimiae/lang/en_us.json
  projects/1.21/assets/alchimiae-magicae/alchimiae/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5079 MEGA Cells 翻译更新
  projects/1.21/assets/mega-cells/megacells/lang/en_us.json
  projects/1.21/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge

#5068 Embers' Delight 翻译提交
  projects/1.21/assets/embers-delight/embersdelight/lang/en_us.json
  projects/1.21/assets/embers-delight/embersdelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4858 HyphaPiracea 翻译提交
  projects/1.21-fabric/assets/modrinth-hyphapiracea/hyphapiracea/README.md
  projects/1.21-fabric/assets/modrinth-hyphapiracea/hyphapiracea/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-hyphapiracea/hyphapiracea/packer-policy.json
  projects/1.21/assets/modrinth-hyphapiracea/hyphapiracea/README.md
  projects/1.21/assets/modrinth-hyphapiracea/hyphapiracea/lang/en_us.json
  projects/1.21/assets/modrinth-hyphapiracea/hyphapiracea/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x, (Neo)Forge

#5017 Hexstuff 翻译提交
  projects/1.19/assets/modrinth-hexstuff/hexstuff/lang/en_us.json
  projects/1.19/assets/modrinth-hexstuff/hexstuff/lang/zh_cn.json
Labels: 即将合并, 40+, Forge, 1.19.x

#4722 aleki's Nifty Ships 翻译提交
  projects/1.20/assets/alekiships/alekiships/lang/en_us.json
  projects/1.20/assets/alekiships/alekiships/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge
