Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-10, with the labels that each got.

#4863 Create: Food 翻译提交
  projects/1.20-fabric/assets/create-food/createfood/lang/en_us.json
  projects/1.20-fabric/assets/create-food/createfood/lang/zh_cn-base.json
  projects/1.20-fabric/assets/create-food/createfood/lang/zh_cn-composition.json
  projects/1.20-fabric/assets/create-food/createfood/packer-policy.json
  projects/1.20/assets/create-food/createfood/lang/en_us.json
  projects/1.20/assets/create-food/createfood/packer-policy.json
  projects/1.21/assets/create-food/createfood/lang/en_us.json
  projects/1.21/assets/create-food/createfood/packer-policy.json
Labels: 即将合并, 5000+, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#5566 AE2 Wireless Terminal Lib 翻译更新
  projects/1.20/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/en_us.json
  projects/1.20/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#5575 Tetravsikt 与 Tetra Holo GUI Compat 翻译提交
  projects/1.20/assets/modrinth-tetravsikt/tetravsikt/lang/en_us.json
  projects/1.20/assets/modrinth-tetravsikt/tetravsikt/lang/zh_cn.json
  projects/1.20/assets/tetra-gui-compat/tetra_gui_compat/lang/en_us.json
  projects/1.20/assets/tetra-gui-compat/tetra_gui_compat/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#5569 Data and Essence 翻译更新
  projects/1.21/assets/data-essence/datanessence/lang/en_us.json
  projects/1.21/assets/data-essence/datanessence/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5568 Hierophantics 翻译更新
  projects/1.20-fabric/assets/hierophantics/hierophantics/lang/en_us.json
  projects/1.20/assets/hierophantics/hierophantics/lang/en_us.json
  projects/1.20/assets/hierophantics/hierophantics/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.20.x, (Neo)Forge

#5577 Create: Food 翻译紧急修复
  projects/1.20-fabric/assets/create-food/createfood/lang/zh_cn-base.json
Labels: 即将合并, Fabric, 1.20.x
