Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-04, with the labels that each got.

#5097 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/fluid_pipe.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/fluid_pipe.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#5106 HamstersPlus 翻译提交
  projects/1.20/assets/hamsters/hamsters/lang/en_us.json
  projects/1.20/assets/hamsters/hamsters/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5111 Easter's Delight 翻译提交
  projects/1.21/assets/easters-delight/eastersdelight/lang/en_us.json
  projects/1.21/assets/easters-delight/eastersdelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5114 Productive Bees 翻译修正
  projects/1.21/assets/1UNKNOWN/productivelib/lang/en_us.json
  projects/1.21/assets/1UNKNOWN/productivelib/lang/zh_cn.json
  projects/1.21/assets/productivebees/productivebees/lang/en_us.json
  projects/1.21/assets/productivebees/productivebees/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5115 Galospheric Delight 翻译提交
  projects/1.20/assets/galospheric-delight/galospheric_delight/lang/en_us.json
  projects/1.20/assets/galospheric-delight/galospheric_delight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5119 Mapletree 翻译提交
  projects/1.21-fabric/assets/mapletree/mapletree/lang/en_us.json
  projects/1.21-fabric/assets/mapletree/mapletree/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x

#5120 Mystical Agriculture 翻译提交
  projects/1.21/assets/mystical-agriculture/mysticalagriculture/lang/en_us.json
  projects/1.21/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5126 Forbidden & Arcanus 翻译提交
  projects/1.16/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
  projects/1.18/assets/epic-samurais/epicsamurai/lang/zh_cn.json
  projects/1.18/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
  projects/1.20/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
  projects/1.21/assets/forbidden-arcanus/forbidden_arcanus/lang/en_us.json
  projects/1.21/assets/forbidden-arcanus/forbidden_arcanus/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 500+, 1.18.x, Forge, 1.20.x, 1.21.x, (Neo)Forge

#5130 Everything is Copper 翻译提交
  projects/1.18/assets/everythingcopper/everythingcopper/lang/en_us.json
  projects/1.18/assets/everythingcopper/everythingcopper/lang/zh_cn.json
  projects/1.20/assets/everythingcopper/everythingcopper/lang/en_us.json
  projects/1.20/assets/everythingcopper/everythingcopper/lang/zh_cn.json
  projects/1.21/assets/everythingcopper/everythingcopper/lang/en_us.json
  projects/1.21/assets/everythingcopper/everythingcopper/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.18.x, Forge, 1.20.x, 1.21.x, (Neo)Forge

#5131 EnderDrives 翻译提交
  projects/1.21/assets/enderdrives/enderdrives/lang/en_us.json
  projects/1.21/assets/enderdrives/enderdrives/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5132 Torchmaster 翻译提交
  projects/1.21/assets/torchmaster/torchmaster/lang/en_us.json
  projects/1.21/assets/torchmaster/torchmaster/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5137 AE2 手册翻译修改
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/autocrafting.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/channels.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/me-network-connections.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/ae2-mechanics/spatial-io.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/assets/assemblies/import_storage_export_pipe.snbt
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/amethyst-farm.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/ore-fortuner.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/processor-automation.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/regulated-cobble-gen.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/example-setups/specialized-local-storage.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/index.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/cables.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/controller.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/crystal_resonance_generator.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/fluix_block.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/network_tool.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/pattern_provider.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/presses.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/processors.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/quartz_block.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/sky_stone.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/_zh_cn/items-blocks-machines/spatial_cells.md
  projects/1.21/assets/applied-energistics-2/ae2/ae2guide/assets/assemblies/import_storage_export_pipe.snbt
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5136 Utilitarian 翻译提交
  projects/1.21/assets/utilitarian/utilitarian/lang/en_us.json
  projects/1.21/assets/utilitarian/utilitarian/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5141 Operation: Starcleave 翻译更新
  projects/1.21-fabric/assets/modrinth-operation-starcleave/operation_starcleave/lang/en_us.json
  projects/1.21/assets/modrinth-operation-starcleave/operation_starcleave/lang/en_us.json
  projects/1.21/assets/modrinth-operation-starcleave/operation_starcleave/lang/zh_cn.json
Labels: 即将合并, 1+, Fabric, 1.21.x, (Neo)Forge

#3170 热力基本Thermal Foundation错译修复
  projects/1.12.2/assets/thermal-foundation/thermalfoundation/lang/zh_cn.lang
Labels: 需要帮助, 1.12.x, 即将合并, 100+, Forge

#5118 Matter Overdrive: Legacy Edition 停止支持
  config/packer/1.12.2.json
Labels: config, 1.12.x, 即将合并, 1+, Forge

#5144 Productive Metalworks 翻译提交
  projects/1.21/assets/productive-metalworks/productivemetalworks/lang/en_us.json
  projects/1.21/assets/productive-metalworks/productivemetalworks/lang/zh_cn.json
  projects/1.21/assets/productive-metalworks/productivemetalworks/patchouli_books/guide/en_us/categories/intro.json
  projects/1.21/assets/productive-metalworks/productivemetalworks/patchouli_books/guide/en_us/entries/intro.json
  projects/1.21/assets/productive-metalworks/productivemetalworks/patchouli_books/guide/zh_cn/categories/intro.json
  projects/1.21/assets/productive-metalworks/productivemetalworks/patchouli_books/guide/zh_cn/entries/intro.json
Labels: 即将合并, 500+, Patchouli, 1.21.x, (Neo)Forge

#5135 Enhanced Celestials翻译提交
  projects/1.20/assets/enhanced-celestials/enhancedcelestials/lang/en_us.json
  projects/1.20/assets/enhanced-celestials/enhancedcelestials/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#5145 Cyclops Core 翻译提交
  projects/1.21/assets/cyclops-core/cyclopscore/lang/en_us.json
  projects/1.21/assets/cyclops-core/cyclopscore/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5148 Modern Dynamics 翻译提交
  projects/1.18-fabric/assets/modern-dynamics/moderndynamics/lang/zh_cn.json
  projects/1.20/assets/modern-dynamics/moderndynamics/lang/en_us.json
  projects/1.20/assets/modern-dynamics/moderndynamics/lang/zh_cn.json
  projects/1.21/assets/modern-dynamics/moderndynamics/lang/en_us.json
  projects/1.21/assets/modern-dynamics/moderndynamics/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, 1.20.x, 1.21.x, (Neo)Forge

#5139 Relics of Rain 翻译提交
  projects/1.21/assets/relics-of-rain/relicsofrain/lang/en_us.json
  projects/1.21/assets/relics-of-rain/relicsofrain/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5151 Luminax 与 Crystalix 翻译提交
  projects/1.21/assets/crystalix/crystalix/lang/en_us.json
  projects/1.21/assets/crystalix/crystalix/lang/zh_cn-base.json
  projects/1.21/assets/crystalix/crystalix/lang/zh_cn-composition.json
  projects/1.21/assets/crystalix/crystalix/packer-policy.json
  projects/1.21/assets/luminax/luminax/lang/en_us.json
  projects/1.21/assets/luminax/luminax/lang/zh_cn-base.json
  projects/1.21/assets/luminax/luminax/lang/zh_cn-composition.json
  projects/1.21/assets/luminax/luminax/packer-policy.json
Labels: 即将合并, 500+, 1.21.x, (Neo)Forge

#5150 Simple Copper Pipes 翻译提交
  projects/1.21-fabric/assets/simple-copper-pipes/simple_copper_pipes/lang/en_us.json
  projects/1.21-fabric/assets/simple-copper-pipes/simple_copper_pipes/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x

#5153 Project Expansion key 修复
  projects/1.20/assets/project-expansion/projectexpansion/lang/en_us.json
  projects/1.20/assets/project-expansion/projectexpansion/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#5162 feat: 时机不对时取消上传
  .github/workflows/packer.yml
Labels: 1+

#5146 Roots 4 翻译提交
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5070 Wetland Whimsy 翻译提交
  projects/1.21/assets/wetland-whimsy/wetland_whimsy/lang/en_us.json
  projects/1.21/assets/wetland-whimsy/wetland_whimsy/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5116 Paladins and Priests 翻译提交
  projects/1.21-fabric/assets/paladins-and-priests/paladins/lang/en_us.json
  projects/1.21-fabric/assets/paladins-and-priests/paladins/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#5152 Wither Skeleton Tweaks 翻译提交
  projects/1.19/assets/wither-skeleton-tweaks/wstweaks/lang/en_us.json
  projects/1.19/assets/wither-skeleton-tweaks/wstweaks/lang/zh_cn.json
  projects/1.20/assets/wither-skeleton-tweaks/wstweaks/lang/en_us.json
  projects/1.20/assets/wither-skeleton-tweaks/wstweaks/lang/zh_cn.json
  projects/1.21/assets/wither-skeleton-tweaks/wstweaks/lang/en_us.json
  projects/1.21/assets/wither-skeleton-tweaks/wstweaks/lang/zh_cn.json
Labels: 即将合并, 10+, Forge, 1.19.x, 1.20.x, 1.21.x, (Neo)Forge

#5110 Macaws Fences and Walls 翻译更新
  projects/1.21/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.21/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn-base.json
  projects/1.21/assets/macaws-fences-and-walls/mcwfences/lang/zh_cn-composition.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#5108 Bibliocraft Legacy 系列翻译提交
  projects/1.21/assets/bibliobiomes-legacy/bibliobiomes/lang/en_us.json
  projects/1.21/assets/bibliobiomes-legacy/bibliobiomes/lang/zh_cn-composition.json
  projects/1.21/assets/bibliobiomes-legacy/bibliobiomes/packer-policy.json
  projects/1.21/assets/bibliocraft-legacy/bibliocraft/lang/en_us.json
  projects/1.21/assets/bibliocraft-legacy/bibliocraft/lang/zh_cn-base.json
  projects/1.21/assets/bibliocraft-legacy/bibliocraft/lang/zh_cn-composition.json
  projects/1.21/assets/bibliocraft-legacy/bibliocraft/packer-policy.json
  projects/1.21/assets/bibliowoods-legacy/bibliowoods/lang/en_us.json
  projects/1.21/assets/bibliowoods-legacy/bibliowoods/lang/zh_cn-composition.json
  projects/1.21/assets/bibliowoods-legacy/bibliowoods/packer-policy.json
Labels: 即将合并, 5000+, 1.21.x, (Neo)Forge

#5133 AE2 部分附属翻译提交
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/_zh_cn/ae2importexportcard-index.md
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/_zh_cn/diagrams/export_card.png
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/_zh_cn/diagrams/import_card.png
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/ae2importexportcard-index.md
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/diagrams/export_card.png
  projects/1.21/assets/ae2-import-export-card/ae2/ae2guide/diagrams/import_card.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/_zh_cn/ae2_network_analyser.md
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/_zh_cn/pic/color.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/_zh_cn/pic/gui.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/ae2_network_analyser.md
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/pic/color.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/pic/gui.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/ae2guide/pic/showoff.png
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/lang/en_us.json
  projects/1.21/assets/ae2-network-analyser/ae2netanalyser/lang/zh_cn.json
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/ae2wtlib-index.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/magnet_card.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/quantum_bridge_card.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/restock.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/wireless_crafting_terminal.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/wireless_terminals.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/_zh_cn/ae2wtlib/wireless_universal_terminal.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/ae2wtlib-index.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/magnet_card.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/quantum_bridge_card.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/restock.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/wireless_crafting_terminal.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/wireless_terminals.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/ae2guide/ae2wtlib/wireless_universal_terminal.md
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/en_us.json
  projects/1.21/assets/applied-energistics-2-wireless-terminals/ae2wtlib/lang/zh_cn.json
  projects/1.21/assets/merequester/merequester/ae2guide/_zh_cn/assets/gui.png
  projects/1.21/assets/merequester/merequester/ae2guide/_zh_cn/merequester.md
  projects/1.21/assets/merequester/merequester/ae2guide/assets/gui.png
  projects/1.21/assets/merequester/merequester/ae2guide/merequester.md
  projects/1.21/assets/merequester/merequester/lang/en_us.json
  projects/1.21/assets/merequester/merequester/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5160 Crystalix 翻译更新
  projects/1.21/assets/crystalix/crystalix/lang/en_us.json
  projects/1.21/assets/crystalix/crystalix/lang/zh_cn-base.json
Labels: 即将合并, 1+, 1.21.x, (Neo)Forge

#5173 Mekanism Science 翻译更新
  projects/1.20/assets/mekanism-science/mekanismscience/lang/ja_jp.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/zh_cn.json
  projects/1.21/assets/mekanism-science/mekanismscience/lang/zh_cn.json
Labels: 即将合并, 40+, 日语, 1.20.x, 1.21.x, (Neo)Forge

#5170 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5168 Crimson Warfare 翻译提交
  projects/1.12.2/assets/crimson-warfare/crimsonwarfare/lang/en_us.lang
  projects/1.12.2/assets/crimson-warfare/crimsonwarfare/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#5166 Decotive Storage 翻译更新
  projects/1.21/assets/decostorage/deco_storage/lang/en_us.json
  projects/1.21/assets/decostorage/deco_storage/lang/ru_ru.json
  projects/1.21/assets/decostorage/deco_storage/lang/zh_cn.json
Labels: 即将合并, 100+, 俄语, 1.21.x, (Neo)Forge

#5154 Construction Sticks 翻译提交
  projects/1.21/assets/construction-sticks/constructionstick/lang/en_us.json
  projects/1.21/assets/construction-sticks/constructionstick/lang/zh_cn.json
Labels: 即将合并, 100+, 1.21.x, (Neo)Forge

#5125 XyCraft 系列翻译提交
  projects/1.21/assets/xycraft-machines/xycraft_machines/lang/en_us.json
  projects/1.21/assets/xycraft-machines/xycraft_machines/lang/zh_cn.json
  projects/1.21/assets/xycraft-override/xycraft_override/lang/en_us.json
  projects/1.21/assets/xycraft-override/xycraft_override/lang/zh_cn.json
  projects/1.21/assets/xycraft-world/xycraft_world/lang/en_us.json
  projects/1.21/assets/xycraft-world/xycraft_world/lang/zh_cn.json
  projects/1.21/assets/xycraft/xycraft_core/lang/en_us.json
  projects/1.21/assets/xycraft/xycraft_core/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.21.x, (Neo)Forge

#5121 PneumaticCraft: Repressurized 翻译提交
  projects/1.21/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/en_us.json
  projects/1.21/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge

#5113 Cobble Gengalore 及 ATM 系列模组翻译提交
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/en_us.json
  projects/1.21/assets/all-the-arcanist-gear/allthearcanistgear/lang/zh_cn.json
  projects/1.21/assets/all-the-tweaks/allthetweaks/lang/en_us.json
  projects/1.21/assets/all-the-tweaks/allthetweaks/lang/zh_cn.json
  projects/1.21/assets/allthecompressed/allthecompressed/lang/en_us.json
  projects/1.21/assets/allthecompressed/allthecompressed/lang/zh_cn.json
  projects/1.21/assets/allthemodium/allthemodium/lang/en_us.json
  projects/1.21/assets/allthemodium/allthemodium/lang/zh_cn.json
  projects/1.21/assets/ato/alltheores/lang/en_us.json
  projects/1.21/assets/ato/alltheores/lang/zh_cn.json
  projects/1.21/assets/cobblegen-galore/cobblegengalore/lang/en_us.json
  projects/1.21/assets/cobblegen-galore/cobblegengalore/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.21.x, (Neo)Forge

#5109 Refined Storage 2、官方附属以及 ExtraStorage 1.21.1 翻译
  projects/1.21-fabric/assets/refined-storage-curios-integration/refinedstorage_curios_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-curios-integration/refinedstorage_curios_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-emi-integration/refinedstorage_emi_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-emi-integration/refinedstorage_emi_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-jei-integration/refinedstorage_jei_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-jei-integration/refinedstorage_jei_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-mekanism-integration/refinedstorage_mekanism_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-mekanism-integration/refinedstorage_mekanism_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-quartz-arsenal/refinedstorage_quartz_arsenal/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-quartz-arsenal/refinedstorage_quartz_arsenal/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-rei-integration/refinedstorage_rei_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-rei-integration/refinedstorage_rei_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage-trinkets-integration/refinedstorage_trinkets_integration/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage-trinkets-integration/refinedstorage_trinkets_integration/lang/zh_cn.json
  projects/1.21-fabric/assets/refined-storage/refinedstorage/lang/en_us.json
  projects/1.21-fabric/assets/refined-storage/refinedstorage/lang/zh_cn.json
  projects/1.21/assets/extrastorage/extrastorage/lang/en_us.json
  projects/1.21/assets/extrastorage/extrastorage/lang/zh_cn.json
  projects/1.21/assets/refined-storage-curios-integration/refinedstorage_curios_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-curios-integration/refinedstorage_curios_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage-emi-integration/refinedstorage_emi_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-emi-integration/refinedstorage_emi_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage-jei-integration/refinedstorage_jei_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-jei-integration/refinedstorage_jei_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage-mekanism-integration/refinedstorage_mekanism_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-mekanism-integration/refinedstorage_mekanism_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage-quartz-arsenal/refinedstorage_quartz_arsenal/lang/en_us.json
  projects/1.21/assets/refined-storage-quartz-arsenal/refinedstorage_quartz_arsenal/lang/zh_cn.json
  projects/1.21/assets/refined-storage-rei-integration/refinedstorage_rei_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-rei-integration/refinedstorage_rei_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage-trinkets-integration/refinedstorage_trinkets_integration/lang/en_us.json
  projects/1.21/assets/refined-storage-trinkets-integration/refinedstorage_trinkets_integration/lang/zh_cn.json
  projects/1.21/assets/refined-storage/refinedstorage/lang/en_us.json
  projects/1.21/assets/refined-storage/refinedstorage/lang/zh_cn.json
Labels: 即将合并, 2000+, Fabric, 1.21.x, (Neo)Forge

#5185 Industrial Foregoing 若干小附属翻译提交
  projects/1.21/assets/industrial-foregoing-souls/industrialforegoingsouls/lang/en_us.json
  projects/1.21/assets/industrial-foregoing-souls/industrialforegoingsouls/lang/zh_cn.json
  projects/1.21/assets/mifa/mifa/lang/en_us.json
  projects/1.21/assets/mifa/mifa/lang/zh_cn.json
  projects/1.21/assets/soulplied-energistics/soulplied_energistics/lang/en_us.json
  projects/1.21/assets/soulplied-energistics/soulplied_energistics/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5180 Roots 4 翻译更新
  projects/1.21/assets/roots/roots/lang/en_us.json
  projects/1.21/assets/roots/roots/lang/zh_cn.json
Labels: 即将合并, 10+, 1.21.x, (Neo)Forge

#5147 更新README中模组翻译参考词典的链接
  README.md
Labels: 即将合并, 1+

#5140 Simple Shulker Preview 翻译提交
  projects/1.21-fabric/assets/simple-shulker-preview/simpleshulkerpreview/lang/en_us.json
  projects/1.21-fabric/assets/simple-shulker-preview/simpleshulkerpreview/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#5195 PneumaticCraft: Repressurized 翻译修正
  projects/1.16/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.18/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
  projects/1.21/assets/pneumaticcraft-repressurized/pneumaticcraft/lang/zh_cn.json
Labels: 1.16.x, 1+, 1.18.x, Forge, 1.21.x, (Neo)Forge

#5104 Scape and Run Parasites Addon: Cotesia Glomerata翻译更新
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/en_us.lang
  projects/1.12.2/assets/srp-addon-cotesia-glomerata/srpcotesia/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 500+, Forge
