Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-02, with the labels that each got.

#3819 Umbral Skies 翻译提交
  projects/1.19/assets/umbral-skies/umbral_skies/lang/en_us.json
  projects/1.19/assets/umbral-skies/umbral_skies/lang/zh_cn.json
  projects/1.20/assets/umbral-skies/umbral_skies/lang/en_us.json
  projects/1.20/assets/umbral-skies/umbral_skies/lang/zh_cn.json
Labels: 100+, Forge, 1.19.x, 1.20.x, 需要公示

#4202 Thermal 系列翻译修补
  projects/1.12.2/assets/thermal-cultivation/thermalcultivation/lang/zh_cn.lang
  projects/1.12.2/assets/thermal-expansion/thermalexpansion/lang/zh_cn.lang
  projects/1.12.2/assets/thermal-innovation/thermalinnovation/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4864 Veggies Delight 翻译提交
  projects/1.20/assets/veggies-delight/veggiesdelight/lang/en_us.json
  projects/1.20/assets/veggies-delight/veggiesdelight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4904 Mowzie's Cataclysm 翻译提交
  projects/1.20/assets/mowzies-cataclysm/mowzies_cataclysm/lang/en_us.json
  projects/1.20/assets/mowzies-cataclysm/mowzies_cataclysm/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4921 RFTools Dimensions 翻译修改
  projects/1.12.2/assets/rftools-dimensions/rftoolsdim/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 100+, Forge

#4924 Spawners+ 翻译提交
  projects/1.20-fabric/assets/spawners-plus/spawnersplus/lang/en_us.json
  projects/1.20-fabric/assets/spawners-plus/spawnersplus/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4932 Gravitite Ore 名称修改
  projects/1.12.2/assets/netherending-ores/netherendingores/lang/zh_cn.lang
  projects/1.12.2/assets/the-aether-ii/aether/lang/zh_cn.lang
  projects/1.12.2/assets/the-aether/aether_legacy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4935 Operation: Starcleave 翻译提交
  projects/1.21-fabric/assets/modrinth-operation-starcleave/operation_starcleave/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-operation-starcleave/operation_starcleave/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.21.x

#4938 Digestive 翻译提交
  projects/1.20/assets/digestive/digestive/lang/en_us.json
  projects/1.20/assets/digestive/digestive/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4941 Metal Bundles 翻译提交
  projects/1.20-fabric/assets/metal-bundles/metalbundles/lang/en_us.json
  projects/1.20-fabric/assets/metal-bundles/metalbundles/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x

#4942 修正“祛”被写为“袪”的问题
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4953 Embers Rekindled 翻译更新
  projects/1.20/assets/embers-rekindled/embers/lang/en_us.json
  projects/1.20/assets/embers-rekindled/embers/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4966 Simple Trashcan 翻译提交
  projects/1.20-fabric/assets/simple-trashcan/simple_trashcan/lang/en_us.json
  projects/1.20-fabric/assets/simple-trashcan/simple_trashcan/lang/zh_cn.json
  projects/1.20/assets/simple-trashcan/simple_trashcan/lang/en_us.json
  projects/1.20/assets/simple-trashcan/simple_trashcan/lang/zh_cn.json
Labels: 即将合并, 10+, Fabric, 1.20.x, (Neo)Forge

#4967 Ducky 翻译提交
  projects/1.20/assets/ducky/ducky/lang/en_us.json
  projects/1.20/assets/ducky/ducky/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4970 Integrated circuit 翻译提交
  projects/1.20-fabric/assets/modrinth-integrated-circuit/integrated_circuit/lang/en_us.json
  projects/1.20-fabric/assets/modrinth-integrated-circuit/integrated_circuit/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.20.x

#4862 SCP: Lockdown 翻译提交
  projects/1.16/assets/scp-lockdown/scplockdown/lang/en_us.json
  projects/1.16/assets/scp-lockdown/scplockdown/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, Forge

#4934 Optional Equivalence 翻译提交
  projects/1.12.2/assets/optional-equivalence/opeq/lang/en_us.lang
  projects/1.12.2/assets/optional-equivalence/opeq/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4972 allomancy 1.12.2 翻译提交
  projects/1.12.2/assets/allomancy/allomancy/lang/en_us.lang
  projects/1.12.2/assets/allomancy/allomancy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4975 tolkien-tweaks-mobs-edition-1.12.2-1.12.30.37.0-universal翻译提交
  projects/1.12.2/assets/tolkien-tweaks-mobs-edition/tolkienmobs/lang/en_us.lang
  projects/1.12.2/assets/tolkien-tweaks-mobs-edition/tolkienmobs/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1000+, Forge

#4980 so many apples 翻译提交
  projects/1.20/assets/somanyapples/so_many_apples/lang/en_us.json
  projects/1.20/assets/somanyapples/so_many_apples/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4986 Lobotomy 翻译提交
  projects/1.12.2/assets/lobotomy/lobotomy/lang/en_us.lang
  projects/1.12.2/assets/lobotomy/lobotomy/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4987 Emerald Nugget 翻译提交
  projects/1.12.2/assets/emerald-nugget/emeraldnugget/lang/en_us.lang
  projects/1.12.2/assets/emerald-nugget/emeraldnugget/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4989 Gelato Galore 2 翻译提交
  projects/1.20/assets/gelato-galore-2/gelato_galore/lang/en_us.json
  projects/1.20/assets/gelato-galore-2/gelato_galore/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4988 Chain Mod 翻译提交
  projects/1.12.2/assets/chain-mod/chains_mod/lang/en_us.lang
  projects/1.12.2/assets/chain-mod/chains_mod/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 10+, Forge

#4985 提交[机械动力-雷达]Create: Radars的汉化翻译
  projects/1.20/assets/create-radars/create_radar/lang/en_us.json
  projects/1.20/assets/create-radars/create_radar/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4974 Regions Unexplored 翻译更新
  projects/1.18/assets/regions-unexplored/regions_unexplored/lang/zh_cn.json
  projects/1.20/assets/regions-unexplored/regions_unexplored/lang/en_us.json
  projects/1.20/assets/regions-unexplored/regions_unexplored/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge, 1.20.x, (Neo)Forge

#4947 Obsidian Equipment 翻译提交
  projects/1.16-fabric/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.16-fabric/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
  projects/1.16/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.16/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
  projects/1.18-fabric/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.18-fabric/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
  projects/1.18/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.18/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
  projects/1.19/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.19/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
  projects/1.21-fabric/assets/obsidian-equipment/obsidianequipment/lang/en_us.json
  projects/1.21-fabric/assets/obsidian-equipment/obsidianequipment/lang/zh_cn.json
Labels: 1.16.x, 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.21.x

#5018 Bump actions/cache to v4
  .github/workflows/packer.yml
  .github/workflows/pr-packer.yml
Labels: 10+

#5003 rftools 1.21 报错修复
  config/packer/1.21.json
  projects/1.21/assets/rftools-builder/readme.md
  projects/1.21/assets/rftools-builder/rftoolsbuilder/gui/builder.gui
  projects/1.21/assets/rftools-builder/rftoolsbuilder/gui/mover.gui
  projects/1.21/assets/rftools-builder/rftoolsbuilder/gui/mover_controller.gui
  projects/1.21/assets/rftools-builder/rftoolsbuilder/gui/vehicle_builder.gui
  projects/1.21/assets/rftools-power/readme.md
  projects/1.21/assets/rftools-power/rftoolspower/gui/blazing_agitator.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/blazing_generator.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/blazing_infuser.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/coalgenerator.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/endergenic.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/endermonitor.gui
  projects/1.21/assets/rftools-power/rftoolspower/gui/pearl_injector.gui
Labels: config, 即将合并, 500+, 1.21.x, (Neo)Forge

#4958 Tinker's Tool Leveling 2 翻译提交
  projects/1.20/assets/tinkers-tool-leveling-2/tleveling/lang/en_us.json
  projects/1.20/assets/tinkers-tool-leveling-2/tleveling/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4922 Enchantment library 翻译提交
  projects/1.12.2/assets/enchantment-library/enchlib/lang/en_us.lang
  projects/1.12.2/assets/enchantment-library/enchlib/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#4992 TConJEI 翻译更新
  projects/1.20/assets/tconjei/tconjei/lang/en_us.json
  projects/1.20/assets/tconjei/tconjei/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4996 Enderite Lieonlion 翻译提交及更新
  projects/1.18/assets/enderite-lieonlion/lolenderite/lang/en_us.json
  projects/1.18/assets/enderite-lieonlion/lolenderite/lang/zh_cn.json
  projects/1.19/assets/enderite-lieonlion/lolenderite/lang/en_us.json
  projects/1.19/assets/enderite-lieonlion/lolenderite/lang/zh_cn.json
  projects/1.20-fabric/assets/enderite-lieonlion/lolenderite/lang/en_us.json
  projects/1.20-fabric/assets/enderite-lieonlion/lolenderite/lang/zh_cn.json
  projects/1.20/assets/enderite-lieonlion/lolenderite/lang/en_us.json
  projects/1.20/assets/enderite-lieonlion/lolenderite/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Fabric, Forge, 1.19.x, 1.20.x, (Neo)Forge

#4994 Artifacts Delight翻译提交
  projects/1.20/assets/artifacts-delight/artifactsdelight/lang/en_us.json
  projects/1.20/assets/artifacts-delight/artifactsdelight/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, (Neo)Forge

#4991 Screenshot Viewer 翻译提交
  projects/1.12.2/assets/screenshot-viewer/screenshot_viewer/lang/en_us.lang
  projects/1.12.2/assets/screenshot-viewer/screenshot_viewer/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 40+, Forge

#5005 Mekanism: Science 翻译更新
  projects/1.21/assets/mekanism-science/mekanismscience/lang/en_us.json
  projects/1.21/assets/mekanism-science/mekanismscience/lang/ja_jp.json
  projects/1.21/assets/mekanism-science/mekanismscience/lang/zh_cn.json
Labels: 即将合并, 500+, 日语, 1.21.x, (Neo)Forge

#5000 Aji-maji 翻译提交
  projects/1.21-fabric/assets/modrinth-aji-maji/aji-maji/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-aji-maji/aji-maji/lang/zh_cn.json
Labels: 即将合并, 40+, Fabric, 1.21.x

#4999 The Aether's Delight 翻译提交
  projects/1.20/assets/modrinth-the-aethers-delight/aethersdelight/lang/en_us.json
  projects/1.20/assets/modrinth-the-aethers-delight/aethersdelight/lang/zh_cn.json
  projects/1.21/assets/modrinth-the-aethers-delight/aethersdelight/lang/en_us.json
  projects/1.21/assets/modrinth-the-aethers-delight/aethersdelight/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, 1.21.x, (Neo)Forge

#4968 Brewin' and Chewin' 翻译更新
  projects/1.18/assets/brewin-and-chewin/brewinandchewin/lang/zh_cn.json
  projects/1.19/assets/brewin-and-chewin/brewinandchewin/lang/zh_cn.json
  projects/1.20/assets/brewin-and-chewin/brewinandchewin/lang/en_us.json
  projects/1.20/assets/brewin-and-chewin/brewinandchewin/lang/zh_cn.json
Labels: 即将合并, 100+, 1.18.x, Forge, 1.19.x, 1.20.x, (Neo)Forge

#4819 Project Expansion 翻译提交
  projects/1.18/assets/projectex-forge/projectex/lang/en_us.json
  projects/1.18/assets/projectex-forge/projectex/lang/zh_cn.json
  projects/1.20/assets/project-expansion/projectexpansion/lang/en_us.json
  projects/1.20/assets/project-expansion/projectexpansion/lang/zh_cn.json
Labels: 即将合并, 1000+, 1.18.x, Forge, 1.20.x, (Neo)Forge

#4950 1.20.1 的 Meet Your Fight 翻译更新
  projects/1.20/assets/meet-your-fight/meetyourfight/lang/en_us.json
  projects/1.20/assets/meet-your-fight/meetyourfight/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4997 Biomes O' Plenty Delight翻译提交
  projects/1.20/assets/biomes-o-plenty-delight/biomesoplentydelight/lang/en_us.json
  projects/1.20/assets/biomes-o-plenty-delight/biomesoplentydelight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge
