Repository CFPAOrg/Minecraft-Mod-Language-Package, pull requests merged in 2025-01, with the labels that each got.

#4882 Supplementaries Knowlogy 翻译修复
  projects/1.21-fabric/assets/supplementaries-knowlogy/supplementaries/lavender/entries/supplementaries/zh_cn/blackboard.md
Labels: 即将合并, 1+, Fabric, 1.21.x

#4883 Mutated Items 汉化提交
  projects/1.20/assets/mutated-items/mutated_items/lang/en_us.json
  projects/1.20/assets/mutated-items/mutated_items/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4886 Dynamic Trees 1.18 翻译修复
  projects/1.18/assets/dynamictrees/dynamictrees/lang/zh_cn.json
Labels: 即将合并, 1.18.x, 10+, Forge

#4890 1.20.1的7个 Team Abnormals 模组翻译更新+提交
  projects/1.20/assets/allurement/allurement/lang/en_us.json
  projects/1.20/assets/allurement/allurement/lang/zh_cn.json
  projects/1.20/assets/atmospheric/atmospheric/lang/en_us.json
  projects/1.20/assets/atmospheric/atmospheric/lang/zh_cn.json
  projects/1.20/assets/berry-good/berry_good/lang/en_us.json
  projects/1.20/assets/berry-good/berry_good/lang/zh_cn.json
  projects/1.20/assets/buzzier-bees/buzzier_bees/lang/en_us.json
  projects/1.20/assets/buzzier-bees/buzzier_bees/lang/zh_cn.json
  projects/1.20/assets/caverns-and-chasms/caverns_and_chasms/lang/en_us.json
  projects/1.20/assets/caverns-and-chasms/caverns_and_chasms/lang/zh_cn.json
  projects/1.20/assets/environmental/environmental/lang/en_us.json
  projects/1.20/assets/environmental/environmental/lang/zh_cn.json
  projects/1.20/assets/savage-and-ravage/savage_and_ravage/lang/en_us.json
  projects/1.20/assets/savage-and-ravage/savage_and_ravage/lang/zh_cn.json
Labels: 即将合并, 2000+, 1.20.x, (Neo)Forge

#4575 The Endergetic Expansion 翻译提交
  projects/1.19/assets/endergetic/endergetic/lang/en_us.json
  projects/1.19/assets/endergetic/endergetic/lang/zh_cn.json
Labels: 即将合并, 100+, Forge, 1.19.x

#4903 Sophisticated Storage in Motion 翻译提交
  projects/1.20/assets/sophisticated-storage-in-motion/sophisticatedstorageinmotion/lang/en_us.json
  projects/1.20/assets/sophisticated-storage-in-motion/sophisticatedstorageinmotion/lang/zh_cn.json
  projects/1.21/assets/sophisticated-storage-in-motion/sophisticatedstorageinmotion/lang/en_us.json
  projects/1.21/assets/sophisticated-storage-in-motion/sophisticatedstorageinmotion/lang/zh_cn.json
Labels: 即将合并, 10+, 1.20.x, 1.21.x, (Neo)Forge

#4887 Create: Connected 翻译提交
  projects/1.20/assets/create-connected/create-connected/lang/en_us.json
  projects/1.20/assets/create-connected/create-connected/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4873 修正“Warlock”被误译为“狂术士”的错误
  projects/1.12.2/assets/ancient-spellcraft/ancientspellcraft/lang/zh_cn.lang
Labels: 1.12.x, 即将合并, 1+, Forge

#4829 Just Enough Effect Descriptions (JEED) 翻译更新
  projects/1.20/assets/just-enough-effect-descriptions-jeed/jeed/lang/en_us.json
  projects/1.20/assets/just-enough-effect-descriptions-jeed/jeed/lang/zh_cn.json
  projects/1.21/assets/just-enough-effect-descriptions-jeed/jeed/lang/en_us.json
  projects/1.21/assets/just-enough-effect-descriptions-jeed/jeed/lang/zh_cn.json
Labels: 即将合并, 500+, 1.20.x, 1.21.x, (Neo)Forge

#4911 MEGA Cells 翻译更新
  projects/1.21/assets/mega-cells/megacells/lang/en_us.json
  projects/1.21/assets/mega-cells/megacells/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4933 Gardens of the Dead 翻译提交
  projects/1.20/assets/gardens-of-the-dead/gardens_of_the_dead/lang/en_us.json
  projects/1.20/assets/gardens-of-the-dead/gardens_of_the_dead/lang/zh_cn.json
  projects/1.21/assets/gardens-of-the-dead/gardens_of_the_dead/lang/en_us.json
  projects/1.21/assets/gardens-of-the-dead/gardens_of_the_dead/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, 1.21.x, (Neo)Forge

#4920 Better Archeology部分翻译修正
  projects/1.20/assets/better-archeology/betterarcheology/lang/zh_cn.json
Labels: 即将合并, 1+, 1.20.x, (Neo)Forge

#4916 Dusty Decroations 翻译提交
  projects/1.20-fabric/assets/dusty-decorations/dustydecorations/lang/en_us.json
  projects/1.20-fabric/assets/dusty-decorations/dustydecorations/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4914 Trickster 附属翻译提交
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lang/en_us.yml
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lavender/entries/tome_of_tomfoolery/shadow.md
  projects/1.21-fabric/assets/modrinth-illusionist/illusionist/lavender/entries/tome_of_tomfoolery/zh_cn/shadow.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/en_us.yml
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/cell.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/distortions/meta.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/ram.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/zh_cn/cell.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/meta.md
  projects/1.21-fabric/assets/modrinth-random-access-mind/ram/lavender/entries/tome_of_tomfoolery/zh_cn/ram.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/categories/tome_of_lispfoolery/items.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/categories/tome_of_lispfoolery/transpiling.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/categories/tome_of_lispfoolery/zh_cn/items.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/categories/tome_of_lispfoolery/zh_cn/transpiling.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/intro.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/items/paper_and_pencil.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/items/transpiler.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/landing_page.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/transpiling/interface.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/transpiling/lang_ref.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/transpiling/macros.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/intro.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/items/paper_and_pencil.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/items/transpiler.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/landing_page.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/transpiling/interface.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/transpiling/lang_ref.md
  projects/1.21-fabric/assets/modrinth-trickster-lisp/trickster_lisp/lavender/entries/tome_of_lispfoolery/zh_cn/transpiling/macros.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lang/en_us.json
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lang/zh_cn.json
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/categories/tome_of_tomfoolery/math-tricks.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/categories/tome_of_tomfoolery/zh_cn/math-tricks.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/distortions/caster.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/distortions/common.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/distortions/constants.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/distortions/entity.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/distortions/quaternions.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/math-tricks.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/caster.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/common.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/constants.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/entity.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/distortions/quaternions.md
  projects/1.21-fabric/assets/modrinth-trickster-math-tricks/trickster-math-tricks/lavender/entries/tome_of_tomfoolery/zh_cn/math-tricks.md
Labels: 即将合并, 1000+, Fabric, 1.21.x

#4912 Applied Experienced 翻译提交
  projects/1.21/assets/applied-experienced/appex/lang/en_us.json
  projects/1.21/assets/applied-experienced/appex/lang/zh_cn.json
Labels: 即将合并, 40+, 1.21.x, (Neo)Forge

#4895 Mekanism: Science 翻译更新
  projects/1.20/assets/mekanism-science/mekanismscience/lang/en_us.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/ja_jp.json
  projects/1.20/assets/mekanism-science/mekanismscience/lang/zh_cn.json
Labels: 即将合并, 500+, 日语, 1.20.x, (Neo)Forge

#4894 Create: The Kitchen Must Grow 翻译提交
  projects/1.20/assets/create-the-kitchen-must-grow/kitchen_grow/lang/en_us.json
  projects/1.20/assets/create-the-kitchen-must-grow/kitchen_grow/lang/zh_cn.json
Labels: 即将合并, 100+, 1.20.x, (Neo)Forge

#4892 Automobility 翻译提交
  projects/1.20-fabric/assets/automobility/automobility/lang/en_us.json
  projects/1.20-fabric/assets/automobility/automobility/lang/zh_cn.json
  projects/1.20/assets/automobility/automobility/lang/en_us.json
  projects/1.20/assets/automobility/automobility/lang/zh_cn.json
Labels: 即将合并, 500+, Fabric, 1.20.x, (Neo)Forge

#4889 Sweety's Archaeology 翻译提交
  projects/1.20/assets/sweety-archeo/sweety_archaeology/lang/en_us.json
  projects/1.20/assets/sweety-archeo/sweety_archaeology/lang/zh_cn.json
Labels: 即将合并, 100+, MCreator, 1.20.x, (Neo)Forge

#4888 Biomantic Delight 翻译提交
  projects/1.20/assets/modrinth-bio-delight/bio_delight/lang/en_us.json
  projects/1.20/assets/modrinth-bio-delight/bio_delight/lang/zh_cn.json
Labels: 即将合并, 40+, 1.20.x, (Neo)Forge

#4884 NEEPMeat 翻译更新
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/neepbus.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/networking_tool.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/articles/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/en_us/index_en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/neepbus.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/networking_tool.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/articles/pid_controller.md
  projects/1.20-fabric/assets/neepmeat/neepmeat/guide/zh_cn/index_zh_cn.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/en_us.json
  projects/1.20-fabric/assets/neepmeat/neepmeat/lang/zh_cn.json
Labels: 即将合并, 100+, Fabric, 1.20.x

#4867 Macaw's Trapdoors 翻译更新与 Macaw 系列多余版本删除
  projects/1.16-fabric/assets/macaws-bridges/mcwbridges/README.md
  projects/1.16-fabric/assets/macaws-bridges/mcwbridges/lang/en_us.json
  projects/1.16-fabric/assets/macaws-bridges/mcwbridges/packer-policy.json
  projects/1.16-fabric/assets/macaws-doors/mcwdoors/README.md
  projects/1.16-fabric/assets/macaws-doors/mcwdoors/lang/en_us.json
  projects/1.16-fabric/assets/macaws-doors/mcwdoors/packer-policy.json
  projects/1.16-fabric/assets/macaws-fences-and-walls/mcwfences/README.md
  projects/1.16-fabric/assets/macaws-fences-and-walls/mcwfences/lang/en_us.json
  projects/1.16-fabric/assets/macaws-fences-and-walls/mcwfences/packer-policy.json
  projects/1.16-fabric/assets/macaws-furniture/mcwfurnitures/README.md
  projects/1.16-fabric/assets/macaws-furniture/mcwfurnitures/lang/en_us.json
  projects/1.16-fabric/assets/macaws-furniture/mcwfurnitures/packer-policy.json
  projects/1.16-fabric/assets/macaws-holidays/mcwholidays/README.md
  projects/1.16-fabric/assets/macaws-holidays/mcwholidays/lang/en_us.json
  projects/1.16-fabric/assets/macaws-holidays/mcwholidays/packer-policy.json
  projects/1.16-fabric/assets/macaws-lights-and-lamps/mcwlights/README.md
  projects/1.16-fabric/assets/macaws-lights-and-lamps/mcwlights/lang/en_us.json
  projects/1.16-fabric/assets/macaws-lights-and-lamps/mcwlights/packer-policy.json
  projects/1.16-fabric/assets/macaws-paths-and-pavings/mcwpaths/README.md
  projects/1.16-fabric/assets/macaws-paths-and-pavings/mcwpaths/lang/en_us.json
  projects/1.16-fabric/assets/macaws-paths-and-pavings/mcwpaths/packer-policy.json
  projects/1.16-fabric/assets/macaws-roofs/mcwroofs/README.md
  projects/1.16-fabric/assets/macaws-roofs/mcwroofs/lang/en_us.json
  projects/1.16-fabric/assets/macaws-roofs/mcwroofs/packer-policy.json
  projects/1.16-fabric/assets/macaws-stairs/mcwstairs/README.md
  projects/1.16-fabric/assets/macaws-stairs/mcwstairs/lang/en_us.json
  projects/1.16-fabric/assets/macaws-stairs/mcwstairs/packer-policy.json
  projects/1.16-fabric/assets/macaws-trapdoors/mcwtrpdoors/README.md
  projects/1.16-fabric/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.16-fabric/assets/macaws-trapdoors/mcwtrpdoors/packer-policy.json
  projects/1.16-fabric/assets/macaws-windows/mcwwindows/README.md
  projects/1.16-fabric/assets/macaws-windows/mcwwindows/lang/en_us.json
  projects/1.16-fabric/assets/macaws-windows/mcwwindows/packer-policy.json
  projects/1.18-fabric/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.18-fabric/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn-base-fix.json
  projects/1.18-fabric/assets/macaws-trapdoors/mcwtrpdoors/packer-policy.json
  projects/1.21/assets/macaws-bridges/mcwbridges/README.md
  projects/1.21/assets/macaws-doors/mcwdoors/README.md
  projects/1.21/assets/macaws-fences-and-walls/mcwfences/README.md
  projects/1.21/assets/macaws-furniture/mcwfurnitures/README.md
  projects/1.21/assets/macaws-holidays/mcwholidays/README.md
  projects/1.21/assets/macaws-lights-and-lamps/mcwlights/README.md
  projects/1.21/assets/macaws-paths-and-pavings/mcwpaths/README.md
  projects/1.21/assets/macaws-roofs/mcwroofs/README.md
  projects/1.21/assets/macaws-stairs/mcwstairs/README.md
  projects/1.21/assets/macaws-trapdoors/mcwtrpdoors/README.md
  projects/1.21/assets/macaws-trapdoors/mcwtrpdoors/lang/en_us.json
  projects/1.21/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn-base.json
  projects/1.21/assets/macaws-trapdoors/mcwtrpdoors/lang/zh_cn-composition.json
  projects/1.21/assets/macaws-windows/mcwwindows/README.md
Labels: 1.16.x, 即将合并, 2000+, Fabric, 1.21.x, (Neo)Forge

#3792 Mystical Agriculture 翻译修正
  projects/1.16/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
  projects/1.18/assets/mystical-agriculture/mysticalagriculture/lang/zh_cn.json
Labels: 1.12.x, 1.16.x, 即将合并, 1.18.x, 10+, Forge

#4948 upload-artifact v3 deprecation
  .github/workflows/pr-packer.yml
Labels: 1+
